### Connect to AWS MySQL database using credentials in config.py, create initial database, then close connection

In [ ]:
import mysql.connector
from mysql.connector import errorcode
import config

cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    passwd = config.passwd
)

print(cnx) # it will print a connection object if everything is fine

In [ ]:
cursor = cnx.cursor()

In [ ]:
db_name = 'movies'

In [ ]:
def create_database(cursor, database):
    try:
        cursor.execute(
            "CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(database))
    except mysql.connector.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)

try:
    cursor.execute("USE {}".format(db_name))
except mysql.connector.Error as err:
    print("Database {} does not exists.".format(db_name))
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(cursor, db_name)
        print("Database {} created successfully.".format(db_name))
        cnx.database = db_name
    else:
        print(err)
        exit(1)

In [ ]:
cnx.close()

### Create Table for Actors

In [ ]:
db_name = 'movies'

In [ ]:
import mysql.connector
from mysql.connector import errorcode
import config

cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    passwd = config.passwd,
    database = db_name
)

print(cnx) # it will print a connection object if everything is fine

In [ ]:
cursor = cnx.cursor()

In [ ]:
create_actors_query = """
CREATE TABLE actors (
actor_id INT NOT NULL,
name VARCHAR(255),
is_vegan BOOLEAN,
gender VARCHAR(255),
dob DATETIME,
height INT,
PRIMARY KEY(actor_id)
);
"""

In [ ]:
cursor.execute(create_actors_query)

In [ ]:
cnx.commit()

In [ ]:
cnx.close()

### Create Table for Movies

In [ ]:
db_name = 'movies'

In [ ]:
import mysql.connector
from mysql.connector import errorcode
import config

cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    passwd = config.passwd,
    database = db_name
)

print(cnx) # it will print a connection object if everything is fine

In [ ]:
cnx.close()

In [ ]:
cursor = cnx.cursor()

In [ ]:
create_movies_query = """
CREATE TABLE movies (
movie_id INT NOT NULL,
imdb_id VARCHAR(255),
title VARCHAR(255),
release_date DATETIME,
vote_avg FLOAT,
vote_count INT,
mpaa_rating VARCHAR(255),
runtime INT,
genres VARCHAR(255),
dom_gross INT,
PRIMARY KEY(movie_id)
);
"""

In [ ]:
cursor.execute(create_movies_query)

In [ ]:
cnx.commit()

In [ ]:
cnx.close()

### Create cross-reference table connecting actors and movies

In [ ]:
db_name = 'movies'

In [ ]:
import mysql.connector
from mysql.connector import errorcode
import config

cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    passwd = config.passwd,
    database = db_name
)

print(cnx) # it will print a connection object if everything is fine

In [ ]:
cursor = cnx.cursor()

In [ ]:
create_actor_movie_xr_query = """
CREATE TABLE casts (
actor_id INT NOT NULL,
movie_id INT NOT NULL,
order_in_cast INT,
FOREIGN KEY(actor_id) REFERENCES actors(actor_id),
FOREIGN KEY(movie_id) REFERENCES movies(movie_id)
);
"""

In [ ]:
cursor.execute(create_actor_movie_xr_query)

In [ ]:
cnx.commit()

In [ ]:
cnx.close()

### Scrape Movies from The Movie DB

In [104]:
import json
import requests
import config

In [103]:
params = {'api_key' : config.movie_db_key}

In [ ]:
config.movie_db_key

In [ ]:
headers

In [102]:
def get_movie_details(movie_id):
    response = requests.get(f"https://api.themoviedb.org/3/movie/{movie_id}", params=params)
    if response.ok:
        return json.loads(response.content)
    else:
        return None

In [ ]:
movie1_details = get_movie_details(14844)

In [ ]:
movie1_details

In [101]:
def parse_genres(genre_data):
    genre_names = []
    for item in genre_data:
        if 'name' in item.keys():
            genre_names.append(item['name'])
    return ', '.join(genre_names)

In [100]:
from datetime import datetime as datetime
 
def parse_movie_details(movie):
    movie_data = {}
    movie_data['movie_id'] = movie['id']
    movie_data['imdb_id'] = movie['imdb_id'] if 'imdb_id' in movie.keys() else None
    movie_data['title'] = movie['title'] if 'title' in movie.keys() else None
    movie_data['release_date'] = datetime.strptime(movie['release_date'], '%Y-%m-%d') if 'release_date' in movie.keys() else None
    movie_data['vote_avg'] = movie['vote_average'] if 'vote_average' in movie.keys() else None
    movie_data['vote_count'] = movie['vote_count'] if 'vote_count' in movie.keys() else None
    movie_data['mpaa_rating'] = None
    movie_data['runtime'] = movie['runtime'] if 'runtime' in movie.keys() else None
    movie_data['genres'] = parse_genres(movie['genres']) if 'genres' in movie.keys() else ''
    movie_data['dom_gross'] = movie['revenue'] if 'revenue' in movie.keys() else None
    return movie_data

In [ ]:
parsed_data = parse_movie_details(movie1_details)
tuple(parsed_data.values())

In [96]:
import mysql.connector
from mysql.connector import errorcode
import config

def insert_movie(movie_data):
    db_name = 'movies'
    cnx = mysql.connector.connect(
        host = config.host,
        user = config.user,
        passwd = config.passwd,
        database = db_name)
    
    cursor = cnx.cursor()
    
    query = """INSERT INTO movies (movie_id,
                                  imdb_id,
                                  title,
                                  release_date,
                                  vote_avg,
                                  vote_count,
                                  mpaa_rating,
                                  runtime,
                                  genres,
                                  dom_gross)
                VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
    
    cursor.execute(query, tuple(movie_data.values()))
    cnx.commit()
    cnx.close()

In [107]:
import mysql.connector
from mysql.connector import errorcode
import config

def insert_movie2(movie_data):
    db_name = 'movies'
    cnx = mysql.connector.connect(
        host = config.host,
        user = config.user,
        passwd = config.passwd,
        database = db_name)
    
    cursor = cnx.cursor()
    
    query = """INSERT INTO movies (movie_id,
                                  imdb_id,
                                  title,
                                  release_date,
                                  vote_avg,
                                  vote_count,
                                  mpaa_rating,
                                  runtime,
                                  genres,
                                  dom_gross)
                VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
    
    try:
        cursor.execute(query, movie_data)
    except mysql.connector.IntegrityError:
        print("Duplicate! Did not add to database.")
        cnx.close()
    cnx.commit()
    cnx.close()

In [92]:
import config

def get_movie_id(movie_title, movie_year):
    params = {'api_key' : config.movie_db_key,
             'query' : movie_title,
             'year' : movie_year}
    print(f"Searching for moviedb id for {movie_title} ({movie_year})")
    response = requests.get(f"https://api.themoviedb.org/3/search/movie", params=params)
    if response.ok:
        print("Response OK")
        try:
            content = json.loads(response.content)
            title = content['results'][0]['title']
            year = content['results'][0]['release_date'][:4]
            movie_id = content['results'][0]['id']
            print(f"Found movie {title} ({year}) with id {movie_id}")
            return movie_id
        except:
            print("Could not parse response content.")
            return None
    else:
        print("Bad Response")
        print(response.content)
        return None

In [93]:
get_movie_id('chasing liberty', 2004)

Searching for moviedb id for chasing liberty (2004)
Response OK
Found movie Chasing Liberty (2004) with id 14844

14844

In [94]:
import csv

with open('movies.csv', newline='') as csvfile:
    data = list(csv.reader(csvfile))
    
movies_list = list(map(lambda x: (x[0], x[1]), data))
movies_list

[('Chasing Liberty', '2004'),
 ("My Baby's Daddy", '2004'),
 ('Along Came Polly', '2004'),
 ("Teacher's Pet", '2004'),
 ('Torque', '2004'),
 ('The Butterfly Effect', '2004'),
 ('Win a Date with Tad Hamilton!', '2004'),
 ('The Big Bounce', '2004'),
 ('The Perfect Score', '2004'),
 ('You Got Served', '2004'),
 ('Barbershop 2: Back in Business', '2004'),
 ('Catch That Kid', '2004'),
 ('Miracle', '2004'),
 ('Pinocchio 3000', '2004'),
 ('50 First Dates', '2004'),
 ('Against the Ropes', '2004'),
 ('Confessions of a Teenage Drama Queen', '2004'),
 ('EuroTrip', '2004'),
 ('Welcome to Mooseport', '2004'),
 ('The Passion of the Christ', '2004'),
 ('Club Dread', '2004'),
 ('Twisted', '2004'),
 ('Hidalgo', '2004'),
 ('Starsky & Hutch', '2004'),
 ('Agent Cody Banks 2: Destination London', '2004'),
 ('Secret Window', '2004'),
 ('Spartan', '2004'),
 ('Dawn of the Dead', '2004'),
 ('Eternal Sunshine of the Spotless Mind', '2004'),
 ('Taking Lives', '2004'),
 ('Jersey Girl', '2004'),
 ('The Ladykillers', '2004'),
 ('Never Die Alone', '2004'),
 ('Scooby-Doo 2: Monsters Unleashed', '2004'),
 ('Hellboy', '2004'),
 ('Home on the Range', '2004'),
 ('The Prince and Me', '2004'),
 ('Walking Tall', '2004'),
 ('Johnson Family Vacation', '2004'),
 ('The Whole Ten Yards', '2004'),
 ('The Alamo', '2004'),
 ('Ella Enchanted', '2004'),
 ('The Girl Next Door', '2004'),
 ('Shaun of the Dead', '2004'),
 ('Connie and Carla', '2004'),
 ('Kill Bill: Volume 2', '2004'),
 ('The Punisher', '2004'),
 ('13 Going on 30', '2004'),
 ("Clifford's Really Big Movie", '2004'),
 ('Man on Fire', '2004'),
 ('Bobby Jones: Stroke of Genius', '2004'),
 ('Envy', '2004'),
 ('Godsend', '2004'),
 ('Laws of Attraction', '2004'),
 ('Mean Girls', '2004'),
 ('New York Minute', '2004'),
 ('Off the Lip', '2004'),
 ('Super Size Me', '2004'),
 ('Van Helsing', '2004'),
 ("Breakin' All the Rules", '2004'),
 ('Carandiru', '2004'),
 ('Coffee and Cigarettes', '2004'),
 ('A Slipping-Down Life', '2004'),
 ('Troy', '2004'),
 ('Shrek 2', '2004'),
 ('Stateside', '2004'),
 ('The Day After Tomorrow', '2004'),
 ('Love Me If You Dare', '2004'),
 ('Raising Helen', '2004'),
 ('Soul Plane', '2004'),
 ('Harry Potter and the Prisoner of Azkaban', '2004'),
 ('The Chronicles of Riddick', '2004'),
 ('Garfield: The Movie', '2004'),
 ('Napoleon Dynamite', '2004'),
 ('The Stepford Wives', '2004'),
 ('Around the World in 80 Days', '2004'),
 ('DodgeBall: A True Underdog Story', '2004'),
 ('The Terminal', '2004'),
 ('White Chicks', '2004'),
 ('Fahrenheit 9/11', '2004'),
 ('The Notebook', '2004'),
 ('Two Brothers', '2004'),
 ('Spider-Man 2', '2004'),
 ('Before Sunset', '2004'),
 ('King Arthur', '2004'),
 ('Anchorman: The Legend of Ron Burgundy', '2004'),
 ('Sleepover', '2004'),
 ('House of Flying Daggers', '2004'),
 ('A Cinderella Story', '2004'),
 ('I, Robot', '2004'),
 ('Asambhav', '2004'),
 ('The Bourne Supremacy', '2004'),
 ('Catwoman', '2004'),
 ('A Home at the End of the World', '2004'),
 ('Thunderbirds', '2004'),
 ('Garden State', '2004'),
 ('Harold & Kumar Go to White Castle', '2004'),
 ('She Hate Me', '2004'),
 ('The Manchurian Candidate', '2004'),
 ('The Village', '2004'),
 ('Collateral', '2004'),
 ('Little Black Book', '2004'),
 ('Open Water', '2004'),
 ('The Princess Diaries 2: Royal Engagement', '2004'),
 ('Alien vs. Predator', '2004'),
 ('Yu-Gi-Oh! The Movie: Pyramid of Light', '2004'),
 ('Exorcist: The Beginning', '2004'),
 ('Without a Paddle', '2004'),
 ('Anacondas: The Hunt for the Blood Orchid', '2004'),
 ('Layer Cake', '2004'),
 ('Suspect Zero', '2004'),
 ('5x2', '2004'),
 ('Vanity Fair', '2004'),
 ('The Cookout', '2004'),
 ('Paparazzi', '2004'),
 ('Wicker Park', '2004'),
 ('Cellular', '2004'),
 ('Criminal', '2004'),
 ('Resident Evil: Apocalypse', '2004'),
 ('Funky Monkey', '2004'),
 ('Ghost in the Shell 2: Innocence', '2004'),
 ('Mr. 3000', '2004'),
 ('Sky Captain and the World of Tomorrow', '2004'),
 ('Wimbledon', '2004'),
 ('First Daughter', '2004'),
 ('The Forgotten', '2004'),
 ('The Last Shot', '2004'),
 ('I Heart Huckabees', '2004'),
 ('Ladder 49', '2004'),
 ('Shark Tale', '2004'),
 ('Bride and Prejudice', '2004'),
 ('Taxi', '2004'),
 ('Around the Bend', '2004'),
 ('Friday Night Lights', '2004'),
 ('Raise Your Voice', '2004'),
 ('Shall We Dance?', '2004'),
 ('Team America: World Police', '2004'),
 ('The Grudge', '2004'),
 ('Sideways', '2004'),
 ('Surviving Christmas', '2004'),
 ('Ray', '2004'),
 ('Saw', '2004'),
 ('Alfie', '2004'),
 ('The Incredibles', '2004'),
 ('The Polar Express', '2004'),
 ('After the Sunset', '2004'),
 ('Finding Neverland', '2004'),
 ('Seed of Chucky', '2004'),
 ('Bridget Jones: The Edge of Reason', '2004'),
 ('National Treasure', '2004'),
 ('The SpongeBob SquarePants Movie', '2004'),
 ('Alexander', '2004'),
 ('Christmas with the Kranks', '2004'),
 ('Closer', '2004'),
 ('Blade: Trinity', '2004'),
 ("Ocean's Twelve", '2004'),
 ('Kung Fu Hustle', '2004'),
 ('Million Dollar Baby', '2004'),
 ('Flight of the Phoenix', '2004'),
 ("Lemony Snicket's A Series of Unfortunate Events", '2004'),
 ('Spanglish', '2004'),
 ('Hotel Rwanda', '2004'),
 ('Meet the Fockers', '2004'),
 ('The Phantom of the Opera', '2004'),
 ('The Aviator', '2004'),
 ('Fat Albert', '2004'),
 ('The Life Aquatic with Steve Zissou', '2004'),
 ('In Good Company', '2004'),
 ('White Noise', '2005'),
 ('Coach Carter', '2005'),
 ('Elektra', '2005'),
 ('Racing Stripes', '2005'),
 ('Assault on Precinct 13', '2005'),
 ('Are We There Yet?', '2005'),
 ('Alone in the Dark', '2005'),
 ('Hide and Seek', '2005'),
 ('Boogeyman', '2005'),
 ('The Wedding Date', '2005'),
 ('Hitch', '2005'),
 ("Pooh's Heffalump Movie", '2005'),
 ('Because of Winn-Dixie', '2005'),
 ('Constantine', '2005'),
 ('Son of the Mask', '2005'),
 ('Cursed', '2005'),
 ('Diary of a Mad Black Woman', '2005'),
 ('Man of the House', '2005'),
 ('Be Cool', '2005'),
 ('The Jacket', '2005'),
 ('The Pacifier', '2005'),
 ('Hostage', '2005'),
 ('Robots', '2005'),
 ('Ice Princess', '2005'),
 ('The Ring Two', '2005'),
 ('Miss Congeniality 2: Armed and Fabulous', '2005'),
 ('Guess Who', '2005'),
 ('Valiant', '2005'),
 ('Beauty Shop', '2005'),
 ('Sin City', '2005'),
 ('The Upside of Anger', '2005'),
 ('Fever Pitch', '2005'),
 ('Sahara', '2005'),
 ('State Property 2', '2005'),
 ('The Amityville Horror', '2005'),
 ('The Interpreter', '2005'),
 ("King's Ransom", '2005'),
 ('A Lot like Love', '2005'),
 ("The Hitchhiker's Guide to the Galaxy", '2005'),
 ('XXX: State of the Union', '2005'),
 ('Crash', '2005'),
 ('House of Wax', '2005'),
 ('Jiminy Glick in Lalawood', '2005'),
 ('Kingdom of Heaven', '2005'),
 ('Kicking & Screaming', '2005'),
 ('Mad Hot Ballroom', '2005'),
 ('Mindhunters', '2005'),
 ('Monster-in-Law', '2005'),
 ('Unleashed', '2005'),
 ('Star Wars: Episode III – Revenge of the Sith', '2005'),
 ('Dominion: Prequel to the Exorcist', '2005'),
 ('The Longest Yard', '2005'),
 ('Madagascar', '2005'),
 ('The Sisterhood of the Traveling Pants', '2005'),
 ('Amatemi', '2005'),
 ('Cinderella Man', '2005'),
 ("The League of Gentlemen's Apocalypse", '2005'),
 ('Lords of Dogtown', '2005'),
 ('The Adventures of Sharkboy and Lavagirl in 3-D', '2005'),
 ('The Honeymooners', '2005'),
 ('Mr. & Mrs. Smith', '2005'),
 ('Batman Begins', '2005'),
 ('The Perfect Man', '2005'),
 ('Herbie: Fully Loaded', '2005'),
 ('Bewitched', '2005'),
 ('Land of the Dead', '2005'),
 ('War of the Worlds', '2005'),
 ('Rebound', '2005'),
 ('Yakeen', '2005'),
 ('Dark Water', '2005'),
 ('Fantastic Four', '2005'),
 ('Charlie and the Chocolate Factory', '2005'),
 ('Wedding Crashers', '2005'),
 ('Bad News Bears', '2005'),
 ("The Devil's Rejects", '2005'),
 ('Hustle & Flow', '2005'),
 ('The Island', '2005'),
 ('March of the Penguins', '2005'),
 ('Must Love Dogs', '2005'),
 ('Sky High', '2005'),
 ('Stealth', '2005'),
 ('The Dukes of Hazzard', '2005'),
 ('Deuce Bigalow: European Gigolo', '2005'),
 ('Four Brothers', '2005'),
 ('The Great Raid', '2005'),
 ('The Skeleton Key', '2005'),
 ('Supercross', '2005'),
 ('The 40-Year-Old Virgin', '2005'),
 ('Red Eye', '2005'),
 ('The Brothers Grimm', '2005'),
 ('The Cave', '2005'),
 ('Undiscovered', '2005'),
 ('The Constant Gardener', '2005'),
 ('A Sound of Thunder', '2005'),
 ('Transporter 2', '2005'),
 ('Underclassman', '2005'),
 ('Thumbsucker', '2005'),
 ('The Exorcism of Emily Rose', '2005'),
 ('The Man', '2005'),
 ('An Unfinished Life', '2005'),
 ('Cry Wolf', '2005'),
 ('Just Like Heaven', '2005'),
 ('Lord of War', '2005'),
 ('Venom', '2005'),
 ('Corpse Bride', '2005'),
 ('Dirty Love', '2005'),
 ('Flightplan', '2005'),
 ('Roll Bounce', '2005'),
 ('Capote', '2005'),
 ('The Greatest Game Ever Played', '2005'),
 ('A History of Violence', '2005'),
 ('Into the Blue', '2005'),
 ('Little Manhattan', '2005'),
 ('Oliver Twist', '2005'),
 ('Serenity', '2005'),
 ('Wallace & Gromit: The Curse of the Were-Rabbit', '2005'),
 ('The Gospel', '2005'),
 ('In Her Shoes', '2005'),
 ('Two for the Money', '2005'),
 ('Waiting...', '2005'),
 ('Domino', '2005'),
 ('Elizabethtown', '2005'),
 ('The Fog', '2005'),
 ('The Prize Winner of Defiance, Ohio', '2005'),
 ('Doom', '2005'),
 ('Dreamer', '2005'),
 ('Kids in America', '2005'),
 ('Kiss Kiss Bang Bang', '2005'),
 ('North Country', '2005'),
 ('Stay', '2005'),
 ('The Legend of Zorro', '2005'),
 ('Prime', '2005'),
 ('Saw II', '2005'),
 ('The Weather Man', '2005'),
 ('Chicken Little', '2005'),
 ('Good Night, and Good Luck', '2005'),
 ('Jarhead', '2005'),
 ('Shopgirl', '2005'),
 ("Get Rich or Die Tryin'", '2005'),
 ('F*ck', '2005'),
 ('Derailed', '2005'),
 ('Zathura', '2005'),
 ('Harry Potter and the Goblet of Fire', '2005'),
 ('Walk the Line', '2005'),
 ('Bee Season', '2005'),
 ('The Ice Harvest', '2005'),
 ('In the Mix', '2005'),
 ('Just Friends', '2005'),
 ('Pride & Prejudice', '2005'),
 ('Rent', '2005'),
 ('Yours, Mine and Ours', '2005'),
 ('Æon Flux', '2005'),
 ('Brokeback Mountain', '2005'),
 ('The Chronicles of Narnia: The Lion, the Witch and the Wardrobe', '2005'),
 ('Syriana', '2005'),
 ('King Kong', '2005'),
 ('The Family Stone', '2005'),
 ('Cheaper by the Dozen 2', '2005'),
 ('Fun with Dick and Jane', '2005'),
 ('Memoirs of a Geisha', '2005'),
 ('Munich', '2005'),
 ('The Ringer', '2005'),
 ('Transamerica', '2005'),
 ('Casanova', '2005'),
 ('The New World', '2005'),
 ('The Producers', '2005'),
 ('Rumor Has It', '2005'),
 ('Wolf Creek', '2005'),
 ('BloodRayne', '2006'),
 ("Grandma's Boy", '2006'),
 ('Hostel', '2006'),
 ('Glory Road', '2006'),
 ('Hoodwinked!', '2006'),
 ('Last Holiday', '2006'),
 ('Tristan and Isolde', '2006'),
 ('End of the Spear', '2006'),
 ('Underworld: Evolution', '2006'),
 ('Wristcutters: A Love Story', '2006'),
 ('Annapolis', '2006'),
 ("Big Momma's House 2", '2006'),
 ('Nanny McPhee', '2006'),
 ('Something New', '2006'),
 ('When a Stranger Calls', '2006'),
 ('Curious George', '2006'),
 ('Final Destination 3', '2006'),
 ('Firewall', '2006'),
 ('The Pink Panther', '2006'),
 ('Date Movie', '2006'),
 ('Eight Below', '2006'),
 ('Freedomland', '2006'),
 ('Doogal', '2006'),
 ("Madea's Family Reunion", '2006'),
 ('Running Scared', '2006'),
 ('16 Blocks', '2006'),
 ('Aquamarine', '2006'),
 ("Dave Chappelle's Block Party", '2006'),
 ('Ultraviolet', '2006'),
 ('Failure to Launch', '2006'),
 ('The Hills Have Eyes', '2006'),
 ('The Shaggy Dog', '2006'),
 ("She's the Man", '2006'),
 ('Thank You for Smoking', '2006'),
 ('V for Vendetta', '2006'),
 ('Inside Man', '2006'),
 ('Larry the Cable Guy: Health Inspector', '2006'),
 ('The Secret', '2006'),
 ('Stay Alive', '2006'),
 ('Unidentified', '2006'),
 ('ATL', '2006'),
 ('Basic Instinct 2', '2006'),
 ('Ice Age: The Meltdown', '2006'),
 ('Slither', '2006'),
 ('The Benchwarmers', '2006'),
 ('Friends with Money', '2006'),
 ('Lucky Number Slevin', '2006'),
 ('Phat Girlz', '2006'),
 ('Take the Lead', '2006'),
 ('Scary Movie 4', '2006'),
 ('The Wild', '2006'),
 ('American Dreamz', '2006'),
 ('The Sentinel', '2006'),
 ('Silent Hill', '2006'),
 ('Akeelah and the Bee', '2006'),
 ('Alien Autopsy', '2006'),
 ('RV', '2006'),
 ('Stick It', '2006'),
 ('United 93', '2006'),
 ('An American Haunting', '2006'),
 ('Art School Confidential', '2006'),
 ('Hoot', '2006'),
 ('Mission: Impossible III', '2006'),
 ('Goal!', '2006'),
 ('Just My Luck', '2006'),
 ('Poseidon', '2006'),
 ('The Da Vinci Code', '2006'),
 ('Over the Hedge', '2006'),
 ('See No Evil', '2006'),
 ('X-Men: The Last Stand', '2006'),
 ('The Break-Up', '2006'),
 ('The Omen', '2006'),
 ('Cars', '2006'),
 ('A Prairie Home Companion', '2006'),
 ('The Fast and the Furious: Tokyo Drift', '2006'),
 ('Garfield: A Tail of Two Kitties', '2006'),
 ('The Lake House', '2006'),
 ('Nacho Libre', '2006'),
 ('The Collingswood Story', '2006'),
 ('Click', '2006'),
 ('Waist Deep', '2006'),
 ('Superman Returns', '2006'),
 ('The Devil Wears Prada', '2006'),
 ("Pirates of the Caribbean: Dead Man's Chest", '2006'),
 ('Little Man', '2006'),
 ('You, Me and Dupree', '2006'),
 ('The Girl Who Leapt Through Time', '2006'),
 ('Clerks II', '2006'),
 ('Lady in the Water', '2006'),
 ('Monster House', '2006'),
 ('My Super Ex-Girlfriend', '2006'),
 ('Little Miss Sunshine', '2006'),
 ('The Ant Bully', '2006'),
 ('John Tucker Must Die', '2006'),
 ('Miami Vice', '2006'),
 ('Scoop', '2006'),
 ('Barnyard', '2006'),
 ('The Descent', '2006'),
 ('The Night Listener', '2006'),
 ('Talladega Nights: The Ballad of Ricky Bobby', '2006'),
 ('World Trade Center', '2006'),
 ('Pulse', '2006'),
 ('Step Up', '2006'),
 ('Zoom', '2006'),
 ('Accepted', '2006'),
 ('The Illusionist', '2006'),
 ('Kenny', '2006'),
 ('Material Girls', '2006'),
 ('Snakes on a Plane', '2006'),
 ('Beerfest', '2006'),
 ('How to Eat Fried Worms', '2006'),
 ('Idlewild', '2006'),
 ('Invincible', '2006'),
 ('Crank', '2006'),
 ('Crossover', '2006'),
 ('Idiocracy', '2006'),
 ('The Wicker Man', '2006'),
 ('The Black Dahlia', '2006'),
 ('The Covenant', '2006'),
 ('Tom-Yum-Goong', '2006'),
 ("Everyone's Hero", '2006'),
 ('Gridiron Gang', '2006'),
 ('The Last Kiss', '2006'),
 ('Ultraman Mebius & Ultraman Brothers', '2006'),
 ("All the King's Men", '2006'),
 ('Fearless', '2006'),
 ('Flyboys', '2006'),
 ('Jackass Number Two', '2006'),
 ('Facing the Giants', '2006'),
 ('The Guardian', '2006'),
 ('Open Season', '2006'),
 ('School for Scoundrels', '2006'),
 ('The Queen', '2006'),
 ('The Departed', '2006'),
 ('Employee of the Month', '2006'),
 ('The Texas Chainsaw Massacre: The Beginning', '2006'),
 ('Trailer Park Boys: The Movie', '2006'),
 ('The Grudge 2', '2006'),
 ('Man of the Year', '2006'),
 ('The Marine', '2006'),
 ('One Night with the King', '2006'),
 ('Flags of Our Fathers', '2006'),
 ('Flicka', '2006'),
 ('Marie Antoinette', '2006'),
 ('The Prestige', '2006'),
 ('Babel', '2006'),
 ('Catch a Fire', '2006'),
 ('Dirty Sanchez: the Movie', '2006'),
 ('Running with Scissors', '2006'),
 ('Saw III', '2006'),
 ('Borat! Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan',
  '2006'),
 ('Flushed Away', '2006'),
 ('The Santa Clause 3: The Escape Clause', '2006'),
 ('Volver', '2006'),
 ('Breaking and Entering', '2006'),
 ('A Good Year', '2006'),
 ('Harsh Times', '2006'),
 ('The Return', '2006'),
 ('Stranger Than Fiction', '2006'),
 ('Bobby', '2006'),
 ('Casino Royale', '2006'),
 ('For Your Consideration', '2006'),
 ('Happy Feet', '2006'),
 ("Let's Go to Prison", '2006'),
 ('Griffin & Phoenix', '2006'),
 ('Deck the Halls', '2006'),
 ('Déjà Vu', '2006'),
 ('The Fountain', '2006'),
 ('Tenacious D in The Pick of Destiny', '2006'),
 ('The Nativity Story', '2006'),
 ('The Roses of the Desert', '2006'),
 ('Turistas', '2006'),
 ('Van Wilder: The Rise of Taj', '2006'),
 ('Miss Potter', '2006'),
 ('Apocalypto', '2006'),
 ('Blood Diamond', '2006'),
 ('The Holiday', '2006'),
 ('Unaccompanied Minors', '2006'),
 ("Charlotte's Web", '2006'),
 ('Commediasexi', '2006'),
 ('Dreamgirls', '2006'),
 ('Eragon', '2006'),
 ('The Pursuit of Happyness', '2006'),
 ('Salvage', '2006'),
 ('Letters from Iwo Jima', '2006'),
 ('Rocky Balboa', '2006'),
 ('Curse of the Golden Flower', '2006'),
 ('The Good Shepherd', '2006'),
 ('Night at the Museum', '2006'),
 ('We Are Marshall', '2006'),
 ('Black Christmas', '2006'),
 ('Children of Men', '2006'),
 ('Notes on a Scandal', '2006'),
 ('Arthur and the Invisibles', '2006'),
 ("Pan's Labyrinth", '2006'),
 ('Code Name: The Cleaner', '2007'),
 ('Freedom Writers', '2007'),
 ("Happily N'Ever After", '2007'),
 ('Perfume: The Story of a Murderer', '2007'),
 ('Three', '2007'),
 ('Murder Party', '2007'),
 ('Alpha Dog', '2007'),
 ('Miss Potter', '2007'),
 ('Primeval', '2007'),
 ('Stomp the Yard', '2007'),
 ('The Hitcher', '2007'),
 ('The Painted Veil', '2007'),
 ('Blood & Chocolate', '2007'),
 ('Catch and Release', '2007'),
 ('Epic Movie', '2007'),
 ('Seraphim Falls', '2007'),
 ("Smokin' Aces", '2007'),
 ('Because I Said So', '2007'),
 ('The Messengers', '2007'),
 ('Hannibal Rising', '2007'),
 ('Norbit', '2007'),
 ('Pumpkinhead: Blood Feud', '2007'),
 ("Daddy's Little Girls", '2007'),
 ('Music and Lyrics', '2007'),
 ('Starter for 10', '2007'),
 ('Breach', '2007'),
 ('Bridge to Terabithia', '2007'),
 ('Ghost Rider', '2007'),
 ('Venus', '2007'),
 ('The Abandoned', '2007'),
 ('Amazing Grace', '2007'),
 ('The Astronaut Farmer', '2007'),
 ('The Number 23', '2007'),
 ('Reno 911!: Miami', '2007'),
 ('Black Snake Moan', '2007'),
 ('Wild Hogs', '2007'),
 ('Zodiac', '2007'),
 ('300', '2007'),
 ('The Ultimate Gift', '2007'),
 ('1 More Hit', '2007'),
 ('Dead Silence', '2007'),
 ('I Think I Love My Wife', '2007'),
 ('Premonition', '2007'),
 ('The Hills Have Eyes 2', '2007'),
 ('The Last Mimzy', '2007'),
 ('Pride', '2007'),
 ('Reign Over Me', '2007'),
 ('Shooter', '2007'),
 ('TMNT', '2007'),
 ('Blades of Glory', '2007'),
 ('The Lookout', '2007'),
 ('Meet the Robinsons', '2007'),
 ('Are We Done Yet?', '2007'),
 ('Firehouse Dog', '2007'),
 ('The Reaping', '2007'),
 ('Grindhouse', '2007'),
 ('The Hoax', '2007'),
 ('The TV Set', '2007'),
 ('Aqua Teen Hunger Force Colon Movie Film for Theaters', '2007'),
 ('Disturbia', '2007'),
 ('Lonely Hearts', '2007'),
 ('Pathfinder', '2007'),
 ('Perfect Stranger', '2007'),
 ('Redline', '2007'),
 ('Slow Burn', '2007'),
 ('Year of the Dog', '2007'),
 ('Fracture', '2007'),
 ('Hot Fuzz', '2007'),
 ('In the Land of Women', '2007'),
 ('The Tripper', '2007'),
 ('Vacancy', '2007'),
 ('The Condemned', '2007'),
 ('The Invisible', '2007'),
 ('Jindabyne', '2007'),
 ("Kickin' It Old Skool", '2007'),
 ('Next', '2007'),
 ('Waitress', '2007'),
 ('Away from Her', '2007'),
 ('Civic Duty', '2007'),
 ('Lucky You', '2007'),
 ('Spider-Man 3', '2007'),
 ('28 Weeks Later', '2007'),
 ('Delta Farce', '2007'),
 ('The Ex', '2007'),
 ('Georgia Rule', '2007'),
 ('Home of the Brave', '2007'),
 ('ShowBusiness: The Road to Broadway', '2007'),
 ('Once', '2007'),
 ('Black Book', '2007'),
 ('Even Money', '2007'),
 ('Sancarity', '2007'),
 ('Shrek the Third', '2007'),
 ('The Wendell Baker Story', '2007'),
 ('Angel-A', '2007'),
 ('Bug', '2007'),
 ("Pirates of the Caribbean: At World's End", '2007'),
 ('Day Watch', '2007'),
 ('Gracie', '2007'),
 ('Knocked Up', '2007'),
 ('Mr. Brooks', '2007'),
 ('Pierrepoint: The Last Hangman', '2007'),
 ('Hostel: Part II', '2007'),
 ('La Vie en rose', '2007'),
 ("Ocean's Thirteen", '2007'),
 ("Surf's Up", '2007'),
 ('DOA: Dead or Alive', '2007'),
 ('Eagle vs Shark', '2007'),
 ('Fantastic Four: Rise of the Silver Surfer', '2007'),
 ('Nancy Drew', '2007'),
 ('1408', '2007'),
 ('Black Sheep', '2007'),
 ('Evan Almighty', '2007'),
 ('A Mighty Heart', '2007'),
 ('You Kill Me', '2007'),
 ('Live Free or Die Hard', '2007'),
 ('Evening', '2007'),
 ('Ratatouille', '2007'),
 ('Sicko', '2007'),
 ('License to Wed', '2007'),
 ('Transformers', '2007'),
 ('Clubland', '2007'),
 ('Rescue Dawn', '2007'),
 ('El Arca', '2007'),
 ('Joshua', '2007'),
 ('Rise: Blood Hunter', '2007'),
 ('Harry Potter and the Order of the Phoenix', '2007'),
 ('Captivity', '2007'),
 ('Interview', '2007'),
 ('Talk to Me', '2007'),
 ('Hairspray', '2007'),
 ('I Now Pronounce You Chuck & Larry', '2007'),
 ('Sunshine', '2007'),

In [ ]:
movie_ids = []
from time import sleep

failed = []

for number, movie in enumerate(movies_list[:]):
    print(f"Trying movie number {number}")
    movie_id = get_movie_id(movie[0], movie[1])
    if movie_id:
        movie_ids.append((movie[0], movie[1], movie_id))
    else:
        failed.append(movie)
    sleep(1)

In [ ]:
# import csv

# with open('movie_ids.csv', 'w') as myfile:
#     wr = csv.writer(myfile, quoting=csv.QUOTE_ALL)
#     wr.writerows(movie_ids)

In [8]:
import csv

with open('movie_ids.csv', newline='') as csvfile:
    movie_id_list = list(csv.reader(csvfile))
    
movie_id_list2 = [movie_id_list[i] for i in range(len(movie_id_list)) if movie_id_list[i][2] not in [y[2] for y in movie_id_list[:i]] ]
movie_id_list = movie_id_list2

In [ ]:
movie_details = []
failed_movies = []

In [91]:
from time import sleep


def process_movies(movie_ids, details_list, failed_list):
    for number, movie in enumerate(movie_ids[:]):
        sleep(1)
        print(f"Scraping data for movie {movie[0]} ({movie[1]}) with id {movie[2]}")
        movie_details_unparsed = get_movie_details(movie[2])
        if movie_details_unparsed:
            movie_details = parse_movie_details(movie_details_unparsed)
        else:
            print(f"Unable to get movie details for movie id {movie[2]}")
            failed_list.append(movie)
            continue
        details_list.append(movie_details)

In [ ]:
process_movies(movie_id_list[:], movie_details, failed_movies)

In [2]:
import csv

with open('movie_details.csv', newline='') as csvfile:
    movie_details_pre = list(csv.reader(csvfile))
    
movie_details = list(map(lambda x: tuple(x), movie_details_pre))

In [72]:
len(movie_details)

3629

In [86]:
ids_with_details = sorted(list(map(lambda x: int(x[0]), movie_details)))

In [87]:
missing_ids = [x for x in movie_id_list if int(x[2]) not in ids_with_details]

In [98]:
movie_details2 = []
failed_movies2 = []

In [105]:
process_movies(missing_ids, movie_details2, failed_movies2)

Scraping data for movie The Butterfly Effect (2004) with id 1954
Scraping data for movie Win a Date with Tad Hamilton! (2004) with id 13476
Scraping data for movie Jersey Girl (2004) with id 9541
Scraping data for movie The Ladykillers (2004) with id 5516
Scraping data for movie Home on the Range (2004) with id 13700
Scraping data for movie The Prince and Me (2004) with id 11137
Scraping data for movie Walking Tall (2004) with id 11358
Scraping data for movie Johnson Family Vacation (2004) with id 19084
Scraping data for movie The Whole Ten Yards (2004) with id 2122
Scraping data for movie Kill Bill: Volume 2 (2004) with id 393
Scraping data for movie The Punisher (2004) with id 7220
Scraping data for movie 13 Going on 30 (2004) with id 10096
Scraping data for movie Clifford's Really Big Movie (2004) with id 19016
Scraping data for movie New York Minute (2004) with id 11025
Scraping data for movie Off the Lip (2004) with id 279709
Scraping data for movie Stateside (2004) with id 43670
Scraping data for movie The Chronicles of Riddick (2004) with id 2789
Scraping data for movie Garfield: The Movie (2004) with id 8920
Scraping data for movie Napoleon Dynamite (2004) with id 8193
Scraping data for movie The Stepford Wives (2004) with id 9890
Scraping data for movie Around the World in 80 Days (2004) with id 10204
Scraping data for movie Two Brothers (2004) with id 1997
Scraping data for movie Spider-Man 2 (2004) with id 558
Scraping data for movie Before Sunset (2004) with id 80
Scraping data for movie King Arthur (2004) with id 9477
Scraping data for movie The Bourne Supremacy (2004) with id 2502
Scraping data for movie Catwoman (2004) with id 314
Scraping data for movie Little Black Book (2004) with id 14846
Scraping data for movie Suspect Zero (2004) with id 8080
Scraping data for movie Ladder 49 (2004) with id 11128
Scraping data for movie Team America: World Police (2004) with id 3989
Scraping data for movie The Grudge (2004) with id 1970
Scraping data for movie Sideways (2004) with id 9675
Scraping data for movie Finding Neverland (2004) with id 866
Scraping data for movie Blade: Trinity (2004) with id 36648
Scraping data for movie Ocean's Twelve (2004) with id 163
Scraping data for movie Hotel Rwanda (2004) with id 205
Scraping data for movie Meet the Fockers (2004) with id 693
Scraping data for movie The Phantom of the Opera (2004) with id 9833
Scraping data for movie The Aviator (2004) with id 2567
Scraping data for movie Because of Winn-Dixie (2005) with id 17880
Scraping data for movie Constantine (2005) with id 561
Scraping data for movie Son of the Mask (2005) with id 10214
Scraping data for movie Robots (2005) with id 9928
Scraping data for movie Ice Princess (2005) with id 13374
Scraping data for movie Beauty Shop (2005) with id 14177
Scraping data for movie Sin City (2005) with id 187
Scraping data for movie The Upside of Anger (2005) with id 11354
Scraping data for movie Fever Pitch (2005) with id 11431
Scraping data for movie Sahara (2005) with id 7364
Scraping data for movie The Hitchhiker's Guide to the Galaxy (2005) with id 7453
Scraping data for movie XXX: State of the Union (2005) with id 11679
Scraping data for movie Crash (2005) with id 1640
Scraping data for movie House of Wax (2005) with id 10066
Scraping data for movie Dominion: Prequel to the Exorcist (2005) with id 12700
Scraping data for movie Charlie and the Chocolate Factory (2005) with id 118
Scraping data for movie Wedding Crashers (2005) with id 9522
Scraping data for movie Bad News Bears (2005) with id 13341
Scraping data for movie The Devil's Rejects (2005) with id 1696
Scraping data for movie Hustle & Flow (2005) with id 10476
Scraping data for movie The Island (2005) with id 1635
Scraping data for movie March of the Penguins (2005) with id 1667
Scraping data for movie The Great Raid (2005) with id 13922
Scraping data for movie The Skeleton Key (2005) with id 9913
Scraping data for movie Supercross (2005) with id 17186
Scraping data for movie Undiscovered (2005) with id 17926
Scraping data for movie The Constant Gardener (2005) with id 1985
Scraping data for movie A Sound of Thunder (2005) with id 10077
Scraping data for movie Transporter 2 (2005) with id 9335
Scraping data for movie Underclassman (2005) with id 19803
Scraping data for movie Venom (2005) with id 7182
Scraping data for movie Corpse Bride (2005) with id 3933
Scraping data for movie Oliver Twist (2005) with id 257
Scraping data for movie Two for the Money (2005) with id 9910
Scraping data for movie Waiting... (2005) with id 7553
Scraping data for movie Domino (2005) with id 9923
Scraping data for movie Elizabethtown (2005) with id 9621
Scraping data for movie The Fog (2005) with id 791
Scraping data for movie Derailed (2005) with id 8999
Scraping data for movie Zathura (2005) with id 6795
Scraping data for movie Rent (2005) with id 1833
Scraping data for movie Yours, Mine and Ours (2005) with id 13499
Scraping data for movie Memoirs of a Geisha (2005) with id 1904
Scraping data for movie The Pink Panther (2006) with id 12096
Scraping data for movie Aquamarine (2006) with id 14191
Scraping data for movie Nacho Libre (2006) with id 9353
Scraping data for movie Click (2006) with id 9339
Scraping data for movie Waist Deep (2006) with id 9917
Scraping data for movie Superman Returns (2006) with id 1452
Scraping data for movie Lady in the Water (2006) with id 9697
Scraping data for movie Monster House (2006) with id 9297
Scraping data for movie My Super Ex-Girlfriend (2006) with id 4474
Scraping data for movie The Santa Clause 3: The Escape Clause (2006) with id 13767
Scraping data for movie Volver (2006) with id 219
Scraping data for movie Breaking and Entering (2006) with id 1253
Scraping data for movie Casino Royale (2006) with id 36557
Scraping data for movie For Your Consideration (2006) with id 14799
Scraping data for movie Happy Feet (2006) with id 9836
Scraping data for movie The Nativity Story (2006) with id 2447
Scraping data for movie Turistas (2006) with id 9796
Scraping data for movie Van Wilder: The Rise of Taj (2006) with id 10032
Scraping data for movie Eragon (2006) with id 2486
Scraping data for movie Black Christmas (2006) with id 9656
Scraping data for movie Mister Lonely (2008) with id 16135
Scraping data for movie Iron Man (2008) with id 1726
Scraping data for movie Made of Honor (2008) with id 10761
Scraping data for movie Redbelt (2008) with id 12400
Scraping data for movie Then She Found Me (2008) with id 13196
Scraping data for movie The September Issue (2009) with id 23044
Scraping data for movie Thomas & Friends: Hero of the Rails (2009) with id 93399
Scraping data for movie The Men Who Stare at Goats (2009) with id 10313
Scraping data for movie Trick 'r Treat (2009) with id 23202
Scraping data for movie Invictus (2009) with id 22954
Scraping data for movie The Lovely Bones (2009) with id 7980
Scraping data for movie Did You Hear About the Morgans? (2009) with id 24438
Scraping data for movie Sherlock Holmes (2009) with id 10528
Scraping data for movie The Book of Eli (2010) with id 20504
Scraping data for movie Celine: Through the Eyes of the World (2010) with id 37925
Scraping data for movie A Prophet (2010) with id 21575
Scraping data for movie Stolen (2010) with id 180302
Scraping data for movie The Bounty Hunter (2010) with id 27573
Scraping data for movie How to Train Your Dragon (2010) with id 10191
Scraping data for movie Letters to Juliet (2010) with id 37056
Scraping data for movie Kites: The Remix (2010) with id 37737
Scraping data for movie Jonah Hex (2010) with id 20533
Scraping data for movie Toy Story 3 (2010) with id 10193
Scraping data for movie 45365 (2010) with id 81583
Scraping data for movie Restrepo (2010) with id 39312
Scraping data for movie Smash His Camera (2010) with id 47912
Scraping data for movie Lebanon (2010) with id 61629
Scraping data for movie Middle Men (2010) with id 38842
Scraping data for movie Patrik, Age 1.5 (2010) with id 15179
Scraping data for movie Double Negative (2010) with id 389885
Scraping data for movie Piranha 3D (2010) with id 43593
Scraping data for movie It's Kind of a Funny Story (2010) with id 43923
Scraping data for movie Stone (2010) with id 44113

Scraping data for movie Justin Bieber: Never Say Never (2011) with id 54518
Scraping data for movie The Lion of Judah (2011) with id 46256
Scraping data for movie Judy Moody and the Not Bummer Summer (2011) with id 60062
Scraping data for movie Super 8 (2011) with id 37686
Scraping data for movie Bol (2011) with id 70067
Scraping data for movie Project Nim (2011) with id 63579
Scraping data for movie Zookeeper (2011) with id 38317
Scraping data for movie Rise of the Planet of the Apes (2011) with id 61791
Scraping data for movie Glee: The 3D Concert Movie (2011) with id 67675
Scraping data for movie Abduction (2011) with id 59965
Scraping data for movie Surviving Progress (2011) with id 79172
Scraping data for movie Warrior (2011) with id 59440
Scraping data for movie The Way (2011) with id 59468
Scraping data for movie I Don't Know How She Does It (2011) with id 70868
Scraping data for movie George Harrison: Living in the Material World (2011) with id 75964
Scraping data for movie Mission: Impossible – Ghost Protocol (2011) with id 56292
Scraping data for movie In the Land of Blood and Honey (2011) with id 79777
Scraping data for movie Sing Your Song (2012) with id 91367
Scraping data for movie Lovely Molly (2012) with id 74505
Scraping data for movie Iron Man 3 (2013) with id 68721
Scraping data for movie Arthur Newman (2013) with id 127374
Scraping data for movie The Big Wedding (2013) with id 87567
Scraping data for movie The Look of Love (2013) with id 158914
Scraping data for movie This Is Martin Bonner (2013) with id 158895
Scraping data for movie World War Z (2013) with id 72190

In [ ]:
# movie_details_tuples = list(map(lambda x: x.values(), movie_details))

In [ ]:
# import csv

# with open('movie_details.csv', 'w') as myfile:
#     wr = csv.writer(myfile, quoting=csv.QUOTE_ALL)
#     wr.writerows(movie_details_tuples)

In [4]:
from time import sleep

for movie in movie_details[838:]:
    print("INSERTING ", movie)
    insert_movie2(movie)
    sleep(0.25)

INSERTING  ('13809', 'tt1032755', 'RockNRolla', '2008-09-04 00:00:00', '6.9', '1474', '', '114', 'Action, Crime, Thriller', '25739015')
Duplicate! Did not add to database.
INSERTING  ('12113', 'tt0758774', 'Body of Lies', '2008-10-10 00:00:00', '6.6', '1574', '', '128', 'Action, Drama, Thriller', '113280098')
Duplicate! Did not add to database.
INSERTING  ('13600', 'tt0970411', 'City of Ember', '2008-10-07 00:00:00', '6.2', '1015', '', '90', 'Adventure, Family, Fantasy', '17869048')
Duplicate! Did not add to database.
INSERTING  ('14325', 'tt0469903', 'The Express', '2008-10-10 00:00:00', '7.1', '117', '', '130', 'Drama', '9793496')
INSERTING  ('10503', 'tt1045670', 'Happy-Go-Lucky', '2008-04-18 00:00:00', '6.5', '218', '', '118', 'Drama, Comedy', '18130888')
INSERTING  ('13812', 'tt1082868', 'Quarantine', '2008-10-10 00:00:00', '5.6', '618', '', '89', 'Horror, Science Fiction, Thriller', '40855419')
INSERTING  ('26772', 'tt0950749', 'Flick', '2008-10-03 00:00:00', '5.0', '3', '', '92', 'Horror', '0')
INSERTING  ('33256', 'tt0451221', 'The Elephant King', '2006-04-26 00:00:00', '7.0', '3', '', '92', 'Drama, Romance', '0')
INSERTING  ('18548', 'tt1042499', 'Filth and Wisdom', '2008-02-13 00:00:00', '6.1', '25', '', '81', 'Comedy', '0')
INSERTING  ('13051', 'tt0467197', 'Max Payne', '2008-10-15 00:00:00', '5.2', '1091', '', '100', 'Action, Drama, Crime, Thriller', '85416905')
INSERTING  ('31237', 'tt1198405', 'Morning Light', '2008-03-12 00:00:00', '0.0', '0', '', '97', 'Documentary', '0')
INSERTING  ('12837', 'tt0416212', 'The Secret Life of Bees', '2008-09-17 00:00:00', '7.4', '264', '', '114', 'Adventure, Drama', '38105395')
INSERTING  ('13523', 'tt1135985', 'Sex Drive', '2008-10-16 00:00:00', '6.1', '605', '', '109', 'Comedy, Adventure, Romance', '18755936')
INSERTING  ('10523', 'tt1175491', 'W.', '2008-10-17 00:00:00', '6.0', '254', '', '131', 'Drama, History', '29506464')
INSERTING  ('8944', 'tt0486674', 'What Just Happened', '2008-10-17 00:00:00', '5.4', '222', '', '104', 'Comedy, Drama', '6673422')
INSERTING  ('3580', 'tt0824747', 'Changeling', '2008-01-30 00:00:00', '7.5', '2206', '', '141', 'Crime, Drama, Mystery', '113020255')
INSERTING  ('11887', 'tt0962726', 'High School Musical 3: Senior Year', '2008-10-11 00:00:00', '6.5', '2220', '', '116', 'Comedy, Drama, Family, Music, Romance', '252909177')
INSERTING  ('13944', 'tt0449487', 'Passengers', '2008-09-26 00:00:00', '5.9', '363', '', '93', 'Drama, Mystery, Thriller, Romance', '2000000')
INSERTING  ('13150', 'tt0482572', 'Pride and Glory', '2008-09-09 00:00:00', '6.4', '440', '', '130', 'Thriller, Crime, Drama, Mystery', '31148328')
INSERTING  ('11917', 'tt1132626', 'Saw V', '2008-10-23 00:00:00', '6.2', '1799', '', '95', 'Horror, Thriller, Crime', '113857533')
INSERTING  ('4960', 'tt0383028', 'Synecdoche, New York', '2008-10-24 00:00:00', '7.6', '568', '', '124', 'Drama', '0')
INSERTING  ('14745', 'tt1045655', 'The Haunting of Molly Hartley', '2008-10-31 00:00:00', '4.3', '80', '', '82', 'Drama, Horror', '15')
INSERTING  ('17334', 'tt1049405', 'The Other End of the Line', '2008-10-29 00:00:00', '6.3', '95', '', '106', 'Comedy, Romance', '0')
INSERTING  ('10358', 'tt1007028', 'Zack and Miri Make a Porno', '2008-09-18 00:00:00', '6.1', '1252', '', '102', 'Comedy', '42105111')
INSERTING  ('14574', 'tt0914798', 'The Boy in the Striped Pyjamas', '2008-05-07 00:00:00', '7.9', '3750', '', '94', 'War, Drama', '20416563')
Duplicate! Did not add to database.
INSERTING  ('10527', 'tt0479952', 'Madagascar: Escape 2 Africa', '2008-10-30 00:00:00', '6.4', '3981', '', '89', 'Family, Animation, Comedy', '603900354')
INSERTING  ('14353', 'tt0963194', 'Repo! The Genetic Opera', '2008-07-18 00:00:00', '6.5', '170', '', '98', 'Horror, Music, Science Fiction', '188126')
INSERTING  ('15373', 'tt0430922', 'Role Models', '2008-11-07 00:00:00', '6.4', '966', '', '100', 'Comedy', '92380927')
INSERTING  ('14655', 'tt1111948', 'Soul Men', '2008-11-07 00:00:00', '6.1', '71', '', '103', 'Comedy, Music', '0')
INSERTING  ('12405', 'tt1010048', 'Slumdog Millionaire', '2008-05-12 00:00:00', '7.7', '6206', '', '120', 'Drama, Romance', '377910544')
INSERTING  ('10764', 'tt0830515', 'Quantum of Solace', '2008-10-30 00:00:00', '6.2', '4642', '', '106', 'Adventure, Action, Thriller, Crime', '586090727')
INSERTING  ('13053', 'tt0397892', 'Bolt', '2008-01-29 00:00:00', '6.4', '3578', '', '98', 'Animation, Family, Adventure, Comedy', '309979994')
INSERTING  ('14579', 'tt0875705', 'Lake City', '2008-01-01 00:00:00', '6.2', '5', '', '92', 'Action, Drama', '0')
INSERTING  ('52800', 'tt1243381', 'A Very Special Love', '2008-08-03 00:00:00', '7.3', '3', '', '66', 'Drama, Comedy, Romance', '0')
INSERTING  ('8966', 'tt1099212', 'Twilight', '2008-11-20 00:00:00', '6.0', '7755', '', '122', 'Fantasy, Drama, Romance', '393616788')
INSERTING  ('6972', 'tt0455824', 'Australia', '2008-11-18 00:00:00', '6.5', '1352', '', '165', 'Adventure, Drama, Romance', '49554002')
INSERTING  ('12193', 'tt0369436', 'Four Christmases', '2008-11-26 00:00:00', '5.6', '590', '', '88', 'Comedy, Romance, Drama', '163733697')
INSERTING  ('10139', 'tt1013753', 'Milk', '2008-11-26 00:00:00', '7.3', '1196', '', '129', 'History, Drama', '54586584')
INSERTING  ('13387', 'tt1129442', 'Transporter 3', '2008-11-26 00:00:00', '6.1', '1857', '', '104', 'Action, Adventure, Thriller, Crime', '108979549')
INSERTING  ('14299', 'tt1042877', 'Cadillac Records', '2008-12-05 00:00:00', '7.1', '187', '', '109', 'Drama, History, Music', '8880045')
INSERTING  ('15544', 'tt0806147', 'Extreme Movie', '2008-12-05 00:00:00', '4.0', '79', '', '88', 'Comedy', '0')
INSERTING  ('11499', 'tt0870111', 'Frost/Nixon', '2008-10-15 00:00:00', '7.4', '608', '', '122', 'Drama, History', '18593156')
INSERTING  ('15676', 'tt0483756', 'Nobel Son', '2007-04-28 00:00:00', '6.3', '45', '', '110', 'Comedy, Crime, Drama, Thriller', '333912')
INSERTING  ('13056', 'tt0450314', 'Punisher: War Zone', '2008-12-05 00:00:00', '5.7', '567', '', '102', 'Action, Crime', '10089373')
INSERTING  ('8055', 'tt0976051', 'The Reader', '2008-12-10 00:00:00', '7.4', '1581', '', '124', 'Drama, Romance', '113019290')
INSERTING  ('8942', 'tt1152850', 'Wendy and Lucy', '2008-05-22 00:00:00', '6.6', '121', '', '80', 'Drama', '0')
INSERTING  ('13058', 'tt1126596', 'Adulthood', '2008-06-16 00:00:00', '6.0', '73', '', '99', 'Crime, Drama', '0')
INSERTING  ('8881', 'tt0892255', 'Che: Part One', '2008-09-05 00:00:00', '6.8', '379', '', '134', 'Drama, History, War', '0')
INSERTING  ('19392', 'tt0772165', 'Dark Streets', '2008-12-12 00:00:00', '3.0', '3', '', '83', 'Drama', '0')
INSERTING  ('828', 'tt0043456', 'The Day the Earth Stood Still', '1951-09-17 00:00:00', '7.5', '517', '', '92', 'Drama, Science Fiction, Thriller', '0')
INSERTING  ('20542', 'tt0361500', 'Delgo', '2008-12-12 00:00:00', '5.4', '27', '', '94', 'Adventure, Fantasy, Animation, Comedy, Science Fiction, Family', '0')
INSERTING  ('14359', 'tt0918927', 'Doubt', '2008-11-27 00:00:00', '7.2', '912', '', '104', 'Drama, Mystery', '50907234')
INSERTING  ('13223', 'tt1205489', 'Gran Torino', '2008-12-09 00:00:00', '8.0', '6101', '', '116', 'Drama', '269958228')
INSERTING  ('25852', 'tt1151915', 'Nothing Like the Holidays', '2008-12-12 00:00:00', '6.5', '26', '', '98', 'Comedy, Drama, Romance', '0')
INSERTING  ('14139', 'tt0480669', 'Timecrimes', '2007-10-05 00:00:00', '7.0', '558', '', '92', 'Science Fiction, Thriller', '553198')
INSERTING  ('27765', 'tt0756725', 'Where God Left His Shoes', '2008-12-12 00:00:00', '6.7', '13', '', '96', 'Drama', '0')
INSERTING  ('15749', 'tt0887971', 'While She Was Out', '2008-10-27 00:00:00', '4.9', '64', '', '108', 'Action, Adventure, Drama, Horror, Thriller', '391410')
INSERTING  ('12163', 'tt1125849', 'The Wrestler', '2008-09-07 00:00:00', '7.5', '1936', '', '109', 'Drama, Romance', '44703995')
INSERTING  ('14637', 'tt1073241', 'Nothing But the Truth', '2008-12-19 00:00:00', '7.0', '232', '', '108', 'Drama, Thriller', '186702')
INSERTING  ('11321', 'tt0814314', 'Seven Pounds', '2008-12-18 00:00:00', '7.6', '4025', '', '123', 'Drama', '168167691')
INSERTING  ('10199', 'tt0420238', 'The Tale of Despereaux', '2008-12-19 00:00:00', '5.8', '499', '', '93', 'Adventure, Animation, Family', '86900000')

INSERTING  ('10201', 'tt1068680', 'Yes Man', '2008-12-09 00:00:00', '6.5', '3674', '', '104', 'Comedy', '225990978')
INSERTING  ('10202', 'tt0960731', 'Bedtime Stories', '2008-12-24 00:00:00', '6.0', '1753', '', '99', 'Fantasy, Comedy, Family, Romance', '212874442')
INSERTING  ('4922', 'tt0421715', 'The Curious Case of Benjamin Button', '2008-12-25 00:00:00', '7.5', '7047', '', '166', 'Fantasy, Drama, Thriller, Mystery, Romance', '333932083')
INSERTING  ('16409', 'tt1046947', 'Last Chance Harvey', '2008-12-25 00:00:00', '6.2', '131', '', '92', 'Drama, Comedy, Romance', '14879423')
INSERTING  ('14306', 'tt0822832', 'Marley & Me', '2008-12-25 00:00:00', '7.2', '2855', '', '115', 'Comedy, Family', '242717113')
INSERTING  ('8285', 'tt0831887', 'The Spirit', '2008-12-25 00:00:00', '4.8', '566', '', '103', 'Action, Comedy, Thriller, Crime, Science Fiction', '39031337')
INSERTING  ('2253', 'tt0985699', 'Valkyrie', '2008-12-25 00:00:00', '6.8', '2023', '', '121', 'Drama, Thriller, History, War', '200276000')
INSERTING  ('8885', 'tt1185616', 'Waltz with Bashir', '2008-06-25 00:00:00', '7.9', '517', '', '90', 'Drama, Animation, War, Documentary', '11125849')
INSERTING  ('4148', 'tt0959337', 'Revolutionary Road', '2008-12-19 00:00:00', '6.9', '1921', '', '119', 'Drama, Romance', '75225693')
INSERTING  ('13813', 'tt1034303', 'Defiance', '2008-12-31 00:00:00', '6.8', '970', '', '137', 'Action, Drama, History, War', '51155219')
INSERTING  ('10521', 'tt0901476', 'Bride Wars', '2009-01-09 00:00:00', '6.1', '1809', '', '89', 'Comedy, Romance', '114663461')
INSERTING  ('14834', 'tt0795438', 'Not Easily Broken', '2009-01-09 00:00:00', '6.3', '17', '', '99', 'Drama, Romance', '0')
INSERTING  ('13788', 'tt1139668', 'The Unborn', '2009-01-09 00:00:00', '5.0', '748', '', '87', 'Horror, Thriller, Mystery', '76514050')
INSERTING  ('20002', 'tt1091229', 'Chandni Chowk to China', '2009-01-16 00:00:00', '4.6', '37', '', '154', 'Action, Comedy', '17000000')
INSERTING  ('6461', 'tt0910559', 'Cherry Blossoms', '2008-03-05 00:00:00', '7.7', '43', '', '127', 'Drama, Romance', '0')
INSERTING  ('15189', 'tt0785006', 'Hotel for Dogs', '2009-01-16 00:00:00', '5.9', '486', '', '100', 'Comedy, Family', '117000198')
INSERTING  ('14435', 'tt1179891', 'My Bloody Valentine', '2009-01-16 00:00:00', '5.4', '585', '', '101', 'Mystery, Horror', '102836002')
INSERTING  ('14410', 'tt0472198', 'Notorious', '2009-01-16 00:00:00', '6.8', '308', '', '122', 'Drama, Music', '43051547')
INSERTING  ('14560', 'tt1114740', 'Paul Blart: Mall Cop', '2009-01-15 00:00:00', '5.3', '1424', '', '91', 'Action, Adventure, Comedy, Family', '183293131')
INSERTING  ('155', 'tt0468569', 'The Dark Knight', '2008-07-16 00:00:00', '8.4', '19689', '', '152', 'Drama, Action, Crime, Thriller', '1004558444')
Duplicate! Did not add to database.
INSERTING  ('13429', 'tt0988849', 'Donkey Punch', '2008-07-18 00:00:00', '4.6', '72', '', '99', 'Horror, Drama, Thriller, Crime', '0')
INSERTING  ('24869', 'tt1071804', 'Ink', '2009-01-23 00:00:00', '6.6', '166', '', '106', 'Action, Fantasy', '0')
INSERTING  ('2309', 'tt0494238', 'Inkheart', '2008-12-11 00:00:00', '6.2', '1265', '', '106', 'Adventure, Family, Fantasy', '57490374')
INSERTING  ('16164', 'tt0443559', 'Killshot', '2008-11-13 00:00:00', '5.8', '132', '', '95', 'Crime, Drama, Thriller', '2960993')
INSERTING  ('21484', 'tt0082933', 'Possession', '1981-05-27 00:00:00', '7.4', '337', '', '123', 'Drama, Horror, Mystery', '0')
INSERTING  ('10529', 'tt0462465', 'Outlander', '2008-04-24 00:00:00', '6.1', '593', '', '115', 'Fantasy, Action, Science Fiction', '7033683')
INSERTING  ('12437', 'tt0834001', 'Underworld: Rise of the Lycans', '2009-01-22 00:00:00', '6.4', '2235', '', '92', 'Fantasy, Action, Adventure, Science Fiction, Thriller', '91353501')
INSERTING  ('28205', 'tt0988108', 'The Class', '2007-03-16 00:00:00', '7.3', '98', '', '99', 'Drama', '0')
INSERTING  ('16344', 'tt0886539', 'Luck by Chance', '2009-01-30 00:00:00', '6.6', '25', '', '155', 'Romance, Drama, Comedy', '3000000')
INSERTING  ('14536', 'tt1095174', 'New in Town', '2009-01-30 00:00:00', '5.6', '223', '', '97', 'Comedy, Romance', '29010817')
INSERTING  ('8681', 'tt0936501', 'Taken', '2008-02-18 00:00:00', '7.3', '7086', '', '94', 'Action, Thriller', '226830568')
INSERTING  ('14254', 'tt0815245', 'The Uninvited', '2009-01-30 00:00:00', '6.4', '791', '', '87', 'Drama, Horror, Mystery, Thriller', '41624046')
INSERTING  ('14836', 'tt0327597', 'Coraline', '2009-02-05 00:00:00', '7.6', '3277', '', '100', 'Animation, Family', '124596398')
INSERTING  ('13532', 'tt0489049', 'Fanboys', '2009-02-06 00:00:00', '6.2', '465', '', '90', 'Adventure, Comedy', '948753')
INSERTING  ('10184', 'tt1001508', "He's Just Not That Into You", '2009-02-06 00:00:00', '6.4', '2070', '', '129', 'Comedy, Romance, Drama', '177259441')
INSERTING  ('15705', 'tt0984200', 'Incendiary', '2008-01-20 00:00:00', '5.5', '98', '', '113', 'Drama, Thriller, Romance', '0')
INSERTING  ('15159', 'tt0838232', 'The Pink Panther 2', '2009-02-06 00:00:00', '5.7', '604', '', '92', 'Comedy, Mystery', '75871032')
INSERTING  ('13455', 'tt0465580', 'Push', '2009-02-04 00:00:00', '6.0', '1259', '', '111', 'Science Fiction, Action', '45465299')
INSERTING  ('447138', '', 'Bob The Builder: Adventures in Bobland Bay', '2009-01-01 00:00:00', '0.0', '0', '', '61', 'Animation, Family', '0')
INSERTING  ('20048', 'tt1093908', 'Confessions of a Shopaholic', '2009-02-05 00:00:00', '6.3', '1723', '', '104', 'Comedy, Romance', '108332743')
INSERTING  ('4488', 'tt0080761', 'Friday the 13th', '1980-05-09 00:00:00', '6.3', '1333', '', '95', 'Horror', '59754601')
INSERTING  ('8882', 'tt0929425', 'Gomorrah', '2008-05-16 00:00:00', '6.9', '576', '', '135', 'Drama, Crime', '0')
INSERTING  ('4959', 'tt0963178', 'The International', '2009-02-03 00:00:00', '6.1', '618', '', '118', 'Thriller, Crime', '60161391')
INSERTING  ('18032', 'tt0396707', 'The Secret of Moonacre', '2008-09-06 00:00:00', '6.2', '236', '', '103', 'Adventure, Fantasy, Drama, Science Fiction, Romance, Family', '7070330')
INSERTING  ('10362', 'tt1103275', 'Two Lovers', '2008-11-19 00:00:00', '6.7', '301', '', '110', 'Drama, Romance', '3148182')
INSERTING  ('36123', 'tt1020876', 'Under the Sea 3D', '2009-02-13 00:00:00', '7.2', '31', '', '41', 'Documentary', '0')
INSERTING  ('16345', 'tt1230448', 'Billu', '2009-02-13 00:00:00', '6.3', '49', '', '137', 'Comedy, Drama', '10000000')
INSERTING  ('20027', 'tt1043451', 'Delhi-6', '2009-02-20 00:00:00', '5.7', '28', '', '138', 'Action, Drama', '8250000')
INSERTING  ('17927', 'tt1083456', 'Fired Up!', '2009-02-20 00:00:00', '6.0', '322', '', '90', 'Comedy', '18599102')
INSERTING  ('15670', 'tt1142800', 'Madea Goes to Jail', '2009-02-16 00:00:00', '6.5', '82', '', '103', 'Comedy, Crime, Drama', '90508336')
INSERTING  ('20263', 'tt0899138', 'An American Affair', '2008-11-27 00:00:00', '6.4', '15', '', '93', 'Drama', '0')
INSERTING  ('15577', 'tt0924129', 'Crossing Over', '2009-02-10 00:00:00', '6.3', '178', '', '113', 'Crime, Drama', '1037335')
INSERTING  ('16325', 'tt1124039', 'Echelon Conspiracy', '2009-02-27 00:00:00', '5.5', '168', '', '105', 'Action, Thriller', '2186782')
INSERTING  ('15472', 'tt1132620', 'The Girl with the Dragon Tattoo', '2009-02-27 00:00:00', '7.5', '1664', '', '152', 'Drama, Thriller, Crime, Mystery', '109421911')
INSERTING  ('45708', 'tt1124388', 'Play the Game', '2009-08-29 00:00:00', '5.7', '16', '', '105', 'Comedy, Romance', '0')
INSERTING  ('15268', 'tt0891592', 'Street Fighter: The Legend of Chun-Li', '2009-02-27 00:00:00', '4.1', '214', '', '97', 'Action, Adventure, Science Fiction, Thriller', '12764201')
INSERTING  ('17134', 'tt1160368', '12 Rounds', '2009-03-19 00:00:00', '5.7', '385', '', '108', 'Action, Thriller, Crime', '17280326')
INSERTING  ('18476', 'tt0892767', 'Horsemen', '2009-02-06 00:00:00', '5.7', '216', '', '90', 'Crime, Drama, Horror, Mystery, Thriller', '1017401')
INSERTING  ('19079', 'tt1034325', 'Phoebe in Wonderland', '2008-02-07 00:00:00', '7.3', '79', '', '100', 'Drama', '73')
INSERTING  ('630170', 'tt1490005', 'Human Comedy in Tokyo', '2008-10-11 00:00:00', '0.0', '0', '', '140', 'Drama', '0')
INSERTING  ('13183', 'tt0409459', 'Watchmen', '2009-03-05 00:00:00', '7.3', '5200', '', '163', 'Action, Mystery, Science Fiction', '185258983')

INSERTING  ('16418', 'tt1398940', 'Barbie Presents: Thumbelina', '2009-02-24 00:00:00', '5.9', '236', '', '75', 'Animation, Family', '0')
INSERTING  ('28858', 'tt1239427', 'Brothers at War', '2009-03-13 00:00:00', '6.0', '2', '', '110', 'Documentary, History', '0')
INSERTING  ('16071', 'tt0418586', 'The Cake Eaters', '2007-04-29 00:00:00', '5.5', '65', '', '86', 'Drama, Romance', '0')
INSERTING  ('18405', 'tt0844708', 'The Last House on the Left', '2009-03-13 00:00:00', '6.3', '843', '', '110', 'Crime, Thriller, Horror, Drama', '32721635')
INSERTING  ('19556', 'tt1151922', 'Miss March', '2009-03-13 00:00:00', '5.3', '161', '', '89', 'Comedy, Romance', '0')
INSERTING  ('19206', 'tt0435716', 'The Perfect Sleep', '2009-03-13 00:00:00', '3.5', '10', '', '99', 'Action, Adventure, Drama, Thriller', '0')
INSERTING  ('13836', 'tt1075417', 'Race to Witch Mountain', '2009-03-12 00:00:00', '5.6', '921', '', '98', 'Adventure, Family, Fantasy, Science Fiction, Thriller, Action', '106303988')
INSERTING  ('54901', 'tt1062965', 'Severed Ways: The Norse Discovery of America', '2009-03-13 00:00:00', '3.1', '4', '', '107', 'Drama, Adventure', '0')
INSERTING  ('13090', 'tt0862846', 'Sunshine Cleaning', '2008-01-18 00:00:00', '6.6', '421', '', '102', 'Comedy, Drama', '16174377')
INSERTING  ('16558', 'tt1135487', 'Duplicity', '2009-03-19 00:00:00', '5.9', '371', '', '125', 'Romance, Comedy, Crime', '60000000')
INSERTING  ('16538', 'tt1155056', 'I Love You, Man', '2009-03-20 00:00:00', '6.5', '942', '', '105', 'Comedy', '91636986')
INSERTING  ('13811', 'tt0448011', 'Knowing', '2009-03-19 00:00:00', '6.0', '2873', '', '121', 'Action, Adventure, Drama, Mystery, Science Fiction, Thriller', '155446362')
INSERTING  ('56948', 'tt1003023', 'Máncora', '2008-09-02 00:00:00', '6.1', '8', '', '100', 'Drama, Romance', '0')
INSERTING  ('21191', 'tt1127715', 'Sin Nombre', '2009-03-20 00:00:00', '7.4', '231', '', '96', 'Drama, Action, Thriller, Crime', '5101756')
INSERTING  ('20177', 'tt1161064', 'Super Capers', '2009-03-20 00:00:00', '2.4', '5', '', '98', 'Adventure, Action, Comedy, Science Fiction, Fantasy', '0')
INSERTING  ('17134', 'tt1160368', '12 Rounds', '2009-03-19 00:00:00', '5.7', '385', '', '108', 'Action, Thriller, Crime', '17280326')
Duplicate! Did not add to database.
INSERTING  ('212988', 'tt1385869', 'The Cross: The Arthur Blessitt Story', '2009-03-27 00:00:00', '0.0', '0', '', '90', 'Documentary', '0')
INSERTING  ('18781', 'tt0492044', 'The Haunting in Connecticut', '2009-03-27 00:00:00', '6.1', '585', '', '102', 'Thriller, Horror', '77527732')
INSERTING  ('15512', 'tt0892782', 'Monsters vs Aliens', '2009-03-19 00:00:00', '6.1', '2730', '', '94', 'Animation, Family, Adventure, Science Fiction', '381509870')
INSERTING  ('16614', 'tt1091722', 'Adventureland', '2009-04-03 00:00:00', '6.4', '1329', '', '107', 'Comedy', '17164377')
INSERTING  ('16634', 'tt1122836', 'Alien Trespass', '2009-04-03 00:00:00', '5.5', '38', '', '90', 'Action, Adventure, Comedy, Science Fiction', '0')
INSERTING  ('177096', 'tt1314645', 'C Me Dance', '2009-04-09 00:00:00', '1.0', '2', '', '89', '', '0')
INSERTING  ('14851', 'tt0961728', 'The Escapist', '2008-06-20 00:00:00', '6.3', '129', '', '102', 'Action, Thriller', '0')
INSERTING  ('13804', 'tt1013752', 'Fast & Furious', '2009-04-02 00:00:00', '6.6', '4079', '', '107', 'Action, Crime, Drama, Thriller', '363164265')
INSERTING  ('573334', 'tt1584914', 'A Night at the Movies: The Gigantic World of Epics', '2009-12-20 00:00:00', '0.0', '0', '', '58', 'Documentary', '0')
INSERTING  ('15457', 'tt0948535', 'Paris 36', '2008-09-24 00:00:00', '6.2', '69', '', '120', 'Drama', '850575')
INSERTING  ('54254', 'tt0997246', 'The Song of Sparrows', '2008-10-01 00:00:00', '7.2', '29', '', '96', 'Drama', '115605')
INSERTING  ('29850', 'tt0070746', 'Sugar Cookies', '1973-01-31 00:00:00', '5.5', '5', '', '89', 'Drama', '0')
INSERTING  ('32709', '', 'Super Why Jack And The Beanstalk', '2009-07-28 00:00:00', '0.0', '0', '', '', 'Animation', '0')
INSERTING  ('22152', 'tt0363780', 'Lymelife', '2008-09-08 00:00:00', '6.3', '72', '', '95', 'Comedy, Drama', '0')
INSERTING  ('14164', 'tt1098327', 'Dragonball Evolution', '2009-03-12 00:00:00', '2.5', '1045', '', '85', 'Action, Adventure, Fantasy, Science Fiction, Thriller', '57497699')
INSERTING  ('18126', 'tt1114677', 'Hannah Montana: The Movie', '2009-04-10 00:00:00', '6.3', '1147', '', '102', 'Comedy, Drama, Family, Music, Romance', '155545279')
INSERTING  ('67985', 'tt1185251', 'In a Dream', '2009-09-29 00:00:00', '5.5', '4', '', '80', 'Documentary', '0')
INSERTING  ('16991', 'tt1197628', 'Observe and Report', '2009-04-10 00:00:00', '5.5', '362', '', '87', 'Comedy, Crime, Drama', '24007324')
INSERTING  ('16996', 'tt0974661', '17 Again', '2009-03-11 00:00:00', '6.2', '3116', '', '102', 'Comedy', '136267476')
INSERTING  ('21179', 'tt1152397', 'American Violet', '2008-08-28 00:00:00', '6.9', '15', '', '103', 'Drama', '0')
INSERTING  ('15092', 'tt1121931', 'Crank: High Voltage', '2009-04-16 00:00:00', '5.9', '1496', '', '96', 'Action, Thriller, Crime', '34560577')
INSERTING  ('23997', 'tt0977648', 'Every Little Step', '2008-09-06 00:00:00', '5.9', '9', '', '96', 'Documentary, Music', '0')
INSERTING  ('21293', 'tt1132588', 'Gooby', '2009-04-17 00:00:00', '3.3', '14', '', '99', 'Family', '0')
INSERTING  ('22447', 'tt1130088', 'Is Anybody There?', '2009-04-17 00:00:00', '6.1', '32', '', '95', 'Drama', '0')
INSERTING  ('16995', 'tt0473705', 'State of Play', '2009-04-17 00:00:00', '6.8', '889', '', '127', 'Thriller, Drama', '87784194')
INSERTING  ('10946', 'tt0393597', 'Earth', '2007-04-22 00:00:00', '7.5', '213', '', '90', 'Documentary', '109000000')
INSERTING  ('25695', 'tt1143155', 'Treeless Mountain', '2009-08-27 00:00:00', '6.7', '14', '', '89', 'Drama', '0')
INSERTING  ('17336', 'tt1082601', 'Fighting', '2009-04-24 00:00:00', '5.6', '358', '', '105', 'Action, Adventure, Crime, Drama, Thriller', '32474120')
INSERTING  ('22494', 'tt0910554', 'Frequently Asked Questions About Time Travel', '2009-04-24 00:00:00', '7.0', '297', '', '83', 'Drama, Comedy, Science Fiction, Romance', '0')
INSERTING  ('17436', 'tt0865554', 'The Informers', '2008-11-05 00:00:00', '4.6', '110', '', '98', 'Drama', '382174')
INSERTING  ('13256', 'tt0490181', 'Mutant Chronicles', '2008-08-07 00:00:00', '5.0', '232', '', '111', 'Action, Adventure, Horror, Science Fiction', '2033165')
INSERTING  ('17335', 'tt1198138', 'Obsessed', '2009-04-24 00:00:00', '5.6', '326', '', '108', 'Drama, Thriller', '73830340')
INSERTING  ('17332', 'tt0821642', 'The Soloist', '2009-04-24 00:00:00', '6.7', '427', '', '109', 'Drama, Music', '31720158')
INSERTING  ('8940', 'tt1032821', 'Tyson', '2008-05-16 00:00:00', '6.9', '54', '', '90', 'Documentary, Drama', '0')
INSERTING  ('16873', 'tt0858486', 'Battle for Terra', '2007-09-06 00:00:00', '6.1', '158', '', '85', 'Action, Adventure, Animation, Science Fiction', '6101046')
INSERTING  ('12556', 'tt0821640', 'Ghosts of Girlfriends Past', '2009-05-01 00:00:00', '5.8', '1364', '', '100', 'Fantasy, Comedy, Romance', '102223269')
INSERTING  ('8284', 'tt1135092', 'The Limits of Control', '2009-05-01 00:00:00', '6.3', '121', '', '116', 'Crime, Drama, Thriller, Mystery', '0')
INSERTING  ('15451', 'tt1173745', 'Revanche', '2008-05-16 00:00:00', '7.5', '87', '', '121', 'Crime, Drama, Romance', '0')
INSERTING  ('24116', 'tt0493451', 'The Skeptic', '2009-05-01 00:00:00', '5.3', '42', '', '89', 'Horror, Thriller', '0')
INSERTING  ('2080', 'tt0458525', 'X-Men Origins: Wolverine', '2009-04-28 00:00:00', '6.2', '6770', '', '107', 'Adventure, Action, Thriller, Science Fiction', '373062864')
INSERTING  ('8895', 'tt1074929', 'Adoration', '2008-01-01 00:00:00', '6.4', '23', '', '100', 'Drama', '0')
INSERTING  ('7353', 'tt0961108', 'Fireflies in the Garden', '2008-02-10 00:00:00', '6.3', '101', '', '108', 'Drama', '0')
INSERTING  ('24803', 'tt1135503', 'Julie & Julia', '2009-08-06 00:00:00', '6.6', '1185', '', '123', 'Romance, Drama', '129540499')
INSERTING  ('31299', 'tt1104083', 'Little Ashes', '2008-10-06 00:00:00', '6.1', '67', '', '112', 'Drama, Romance', '767567')
INSERTING  ('16004', 'tt1028581', "Love n' Dancing", '2009-04-02 00:00:00', '5.6', '20', '', '93', 'Romance, Drama', '0')

INSERTING  ('18065', 'tt1097013', 'Next Day Air', '2009-02-06 00:00:00', '5.2', '54', '', '84', 'Action, Comedy, Crime', '0')
INSERTING  ('30312', 'tt1049400', 'Outrage', '2009-01-01 00:00:00', '7.4', '15', '', '90', 'Documentary', '0')
INSERTING  ('17740', 'tt1032819', 'Powder Blue', '2009-05-08 00:00:00', '6.2', '107', '', '106', 'Drama', '0')
INSERTING  ('13475', 'tt0796366', 'Star Trek', '2009-05-06 00:00:00', '7.4', '6609', '', '127', 'Science Fiction, Action, Adventure', '385680446')
INSERTING  ('13448', 'tt0808151', 'Angels & Demons', '2009-05-13 00:00:00', '6.6', '4104', '', '138', 'Thriller, Mystery', '356613439')
INSERTING  ('21755', 'tt0844286', 'The Brothers Bloom', '2008-09-09 00:00:00', '6.7', '332', '', '114', 'Adventure, Comedy, Drama, Romance', '5530764')
INSERTING  ('12161', 'tt1224153', 'Jerichow', '2008-08-28 00:00:00', '6.2', '14', '', '93', 'Drama', '0')
INSERTING  ('21583', 'tt1082853', 'Management', '2009-02-08 00:00:00', '5.4', '177', '', '94', 'Comedy, Drama, Romance', '2434658')
INSERTING  ('22135', 'tt1127221', 'Not Forgotten', '2009-09-11 00:00:00', '5.0', '41', '', '100', 'Thriller', '0')
INSERTING  ('26032', 'tt1305714', 'Make the Yuletide Gay', '2009-11-01 00:00:00', '6.2', '46', '', '89', 'Drama, Comedy, Romance', '0')
INSERTING  ('38810', 'tt1379182', 'Dogtooth', '2009-06-01 00:00:00', '7.2', '813', '', '98', 'Drama', '110197')
INSERTING  ('534', 'tt0438488', 'Terminator Salvation', '2009-05-20 00:00:00', '5.9', '3863', '', '115', 'Action, Science Fiction, Thriller', '371353001')
INSERTING  ('21724', 'tt1153706', 'Dance Flick', '2009-05-22 00:00:00', '4.6', '134', '', '83', 'Action, Comedy, Music', '32')
INSERTING  ('16899', 'tt0808244', 'Easy Virtue', '2008-01-01 00:00:00', '6.3', '211', '', '93', 'Comedy, Romance', '0')
INSERTING  ('17680', 'tt1103982', 'The Girlfriend Experience', '2009-05-22 00:00:00', '5.2', '141', '', '77', 'Comedy, Drama', '1007962')
INSERTING  ('8054', 'tt1054606', 'The Imaginarium of Doctor Parnassus', '2009-10-01 00:00:00', '6.3', '1684', '', '123', 'Adventure, Fantasy, Mystery', '64352607')
INSERTING  ('18360', 'tt1078912', 'Night at the Museum: Battle of the Smithsonian', '2009-05-20 00:00:00', '6.0', '4252', '', '105', 'Adventure, Fantasy, Action, Comedy, Family', '413106170')
INSERTING  ('23173', 'tt1100053', 'Tormented', '2009-05-22 00:00:00', '5.3', '67', '', '91', 'Horror, Comedy', '0')
INSERTING  ('16804', 'tt1069238', 'Departures', '2008-09-13 00:00:00', '7.9', '329', '', '130', 'Drama', '69932387')
INSERTING  ('16871', 'tt1127180', 'Drag Me to Hell', '2009-03-15 00:00:00', '6.2', '1915', '', '99', 'Horror, Thriller', '90810892')
INSERTING  ('24271', 'tt1107860', 'The Maiden Heist', '2009-05-09 00:00:00', '5.8', '181', '', '91', 'Comedy, Crime', '0')
INSERTING  ('14160', 'tt1049413', 'Up', '2009-05-28 00:00:00', '7.9', '12900', '', '96', 'Animation, Comedy, Family, Adventure', '735099082')
INSERTING  ('19874', 'tt0832318', 'What Goes Up', '2009-05-29 00:00:00', '5.2', '18', '', '104', 'Drama', '0')
INSERTING  ('62635', 'tt1286798', 'Unmistaken Child', '2009-06-07 00:00:00', '5.0', '5', '', '102', 'Documentary', '302000')
INSERTING  ('64104', 'tt1196334', 'After Last Season', '2009-06-05 00:00:00', '3.2', '11', '', '91', 'Drama, Science Fiction, Thriller', '0')
INSERTING  ('19255', 'tt1176740', 'Away We Go', '2009-06-05 00:00:00', '6.8', '313', '', '98', 'Comedy, Drama, Romance', '14899417')
INSERTING  ('18785', 'tt1119646', 'The Hangover', '2009-06-02 00:00:00', '7.3', '10844', '', '100', 'Comedy', '459270619')
INSERTING  ('18162', 'tt0457400', 'Land of the Lost', '2009-06-05 00:00:00', '5.4', '669', '', '102', 'Adventure, Comedy, Science Fiction, Family', '68688831')
INSERTING  ('23049', 'tt0865559', 'My Life in Ruins', '2009-06-05 00:00:00', '5.8', '216', '', '95', 'Comedy, Romance', '20455276')
INSERTING  ('145250', '', 'Demon Hunter - Live In Nashville , Tennessee', '2009-01-27 00:00:00', '0.0', '0', '', '', 'Music', '0')
INSERTING  ('20606', 'tt1023500', 'Doghouse', '2009-06-11 00:00:00', '6.0', '182', '', '89', 'Comedy, Horror', '0')
INSERTING  ('18570', 'tt1286537', 'Food, Inc.', '2008-09-07 00:00:00', '7.4', '338', '', '94', 'Documentary', '0')
INSERTING  ('19724', 'tt0780567', 'Imagine That', '2009-06-19 00:00:00', '5.8', '271', '', '107', 'Comedy, Family', '0')
INSERTING  ('17431', 'tt1182345', 'Moon', '2009-06-12 00:00:00', '7.6', '3227', '', '97', 'Science Fiction, Drama', '9760104')
INSERTING  ('40855', 'tt1183697', 'Sex Positive', '2009-06-12 00:00:00', '7.0', '2', '', '75', 'Documentary', '0')
INSERTING  ('18487', 'tt1111422', 'The Taking of Pelham 1 2 3', '2009-06-11 00:00:00', '6.2', '1723', '', '106', 'Thriller, Crime, Action', '150166126')
INSERTING  ('19311', 'tt0790799', '$9.99', '2008-09-04 00:00:00', '6.3', '50', '', '78', 'Animation, Drama', '0')
INSERTING  ('14451', 'tt1278340', 'Dead Snow', '2009-01-09 00:00:00', '6.0', '553', '', '91', 'Horror, Comedy', '1984662')
INSERTING  ('18240', 'tt1041829', 'The Proposal', '2009-06-01 00:00:00', '6.9', '3636', '', '108', 'Comedy, Romance, Drama', '317375031')
INSERTING  ('19265', 'tt1178663', 'Whatever Works', '2009-06-19 00:00:00', '7.1', '864', '', '92', 'Comedy, Romance', '35097815')
INSERTING  ('17610', 'tt1045778', 'Year One', '2009-06-18 00:00:00', '4.8', '1002', '', '97', 'Comedy, Adventure', '62357900')
INSERTING  ('8373', 'tt1055369', 'Transformers: Revenge of the Fallen', '2009-06-19 00:00:00', '6.0', '5167', '', '150', 'Science Fiction, Action, Adventure', '836297228')
INSERTING  ('22215', 'tt1179258', 'Cheri', '2009-02-10 00:00:00', '6.1', '96', '', '86', 'Drama, Comedy, Romance', '9366227')
INSERTING  ('12162', 'tt0887912', 'The Hurt Locker', '2008-10-10 00:00:00', '7.3', '3194', '', '131', 'Drama, Thriller, War', '42000000')
INSERTING  ('10024', 'tt1078588', "My Sister's Keeper", '2009-06-26 00:00:00', '7.3', '1206', '', '109', 'Drama', '95714875')
INSERTING  ('606859', '', 'Essay for a Surveillance Video', '2009-01-01 00:00:00', '0.0', '0', '', '5', '', '0')
INSERTING  ('8355', 'tt1080016', 'Ice Age: Dawn of the Dinosaurs', '2009-06-29 00:00:00', '6.6', '4821', '', '94', 'Animation, Comedy, Family, Adventure', '886686817')
INSERTING  ('15342', 'tt1139800', 'The Girl from Monaco', '2008-08-20 00:00:00', '5.0', '57', '', '95', 'Comedy, Drama', '0')
INSERTING  ('20825', 'tt0762105', "I Hate Valentine's Day", '2009-06-27 00:00:00', '5.4', '178', '', '98', 'Comedy, Romance', '0')
INSERTING  ('11322', 'tt1152836', 'Public Enemies', '2009-07-01 00:00:00', '6.6', '2410', '', '140', 'Crime, Drama, History', '214104620')
INSERTING  ('1450', 'tt0806027', 'Blood: The Last Vampire', '2009-04-02 00:00:00', '5.3', '165', '', '91', 'Action, Adventure, Horror, Science Fiction, Thriller', '0')
INSERTING  ('18480', 'tt0889583', 'Brüno', '2009-07-08 00:00:00', '5.5', '917', '', '83', 'Comedy', '0')
INSERTING  ('23720', 'tt1334537', 'Humpday', '2009-09-16 00:00:00', '5.4', '40', '', '94', 'Comedy', '0')
INSERTING  ('19840', 'tt1032815', 'I Love You, Beth Cooper', '2009-07-10 00:00:00', '5.3', '402', '', '102', 'Comedy, Romance', '15345201')
INSERTING  ('343487', '', 'Jim Henson: His Sesame Street Story', '2009-12-12 00:00:00', '2.0', '1', '', '79', '', '0')
INSERTING  ('19913', 'tt1022603', '(500) Days of Summer', '2009-07-17 00:00:00', '7.2', '5881', '', '95', 'Comedy, Drama, Romance', '60722734')
INSERTING  ('24458', 'tt1300563', 'The Age of Stupid', '2009-09-21 00:00:00', '6.2', '31', '', '92', 'War, Documentary, History', '0')
INSERTING  ('30302', 'tt1079980', 'Death in Love', '2008-07-17 00:00:00', '5.3', '10', '', '97', 'Drama, Romance, War', '0')
INSERTING  ('767', 'tt0417741', 'Harry Potter and the Half-Blood Prince', '2009-07-07 00:00:00', '7.6', '11080', '', '153', 'Adventure, Fantasy, Family', '933959197')
INSERTING  ('22681', 'tt1135500', 'Homecoming', '2009-07-17 00:00:00', '5.3', '77', '', '88', 'Horror, Thriller', '0')
INSERTING  ('20407', 'tt1187041', 'The Answer Man', '2009-01-18 00:00:00', '6.4', '53', '', '95', 'Comedy, Romance', '0')
INSERTING  ('253835', 'tt1538503', 'Los Bandoleros', '2009-07-28 00:00:00', '5.7', '99', '', '20', 'Action, Drama', '0')
INSERTING  ('19585', 'tt0436339', 'G-Force', '2009-07-21 00:00:00', '5.2', '974', '', '88', 'Fantasy, Action, Adventure, Family, Comedy', '292817841')

INSERTING  ('19833', 'tt1226774', 'In the Loop', '2009-01-22 00:00:00', '7.1', '316', '', '106', 'Comedy', '6149791')
INSERTING  ('21208', 'tt1148204', 'Orphan', '2009-07-24 00:00:00', '6.8', '2656', '', '123', 'Horror, Thriller, Mystery', '41596251')
INSERTING  ('22640', 'tt1247692', 'Shrink', '2009-06-08 00:00:00', '6.2', '103', '', '104', 'Comedy, Drama', '0')
INSERTING  ('20943', 'tt1142988', 'The Ugly Truth', '2009-07-24 00:00:00', '6.5', '2104', '', '96', 'Comedy, Romance', '205298907')
INSERTING  ('22051', 'tt1185836', 'Adam', '2009-07-07 00:00:00', '6.8', '245', '', '99', 'Drama, Romance', '2277396')
INSERTING  ('20856', 'tt0775552', 'Aliens in the Attic', '2009-07-31 00:00:00', '5.5', '556', '', '86', 'Adventure, Comedy, Family, Fantasy, Science Fiction', '57881056')
INSERTING  ('21407', 'tt0844479', 'The Collector', '2009-07-09 00:00:00', '6.3', '655', '', '88', 'Horror, Thriller', '114000000')
INSERTING  ('23128', 'tt1313104', 'The Cove', '2009-07-31 00:00:00', '8.1', '347', '', '92', 'Documentary', '1162422')
INSERTING  ('20829', 'tt1201167', 'Funny People', '2009-07-31 00:00:00', '5.7', '691', '', '146', 'Comedy, Drama', '61458982')
INSERTING  ('22536', 'tt0762073', 'Thirst', '2009-04-30 00:00:00', '7.1', '348', '', '133', 'Drama, Horror, Thriller', '0')
INSERTING  ('30250', 'tt1127877', 'Cold Souls', '2009-08-07 00:00:00', '6.2', '68', '', '101', 'Comedy, Drama, Fantasy, Science Fiction', '0')
INSERTING  ('14869', 'tt1046173', 'G.I. Joe: The Rise of Cobra', '2009-08-04 00:00:00', '5.7', '2956', '', '118', 'Adventure, Action, Thriller, Science Fiction', '302469017')
INSERTING  ('24803', 'tt1135503', 'Julie & Julia', '2009-08-06 00:00:00', '6.6', '1185', '', '123', 'Romance, Drama', '129540499')
Duplicate! Did not add to database.
INSERTING  ('25183', 'tt1331064', 'Paper Heart', '2009-07-31 00:00:00', '5.7', '60', '', '88', 'Comedy, Drama, Romance', '1296971')
INSERTING  ('12403', 'tt0971209', 'A Perfect Getaway', '2009-06-08 00:00:00', '6.3', '667', '', '98', 'Thriller, Mystery, Adventure', '22852638')
INSERTING  ('23367', 'tt0976222', 'Bandslam', '2009-08-06 00:00:00', '5.6', '269', '', '111', 'Comedy, Drama, Family, Music, Romance', '12225023')
INSERTING  ('17654', 'tt1136608', 'District 9', '2009-08-05 00:00:00', '7.3', '5702', '', '112', 'Science Fiction', '210819611')
INSERTING  ('62106', 'tt1230130', 'Earth Days', '2009-08-14 00:00:00', '5.0', '1', '', '90', 'Documentary', '0')
INSERTING  ('19905', 'tt1092633', 'The Goods: Live Hard, Sell Hard', '2009-05-29 00:00:00', '5.4', '105', '', '90', 'Comedy', '0')
INSERTING  ('21398', 'tt1220213', 'Grace', '2009-08-14 00:00:00', '5.1', '69', '', '84', 'Horror, Thriller', '0')
INSERTING  ('22492', 'tt1229360', 'It Might Get Loud', '2008-09-05 00:00:00', '7.3', '92', '', '97', 'Documentary, Music', '1896244')
INSERTING  ('12429', 'tt0876563', 'Ponyo', '2008-07-19 00:00:00', '7.6', '1832', '', '100', 'Animation, Family', '202404009')
INSERTING  ('19918', 'tt1186370', 'Spread', '2009-01-16 00:00:00', '5.3', '488', '', '97', 'Comedy, Romance', '12032983')
INSERTING  ('24420', 'tt0452694', "The Time Traveler's Wife", '2009-08-14 00:00:00', '6.9', '1441', '', '108', 'Drama, Romance, Fantasy', '101229792')
INSERTING  ('36432', 'tt1333631', 'Art & Copy', '2009-08-21 00:00:00', '7.1', '21', '', '89', 'Documentary', '0')
INSERTING  ('16759', 'tt1238291', 'Five Minutes of Heaven', '2009-01-19 00:00:00', '6.3', '89', '', '89', 'Crime, Drama, Thriller', '0')
INSERTING  ('16869', 'tt0361748', 'Inglourious Basterds', '2009-08-18 00:00:00', '8.1', '12740', '', '153', 'Drama, Action, Thriller, War', '319131050')
INSERTING  ('25154', 'tt0913413', 'The Marc Pease Experience', '2009-08-21 00:00:00', '4.6', '35', '', '84', 'Comedy, Drama', '0')
INSERTING  ('26820', 'tt1185431', 'My One and Only', '2009-08-21 00:00:00', '6.4', '72', '', '108', 'Comedy, Drama', '2479538')
INSERTING  ('25704', 'tt1142433', 'Post Grad', '2009-08-21 00:00:00', '5.0', '168', '', '89', 'Comedy, Drama', '6414729')
INSERTING  ('20178', 'tt1262981', "World's Greatest Dad", '2009-08-20 00:00:00', '6.6', '300', '', '99', 'Comedy, Romance, Drama', '295750')
INSERTING  ('109326', 'tt1440770', 'X Games 3D: The Movie', '2009-08-21 00:00:00', '8.0', '1', '', '92', 'Documentary', '0')
INSERTING  ('29150', 'tt1228953', 'Big Fan', '2009-01-18 00:00:00', '6.2', '66', '', '91', 'Comedy, Drama', '232732')
INSERTING  ('19912', 'tt1144884', 'The Final Destination', '2009-08-26 00:00:00', '5.6', '1705', '', '82', 'Horror, Mystery', '186167139')
INSERTING  ('24150', 'tt1311067', 'Halloween II', '2009-08-28 00:00:00', '5.2', '614', '', '105', 'Horror', '0')
INSERTING  ('38087', 'tt1237838', 'Mystery Team', '2009-08-28 00:00:00', '6.5', '73', '', '97', 'Comedy, Thriller, Mystery', '0')
INSERTING  ('24663', 'tt1007018', 'The Open Road', '2009-02-07 00:00:00', '5.1', '33', '', '90', 'Comedy, Drama, Romance', '0')
INSERTING  ('26320', 'tt1127896', 'Taking Woodstock', '2009-09-03 00:00:00', '6.3', '225', '', '120', 'Music, Comedy, Drama', '0')
INSERTING  ('34015', 'tt0498329', 'We Live in Public', '2009-08-28 00:00:00', '7.2', '25', '', '90', 'Documentary', '0')
INSERTING  ('23706', 'tt0881891', 'All About Steve', '2009-09-04 00:00:00', '4.8', '575', '', '99', 'Comedy', '40105542')
INSERTING  ('57904', 'tt1396209', 'American Casino', '2009-10-18 00:00:00', '0.0', '0', '', '88', 'Documentary', '0')
INSERTING  ('29134', 'tt1190858', 'Amreeka', '2009-01-17 00:00:00', '7.0', '27', '', '96', 'Drama', '0')
INSERTING  ('25769', 'tt0806203', 'Carriers', '2009-09-04 00:00:00', '5.8', '481', '', '84', 'Action, Drama, Horror, Science Fiction, Thriller', '5802422')
INSERTING  ('12569', 'tt1225822', 'Extract', '2009-09-03 00:00:00', '5.7', '308', '', '92', 'Comedy', '10848783')
INSERTING  ('18501', 'tt1034032', 'Gamer', '2009-09-03 00:00:00', '5.6', '1281', '', '95', 'Action, Thriller, Science Fiction', '40828540')
INSERTING  ('12244', 'tt0472033', '9', '2009-08-19 00:00:00', '6.7', '2052', '', '79', 'Action, Adventure, Animation, Science Fiction, Thriller', '48428063')
INSERTING  ('25137', 'tt1183251', 'Beyond a Reasonable Doubt', '2009-02-05 00:00:00', '5.8', '142', '', '105', 'Crime, Drama, Thriller', '4388563')
INSERTING  ('34214', 'tt1326204', 'Crude', '2009-09-09 00:00:00', '5.8', '7', '', '105', 'Documentary', '0')
INSERTING  ('12411', 'tt0445953', 'Disgrace', '2008-09-06 00:00:00', '6.1', '40', '', '120', 'Drama', '0')
INSERTING  ('26367', 'tt1385912', 'I Can Do Bad All By Myself', '2009-09-11 00:00:00', '6.0', '69', '', '113', 'Drama, Comedy', '0')
INSERTING  ('30873', 'tt1280011', 'No Impact Man', '2009-09-04 00:00:00', '6.3', '13', '', '93', 'Documentary', '0')
INSERTING  ('26688', 'tt1232783', 'Sorority Row', '2009-09-09 00:00:00', '5.4', '305', '', '101', 'Horror, Mystery', '27206120')
INSERTING  ('39450', 'tt0892904', 'White on Rice', '2009-05-31 00:00:00', '5.8', '6', '', '83', 'Comedy, Romance', '0')
INSERTING  ('22787', 'tt0365929', 'Whiteout', '2009-09-09 00:00:00', '5.4', '375', '', '101', 'Action, Crime, Mystery, Thriller', '12206028')
INSERTING  ('31011', 'tt0485947', 'Mr. Nobody', '2009-11-06 00:00:00', '7.9', '3485', '', '156', 'Science Fiction, Drama, Romance, Fantasy', '2331721')
INSERTING  ('26191', 'tt1100048', '35 Shots of Rum', '2009-02-18 00:00:00', '6.7', '35', '', '100', 'Drama', '0')
INSERTING  ('52505', 'tt1032825', 'The Other Woman', '2010-10-28 00:00:00', '6.2', '227', '', '98', 'Drama', '102000000')
INSERTING  ('29963', 'tt0810784', 'Bright Star', '2009-11-05 00:00:00', '6.7', '238', '', '119', 'Drama, Romance', '0')
INSERTING  ('12165', 'tt1068641', 'The Burning Plain', '2008-07-11 00:00:00', '6.6', '211', '', '111', 'Drama, Romance', '0')
INSERTING  ('22794', 'tt0844471', 'Cloudy with a Chance of Meatballs', '2009-09-17 00:00:00', '6.5', '3445', '', '90', 'Animation, Comedy, Family', '242988466')
INSERTING  ('34696', 'tt1072437', 'Fuel', '2009-01-01 00:00:00', '4.0', '1', '', '95', 'Drama', '0')
INSERTING  ('11323', 'tt1130080', 'The Informant!', '2009-09-18 00:00:00', '6.1', '493', '', '108', 'Drama, Comedy, Crime', '35424826')
INSERTING  ('19994', 'tt1131734', "Jennifer's Body", '2009-09-18 00:00:00', '5.4', '1763', '', '100', 'Comedy, Horror', '31556061')

INSERTING  ('25643', 'tt0899106', 'Love Happens', '2009-09-18 00:00:00', '5.9', '370', '', '109', 'Drama, Romance', '36133014')
INSERTING  ('8279', 'tt0869994', 'Paris', '2008-01-19 00:00:00', '6.6', '164', '', '130', 'Drama', '23550000')
INSERTING  ('37707', 'tt1017460', 'Splice', '2009-10-06 00:00:00', '5.6', '1165', '', '104', 'Horror, Thriller, Science Fiction', '0')
INSERTING  ('24450', 'tt0874425', 'Pretty Ugly People', '2009-09-18 00:00:00', '4.1', '27', '', '99', 'Comedy', '0')
INSERTING  ('23512', 'tt0926380', 'The Boys Are Back', '2009-09-25 00:00:00', '6.4', '101', '', '104', 'Drama', '0')
INSERTING  ('29151', 'tt0790627', 'Brief Interviews with Hideous Men', '2009-01-19 00:00:00', '5.2', '32', '', '80', 'Comedy, Drama, Romance', '0')
INSERTING  ('11156', 'tt1035736', 'Coco Before Chanel', '2009-04-22 00:00:00', '6.8', '501', '', '110', 'Drama, History', '0')
INSERTING  ('28665', 'tt1016075', 'Fame', '2009-01-01 00:00:00', '5.6', '229', '', '107', 'Music, Comedy, Drama, Romance', '0')
INSERTING  ('30128', 'tt1220628', 'I Hope They Serve Beer in Hell', '2009-09-25 00:00:00', '5.0', '39', '', '106', 'Comedy, Drama', '1429299')
INSERTING  ('17606', 'tt0974613', 'The Other Man', '2008-12-25 00:00:00', '5.2', '109', '', '90', 'Drama, Thriller, Mystery, Romance', '1143856')
INSERTING  ('19898', 'tt1188729', 'Pandorum', '2009-09-08 00:00:00', '6.5', '1273', '', '108', 'Action, Horror, Mystery, Science Fiction, Thriller', '20645327')
INSERTING  ('23827', 'tt1179904', 'Paranormal Activity', '2009-09-25 00:00:00', '5.9', '2886', '', '86', 'Horror, Mystery', '193355800')
INSERTING  ('19959', 'tt0986263', 'Surrogates', '2009-09-24 00:00:00', '6.0', '1904', '', '89', 'Action, Science Fiction, Thriller', '122444772')
INSERTING  ('27561', 'tt1337032', 'Trailer Park Boys: Countdown to Liquor Day', '2009-09-25 00:00:00', '6.8', '59', '', '101', 'Comedy, Crime', '0')
INSERTING  ('22074', 'tt1232207', 'Capitalism: A Love Story', '2009-09-06 00:00:00', '7.2', '297', '', '128', 'Documentary', '17436509')
INSERTING  ('23082', 'tt1058017', 'The Invention of Lying', '2009-09-13 00:00:00', '6.2', '898', '', '100', 'Comedy, Fantasy, Romance', '31912793')
INSERTING  ('33295', 'tt1286821', 'More than a Game', '2008-09-06 00:00:00', '7.1', '32', '', '105', 'Documentary', '887029')
INSERTING  ('12573', 'tt1019452', 'A Serious Man', '2009-09-30 00:00:00', '6.8', '1001', '', '105', 'Comedy, Drama', '31430334')
INSERTING  ('24864', 'tt1242530', "What's Your Raashee?", '2009-09-25 00:00:00', '5.0', '14', '', '192', 'Comedy', '0')
INSERTING  ('22798', 'tt1172233', 'Whip It', '2009-09-13 00:00:00', '6.7', '640', '', '111', 'Drama', '16633035')
INSERTING  ('19908', 'tt1156398', 'Zombieland', '2009-10-07 00:00:00', '7.2', '6853', '', '88', 'Comedy, Horror', '102391382')
INSERTING  ('18533', 'tt1172570', 'Bronson', '2008-10-09 00:00:00', '7.0', '1388', '', '92', 'Drama, Action, Crime', '2260712')
INSERTING  ('19899', 'tt1078940', 'Couples Retreat', '2009-09-19 00:00:00', '5.4', '1122', '', '113', 'Comedy, Romance', '171844840')
INSERTING  ('21641', 'tt1226271', 'The Damned United', '2009-03-27 00:00:00', '7.3', '307', '', '97', 'Drama', '0')
INSERTING  ('24684', 'tt1174732', 'An Education', '2009-10-29 00:00:00', '6.9', '747', '', '100', 'Drama, Romance', '26096852')
INSERTING  ('39055', 'tt1128071', 'Free Style', '2008-12-24 00:00:00', '4.6', '7', '', '94', 'Drama, Family', '140987')
INSERTING  ('32286', 'tt0457355', 'From Mexico With Love', '2009-03-15 00:00:00', '5.6', '5', '', '96', 'Action, Adventure, Drama', '0')
INSERTING  ('22800', 'tt1213585', 'Good Hair', '2009-10-09 00:00:00', '6.7', '49', '', '95', 'Comedy, Documentary', '0')
INSERTING  ('34128', 'tt1144551', 'Peter and Vandy', '2009-01-01 00:00:00', '6.6', '15', '', '78', 'Drama, Comedy, Romance', '11276')
INSERTING  ('10748', 'tt0964587', "St. Trinian's", '2007-12-21 00:00:00', '5.9', '274', '', '101', 'Comedy, Family, Science Fiction', '0')
Duplicate! Did not add to database.
INSERTING  ('324405', '', 'Drive-By Truckers: Live From Austin TX', '2009-07-07 00:00:00', '0.0', '0', '', '80', 'Music', '0')
INSERTING  ('567901', 'tt1587390', "Assassin's Creed: Lineage", '2009-10-26 00:00:00', '5.6', '5', '', '36', 'Action, Adventure', '0')
INSERTING  ('24804', 'tt1190536', 'Black Dynamite', '2009-10-16 00:00:00', '7.3', '322', '', '90', 'Action, Comedy', '296557')
INSERTING  ('25186', 'tt1210071', 'Janky Promoters', '2009-10-16 00:00:00', '6.9', '11', '', '85', 'Comedy', '9069')
INSERTING  ('22803', 'tt1197624', 'Law Abiding Citizen', '2009-10-15 00:00:00', '7.3', '2715', '', '109', 'Drama, Crime, Thriller', '126690726')
INSERTING  ('20311', 'tt1284028', 'Love the Beast', '2009-03-12 00:00:00', '6.6', '18', '', '92', 'Action, Adventure, Documentary', '0')
INSERTING  ('27567', 'tt1187044', 'The Maid', '2009-10-16 00:00:00', '7.0', '38', '', '115', 'Comedy, Drama', '0')
INSERTING  ('26861', 'tt0880570', 'The Ministers', '2009-10-16 00:00:00', '5.0', '14', '', '90', 'Crime, Thriller', '0')
INSERTING  ('12572', 'tt0808399', 'New York, I Love You', '2008-09-06 00:00:00', '5.9', '282', '', '103', 'Comedy, Drama, Romance', '8049666')
INSERTING  ('19904', 'tt0814335', 'The Stepfather', '2009-10-16 00:00:00', '5.7', '411', '', '101', 'Horror, Thriller', '31198531')
INSERTING  ('26466', 'tt1187064', 'Triangle', '2009-10-16 00:00:00', '6.8', '1152', '', '99', 'Horror', '1594955')
INSERTING  ('16523', 'tt0386117', 'Where the Wild Things Are', '2009-10-16 00:00:00', '6.4', '1013', '', '101', 'Family, Fantasy, Science Fiction', '100086793')
INSERTING  ('8915', 'tt1129445', 'Amelia', '2009-10-22 00:00:00', '5.6', '114', '', '111', 'Adventure, Drama', '19258519')
INSERTING  ('17609', 'tt0870984', 'Antichrist', '2009-05-18 00:00:00', '6.6', '1302', '', '108', 'Drama, Horror, Thriller', '791867')
INSERTING  ('16577', 'tt0375568', 'Astro Boy', '2009-10-15 00:00:00', '6.2', '770', '', '94', 'Animation, Action, Family, Science Fiction', '19551067')
INSERTING  ('24418', 'tt0450405', "Cirque du Freak: The Vampire's Assistant", '2009-10-23 00:00:00', '5.6', '623', '', '109', 'Adventure, Fantasy, Action, Thriller', '28169671')
INSERTING  ('27310', 'tt1266027', 'The Marine 2', '2009-12-29 00:00:00', '5.5', '81', '', '95', 'Action, Adventure, Drama, Thriller', '0')
INSERTING  ('22805', 'tt1220220', 'Motherhood', '2009-01-21 00:00:00', '4.8', '71', '', '90', 'Comedy, Drama', '0')
INSERTING  ('16353', 'tt0785035', 'Ong Bak 2', '2008-12-04 00:00:00', '6.1', '267', '', '98', 'Adventure, Action, Thriller', '8936663')
INSERTING  ('22804', 'tt1233227', 'Saw VI', '2009-10-22 00:00:00', '6.2', '1636', '', '96', 'Horror, Mystery', '68233629')
INSERTING  ('45261', 'tt1132193', '(Untitled)', '2009-10-25 00:00:00', '6.8', '21', '', '96', 'Drama, Comedy, Romance', '230600')
INSERTING  ('18489', 'tt1352852', 'The Yes Men Fix the World', '2009-01-18 00:00:00', '7.1', '45', '', '87', 'Documentary', '0')
INSERTING  ('300393', 'tt1815731', 'HalloweeNight', '2009-10-01 00:00:00', '2.0', '1', '', '85', 'Horror', '0')
INSERTING  ('27646', 'tt1268809', 'Night of the Demons', '2009-08-30 00:00:00', '4.6', '75', '', '93', 'Horror', '0')
INSERTING  ('13576', 'tt1477715', 'This Is It', '2009-10-28 00:00:00', '6.9', '477', '', '111', 'Music, Documentary, Drama', '0')
INSERTING  ('22821', 'tt1300851', 'The Boondock Saints II: All Saints Day', '2009-11-24 00:00:00', '6.0', '416', '', '118', 'Action, Thriller, Crime', '10629321')
INSERTING  ('22820', 'tt1161418', 'Gentlemen Broncos', '2009-09-30 00:00:00', '6.0', '91', '', '89', 'Action, Comedy, Thriller', '0')
INSERTING  ('25983', 'tt1172994', 'The House of the Devil', '2009-04-25 00:00:00', '6.1', '345', '', '95', 'Horror, Mystery', '0')
INSERTING  ('250625', 'tt0882113', 'Looking for Palladin', '2008-03-05 00:00:00', '5.0', '1', '', '115', '', '0')
INSERTING  ('29989', 'tt0964586', 'Skin', '2009-07-24 00:00:00', '6.7', '23', '', '107', 'Drama', '0')
INSERTING  ('22825', 'tt0362478', 'The Box', '2009-09-17 00:00:00', '5.5', '1053', '', '115', 'Thriller, Science Fiction', '33333531')
INSERTING  ('17979', 'tt1067106', 'A Christmas Carol', '2009-11-04 00:00:00', '6.8', '2591', '', '96', 'Animation, Family', '325233863')

INSERTING  ('268982', 'tt0829427', 'The Flying Scissors', '2009-01-01 00:00:00', '0.0', '0', '', '', '', '0')
INSERTING  ('22824', 'tt1220198', 'The Fourth Kind', '2009-11-06 00:00:00', '5.9', '798', '', '98', 'Mystery, Science Fiction, Thriller', '47709193')
INSERTING  ('25793', 'tt0929632', 'Precious', '2009-11-06 00:00:00', '7.2', '796', '', '110', 'Drama', '47536959')
INSERTING  ('40856', 'tt1114680', 'That Evening Sun', '2009-11-06 00:00:00', '6.8', '22', '', '109', 'Drama', '0')
INSERTING  ('57505', 'tt1664723', 'My Little Pony: Twinkle Wish Adventure', '2009-10-13 00:00:00', '5.0', '3', '', '44', 'Family', '0')
INSERTING  ('14161', 'tt1190080', '2012', '2009-10-10 00:00:00', '5.7', '7909', '', '158', 'Action, Adventure, Science Fiction', '769653595')
INSERTING  ('18947', 'tt1131729', 'The Boat That Rocked', '2009-04-01 00:00:00', '7.3', '1257', '', '135', 'Drama, Comedy', '36348784')
INSERTING  ('32124', 'tt1241316', 'Dare', '2009-11-13 00:00:00', '6.0', '39', '', '91', 'Drama, Romance, Comedy', '18088')
INSERTING  ('10315', 'tt0432283', 'Fantastic Mr. Fox', '2009-10-23 00:00:00', '7.7', '2453', '', '87', 'Adventure, Animation, Comedy, Family', '46471023')
INSERTING  ('18238', 'tt1020885', 'Lesbian Vampire Killers', '2009-03-16 00:00:00', '5.3', '196', '', '86', 'Horror, Comedy', '0')
INSERTING  ('28089', 'tt0790712', 'The Messenger', '2009-11-13 00:00:00', '6.7', '217', '', '113', 'Drama, History, War', '1521261')
INSERTING  ('28520', 'tt1086216', 'Uncertainty', '2009-11-15 00:00:00', '5.5', '52', '', '101', 'Drama, Thriller, Romance', '0')
INSERTING  ('31723', 'tt1247704', 'Women in Trouble', '2009-11-13 00:00:00', '5.4', '55', '', '92', 'Comedy, Drama', '18097')
INSERTING  ('18320', 'tt0962736', 'The Young Victoria', '2009-03-04 00:00:00', '7.2', '588', '', '105', 'Drama, History, Romance', '31878891')
INSERTING  ('11699', 'tt1095217', 'The Bad Lieutenant: Port of Call - New Orleans', '2009-09-11 00:00:00', '6.1', '554', '', '122', 'Drama, Crime', '10589102')
INSERTING  ('22881', 'tt0878804', 'The Blind Side', '2009-11-20 00:00:00', '7.5', '3005', '', '129', 'Drama', '309208309')
INSERTING  ('8088', 'tt0913425', 'Broken Embraces', '2009-03-01 00:00:00', '7.2', '309', '', '127', 'Drama, Romance, Thriller', '0')
INSERTING  ('56895', 'tt1377278', 'Defamation', '2009-05-01 00:00:00', '6.3', '11', '', '91', 'Documentary', '11410')
INSERTING  ('49522', 'tt1242447', 'Nativity!', '2009-11-27 00:00:00', '6.2', '99', '', '105', 'Comedy, Family', '0')
INSERTING  ('16866', 'tt0762125', 'Planet 51', '2009-11-19 00:00:00', '5.7', '1150', '', '91', 'Science Fiction, Family, Comedy, Adventure, Animation', '104945765')
INSERTING  ('18239', 'tt1259571', 'The Twilight Saga: New Moon', '2009-03-15 00:00:00', '5.8', '5461', '', '131', 'Adventure, Fantasy, Drama, Romance', '709827462')
INSERTING  ('12404', 'tt1175506', 'Me and Orson Welles', '2009-11-25 00:00:00', '6.5', '104', '', '114', 'Comedy, Drama, Romance', '2336172')
INSERTING  ('22832', 'tt1186367', 'Ninja Assassin', '2009-09-29 00:00:00', '6.1', '641', '', '99', 'Action, Crime, Thriller, Mystery', '60462347')
INSERTING  ('22949', 'tt0976238', 'Old Dogs', '2009-11-24 00:00:00', '5.4', '388', '', '88', 'Comedy, Family', '92219310')
INSERTING  ('20766', 'tt0898367', 'The Road', '2009-11-25 00:00:00', '6.9', '1951', '', '111', 'Adventure, Drama', '27635305')
INSERTING  ('4475', 'tt1134629', 'The Private Lives of Pippa Lee', '2009-07-07 00:00:00', '6.0', '103', '', '98', 'Comedy, Drama, Romance', '2770941')
INSERTING  ('37565', 'tt1210106', "St Trinian's 2: The Legend of Fritton's Gold", '2009-12-18 00:00:00', '5.6', '127', '', '106', 'Comedy, Adventure', '0')
INSERTING  ('29029', 'tt1051241', 'Made for Each Other', '2009-04-25 00:00:00', '3.5', '8', '', '96', 'Comedy, Romance', '0')
INSERTING  ('4597', 'tt0913354', 'Armored', '2009-12-04 00:00:00', '5.6', '337', '', '88', 'Action, Crime, Drama, Thriller, Mystery', '22942221')
INSERTING  ('7445', 'tt0765010', 'Brothers', '2009-01-27 00:00:00', '6.9', '1231', '', '104', 'Drama, Thriller, War', '43318349')
INSERTING  ('26171', 'tt0780511', "Everybody's Fine", '2009-12-04 00:00:00', '6.6', '533', '', '99', 'Drama', '0')
INSERTING  ('37190', 'tt0936471', 'Transylmania', '2009-12-04 00:00:00', '4.5', '26', '', '92', 'Comedy, Horror', '263941')
INSERTING  ('36124', 'tt1014809', 'Until the Light Takes Us', '2008-10-31 00:00:00', '6.9', '44', '', '93', 'Documentary, Music', '0')
INSERTING  ('22947', 'tt1193138', 'Up in the Air', '2009-09-05 00:00:00', '6.8', '2106', '', '110', 'Drama, Romance', '163670000')
INSERTING  ('263945', 'tt1570964', 'Curious George: A Very Monkey Christmas', '2009-11-10 00:00:00', '6.1', '7', '', '58', 'Animation, Family', '0')
INSERTING  ('44027', 'tt1233219', 'My Son, My Son, What Have Ye Done', '2009-09-06 00:00:00', '6.1', '89', '', '91', 'Crime, Drama, Thriller', '0')
INSERTING  ('10198', 'tt0780521', 'The Princess and the Frog', '2009-12-08 00:00:00', '7.0', '2901', '', '97', 'Romance, Family, Animation', '270997378')
INSERTING  ('34653', 'tt1315981', 'A Single Man', '2009-10-19 00:00:00', '7.4', '876', '', '97', 'Romance, Drama', '24964890')
INSERTING  ('34423', 'tt1135525', "The Slammin' Salmon", '2009-01-17 00:00:00', '6.0', '95', '', '90', 'Comedy', '0')
INSERTING  ('22398', 'tt0494864', 'Tenderness', '2009-01-15 00:00:00', '5.6', '53', '', '101', 'Crime, Drama, Thriller', '0')
INSERTING  ('25196', 'tt1263670', 'Crazy Heart', '2009-12-16 00:00:00', '7.0', '494', '', '112', 'Drama, Music, Romance', '47405566')
INSERTING  ('40623', 'tt1433540', 'A Town Called Panic', '2009-06-17 00:00:00', '7.6', '83', '', '75', 'Adventure, Animation, Comedy, Family, Fantasy', '0')
INSERTING  ('19995', 'tt0499549', 'Avatar', '2009-12-10 00:00:00', '7.4', '19347', '', '162', 'Action, Adventure, Fantasy, Science Fiction', '2787965087')
INSERTING  ('37534', 'tt0951335', 'The New Daughter', '2009-12-18 00:00:00', '5.2', '188', '', '108', 'Horror, Thriller', '0')
INSERTING  ('10197', 'tt0875034', 'Nine', '2009-12-03 00:00:00', '5.6', '321', '', '112', 'Drama, Music, Romance', '53825515')
INSERTING  ('18320', 'tt0962736', 'The Young Victoria', '2009-03-04 00:00:00', '7.2', '588', '', '105', 'Drama, History, Romance', '31878891')
Duplicate! Did not add to database.
INSERTING  ('26123', 'tt1407050', 'American Pie Presents: The Book of Love', '2009-06-18 00:00:00', '5.1', '988', '', '93', 'Comedy', '0')
INSERTING  ('23398', 'tt1231580', 'Alvin and the Chipmunks: The Squeakquel', '2009-12-21 00:00:00', '5.5', '1593', '', '88', 'Comedy, Family, Animation, Fantasy, Music', '443140005')
INSERTING  ('36811', 'tt0824758', 'The Last Station', '2009-09-04 00:00:00', '6.5', '106', '', '112', 'Drama, Romance', '0')
INSERTING  ('8054', 'tt1054606', 'The Imaginarium of Doctor Parnassus', '2009-10-01 00:00:00', '6.3', '1684', '', '123', 'Adventure, Fantasy, Mystery', '64352607')
Duplicate! Did not add to database.
INSERTING  ('22897', 'tt1230414', "It's Complicated", '2009-12-23 00:00:00', '6.4', '732', '', '121', 'Comedy, Romance', '219103655')
INSERTING  ('37903', 'tt1149362', 'The White Ribbon', '2009-10-06 00:00:00', '7.5', '471', '', '144', 'Drama, Mystery', '0')
INSERTING  ('19901', 'tt0433362', 'Daybreakers', '2009-09-11 00:00:00', '6.2', '1050', '', '98', 'Action, Fantasy, Horror, Science Fiction', '51416464')
INSERTING  ('25195', 'tt1216492', 'Leap Year', '2010-01-08 00:00:00', '6.7', '1072', '', '100', 'Romance, Comedy', '29922472')
INSERTING  ('182026', 'tt1468737', 'Stranger Things', '2013-04-05 00:00:00', '8.1', '17', '', '77', 'Drama', '0')
INSERTING  ('22327', 'tt0403702', 'Youth in Revolt', '2009-09-11 00:00:00', '6.0', '515', '', '87', 'Drama, Comedy, Romance', '0')
INSERTING  ('35458', 'tt1196134', 'Crazy on the Outside', '2010-01-08 00:00:00', '5.3', '50', '', '136', 'Comedy, Romance', '88335')
INSERTING  ('29538', 'tt1351224', 'Pyaar Impossible!', '2010-01-08 00:00:00', '4.6', '23', '', '140', 'Comedy, Romance', '0')
INSERTING  ('27735', 'tt0857275', 'Wonderful World', '2010-01-08 00:00:00', '5.8', '19', '', '89', 'Comedy, Drama, Romance', '0')
INSERTING  ('23172', 'tt1273678', 'The Spy Next Door', '2010-01-15 00:00:00', '5.7', '693', '', '94', 'Action, Comedy, Family', '45236543')

INSERTING  ('29182', 'tt0914837', '44 Inch Chest', '2009-10-08 00:00:00', '6.1', '54', '', '95', 'Drama, Crime', '0')
INSERTING  ('24469', 'tt1232776', 'Fish Tank', '2009-05-14 00:00:00', '7.0', '443', '', '123', 'Drama', '2357852')
INSERTING  ('27569', 'tt1244659', 'Extraordinary Measures', '2010-01-21 00:00:00', '6.4', '164', '', '105', 'Drama', '15134293')
INSERTING  ('22894', 'tt1038686', 'Legion', '2010-01-21 00:00:00', '5.4', '1214', '', '100', 'Horror, Action, Fantasy', '67918658')
INSERTING  ('23023', 'tt0808510', 'Tooth Fairy', '2010-01-14 00:00:00', '5.4', '1136', '', '101', 'Comedy, Family, Fantasy', '112462508')
INSERTING  ('64780', 'tt1764726', 'Upside Down: The Creation Records Story', '2010-10-19 00:00:00', '7.1', '4', '', '101', 'Documentary, Music', '0')
INSERTING  ('41144', 'tt1270286', 'To Save A Life', '2009-11-05 00:00:00', '6.4', '34', '', '120', 'Drama', '0')
INSERTING  ('12201', 'tt1226273', 'Edge of Darkness', '2010-01-28 00:00:00', '6.3', '832', '', '117', 'Crime, Drama, Mystery, Thriller', '74901339')
INSERTING  ('13477', 'tt1185416', 'When in Rome', '2010-01-29 00:00:00', '5.9', '741', '', '91', 'Comedy, Fantasy, Romance', '43042835')
INSERTING  ('35716', 'tt1328913', "Preacher's Kid", '2010-01-29 00:00:00', '6.4', '24', '', '110', 'Drama, Family', '0')
INSERTING  ('16436', 'tt0844457', 'North Face', '2008-10-23 00:00:00', '7.4', '136', '', '126', 'Adventure, Drama, Action, History, Thriller', '927704')
INSERTING  ('24424', 'tt1077262', 'Ajami', '2009-09-17 00:00:00', '7.2', '37', '', '120', 'Crime, Drama', '0')
INSERTING  ('22971', 'tt0989757', 'Dear John', '2010-02-04 00:00:00', '6.8', '2817', '', '115', 'Drama, Romance, War', '114977104')
INSERTING  ('26389', 'tt1179034', 'From Paris with Love', '2010-02-04 00:00:00', '6.2', '1121', '', '92', 'Action, Crime, Thriller', '52826594')
INSERTING  ('15357', 'tt1247640', 'District 13: Ultimatum', '2009-02-18 00:00:00', '6.1', '591', '', '101', 'Action, Thriller, Crime', '8786375')
INSERTING  ('37810', 'tt1424327', 'Eyes Wide Open', '2009-05-20 00:00:00', '6.1', '35', '', '90', 'Romance, Drama', '0')
INSERTING  ('44363', 'tt1323045', 'Frozen', '2010-02-05 00:00:00', '5.8', '1040', '', '93', 'Thriller', '3065860')
INSERTING  ('15952', 'tt1087890', 'Terribly Happy', '2008-07-15 00:00:00', '6.5', '38', '', '90', 'Drama, Thriller', '179943')
INSERTING  ('53142', '', "Super Why! 'Twas The Night Before Christmas", '2010-10-12 00:00:00', '0.0', '0', '', '100', 'Animation, Family', '0')
INSERTING  ('32657', 'tt0814255', 'Percy Jackson & the Olympians: The Lightning Thief', '2010-02-01 00:00:00', '6.1', '4470', '', '119', 'Adventure, Fantasy, Family', '226497209')
INSERTING  ('32856', 'tt0817230', "Valentine's Day", '2010-02-10 00:00:00', '5.8', '1983', '', '125', 'Comedy, Romance', '216485654')
INSERTING  ('7978', 'tt0780653', 'The Wolfman', '2010-02-11 00:00:00', '5.7', '1058', '', '102', 'Horror', '0')
INSERTING  ('20453', 'tt1187043', '3 Idiots', '2009-12-23 00:00:00', '7.9', '1238', '', '170', 'Drama, Comedy, Romance', '70000000')
INSERTING  ('26022', 'tt1188996', 'My Name Is Khan', '2010-02-11 00:00:00', '7.8', '421', '', '165', 'Drama, Romance', '42345360')
INSERTING  ('41123', 'tt1405809', 'Lourdes', '2009-09-11 00:00:00', '6.5', '21', '', '96', 'Drama', '0')
INSERTING  ('11439', 'tt1139328', 'The Ghost Writer', '2010-02-12 00:00:00', '6.8', '1181', '', '128', 'Thriller, Mystery', '60222298')
INSERTING  ('11324', 'tt1130884', 'Shutter Island', '2010-02-14 00:00:00', '8.1', '13329', '', '138', 'Drama, Thriller, Mystery', '294804195')
INSERTING  ('8349', 'tt0365675', 'The Red Baron', '2008-03-29 00:00:00', '6.5', '115', '', '120', 'Action, Adventure, Drama, History, War', '40239')
INSERTING  ('23742', 'tt1385867', 'Cop Out', '2010-02-26 00:00:00', '5.4', '830', '', '107', 'Action, Comedy, Crime', '55583804')
INSERTING  ('29427', 'tt0455407', 'The Crazies', '2010-02-26 00:00:00', '6.2', '1077', '', '101', 'Mystery, Horror, Action', '54956140')
INSERTING  ('34769', 'tt1303828', 'Defendor', '2009-09-12 00:00:00', '6.4', '304', '', '101', 'Drama, Action, Comedy, Crime', '44462')
INSERTING  ('41616', 'tt1121786', 'Formosa Betrayed', '2010-02-26 00:00:00', '6.3', '8', '', '103', 'Action, Adventure, Drama, Mystery, Thriller', '0')
INSERTING  ('12155', 'tt1014759', 'Alice in Wonderland', '2010-03-03 00:00:00', '6.6', '9120', '', '108', 'Family, Fantasy, Adventure', '1025467110')
INSERTING  ('26390', 'tt1210042', "Brooklyn's Finest", '2009-01-16 00:00:00', '6.4', '472', '', '133', 'Crime, Drama, Thriller', '36440201')
INSERTING  ('285469', 'tt1776307', 'Strawberry Shortcake: The Glimmerberry Ball Movie', '2010-07-31 00:00:00', '0.0', '0', '', '64', 'Animation, Family', '0')
INSERTING  ('22972', 'tt0947810', 'Green Zone', '2010-03-11 00:00:00', '6.4', '1229', '', '115', 'War, Action, Adventure, Drama, Thriller', '94882889')
INSERTING  ('34563', 'tt1305583', 'Our Family Wedding', '2010-03-12 00:00:00', '5.5', '63', '', '103', 'Comedy', '21409028')
INSERTING  ('23169', 'tt1403981', 'Remember Me', '2010-03-12 00:00:00', '7.0', '2209', '', '113', 'Drama, Romance', '56032889')
INSERTING  ('34016', 'tt0815236', "She's Out of My League", '2010-03-11 00:00:00', '6.1', '1027', '', '104', 'Comedy, Romance', '49779728')
INSERTING  ('42850', 'tt1322282', 'Children of Invention', '2010-08-10 00:00:00', '6.3', '8', '', '86', 'Comedy, Drama, Romance', '0')
INSERTING  ('33217', 'tt1196141', 'Diary of a Wimpy Kid', '2010-03-19 00:00:00', '6.0', '787', '', '92', 'Comedy, Family', '0')
INSERTING  ('31867', 'tt1053424', 'Repo Men', '2010-03-18 00:00:00', '6.3', '1035', '', '111', 'Action, Science Fiction, Thriller, Crime', '18409891')
INSERTING  ('28053', 'tt1174730', 'City Island', '2009-03-06 00:00:00', '7.0', '182', '', '104', 'Drama, Comedy', '7875862')
INSERTING  ('27583', 'tt1234654', 'Greenberg', '2010-03-26 00:00:00', '5.9', '286', '', '107', 'Comedy, Drama, Romance', '6153967')
INSERTING  ('44992', 'tt1433813', 'Hubble 3D', '2010-03-19 00:00:00', '7.1', '55', '', '44', 'Documentary', '0')
INSERTING  ('43754', 'tt1270296', 'The Killing Jar', '2010-02-14 00:00:00', '5.7', '29', '', '92', 'Drama, Thriller, Mystery', '0')
INSERTING  ('27586', 'tt1017451', 'The Runaways', '2010-03-19 00:00:00', '6.4', '467', '', '106', 'Drama, Music', '2995811')
INSERTING  ('23048', 'tt1231587', 'Hot Tub Time Machine', '2010-03-26 00:00:00', '6.0', '1449', '', '101', 'Science Fiction, Comedy, Adventure', '64572262')
INSERTING  ('28211', 'tt1352824', 'Chloe', '2009-03-25 00:00:00', '5.9', '986', '', '96', 'Drama, Thriller, Mystery', '8459458')
INSERTING  ('35690', 'tt1294226', 'The Last Song', '2010-03-31 00:00:00', '7.2', '2327', '', '107', 'Drama, Family, Romance', '0')
INSERTING  ('18823', 'tt0800320', 'Clash of the Titans', '2010-04-01 00:00:00', '5.7', '3860', '', '106', 'Adventure, Fantasy, Action', '232713139')
INSERTING  ('35688', 'tt1391137', 'Why Did I Get Married Too?', '2010-04-02 00:00:00', '5.9', '51', '', '121', 'Comedy, Romance', '60072596')
INSERTING  ('32395', 'tt1226232', 'The Greatest', '2009-01-17 00:00:00', '6.2', '78', '', '99', 'Drama', '0')
INSERTING  ('57277', 'tt1632481', 'Care Bears To the Rescue', '2010-04-03 00:00:00', '4.0', '2', '', '65', 'Adventure, Animation, Comedy, Family', '0')
INSERTING  ('35056', 'tt1279935', 'Date Night', '2010-04-08 00:00:00', '6.0', '1804', '', '97', 'Comedy', '152263880')
INSERTING  ('35691', 'tt1462054', 'Letters to God', '2010-04-09 00:00:00', '6.9', '73', '', '110', 'Drama, Family', '0')
INSERTING  ('36419', 'tt0838247', 'After.Life', '2009-11-07 00:00:00', '5.7', '435', '', '104', 'Drama, Horror, Mystery, Thriller', '3606395')
INSERTING  ('48844', 'tt1544572', 'The Search for Santa Paws', '2010-10-12 00:00:00', '5.9', '93', '', '89', 'Family, Adventure', '0')
INSERTING  ('37659', 'tt1333667', "When You're Strange", '2010-04-09 00:00:00', '7.6', '88', '', '86', 'Documentary, Music', '0')
INSERTING  ('34803', 'tt1321509', 'Death at a Funeral', '2010-04-15 00:00:00', '5.7', '477', '', '92', 'Comedy', '49050886')
INSERTING  ('23483', 'tt1250777', 'Kick-Ass', '2010-03-22 00:00:00', '7.1', '7818', '', '117', 'Action, Crime', '96188903')
INSERTING  ('44877', 'tt1514041', '4.3.2.1', '2010-06-02 00:00:00', '5.9', '98', '', '117', 'Action, Thriller, Crime, Romance', '1163967')

INSERTING  ('42819', 'tt0896923', 'The City of Your Final Destination', '2009-03-21 00:00:00', '5.9', '16', '', '114', 'Drama', '0')
INSERTING  ('39452', 'tt1587707', 'Exit Through the Gift Shop', '2010-01-24 00:00:00', '7.7', '479', '', '87', 'Documentary', '4790751')
INSERTING  ('41479', 'tt1285309', 'The Joneses', '2009-09-13 00:00:00', '6.2', '324', '', '96', 'Comedy, Drama', '7022728')
INSERTING  ('56601', 'tt0473102', 'The Perfect Game', '2010-04-01 00:00:00', '6.4', '48', '', '118', 'Drama, Family', '3878993')
INSERTING  ('36970', 'tt0765128', 'Oceans', '2009-10-17 00:00:00', '7.2', '178', '', '84', 'Documentary, Family', '19406406')
INSERTING  ('34806', 'tt1212436', 'The Back-Up Plan', '2010-04-23 00:00:00', '6.0', '851', '', '106', 'Comedy, Romance', '77477008')
INSERTING  ('34813', 'tt0480255', 'The Losers', '2010-04-23 00:00:00', '6.2', '884', '', '97', 'Action, Adventure, Crime, Mystery, Thriller', '23580000')
INSERTING  ('91911', 'tt1510907', 'Behind the Burly Q', '2010-04-23 00:00:00', '5.1', '4', '', '97', 'Documentary', '23859')
INSERTING  ('147697', 'tt1351105', 'Breath Made Visible: Anna Halprin', '2009-08-07 00:00:00', '7.3', '2', '', '', '', '0')
INSERTING  ('37169', 'tt1467304', 'The Human Centipede (First Sequence)', '2009-04-26 00:00:00', '4.9', '1000', '', '92', 'Horror', '0')
INSERTING  ('35169', 'tt0492389', 'Furry Vengeance', '2010-04-02 00:00:00', '4.6', '300', '', '92', 'Comedy, Family', '36236710')
INSERTING  ('377', 'tt0087800', 'A Nightmare on Elm Street', '1984-11-14 00:00:00', '7.3', '2574', '', '91', 'Horror', '25504513')
INSERTING  ('5178', 'tt0808285', 'The Good Heart', '2009-09-11 00:00:00', '6.3', '31', '', '95', 'Drama, Comedy, Romance', '0')
INSERTING  ('25941', 'tt1289406', 'Harry Brown', '2009-11-11 00:00:00', '6.8', '528', '', '103', 'Thriller, Crime, Drama, Action', '10329747')
INSERTING  ('40247', 'tt0878835', 'Please Give', '2010-01-22 00:00:00', '6.3', '81', '', '90', 'Comedy, Drama', '0')
INSERTING  ('42171', 'tt1424003', 'The Infidel', '2010-05-01 00:00:00', '6.0', '62', '', '105', 'Comedy, Drama', '0')
INSERTING  ('37234', 'tt1393020', 'Sex & Drugs & Rock & Roll', '2010-01-08 00:00:00', '6.6', '26', '', '115', 'Drama', '0')
INSERTING  ('46584', 'tt1295072', 'The Trotsky', '2010-05-05 00:00:00', '6.4', '45', '', '120', 'Comedy', '0')
INSERTING  ('10138', 'tt1228705', 'Iron Man 2', '2010-04-28 00:00:00', '6.8', '13002', '', '124', 'Adventure, Action, Science Fiction', '623933331')
INSERTING  ('44737', 'tt1020938', 'Babies', '2010-05-07 00:00:00', '6.9', '78', '', '79', 'Documentary', '0')
INSERTING  ('44999', 'tt1540814', 'Casino Jack and the United States of Money', '2010-05-09 00:00:00', '7.2', '21', '', '118', 'Documentary', '0')
INSERTING  ('39042', 'tt0984210', 'Multiple Sarcasms', '2010-05-07 00:00:00', '5.9', '4', '', '97', 'Drama, Romance', '0')
INSERTING  ('37080', 'tt1121977', 'Mother and Child', '2009-11-07 00:00:00', '6.9', '70', '', '125', 'Drama, Romance', '0')
INSERTING  ('52918', 'tt1522857', 'The Oath', '2010-05-09 00:00:00', '7.6', '14', '', '90', 'Documentary', '0')
INSERTING  ('34134', 'tt1610301', 'Barbie in A Mermaid Tale', '2010-01-26 00:00:00', '6.8', '312', '', '75', 'Animation, Family, Fantasy', '16441438')
INSERTING  ('36800', 'tt0985058', 'Metropia', '2009-10-21 00:00:00', '6.3', '87', '', '86', 'Animation, Drama, Science Fiction, Thriller', '0')
INSERTING  ('38093', 'tt1407061', 'Just Wright', '2010-05-14 00:00:00', '6.2', '223', '', '100', 'Comedy, Drama, Romance', '21520719')
INSERTING  ('20662', 'tt0955308', 'Robin Hood', '2010-05-12 00:00:00', '6.3', '2689', '', '140', 'Action, Adventure, Drama', '310669540')
INSERTING  ('58251', 'tt1426362', 'Daddy Longlegs', '2009-05-16 00:00:00', '6.3', '7', '', '100', 'Drama, Comedy', '20728')
INSERTING  ('211252', 'tt1587171', "I'm Not Here (And She's Not There)", '2010-04-11 00:00:00', '6.0', '1', '', '102', 'Mystery, Romance', '0')
INSERTING  ('39806', 'tt1185344', "Princess Ka'iulani", '2010-05-14 00:00:00', '5.2', '24', '', '130', 'Drama', '771499')
INSERTING  ('37931', 'tt1470023', 'MacGruber', '2010-05-21 00:00:00', '5.3', '283', '', '90', 'Action, Adventure, Comedy', '6110000')
INSERTING  ('10192', 'tt0892791', 'Shrek Forever After', '2010-05-16 00:00:00', '6.2', '4067', '', '93', 'Comedy, Adventure, Fantasy, Animation, Family', '752600867')
INSERTING  ('132275', 'tt1592531', 'The Holy Roller', '2010-09-25 00:00:00', '5.0', '1', '', '89', 'Drama, Thriller', '0')
INSERTING  ('5937', 'tt1124377', 'John Rabe', '2009-04-02 00:00:00', '7.2', '49', '', '134', 'Drama, History, War', '0')
INSERTING  ('41009', 'tt1003034', "Perrier's Bounty", '2009-09-11 00:00:00', '5.8', '35', '', '88', 'Action, Comedy, Crime, Drama', '0')
INSERTING  ('44671', 'tt1152840', 'Racing Dreams', '2010-05-14 00:00:00', '6.6', '11', '', '93', 'Documentary', '0')
INSERTING  ('36691', 'tt1294213', 'Solitary Man', '2009-09-07 00:00:00', '5.8', '135', '', '90', 'Comedy, Drama, Romance', '5024782')
INSERTING  ('44773', 'tt1636629', 'The 7 Adventures of Sinbad', '2010-01-01 00:00:00', '3.3', '16', '', '93', 'Adventure, Action, Fantasy', '0')
INSERTING  ('37786', 'tt1261945', 'Sex and the City 2', '2010-05-26 00:00:00', '5.9', '851', '', '146', 'Comedy, Drama, Romance', '288347692')
INSERTING  ('9543', 'tt0473075', 'Prince of Persia: The Sands of Time', '2010-05-19 00:00:00', '6.2', '4230', '', '116', 'Adventure, Fantasy, Action, Romance', '335154643')
INSERTING  ('26428', 'tt1186830', 'Agora', '2009-05-17 00:00:00', '6.9', '768', '', '127', 'Adventure, Drama, History', '39041505')
INSERTING  ('43614', 'tt1356928', 'Father of My Children', '2009-12-16 00:00:00', '7.0', '26', '', '110', 'Drama', '0')
INSERTING  ('27936', 'tt1149361', 'Micmacs', '2009-10-28 00:00:00', '6.6', '289', '', '100', 'Action, Comedy, Crime', '14000000')
INSERTING  ('29426', 'tt1134854', 'Survival of the Dead', '2010-05-06 00:00:00', '4.8', '216', '', '90', 'Horror, Science Fiction', '0')
INSERTING  ('32823', 'tt1226229', 'Get Him to the Greek', '2010-06-04 00:00:00', '5.9', '1039', '', '109', 'Comedy', '90029656')
INSERTING  ('37821', 'tt1103153', 'Killers', '2010-06-04 00:00:00', '5.9', '1376', '', '100', 'Action, Comedy, Thriller, Romance', '98159963')
INSERTING  ('38579', 'tt1392197', 'Marmaduke', '2010-06-04 00:00:00', '5.1', '398', '', '87', 'Family, Comedy', '83761844')
INSERTING  ('37707', 'tt1017460', 'Splice', '2009-10-06 00:00:00', '5.6', '1165', '', '104', 'Horror, Thriller, Science Fiction', '0')
Duplicate! Did not add to database.
INSERTING  ('79456', 'tt1617250', 'Gone with the Pope', '2010-03-12 00:00:00', '5.7', '10', '', '83', 'Drama, Romance, Crime', '0')
INSERTING  ('38448', 'tt1235796', 'Ondine', '2009-09-14 00:00:00', '6.4', '157', '', '111', 'Drama, Romance', '1644755')
INSERTING  ('37951', 'tt1291465', 'Raajneeti', '2010-06-04 00:00:00', '6.3', '35', '', '167', 'Drama, Thriller', '0')
INSERTING  ('34544', 'tt0429493', 'The A-Team', '2010-06-10 00:00:00', '6.3', '2805', '', '119', 'Thriller, Action, Adventure, Comedy, Crime', '177238796')
INSERTING  ('38575', 'tt1155076', 'The Karate Kid', '2010-06-10 00:00:00', '6.3', '3311', '', '140', 'Action, Adventure, Drama, Family', '357852395')
INSERTING  ('44806', 'tt1548865', '12th & Delaware', '2010-04-01 00:00:00', '7.5', '10', '', '90', 'Documentary', '0')
INSERTING  ('38984', 'tt1023441', 'Coco Chanel & Igor Stravinsky', '2009-12-30 00:00:00', '6.3', '52', '', '120', 'Drama, Romance', '5753490')
INSERTING  ('41397', 'tt1568150', 'Joan Rivers: A Piece of Work', '2010-01-25 00:00:00', '7.0', '27', '', '84', 'Documentary', '0')
INSERTING  ('54812', 'tt1515935', 'The Lottery', '2010-06-11 00:00:00', '5.5', '2', '', '81', 'Documentary, Thriller', '0')
INSERTING  ('39013', 'tt1399683', "Winter's Bone", '2010-06-11 00:00:00', '6.9', '956', '', '101', 'Drama', '13831503')
INSERTING  ('40428', 'tt1484522', '8: The Mormon Proposition', '2010-01-01 00:00:00', '6.1', '12', '', '80', 'Documentary', '0')
INSERTING  ('39053', 'tt1336617', 'Cyrus', '2010-06-18 00:00:00', '6.0', '207', '', '91', 'Comedy, Drama, Romance', '0')
INSERTING  ('37414', 'tt0954947', 'The Killer Inside Me', '2010-02-19 00:00:00', '5.9', '314', '', '109', 'Crime, Drama, Thriller', '0')

INSERTING  ('37460', 'tt1334470', 'Raavan', '2010-06-18 00:00:00', '4.4', '20', '', '138', 'Action, Adventure, Crime, Drama, Romance, Thriller', '4200000')
INSERTING  ('131880', 'tt1562450', 'Stonewall Uprising', '2010-06-16 00:00:00', '6.3', '3', '', '80', 'Documentary', '0')
INSERTING  ('37834', 'tt1013743', 'Knight and Day', '2010-06-15 00:00:00', '6.0', '2603', '', '109', 'Action, Comedy', '261930431')
INSERTING  ('38365', 'tt1375670', 'Grown Ups', '2010-06-24 00:00:00', '6.2', '3328', '', '102', 'Comedy', '271430189')
INSERTING  ('24021', 'tt1325004', 'The Twilight Saga: Eclipse', '2010-06-23 00:00:00', '6.0', '5188', '', '124', 'Adventure, Fantasy, Drama, Romance', '698491347')
INSERTING  ('39845', 'tt1125929', 'Love Ranch', '2010-06-30 00:00:00', '6.1', '28', '', '117', 'Drama', '0')
INSERTING  ('10196', 'tt0938283', 'The Last Airbender', '2010-06-30 00:00:00', '4.7', '2244', '', '103', 'Action, Adventure, Family, Fantasy', '318502923')
INSERTING  ('85963', 'tt1445683', 'Great Directors', '2010-07-02 00:00:00', '6.1', '8', '', '90', 'Documentary', '0')
INSERTING  ('20352', 'tt1323594', 'Despicable Me', '2010-07-08 00:00:00', '7.2', '10410', '', '95', 'Animation, Family, Comedy', '543513985')
INSERTING  ('39781', 'tt0842926', 'The Kids Are All Right', '2010-07-09 00:00:00', '6.6', '887', '', '106', 'Comedy, Drama', '34705850')
INSERTING  ('24253', 'tt1216487', 'The Girl Who Played with Fire', '2009-09-18 00:00:00', '7.0', '916', '', '129', 'Drama, Action, Thriller, Crime, Mystery', '67126795')
INSERTING  ('186761', 'tt1570501', '[Rec] 2: En un mundo de infectados', '2010-02-10 00:00:00', '3.5', '2', '', '115', '', '0')
INSERTING  ('41592', 'tt1447972', 'StreetDance 3D', '2010-05-19 00:00:00', '6.3', '218', '', '98', 'Drama, Music, Romance', '18144030')
INSERTING  ('37861', 'tt0862467', 'Valhalla Rising', '2009-09-04 00:00:00', '6.0', '605', '', '93', 'Adventure, Drama, Action, Fantasy', '30638')
INSERTING  ('27022', 'tt0963966', "The Sorcerer's Apprentice", '2010-07-13 00:00:00', '5.9', '3034', '', '109', 'Fantasy, Adventure, Action, Comedy, Drama', '215283742')
INSERTING  ('27205', 'tt1375666', 'Inception', '2010-07-15 00:00:00', '8.3', '23145', '', '148', 'Action, Science Fiction, Adventure', '825532764')
INSERTING  ('76611', 'tt1691864', 'Kisses, Chloe', '2010-01-01 00:00:00', '1.0', '1', '', '', 'Drama', '0')
INSERTING  ('55567', 'tt1303803', 'Standing Ovation', '2010-07-16 00:00:00', '4.3', '12', '', '105', 'Comedy, Music, Family', '531826')
INSERTING  ('38843', 'tt0493949', 'Ramona and Beezus', '2010-07-23 00:00:00', '6.3', '489', '', '103', 'Comedy, Family', '27293743')
INSERTING  ('27576', 'tt0944835', 'Salt', '2010-07-21 00:00:00', '6.3', '3377', '', '100', 'Action, Mystery, Thriller', '293329073')
INSERTING  ('50420', 'tt1572769', 'Countdown to Zero', '2010-01-25 00:00:00', '6.6', '20', '', '91', 'Documentary', '0')
INSERTING  ('33996', 'tt0806029', 'Farewell', '2009-09-04 00:00:00', '6.4', '63', '', '113', 'Thriller, Drama', '0')
INSERTING  ('39800', 'tt0808526', 'Life During Wartime', '2009-10-10 00:00:00', '6.3', '48', '', '97', 'Comedy, Drama', '744816')
INSERTING  ('50221', 'tt1437235', 'Mugabe and the White African', '2009-08-07 00:00:00', '6.1', '7', '', '90', 'Documentary', '4542')
INSERTING  ('39691', 'tt1287468', 'Cats & Dogs: The Revenge of Kitty Galore', '2010-07-28 00:00:00', '5.0', '292', '', '82', 'Comedy, Family, Action, Fantasy', '112483764')
INSERTING  ('37950', 'tt1438254', 'Charlie St. Cloud', '2010-05-01 00:00:00', '6.9', '1470', '', '99', 'Drama, Romance', '48190704')
INSERTING  ('38778', 'tt0427152', 'Dinner for Schmucks', '2010-07-30 00:00:00', '5.6', '977', '', '114', 'Comedy', '86387857')
INSERTING  ('44998', 'tt1322264', 'The Dry Land', '2010-07-30 00:00:00', '6.0', '2', '', '92', 'Drama', '12000')
INSERTING  ('47088', 'tt1361313', 'The Extra Man', '2010-08-01 00:00:00', '5.9', '47', '', '108', 'Comedy', '453079')
INSERTING  ('44718', 'tt1194263', 'Get Low', '2010-07-30 00:00:00', '6.7', '140', '', '103', 'Comedy, Drama, Mystery', '0')
INSERTING  ('43949', 'tt0817177', 'Flipped', '2010-08-06 00:00:00', '7.4', '922', '', '89', 'Romance, Drama', '1755212')
INSERTING  ('27581', 'tt1386588', 'The Other Guys', '2010-08-06 00:00:00', '6.2', '2304', '', '107', 'Action, Comedy, Crime', '170432927')
INSERTING  ('41233', 'tt1193631', 'Step Up 3D', '2010-08-04 00:00:00', '6.8', '1224', '', '107', 'Drama, Romance', '159291809')
INSERTING  ('51462', 'tt1273241', 'Brotherhood', '2010-01-01 00:00:00', '6.2', '31', '', '79', 'Drama, Action, Thriller', '0')
INSERTING  ('31189', 'tt0896529', 'Cairo Time', '2009-09-13 00:00:00', '6.2', '34', '', '88', 'Drama, Romance', '0')
INSERTING  ('38542', 'tt1379177', 'The Disappearance of Alice Creed', '2009-09-12 00:00:00', '6.6', '294', '', '100', 'Crime, Drama, Thriller', '867714')
INSERTING  ('28739', 'tt0961722', 'Cabin Fever 2: Spring Fever', '2009-08-11 00:00:00', '4.4', '172', '', '87', 'Horror', '0')
INSERTING  ('40720', 'tt1407084', 'Twelve', '2010-07-30 00:00:00', '5.9', '151', '', '93', 'Thriller, Drama, Action, Crime', '2566717')
INSERTING  ('59248', 'tt1509276', 'The Wildest Dream', '2010-08-06 00:00:00', '7.1', '21', '', '94', 'Documentary', '0')
INSERTING  ('285469', 'tt1776307', 'Strawberry Shortcake: The Glimmerberry Ball Movie', '2010-07-31 00:00:00', '0.0', '0', '', '64', 'Animation, Family', '0')
Duplicate! Did not add to database.
INSERTING  ('38167', 'tt0879870', 'Eat Pray Love', '2010-08-12 00:00:00', '6.1', '1301', '', '133', 'Drama', '204594016')
INSERTING  ('27578', 'tt1320253', 'The Expendables', '2010-08-03 00:00:00', '6.1', '4818', '', '103', 'Thriller, Adventure, Action', '274470394')
INSERTING  ('22538', 'tt0446029', 'Scott Pilgrim vs. the World', '2010-07-27 00:00:00', '7.3', '4063', '', '112', 'Action, Comedy, Romance', '47664559')
INSERTING  ('44629', 'tt1313092', 'Animal Kingdom', '2010-06-03 00:00:00', '6.8', '415', '', '113', 'Drama, Thriller, Crime, Mystery', '1000000')
INSERTING  ('70570', 'tt1337155', 'Neshoba', '2010-08-15 00:00:00', '8.0', '1', '', '87', 'Documentary', '0')
INSERTING  ('44549', 'tt1447508', 'PEEPLI [Live]', '2010-08-13 00:00:00', '7.6', '32', '', '104', 'Drama, Comedy', '6900000')
INSERTING  ('63236', 'tt1269696', "The Butcher's Son", '2009-09-12 00:00:00', '5.8', '10', '', '102', 'Crime, Drama', '0')
INSERTING  ('37933', 'tt0495596', 'Tales from Earthsea', '2006-07-29 00:00:00', '6.6', '535', '', '115', 'Adventure, Fantasy, Animation, Science Fiction', '68000000')
INSERTING  ('40264', 'tt1666186', 'Vampires Suck', '2010-08-18 00:00:00', '4.1', '703', '', '82', 'Comedy', '80547866')
INSERTING  ('58772', 'tt1568923', 'A Film Unfinished', '2010-08-18 00:00:00', '7.0', '18', '', '89', 'History, Documentary', '0')
INSERTING  ('41382', 'tt0979434', 'Lottery Ticket', '2010-08-20 00:00:00', '5.6', '97', '', '99', 'Comedy', '0')
INSERTING  ('35019', 'tt1415283', 'Nanny McPhee and the Big Bang', '2010-03-26 00:00:00', '6.1', '1009', '', '109', 'Comedy, Fantasy, Family', '93246388')
INSERTING  ('41210', 'tt0889573', 'The Switch', '2010-05-11 00:00:00', '6.1', '1058', '', '101', 'Comedy, Romance, Drama', '49830607')
INSERTING  ('33870', 'tt1071812', "Mao's Last Dancer", '2009-10-01 00:00:00', '7.0', '50', '', '117', 'Drama, Romance', '20719451')
INSERTING  ('31175', 'tt1244668', 'Soul Kitchen', '2009-09-09 00:00:00', '6.9', '230', '', '99', 'Drama, Comedy', '17872796')
INSERTING  ('43924', 'tt1568334', 'The Tillman Story', '2010-08-22 00:00:00', '7.5', '35', '', '94', 'Documentary', '0')
INSERTING  ('42950', 'tt1468387', 'What if...', '2010-08-20 00:00:00', '6.6', '33', '', '111', 'Drama, Comedy, Romance, Family, Fantasy', '0')
INSERTING  ('38358', 'tt1320244', 'The Last Exorcism', '2010-08-27 00:00:00', '5.5', '544', '', '87', 'Horror, Drama, Thriller', '67738090')
INSERTING  ('22907', 'tt1135084', 'Takers', '2010-08-26 00:00:00', '6.2', '637', '', '107', 'Action, Crime, Drama, Thriller', '69055695')
INSERTING  ('19995', 'tt0499549', 'Avatar', '2009-12-10 00:00:00', '7.4', '19347', '', '162', 'Action, Adventure, Fantasy, Science Fiction', '2787965087')
Duplicate! Did not add to database.
INSERTING  ('23759', 'tt1020558', 'Centurion', '2010-02-15 00:00:00', '6.1', '712', '', '97', 'Adventure, Action, Drama', '6814789')

INSERTING  ('13635', 'tt1259014', 'Mesrine: Killer Instinct', '2008-10-22 00:00:00', '7.5', '467', '', '113', 'Drama, Action, Thriller, Crime', '31055440')
INSERTING  ('27579', 'tt1440728', 'The American', '2010-08-31 00:00:00', '5.8', '723', '', '104', 'Crime, Drama, Thriller', '65464324')
INSERTING  ('38073', 'tt1322312', 'Going the Distance', '2010-09-01 00:00:00', '6.1', '414', '', '102', 'Comedy, Drama, Romance', '42045846')
INSERTING  ('23631', 'tt0985694', 'Machete', '2010-09-01 00:00:00', '6.3', '1943', '', '105', 'Action, Comedy, Thriller', '31327899')
INSERTING  ('44874', 'tt1725929', 'Barbie: A Fashion Fairytale', '2010-09-14 00:00:00', '6.8', '255', '', '79', 'Family, Animation', '0')
INSERTING  ('35791', 'tt1220634', 'Resident Evil: Afterlife', '2010-09-09 00:00:00', '6.0', '2196', '', '97', 'Action, Adventure, Horror, Science Fiction', '300228084')
INSERTING  ('42889', 'tt1695994', 'The Virginity Hit', '2010-09-10 00:00:00', '4.7', '39', '', '120', 'Comedy', '563706')
INSERTING  ('71700', 'tt1580426', 'Repeaters', '2010-01-01 00:00:00', '5.7', '83', '', '89', 'Science Fiction, Thriller, Drama, Mystery', '0')
INSERTING  ('42188', 'tt1334260', 'Never Let Me Go', '2010-09-15 00:00:00', '6.8', '1342', '', '104', 'Drama, Romance, Science Fiction', '9455232')
INSERTING  ('12819', 'tt1213012', 'Alpha and Omega', '2010-09-17 00:00:00', '5.4', '242', '', '88', 'Animation, Family, Comedy, Adventure, Romance', '50500000')
INSERTING  ('44040', 'tt1314655', 'Devil', '2010-01-13 00:00:00', '5.9', '1593', '', '80', 'Horror, Mystery, Thriller', '33583175')
INSERTING  ('37735', 'tt1282140', 'Easy A', '2010-09-16 00:00:00', '6.8', '4421', '', '93', 'Comedy', '74952305')
INSERTING  ('23168', 'tt0840361', 'The Town', '2010-09-15 00:00:00', '7.1', '2495', '', '125', 'Crime, Drama, Thriller', '154026136')
INSERTING  ('42296', 'tt1584016', 'Catfish', '2010-09-17 00:00:00', '6.8', '296', '', '87', 'Documentary', '3045943')
INSERTING  ('43943', 'tt1278379', 'Jack Goes Boating', '2010-09-23 00:00:00', '6.1', '61', '', '89', 'Comedy, Drama, Romance', '538000')
INSERTING  ('97098', 'tt1922749', 'The Last Day of Summer', '2010-01-01 00:00:00', '0.0', '0', '', '34', 'Drama, Comedy, Documentary', '0')
INSERTING  ('12834', 'tt1151359', 'Leaves of Grass', '2009-09-13 00:00:00', '6.0', '221', '', '104', 'Comedy, Crime, Thriller', '985117')
INSERTING  ('38031', 'tt1182350', 'You Will Meet a Tall Dark Stranger', '2010-05-23 00:00:00', '5.8', '447', '', '98', 'Comedy, Drama, Romance', '0')
INSERTING  ('41216', 'tt1219342', "Legend of the Guardians: The Owls of Ga'Hoole", '2010-07-10 00:00:00', '6.6', '1277', '', '97', 'Animation, Adventure, Family, Fantasy', '140073390')
INSERTING  ('33909', 'tt1027718', 'Wall Street: Money Never Sleeps', '2010-09-02 00:00:00', '6.0', '830', '', '133', 'Drama, Crime', '134748021')
INSERTING  ('38303', 'tt1414382', 'You Again', '2010-09-24 00:00:00', '6.2', '764', '', '105', 'Comedy, Romance', '32005248')
INSERTING  ('26388', 'tt1462758', 'Buried', '2010-09-24 00:00:00', '6.6', '1553', '', '94', 'Drama, Thriller, Mystery', '19152480')
INSERTING  ('57703', 'tt1270842', 'Norwegian Wood', '2010-12-11 00:00:00', '6.7', '93', '', '133', 'Drama, Romance', '17636261')
INSERTING  ('28355', 'tt0795351', 'Case 39', '2009-08-13 00:00:00', '6.2', '1212', '', '109', 'Horror, Mystery, Thriller', '29000000')
INSERTING  ('41402', 'tt1228987', 'Let Me In', '2010-10-01 00:00:00', '6.7', '1104', '', '116', 'Drama, Horror, Mystery', '24145613')
INSERTING  ('37799', 'tt1285016', 'The Social Network', '2010-10-01 00:00:00', '7.2', '6470', '', '121', 'Drama', '224920315')
INSERTING  ('38408', 'tt1055292', 'Life As We Know It', '2010-10-02 00:00:00', '6.8', '1855', '', '114', 'Comedy, Romance, Drama', '105610124')
INSERTING  ('43931', 'tt0872230', 'My Soul to Take', '2010-10-08 00:00:00', '5.5', '262', '', '107', 'Drama, Horror, Mystery, Thriller', '19829957')
INSERTING  ('39486', 'tt1028576', 'Secretariat', '2010-08-20 00:00:00', '7.0', '210', '', '123', 'Drama', '60251371')
INSERTING  ('47931', 'tt1555149', 'Elite Squad: The Enemy Within', '2010-10-08 00:00:00', '7.7', '867', '', '115', 'Drama, Action, Crime', '63027681')
INSERTING  ('43947', 'tt1242432', 'I Spit on Your Grave', '2010-06-17 00:00:00', '6.4', '1029', '', '108', 'Thriller, Crime, Horror', '572809')
INSERTING  ('44639', 'tt1645089', 'Inside Job', '2010-10-08 00:00:00', '7.8', '481', '', '109', 'Documentary', '7871522')
INSERTING  ('42057', 'tt1319716', "It's a Wonderful Afterlife", '2010-05-07 00:00:00', '4.6', '12', '', '99', 'Comedy, Romance', '0')
INSERTING  ('33511', 'tt1266029', 'Nowhere Boy', '2009-12-25 00:00:00', '7.3', '489', '', '98', 'Drama', '0')
INSERTING  ('38961', 'tt1486190', 'Tamara Drewe', '2010-07-14 00:00:00', '5.8', '231', '', '111', 'Comedy, Romance', '0')
INSERTING  ('44147', 'tt1235189', 'Wild Target', '2010-06-17 00:00:00', '6.4', '364', '', '98', 'Action, Comedy', '3453043')
INSERTING  ('16290', 'tt1116184', 'Jackass 3D', '2010-10-15 00:00:00', '6.4', '704', '', '94', 'Comedy, Documentary, Action', '117224271')
INSERTING  ('39514', 'tt1245526', 'RED', '2010-10-13 00:00:00', '6.6', '4296', '', '111', 'Action, Adventure, Comedy, Crime, Thriller', '71664962')
INSERTING  ('43434', 'tt1321865', 'Carlos', '2010-05-19 00:00:00', '7.0', '90', '', '338', 'Crime, Drama, Thriller, History', '871279')
INSERTING  ('45094', 'tt1244754', 'Conviction', '2010-09-11 00:00:00', '7.2', '309', '', '107', 'Drama', '6732980')
INSERTING  ('44603', 'tt1212419', 'Hereafter', '2010-10-22 00:00:00', '6.0', '889', '', '129', 'Drama, Fantasy', '105197635')
INSERTING  ('41436', 'tt1536044', 'Paranormal Activity 2', '2010-10-20 00:00:00', '5.7', '1416', '', '91', 'Horror, Thriller', '177512032')
INSERTING  ('41439', 'tt1477076', 'Saw 3D', '2010-10-21 00:00:00', '6.0', '1573', '', '90', 'Horror, Crime', '136150434')
INSERTING  ('33613', 'tt1343097', "The Girl Who Kicked the Hornet's Nest", '2009-11-27 00:00:00', '7.0', '738', '', '147', 'Action, Thriller, Crime, Mystery', '43498108')
INSERTING  ('43933', 'tt1470827', 'Monsters', '2010-06-18 00:00:00', '6.2', '886', '', '94', 'Drama, Thriller, Science Fiction', '5639730')
INSERTING  ('117352', 'tt1623674', 'Crayon Shin-chan: Super-Dimmension! The Storm Called My Bride', '2010-04-17 00:00:00', '8.1', '5', '', '99', 'Animation, Comedy, Family', '0')
INSERTING  ('41733', 'tt1231583', 'Due Date', '2010-11-04 00:00:00', '6.3', '3118', '', '95', 'Comedy, Drama', '211780824')
INSERTING  ('38363', 'tt0977855', 'Fair Game', '2010-05-20 00:00:00', '6.6', '404', '', '108', 'Drama, Thriller', '24188922')
INSERTING  ('44944', 'tt1405500', 'For Colored Girls', '2010-11-05 00:00:00', '6.8', '33', '', '134', 'Drama', '37000000')
INSERTING  ('38055', 'tt1001526', 'Megamind', '2010-10-28 00:00:00', '6.8', '3849', '', '96', 'Animation, Action, Comedy, Family, Science Fiction', '321885765')
INSERTING  ('552159', '', 'Transformers - Guerra por Cybertron', '2010-06-22 00:00:00', '0.0', '0', '', '', '', '0')
INSERTING  ('44115', 'tt1542344', '127 Hours', '2010-11-05 00:00:00', '7.0', '4687', '', '94', 'Adventure, Drama, Thriller', '35692920')
INSERTING  ('37495', 'tt1341167', 'Four Lions', '2010-05-07 00:00:00', '7.0', '651', '', '101', 'Comedy, Crime, Drama', '4658570')
INSERTING  ('46504', 'tt1337193', 'Guy and Madeline on a Park Bench', '2010-03-28 00:00:00', '5.5', '22', '', '82', 'Drama, Music, Romance', '0')
INSERTING  ('38357', 'tt1126618', 'Morning Glory', '2010-11-10 00:00:00', '6.3', '766', '', '102', 'Comedy, Drama, Romance', '58785180')
INSERTING  ('42684', 'tt1564585', 'Skyline', '2010-11-11 00:00:00', '4.8', '864', '', '92', 'Science Fiction, Action', '66821036')
INSERTING  ('44048', 'tt0477080', 'Unstoppable', '2010-11-04 00:00:00', '6.4', '1998', '', '98', 'Action, Thriller', '167805466')
INSERTING  ('12444', 'tt0926084', 'Harry Potter and the Deathly Hallows: Part 1', '2010-10-17 00:00:00', '7.8', '11321', '', '146', 'Adventure, Fantasy, Family', '954305868')
INSERTING  ('43539', 'tt1458175', 'The Next Three Days', '2010-11-18 00:00:00', '7.0', '1556', '', '133', 'Romance, Drama, Thriller, Crime', '51148651')
INSERTING  ('46138', 'tt1371155', 'Made in Dagenham', '2010-09-11 00:00:00', '6.6', '152', '', '113', 'Comedy, Drama, History', '0')

INSERTING  ('42297', 'tt1126591', 'Burlesque', '2010-11-23 00:00:00', '7.1', '1281', '', '119', 'Drama, Romance', '89519773')
INSERTING  ('41283', 'tt1433108', 'Faster', '2010-11-23 00:00:00', '6.3', '947', '', '98', 'Crime, Drama, Action, Thriller', '23081726')
INSERTING  ('43347', 'tt0758752', 'Love & Other Drugs', '2010-11-22 00:00:00', '6.9', '2644', '', '112', 'Drama, Comedy, Romance', '102820008')
INSERTING  ('38757', 'tt0398286', 'Tangled', '2010-11-24 00:00:00', '7.5', '6770', '', '100', 'Animation, Family', '591794936')
INSERTING  ('50099', 'tt1578261', 'Break Ke Baad', '2010-11-25 00:00:00', '5.6', '26', '', '120', 'Drama, Comedy, Romance', '427628')
INSERTING  ('49852', 'tt1041804', 'The Nutcracker in 3D', '2010-11-24 00:00:00', '5.4', '109', '', '110', 'Music, Fantasy, Action, Family', '16178959')
INSERTING  ('45269', 'tt1504320', "The King's Speech", '2010-09-06 00:00:00', '7.7', '5237', '', '118', 'Drama, History', '414211549')
INSERTING  ('44214', 'tt0947798', 'Black Swan', '2010-12-03 00:00:00', '7.6', '8739', '', '108', 'Drama, Thriller', '327803731')
INSERTING  ('8952', 'tt1045772', 'I Love You Phillip Morris', '2009-01-18 00:00:00', '6.4', '902', '', '98', 'Comedy, Drama, Romance', '20722843')
INSERTING  ('46528', 'tt1032751', "The Warrior's Way", '2010-12-02 00:00:00', '6.2', '214', '', '100', 'Adventure, Fantasy, Action, Western, Thriller', '11087569')
INSERTING  ('48833', 'tt0775543', 'Night Catches Us', '2010-12-03 00:00:00', '4.2', '8', '', '90', 'Drama, Romance', '0')
INSERTING  ('10140', 'tt0980970', 'The Chronicles of Narnia: The Voyage of the Dawn Treader', '2010-08-13 00:00:00', '6.3', '3372', '', '113', 'Adventure, Family, Fantasy', '415686217')
INSERTING  ('37710', 'tt1243957', 'The Tourist', '2010-12-08 00:00:00', '6.1', '3303', '', '103', 'Action, Thriller, Romance', '278731369')
INSERTING  ('55061', 'tt1221208', 'Frankie & Alice', '2014-04-04 00:00:00', '5.7', '43', '', '101', 'Drama, Thriller', '693181')
INSERTING  ('44638', 'tt1274300', 'The Tempest', '2010-12-10 00:00:00', '5.7', '57', '', '110', 'Drama, Fantasy', '346594')
INSERTING  ('45317', 'tt0964517', 'The Fighter', '2010-12-17 00:00:00', '7.3', '2431', '', '116', 'Drama', '93617009')
INSERTING  ('42888', 'tt1341188', 'How Do You Know', '2010-12-17 00:00:00', '5.1', '484', '', '121', 'Comedy, Drama, Romance', '48668907')
INSERTING  ('20526', 'tt1104001', 'TRON: Legacy', '2010-12-10 00:00:00', '6.4', '4543', '', '125', 'Adventure, Action, Science Fiction', '400062763')
INSERTING  ('41515', 'tt1302067', 'Yogi Bear', '2010-12-17 00:00:00', '5.3', '409', '', '80', 'Comedy, Family, Animation, Adventure', '201584141')
INSERTING  ('45324', 'tt1194417', 'Casino Jack', '2010-09-16 00:00:00', '6.0', '153', '', '108', 'Crime, Comedy, Drama', '1083683')
INSERTING  ('27585', 'tt0935075', 'Rabbit Hole', '2010-12-16 00:00:00', '6.8', '304', '', '91', 'Drama', '5129058')
INSERTING  ('39451', 'tt0970866', 'Little Fockers', '2010-12-21 00:00:00', '5.6', '1991', '', '98', 'Comedy, Romance', '310650585')
INSERTING  ('44264', 'tt1403865', 'True Grit', '2010-12-22 00:00:00', '7.2', '2963', '', '110', 'Drama, Adventure, Western', '252276927')
INSERTING  ('39210', 'tt1421051', 'Somewhere', '2010-09-03 00:00:00', '6.1', '390', '', '98', 'Comedy, Drama', '0')
INSERTING  ('38745', 'tt1320261', "Gulliver's Travels", '2010-12-25 00:00:00', '5.1', '1356', '', '85', 'Comedy, Adventure, Family, Fantasy', '237382724')
INSERTING  ('41201', 'tt0775489', 'The Illusionist', '2010-02-16 00:00:00', '7.4', '295', '', '77', 'Animation, Drama', '6007194')
INSERTING  ('44009', 'tt1431181', 'Another Year', '2010-11-05 00:00:00', '7.0', '155', '', '129', 'Comedy, Drama', '18124262')
INSERTING  ('45958', 'tt1164999', 'Biutiful', '2010-10-20 00:00:00', '7.2', '579', '', '148', 'Drama', '25147786')
INSERTING  ('46705', 'tt1120985', 'Blue Valentine', '2010-12-16 00:00:00', '6.9', '1749', '', '112', 'Drama, Romance', '16566240')
INSERTING  ('62046', 'tt1541160', 'Flypaper', '2011-08-19 00:00:00', '6.3', '416', '', '87', 'Mystery, Comedy, Crime', '3142154')
INSERTING  ('23047', 'tt0479997', 'Season of the Witch', '2011-01-07 00:00:00', '5.3', '1420', '', '95', 'Adventure, Fantasy, Action', '91627228')
INSERTING  ('55845', 'tt1597089', 'Phil Ochs: There But for Fortune', '2011-01-05 00:00:00', '0.0', '0', '', '96', 'Documentary, Music', '0')
INSERTING  ('44898', 'tt1037163', 'The Time that Remains', '2009-08-12 00:00:00', '6.6', '15', '', '109', 'Drama, History', '753808')
INSERTING  ('40805', 'tt0990407', 'The Green Hornet', '2011-01-12 00:00:00', '5.5', '1988', '', '119', 'Action, Crime, Comedy', '227817248')
INSERTING  ('41630', 'tt1411238', 'No Strings Attached', '2011-01-21 00:00:00', '6.2', '2770', '', '107', 'Comedy, Romance', '147780440')
INSERTING  ('44564', 'tt1578275', 'The Dilemma', '2011-01-13 00:00:00', '5.4', '496', '', '111', 'Comedy, Drama', '67112664')
INSERTING  ('67913', 'tt1540133', 'The Guard', '2011-07-07 00:00:00', '6.9', '591', '', '96', 'Action, Comedy, Thriller, Crime', '19560274')
INSERTING  ('58699', 'tt1242599', 'Bellflower', '2011-04-16 00:00:00', '6.2', '85', '', '106', 'Action, Drama, Romance', '101236')
INSERTING  ('2616', 'tt0098554', 'Uncle Buck', '1989-08-16 00:00:00', '6.7', '559', '', '100', 'Comedy, Drama, Family', '79258538')
INSERTING  ('49010', 'tt1640459', 'Hobo with a Shotgun', '2011-05-06 00:00:00', '5.8', '315', '', '86', 'Crime, Action, Thriller', '748453')
INSERTING  ('73939', 'tt1233334', 'Pariah', '2011-12-27 00:00:00', '7.0', '60', '', '86', 'Drama', '0')
INSERTING  ('92182', 'tt1767382', 'Silent House', '2011-01-21 00:00:00', '5.3', '196', '', '85', 'Horror, Mystery', '13101672')
INSERTING  ('55725', 'tt1606392', 'Win Win', '2011-03-18 00:00:00', '6.9', '271', '', '106', 'Drama, Comedy', '10654385')
INSERTING  ('62630', 'tt1270262', "The Devil's Double", '2011-02-11 00:00:00', '6.7', '302', '', '109', 'Drama, Action, Thriller, Crime, War', '5728213')
INSERTING  ('60420', 'tt1758692', 'Like Crazy', '2011-10-28 00:00:00', '6.4', '656', '', '90', 'Drama, Romance', '3542353')
INSERTING  ('58492', 'tt1743720', 'The Greatest Movie Ever Sold', '2011-04-22 00:00:00', '6.5', '125', '', '87', 'Comedy, Documentary', '621951')
INSERTING  ('52067', 'tt1477837', 'Cedar Rapids', '2011-02-11 00:00:00', '6.0', '213', '', '87', 'Comedy', '6861102')
INSERTING  ('45772', 'tt0377981', 'Gnomeo & Juliet', '2011-01-13 00:00:00', '5.8', '1149', '', '84', 'Animation, Family', '189712432')
INSERTING  ('50875', 'tt1562568', 'Higher Ground', '2011-08-26 00:00:00', '6.0', '24', '', '109', 'Drama, Thriller', '841733')
INSERTING  ('55420', 'tt1549572', 'Another Earth', '2011-07-22 00:00:00', '6.7', '891', '', '92', 'Drama, Science Fiction', '1776935')
INSERTING  ('86812', 'tt1748207', 'Sound of My Voice', '2011-01-22 00:00:00', '6.4', '175', '', '85', 'Science Fiction, Drama, Mystery, Thriller', '0')
INSERTING  ('64720', 'tt1675192', 'Take Shelter', '2011-09-30 00:00:00', '7.1', '819', '', '120', 'Thriller, Drama', '3099314')
INSERTING  ('50839', 'tt1615147', 'Margin Call', '2011-09-28 00:00:00', '6.8', '875', '', '107', 'Thriller, Drama', '19504039')
INSERTING  ('48171', 'tt1161864', 'The Rite', '2011-01-28 00:00:00', '6.0', '1046', '', '114', 'Drama, Thriller, Horror', '96047633')
INSERTING  ('27582', 'tt0472399', 'The Mechanic', '2011-01-13 00:00:00', '6.4', '1757', '', '93', 'Action, Thriller, Crime', '51070807')
INSERTING  ('48340', 'tt0881320', 'Sanctum', '2011-02-03 00:00:00', '5.9', '540', '', '108', 'Action, Thriller', '108609310')
INSERTING  ('55934', 'tt1497874', 'Cold Weather', '2010-03-13 00:00:00', '6.2', '20', '', '96', 'Mystery, Drama, Comedy, Thriller', '0')
INSERTING  ('52505', 'tt1032825', 'The Other Woman', '2010-10-28 00:00:00', '6.2', '227', '', '98', 'Drama', '102000000')
Duplicate! Did not add to database.
INSERTING  ('49950', 'tt1265990', 'The Roommate', '2011-02-04 00:00:00', '5.4', '484', '', '91', 'Thriller, Drama, Horror', '52545707')
INSERTING  ('50546', 'tt1564367', 'Just Go with It', '2011-02-10 00:00:00', '6.5', '3164', '', '117', 'Comedy, Romance', '214918407')
INSERTING  ('47261', 'tt1542852', 'Carancho', '2010-05-06 00:00:00', '6.5', '66', '', '107', 'Thriller, Drama, Romance, Crime', '0')

INSERTING  ('75446', 'tt1482991', 'Carbon Nation', '2011-02-11 00:00:00', '7.0', '2', '', '86', 'Documentary', '0')
INSERTING  ('49494', 'tt1034389', 'The Eagle', '2011-02-08 00:00:00', '6.1', '725', '', '114', 'Adventure, Drama', '27122040')
INSERTING  ('66025', 'tt1450328', 'Mooz-lum', '2011-02-11 00:00:00', '4.7', '5', '', '95', 'Drama', '330048')
INSERTING  ('38050', 'tt1385826', 'The Adjustment Bureau', '2011-03-03 00:00:00', '6.7', '2723', '', '106', 'Science Fiction, Thriller, Romance', '127869379')
INSERTING  ('101173', 'tt1372686', 'Coriolanus', '2011-02-14 00:00:00', '6.0', '221', '', '123', 'Drama, Thriller', '1072602')
INSERTING  ('39513', 'tt1092026', 'Paul', '2011-02-14 00:00:00', '6.5', '3146', '', '104', 'Adventure, Comedy, Science Fiction', '97552050')
INSERTING  ('44896', 'tt1192628', 'Rango', '2011-03-02 00:00:00', '6.6', '3570', '', '107', 'Animation, Comedy, Family, Western, Adventure', '245724603')
INSERTING  ('60243', 'tt1832382', 'A Separation', '2011-03-15 00:00:00', '7.9', '831', '', '123', 'Drama', '24426169')
INSERTING  ('48138', 'tt1401152', 'Unknown', '2011-02-16 00:00:00', '6.6', '2136', '', '113', 'Action, Mystery, Thriller', '130786397')
INSERTING  ('38322', 'tt1464174', 'Big Mommas: Like Father, Like Son', '2011-02-16 00:00:00', '5.5', '656', '', '107', 'Crime, Comedy, Action', '83615414')
INSERTING  ('46529', 'tt1464540', 'I Am Number Four', '2011-02-18 00:00:00', '6.0', '2932', '', '109', 'Action, Thriller, Science Fiction, Adventure', '144492830')
INSERTING  ('47327', 'tt1502404', 'Drive Angry', '2011-02-24 00:00:00', '5.3', '1009', '', '105', 'Fantasy, Thriller, Action, Crime', '28931401')
INSERTING  ('48988', 'tt0480687', 'Hall Pass', '2011-02-25 00:00:00', '5.5', '1063', '', '105', 'Comedy, Romance', '83160734')
INSERTING  ('50725', 'tt0810922', 'Take Me Home Tonight', '2011-03-04 00:00:00', '6.0', '360', '', '97', 'Comedy, Drama, Romance', '6928068')
INSERTING  ('38117', 'tt1152398', 'Beastly', '2011-01-21 00:00:00', '6.2', '1839', '', '86', 'Drama, Fantasy, Romance', '43165571')
INSERTING  ('49730', 'tt1486185', 'Red Riding Hood', '2011-03-11 00:00:00', '5.9', '1969', '', '100', 'Fantasy, Thriller, Horror', '89162162')
INSERTING  ('44943', 'tt1217613', 'Battle: Los Angeles', '2011-03-08 00:00:00', '5.6', '2126', '', '116', 'Action, Science Fiction', '202466756')
INSERTING  ('51876', 'tt1219289', 'Limitless', '2011-03-08 00:00:00', '7.1', '6583', '', '105', 'Thriller, Mystery, Science Fiction', '161849455')
INSERTING  ('38684', 'tt1229822', 'Jane Eyre', '2011-03-11 00:00:00', '7.2', '799', '', '120', 'Drama, Romance', '34710627')
INSERTING  ('50348', 'tt1189340', 'The Lincoln Lawyer', '2011-03-17 00:00:00', '7.1', '1598', '', '119', 'Crime, Drama, Thriller', '85412898')
INSERTING  ('50321', 'tt1305591', 'Mars Needs Moms', '2011-03-09 00:00:00', '5.7', '317', '', '88', 'Adventure, Animation, Family', '38992758')
INSERTING  ('45612', 'tt0945513', 'Source Code', '2011-03-30 00:00:00', '7.2', '4782', '', '93', 'Thriller, Science Fiction, Mystery', '147332697')
INSERTING  ('59678', 'tt1478964', 'Attack the Block', '2011-05-12 00:00:00', '6.4', '1183', '', '88', 'Action, Comedy, Science Fiction', '3964682')
INSERTING  ('94331', 'tt1703232', 'Fightville', '2011-03-12 00:00:00', '6.0', '7', '', '85', 'Documentary', '0')
INSERTING  ('38541', 'tt1535616', 'The Divide', '2011-03-13 00:00:00', '5.9', '320', '', '112', 'Horror, Science Fiction, Drama', '22000')
INSERTING  ('50780', 'tt1321860', 'The Beaver', '2011-02-11 00:00:00', '6.3', '489', '', '91', 'Drama', '970816')
INSERTING  ('43935', 'tt1013860', 'Dylan Dog: Dead of Night', '2011-03-16 00:00:00', '4.5', '257', '', '107', 'Action, Comedy, Horror, Mystery, Science Fiction, Thriller', '4634062')
INSERTING  ('46195', 'tt1436562', 'Rio', '2011-04-03 00:00:00', '6.6', '3894', '', '96', 'Animation, Adventure, Comedy, Family', '484635760')
INSERTING  ('60307', 'tt1650043', 'Diary of a Wimpy Kid: Rodrick Rules', '2011-03-25 00:00:00', '6.4', '527', '', '99', 'Family, Comedy', '0')
INSERTING  ('23629', 'tt0978764', 'Sucker Punch', '2011-03-24 00:00:00', '6.1', '2822', '', '110', 'Action, Fantasy, Thriller', '89792502')
INSERTING  ('50359', 'tt1411704', 'Hop', '2011-03-30 00:00:00', '5.6', '653', '', '95', 'Animation, Comedy, Family', '183953723')
INSERTING  ('50838', 'tt1316622', 'Wrecked', '2011-04-01 00:00:00', '5.3', '162', '', '86', 'Mystery, Thriller', '8020')
INSERTING  ('50456', 'tt0993842', 'Hanna', '2011-04-07 00:00:00', '6.6', '1996', '', '111', 'Action, Thriller, Adventure', '63782078')
INSERTING  ('49012', 'tt1334512', 'Arthur', '2011-04-08 00:00:00', '5.5', '422', '', '110', 'Comedy, Romance', '45735397')
INSERTING  ('43959', 'tt1596346', 'Soul Surfer', '2011-04-08 00:00:00', '7.0', '719', '', '112', 'Family, Drama', '47088990')
INSERTING  ('38319', 'tt1240982', 'Your Highness', '2011-04-08 00:00:00', '5.3', '759', '', '102', 'Comedy, Adventure, Fantasy', '26121638')
INSERTING  ('41446', 'tt1262416', 'Scream 4', '2011-04-11 00:00:00', '6.2', '1695', '', '111', 'Horror, Mystery', '97138686')
INSERTING  ('67308', 'tt1365048', '3-D Sex and Zen: Extreme Ecstasy', '2011-04-14 00:00:00', '4.9', '31', '', '118', 'Drama, Adventure, Romance', '0')
INSERTING  ('56780', 'tt0480239', 'Atlas Shrugged: Part I', '2011-04-14 00:00:00', '5.3', '97', '', '97', 'Drama, Thriller, Science Fiction, Mystery', '4627375')
INSERTING  ('51497', 'tt1596343', 'Fast Five', '2011-04-20 00:00:00', '7.2', '4519', '', '130', 'Action, Thriller, Crime', '626137675')
INSERTING  ('61667', 'tt1456472', 'We Have a Pope', '2011-04-15 00:00:00', '6.9', '247', '', '102', 'Drama, Comedy', '0')
INSERTING  ('51162', 'tt1449283', 'Winnie the Pooh', '2011-04-13 00:00:00', '6.9', '468', '', '63', 'Animation, Family', '14460000')
INSERTING  ('10195', 'tt0800369', 'Thor', '2011-04-21 00:00:00', '6.7', '13387', '', '115', 'Adventure, Fantasy, Action', '449326618')
INSERTING  ('57586', 'tt1223236', 'African Cats', '2011-04-22 00:00:00', '7.1', '116', '', '89', 'Documentary, Family, Adventure', '15240456')
INSERTING  ('51017', 'tt1787759', "Madea's Big Happy Family", '2011-04-22 00:00:00', '6.8', '78', '', '106', 'Comedy, Drama', '53213633')
INSERTING  ('55787', 'tt1067583', 'Water for Elephants', '2011-03-15 00:00:00', '6.9', '1683', '', '120', 'Drama, Romance', '114156230')
INSERTING  ('57089', 'tt0844993', 'Hoodwinked Too! Hood VS. Evil', '2011-04-29 00:00:00', '5.0', '274', '', '86', 'Comedy, Animation, Family', '13521829')
INSERTING  ('55721', 'tt1478338', 'Bridesmaids', '2011-05-13 00:00:00', '6.5', '2905', '', '125', 'Comedy, Romance', '288383523')
INSERTING  ('51588', 'tt1604171', 'Prom', '2011-04-29 00:00:00', '5.9', '294', '', '104', 'Comedy, Romance', '10130000')
INSERTING  ('80518', 'tt1776196', 'Fullmetal Alchemist The Movie: The Sacred Star of Milos', '2011-07-02 00:00:00', '6.7', '110', '', '110', 'Adventure, Fantasy, Animation, Action, Science Fiction', '7401480')
INSERTING  ('57119', 'tt1640484', 'Jumping the Broom', '2011-05-06 00:00:00', '6.0', '117', '', '112', 'Comedy', '37710610')
INSERTING  ('49022', 'tt0491152', 'Something Borrowed', '2011-05-05 00:00:00', '6.1', '620', '', '112', 'Comedy, Drama, Romance', '65090821')
INSERTING  ('1865', 'tt1298650', 'Pirates of the Caribbean: On Stranger Tides', '2011-05-14 00:00:00', '6.4', '8914', '', '136', 'Adventure, Action, Fantasy', '1045713802')
INSERTING  ('59436', 'tt1605783', 'Midnight in Paris', '2011-05-11 00:00:00', '7.5', '4168', '', '94', 'Fantasy, Comedy, Romance', '151119219')
INSERTING  ('47760', 'tt1498569', 'Restless', '2011-09-16 00:00:00', '6.4', '264', '', '91', 'Drama, Romance', '163265')
INSERTING  ('71859', 'tt1242460', 'We Need to Talk About Kevin', '2011-09-28 00:00:00', '7.6', '1366', '', '113', 'Drama, Thriller', '10765283')
INSERTING  ('77635', 'tt1911600', 'Miss Bala', '2011-09-11 00:00:00', '6.2', '56', '', '113', 'Drama, Action', '0')
INSERTING  ('38321', 'tt0822847', 'Priest', '2011-05-05 00:00:00', '5.6', '1212', '', '87', 'Horror, Action, Thriller', '78309131')
INSERTING  ('211438', 'tt1943687', 'Departures', '2011-05-14 00:00:00', '8.0', '1', '', '', 'Drama', '0')
INSERTING  ('72551', 'tt1445520', 'Footnote', '2011-05-25 00:00:00', '7.4', '31', '', '103', 'Drama, Comedy', '0')

INSERTING  ('74643', 'tt1655442', 'The Artist', '2011-06-26 00:00:00', '7.4', '1853', '', '100', 'Drama, Comedy, Romance', '133432856')
INSERTING  ('8967', 'tt0478304', 'The Tree of Life', '2011-05-18 00:00:00', '6.6', '1801', '', '139', 'Drama, Fantasy', '54674226')
INSERTING  ('77461', 'tt1772424', 'Where Do We Go Now?', '2011-05-16 00:00:00', '7.4', '90', '', '110', 'Drama, Comedy', '0')
INSERTING  ('62215', 'tt1527186', 'Melancholia', '2011-05-26 00:00:00', '7.1', '1709', '', '136', 'Drama, Science Fiction', '15946321')
INSERTING  ('75233', 'tt1736633', 'Oslo, August 31st', '2011-08-31 00:00:00', '7.5', '134', '', '95', 'Drama', '0')
INSERTING  ('63311', 'tt1189073', 'The Skin I Live In', '2011-08-17 00:00:00', '7.5', '1569', '', '120', 'Drama, Horror, Mystery, Thriller', '5774854')
INSERTING  ('64690', 'tt0780504', 'Drive', '2011-08-06 00:00:00', '7.5', '7073', '', '100', 'Drama, Action, Thriller, Crime', '78054825')
INSERTING  ('83552', 'tt1667905', 'This Is Not a Film', '2011-09-27 00:00:00', '7.3', '41', '', '75', 'Documentary', '0')
INSERTING  ('74879', 'tt1827487', 'Once Upon a Time in Anatolia', '2011-09-23 00:00:00', '7.6', '190', '', '150', 'Drama, Crime', '138730')
INSERTING  ('49444', 'tt1302011', 'Kung Fu Panda 2', '2011-05-25 00:00:00', '6.8', '3816', '', '91', 'Animation, Family', '665692281')
INSERTING  ('49538', 'tt1270798', 'X-Men: First Class', '2011-06-01 00:00:00', '7.2', '8559', '', '132', 'Action, Science Fiction, Adventure', '353624124')
INSERTING  ('45243', 'tt1411697', 'The Hangover Part II', '2011-05-25 00:00:00', '6.4', '6511', '', '102', 'Comedy', '254455986')
INSERTING  ('80767', 'tt1772925', 'Jiro Dreams of Sushi', '2011-06-11 00:00:00', '7.9', '392', '', '82', 'Documentary', '2550508')
INSERTING  ('41513', 'tt0472181', 'The Smurfs', '2011-07-29 00:00:00', '5.7', '2236', '', '103', 'Animation, Family, Adventure, Comedy, Fantasy', '563749323')
INSERTING  ('52449', 'tt1284575', 'Bad Teacher', '2011-05-16 00:00:00', '5.5', '3029', '', '92', 'Comedy', '216197492')
INSERTING  ('44912', 'tt1133985', 'Green Lantern', '2011-06-16 00:00:00', '5.1', '4477', '', '114', 'Adventure, Action, Thriller, Science Fiction', '219851172')
INSERTING  ('58224', 'tt1396218', "Mr. Popper's Penguins", '2011-06-17 00:00:00', '5.8', '1651', '', '94', 'Comedy, Family', '187361754')
INSERTING  ('49013', 'tt1216475', 'Cars 2', '2011-06-11 00:00:00', '5.9', '4296', '', '106', 'Animation, Family, Adventure, Comedy', '559852396')
INSERTING  ('38356', 'tt1399103', 'Transformers: Dark of the Moon', '2011-06-28 00:00:00', '6.1', '5146', '', '154', 'Action, Science Fiction, Adventure', '1123746996')
INSERTING  ('55720', 'tt1554091', 'A Better Life', '2011-06-24 00:00:00', '7.1', '100', '', '98', 'Drama', '1759252')
INSERTING  ('59861', 'tt1583420', 'Larry Crowne', '2011-06-30 00:00:00', '5.8', '710', '', '98', 'Comedy, Romance, Drama', '36160375')
INSERTING  ('51540', 'tt1499658', 'Horrible Bosses', '2011-07-08 00:00:00', '6.5', '3990', '', '98', 'Comedy, Crime', '209600000')
INSERTING  ('59860', 'tt1067774', 'Monte Carlo', '2011-07-01 00:00:00', '6.3', '1264', '', '109', 'Adventure, Comedy, Romance', '39667665')
INSERTING  ('107753', 'tt1555058', 'Collaborator', '2011-10-08 00:00:00', '5.3', '6', '', '87', 'Comedy, Drama', '0')
INSERTING  ('54598', 'tt1763280', 'Septien', '2011-07-06 00:00:00', '6.1', '4', '', '80', 'Comedy, Drama, Mystery', '0')
INSERTING  ('35008', 'tt1430110', 'Rapt', '2009-11-18 00:00:00', '6.3', '28', '', '125', 'Drama, Thriller', '0')
INSERTING  ('12445', 'tt1201607', 'Harry Potter and the Deathly Hallows: Part 2', '2011-07-07 00:00:00', '8.1', '12136', '', '130', 'Family, Fantasy, Adventure', '1342000000')
INSERTING  ('70342', 'tt1613023', 'Beats Rhymes & Life: The Travels of A Tribe Called Quest', '2011-07-08 00:00:00', '7.1', '26', '', '97', 'Music, Documentary', '0')
INSERTING  ('1771', 'tt0458339', 'Captain America: The First Avenger', '2011-07-22 00:00:00', '6.9', '13443', '', '124', 'Action, Adventure, Science Fiction', '370569774')
INSERTING  ('50544', 'tt1632708', 'Friends with Benefits', '2011-07-21 00:00:00', '6.6', '4917', '', '109', 'Romance, Comedy', '150483765')
INSERTING  ('49849', 'tt0409847', 'Cowboys & Aliens', '2011-07-29 00:00:00', '5.5', '3229', '', '119', 'Action, Science Fiction, Thriller, Western', '174822325')
INSERTING  ('62835', 'tt1657507', 'Colombiana', '2011-07-27 00:00:00', '6.6', '1437', '', '108', 'Action, Thriller, Crime, Drama', '60965854')
INSERTING  ('50646', 'tt1570728', 'Crazy, Stupid, Love.', '2011-07-29 00:00:00', '7.2', '4805', '', '118', 'Comedy, Drama, Romance', '142851197')
INSERTING  ('55779', 'tt1622979', 'Final Destination 5', '2011-08-12 00:00:00', '6.0', '1785', '', '92', 'Horror, Mystery', '157887643')
INSERTING  ('49520', 'tt1488555', 'The Change-Up', '2011-08-05 00:00:00', '6.0', '1504', '', '112', 'Comedy', '75450437')
INSERTING  ('78480', 'tt2011971', 'Monsieur Lazhar', '2011-09-10 00:00:00', '6.9', '142', '', '94', 'Drama, Comedy', '6581915')
INSERTING  ('51828', 'tt1563738', 'One Day', '2011-03-02 00:00:00', '7.2', '2222', '', '107', 'Drama, Romance', '59389433')
INSERTING  ('50014', 'tt1454029', 'The Help', '2011-08-09 00:00:00', '8.1', '4146', '', '146', 'Drama', '124272124')
INSERTING  ('9387', 'tt0082198', 'Conan the Barbarian', '1982-04-02 00:00:00', '6.7', '1208', '', '129', 'Adventure, Fantasy, Action', '79114085')
INSERTING  ('62206', 'tt1622547', '30 Minutes or Less', '2011-08-11 00:00:00', '5.6', '879', '', '83', 'Action, Adventure, Comedy', '40547440')
INSERTING  ('58151', 'tt1438176', 'Fright Night', '2011-08-18 00:00:00', '6.1', '1067', '', '106', 'Horror, Comedy', '41002607')
INSERTING  ('69798', 'tt1716772', 'The Inbetweeners Movie', '2011-08-19 00:00:00', '6.2', '540', '', '97', 'Comedy', '88025781')
INSERTING  ('56288', 'tt1517489', 'Spy Kids: All the Time in the World', '2011-08-18 00:00:00', '4.7', '525', '', '89', 'Family, Comedy, Action', '85564310')
INSERTING  ('72213', 'tt1630036', 'Courageous', '2011-09-30 00:00:00', '7.0', '138', '', '129', 'Drama', '34522221')
INSERTING  ('70670', 'tt1614989', 'Headhunters', '2011-08-04 00:00:00', '7.3', '632', '', '100', 'Thriller, Crime, Action', '15699707')
INSERTING  ('10316', 'tt1124035', 'The Ides of March', '2011-09-24 00:00:00', '6.7', '1454', '', '101', 'Drama', '75993061')
INSERTING  ('72113', 'tt1692486', 'Carnage', '2011-09-16 00:00:00', '7.2', '1546', '', '80', 'Comedy, Drama', '27603069')
INSERTING  ('52451', 'tt1509767', 'The Three Musketeers', '2011-08-31 00:00:00', '5.7', '1683', '', '110', 'Adventure, Action, Thriller', '132274484')
INSERTING  ('80591', 'tt1536048', 'W.E.', '2011-09-01 00:00:00', '5.9', '99', '', '119', 'Drama, Romance', '868439')
INSERTING  ('73873', 'tt1602098', 'Albert Nobbs', '2011-12-21 00:00:00', '6.3', '231', '', '113', 'Drama', '5634828')
INSERTING  ('50357', 'tt1772240', 'Apollo 18', '2011-07-20 00:00:00', '5.0', '510', '', '86', 'Horror, Thriller, Science Fiction', '25562924')
INSERTING  ('48231', 'tt1571222', 'A Dangerous Method', '2011-09-30 00:00:00', '6.3', '1115', '', '99', 'Drama, Thriller', '27462041')
INSERTING  ('70876', 'tt1699147', 'Seven Days in Utopia', '2011-09-02 00:00:00', '5.4', '27', '', '98', 'Drama', '0')
INSERTING  ('65055', 'tt1633356', 'Shark Night 3D', '2011-09-02 00:00:00', '5.0', '261', '', '91', 'Horror, Thriller', '10126458')
INSERTING  ('39538', 'tt1598778', 'Contagion', '2011-09-08 00:00:00', '6.3', '2223', '', '106', 'Drama, Thriller, Science Fiction', '137551594')
INSERTING  ('76025', 'tt1723811', 'Shame', '2011-10-02 00:00:00', '7.0', '1684', '', '101', 'Drama', '17693675')
INSERTING  ('49517', 'tt1340800', 'Tinker Tailor Soldier Spy', '2011-09-16 00:00:00', '6.7', '1458', '', '127', 'Drama, Thriller, Mystery', '80630608')
INSERTING  ('61891', 'tt1521197', 'Anonymous', '2011-10-21 00:00:00', '6.4', '446', '', '130', 'Drama, History, Thriller', '15395087')
INSERTING  ('89874', 'tt2008513', 'First Position', '2011-09-11 00:00:00', '7.8', '24', '', '90', 'Comedy, Documentary, Drama', '0')
INSERTING  ('39254', 'tt0433035', 'Real Steel', '2011-09-28 00:00:00', '6.8', '4764', '', '127', 'Action, Science Fiction, Drama', '299268508')

INSERTING  ('86555', 'tt1592281', 'Take This Waltz', '2011-11-25 00:00:00', '6.5', '179', '', '116', 'Drama, Comedy', '0')
INSERTING  ('82501', 'tt1605777', 'The Woman in the Fifth', '2011-11-16 00:00:00', '5.1', '45', '', '85', 'Thriller, Mystery', '0')
INSERTING  ('84355', 'tt1742336', "Your Sister's Sister", '2011-09-11 00:00:00', '6.6', '194', '', '90', 'Drama, Comedy', '3200000')
INSERTING  ('73567', 'tt1726669', 'Killer Joe', '2011-09-10 00:00:00', '6.5', '726', '', '102', 'Crime, Drama, Thriller', '3665069')
INSERTING  ('94329', 'tt1899353', 'The Raid', '2011-09-08 00:00:00', '7.4', '1710', '', '101', 'Action, Thriller, Crime', '4105187')
INSERTING  ('67911', 'tt1411664', 'Bucky Larson: Born to Be a Star', '2011-09-09 00:00:00', '4.3', '82', '', '97', 'Comedy', '0')
INSERTING  ('80038', 'tt1720616', 'Friends with Kids', '2011-09-09 00:00:00', '5.8', '274', '', '100', 'Comedy, Romance', '12186625')
INSERTING  ('60308', 'tt1210166', 'Moneyball', '2011-09-22 00:00:00', '7.2', '2359', '', '134', 'Drama', '110206216')
INSERTING  ('91356', 'tt1605782', "Comic-Con Episode IV: A Fan's Hope", '2011-09-10 00:00:00', '6.6', '25', '', '88', 'Documentary', '0')
INSERTING  ('82533', 'tt1667307', 'Damsels in Distress', '2012-04-06 00:00:00', '5.5', '109', '', '99', 'Comedy, Romance', '0')
INSERTING  ('65057', 'tt1033575', 'The Descendants', '2011-09-09 00:00:00', '6.8', '1577', '', '115', 'Comedy, Drama', '177243185')
INSERTING  ('74387', 'tt1456635', 'Goon', '2012-01-06 00:00:00', '6.5', '511', '', '92', 'Comedy', '6483963')
INSERTING  ('49021', 'tt1448755', 'Killer Elite', '2011-09-23 00:00:00', '6.2', '1137', '', '116', 'Action, Adventure, Thriller', '57777106')
INSERTING  ('89008', 'tt1313139', 'The Oranges', '2011-09-09 00:00:00', '5.5', '351', '', '90', 'Comedy, Romance, Drama', '1941667')
INSERTING  ('75622', 'tt1640548', 'Rampart', '2011-11-23 00:00:00', '5.5', '197', '', '108', 'Crime, Drama', '972512')
INSERTING  ('81025', 'tt1441952', 'Salmon Fishing in the Yemen', '2011-09-10 00:00:00', '6.4', '515', '', '107', 'Drama, Romance, Comedy', '34564651')
INSERTING  ('83899', 'tt1853739', "You're Next", '2011-09-10 00:00:00', '6.5', '1314', '', '95', 'Horror, Thriller, Mystery', '14347000')
INSERTING  ('89455', 'tt1680045', '360', '2012-07-25 00:00:00', '5.8', '147', '', '110', 'Drama, Romance', '1663931')
INSERTING  ('40807', 'tt1306980', '50/50', '2011-09-30 00:00:00', '7.1', '2217', '', '100', 'Comedy, Drama', '39187783')
INSERTING  ('105978', 'tt2043931', 'Neil Young Journeys', '2012-06-29 00:00:00', '7.3', '4', '', '87', 'Music, Documentary', '0')
INSERTING  ('82532', 'tt1588334', 'Jeff, Who Lives at Home', '2011-09-13 00:00:00', '6.1', '332', '', '83', 'Drama, Comedy', '4417580')
INSERTING  ('58233', 'tt1634122', 'Johnny English Reborn', '2011-09-15 00:00:00', '6.1', '1908', '', '101', 'Crime, Adventure, Action, Comedy, Thriller', '160078586')
INSERTING  ('102640', 'tt1783798', 'Union Square', '2011-07-07 00:00:00', '4.9', '8', '', '80', 'Drama', '0')
INSERTING  ('91550', 'tt1634136', 'Violet & Daisy', '2011-09-15 00:00:00', '6.2', '145', '', '88', 'Thriller, Crime, Drama, Action, Comedy', '0')
INSERTING  ('64639', 'tt0999913', 'Straw Dogs', '2011-09-16 00:00:00', '5.7', '265', '', '110', 'Drama, Thriller', '10324441')
INSERTING  ('75033', 'tt1551641', 'Winnie Mandela', '2011-09-16 00:00:00', '5.7', '6', '', '107', 'Drama', '0')
INSERTING  ('75329', 'tt1703231', 'Dimensions', '2011-09-20 00:00:00', '4.8', '10', '', '99', 'Drama, Science Fiction', '0')
INSERTING  ('74997', 'tt1530509', 'The Human Centipede 2 (Full Sequence)', '2011-10-06 00:00:00', '4.5', '639', '', '91', 'Drama, Horror, Crime', '0')
INSERTING  ('62837', 'tt1564349', 'Dolphin Tale', '2011-09-23 00:00:00', '6.8', '352', '', '113', 'Drama, Family', '95404397')
INSERTING  ('69668', 'tt1462041', 'Dream House', '2011-09-30 00:00:00', '6.0', '711', '', '84', 'Drama, Thriller, Mystery', '38502340')
INSERTING  ('44754', 'tt0466893', 'Margaret', '2011-09-30 00:00:00', '6.3', '140', '', '149', 'Drama', '46495')
INSERTING  ('63492', 'tt0770703', "What's Your Number?", '2011-09-30 00:00:00', '6.4', '1339', '', '106', 'Comedy, Romance', '30426096')
INSERTING  ('84172', 'tt2048877', 'The Ambassador', '2011-10-05 00:00:00', '6.6', '25', '', '93', 'Documentary', '0')
INSERTING  ('68817', 'tt1068242', 'Footloose', '2011-10-06 00:00:00', '6.6', '977', '', '113', 'Drama, Music, Romance', '63543328')
INSERTING  ('75900', 'tt1655420', 'My Week with Marilyn', '2011-11-23 00:00:00', '6.7', '764', '', '99', 'Drama', '35057696')
INSERTING  ('44826', 'tt0970179', 'Hugo', '2011-11-22 00:00:00', '7.1', '4306', '', '126', 'Adventure, Drama, Family', '185770160')
INSERTING  ('60935', 'tt0905372', 'The Thing', '2011-10-12 00:00:00', '6.1', '1483', '', '103', 'Horror, Science Fiction, Mystery, Thriller', '28128670')
INSERTING  ('23514', 'tt0376136', 'The Rum Diary', '2011-10-13 00:00:00', '5.8', '672', '', '120', 'Drama, Comedy', '24000000')
INSERTING  ('73937', 'tt1053810', 'The Big Year', '2011-10-13 00:00:00', '5.8', '416', '', '100', 'Comedy', '7448385')
INSERTING  ('72571', 'tt1778304', 'Paranormal Activity 3', '2011-10-19 00:00:00', '5.9', '1260', '', '83', 'Horror', '205703818')
INSERTING  ('82639', 'tt2053352', 'Diana Vreeland: The Eye Has to Travel', '2012-09-21 00:00:00', '7.3', '20', '', '86', 'Documentary', '0')
INSERTING  ('78461', 'tt1781775', 'Beneath the Darkness', '2011-10-21 00:00:00', '4.8', '70', '', '96', 'Thriller', '0')
INSERTING  ('17578', 'tt0983193', 'The Adventures of Tintin', '2011-10-25 00:00:00', '6.8', '3368', '', '107', 'Adventure, Animation, Mystery', '371940071')
INSERTING  ('417859', 'tt0448694', 'Puss in Boots', '2011-10-28 00:00:00', '6.3', '1539', '', '90', 'Action, Adventure, Animation, Family, Fantasy, Comedy', '554987477')
INSERTING  ('59108', 'tt0471042', 'Tower Heist', '2011-11-02 00:00:00', '6.0', '1679', '', '104', 'Action, Comedy', '152930623')
INSERTING  ('49530', 'tt1637688', 'In Time', '2011-10-27 00:00:00', '6.8', '6549', '', '109', 'Action, Thriller, Science Fiction', '173930596')
INSERTING  ('83860', 'tt1720182', 'October Baby', '2011-10-30 00:00:00', '6.8', '58', '', '107', 'Drama', '5355847')
INSERTING  ('50619', 'tt1324999', 'The Twilight Saga: Breaking Dawn - Part 1', '2011-03-15 00:00:00', '6.0', '5364', '', '117', 'Adventure, Fantasy, Romance', '712171856')
INSERTING  ('77338', 'tt1675434', 'The Intouchables', '2011-11-02 00:00:00', '8.2', '10363', '', '113', 'Drama, Comedy', '426480871')
INSERTING  ('88794', 'tt1616195', 'J. Edgar', '2011-11-09 00:00:00', '6.2', '1351', '', '137', 'Drama, Crime, History', '84606030')
INSERTING  ('64328', 'tt1204342', 'The Muppets', '2011-11-22 00:00:00', '6.6', '863', '', '103', 'Comedy, Family, Music', '165184237')
INSERTING  ('55465', 'tt1268799', 'A Very Harold & Kumar Christmas', '2011-11-04 00:00:00', '6.0', '517', '', '108', 'Comedy', '35387212')
INSERTING  ('70435', 'tt1506999', 'Haywire', '2011-07-05 00:00:00', '5.6', '769', '', '93', 'Action, Thriller, Mystery', '33372606')
INSERTING  ('51052', 'tt1430607', 'Arthur Christmas', '2011-11-10 00:00:00', '6.7', '735', '', '97', 'Drama, Animation, Family, Comedy', '0')
INSERTING  ('37958', 'tt1253864', 'Immortals', '2011-11-10 00:00:00', '5.8', '1480', '', '110', 'Fantasy, Action, Drama', '226904017')
INSERTING  ('71880', 'tt0810913', 'Jack and Jill', '2011-11-11 00:00:00', '4.1', '1181', '', '91', 'Comedy', '149673788')
INSERTING  ('65759', 'tt1402488', 'Happy Feet Two', '2011-11-17 00:00:00', '5.9', '799', '', '100', 'Animation, Comedy, Family', '150406466')
INSERTING  ('74534', 'tt1412386', 'The Best Exotic Marigold Hotel', '2011-11-28 00:00:00', '6.9', '782', '', '124', 'Drama, Comedy', '136836156')
INSERTING  ('62838', 'tt1598822', "New Year's Eve", '2011-12-08 00:00:00', '5.8', '1360', '', '118', 'Comedy, Romance', '142044638')
INSERTING  ('57431', 'tt1366344', 'The Sitter', '2011-12-09 00:00:00', '5.5', '502', '', '81', 'Comedy', '34942188')
INSERTING  ('57157', 'tt1625346', 'Young Adult', '2011-12-16 00:00:00', '5.7', '641', '', '94', 'Comedy, Drama', '22939027')
INSERTING  ('75174', 'tt1601913', 'The Grey', '2012-01-26 00:00:00', '6.5', '2352', '', '117', 'Drama, Thriller, Action, Adventure', '77278331')

INSERTING  ('65754', 'tt1568346', 'The Girl with the Dragon Tattoo', '2011-12-14 00:00:00', '7.3', '4134', '', '158', 'Thriller, Crime, Mystery, Drama', '232617430')
INSERTING  ('55301', 'tt1615918', 'Alvin and the Chipmunks: Chipwrecked', '2011-12-14 00:00:00', '5.6', '1140', '', '87', 'Comedy, Fantasy, Family, Music, Animation', '342695435')
INSERTING  ('58574', 'tt1515091', 'Sherlock Holmes: A Game of Shadows', '2011-11-22 00:00:00', '7.1', '6655', '', '129', 'Adventure, Action, Crime, Mystery', '334615000')
INSERTING  ('71469', 'tt1093357', 'The Darkest Hour', '2011-12-22 00:00:00', '4.9', '765', '', '89', 'Horror, Action, Thriller, Science Fiction', '64626786')
INSERTING  ('74465', 'tt1389137', 'We Bought a Zoo', '2011-12-08 00:00:00', '6.7', '1584', '', '124', 'Drama, Comedy, Family', '120081841')
INSERTING  ('64685', 'tt0477302', 'Extremely Loud & Incredibly Close', '2011-12-24 00:00:00', '7.0', '1279', '', '129', 'Drama', '55247881')
INSERTING  ('57212', 'tt1568911', 'War Horse', '2011-12-25 00:00:00', '7.2', '1933', '', '146', 'Drama, War, Action', '177584879')
INSERTING  ('71688', 'tt1007029', 'The Iron Lady', '2011-12-30 00:00:00', '6.4', '952', '', '105', 'History, Drama', '114956699')
INSERTING  ('78461', 'tt1781775', 'Beneath the Darkness', '2011-10-21 00:00:00', '4.8', '70', '', '96', 'Thriller', '0')
Duplicate! Did not add to database.
INSERTING  ('72842', 'tt1541149', 'Albatross', '2011-10-14 00:00:00', '6.2', '50', '', '90', 'Drama', '0')
INSERTING  ('38541', 'tt1535616', 'The Divide', '2011-03-13 00:00:00', '5.9', '320', '', '112', 'Horror, Science Fiction, Drama', '22000')
Duplicate! Did not add to database.
INSERTING  ('83404', 'tt1651065', "Don't Go in the Woods", '2012-01-13 00:00:00', '2.3', '9', '', '83', 'Horror, Music', '0')
INSERTING  ('101173', 'tt1372686', 'Coriolanus', '2011-02-14 00:00:00', '6.0', '221', '', '123', 'Drama, Thriller', '1072602')
Duplicate! Did not add to database.
INSERTING  ('76758', 'tt1410063', 'The Flowers of War', '2011-12-15 00:00:00', '7.4', '346', '', '146', 'Drama, History, War', '95311434')
INSERTING  ('80518', 'tt1776196', 'Fullmetal Alchemist The Movie: The Sacred Star of Milos', '2011-07-02 00:00:00', '6.7', '110', '', '110', 'Adventure, Fantasy, Animation, Action, Science Fiction', '7401480')
Duplicate! Did not add to database.
INSERTING  ('80591', 'tt1536048', 'W.E.', '2011-09-01 00:00:00', '5.9', '99', '', '119', 'Drama, Romance', '868439')
Duplicate! Did not add to database.
INSERTING  ('56440', 'tt1477171', 'Amador', '2010-10-08 00:00:00', '6.3', '12', '', '112', 'Drama', '0')
INSERTING  ('73562', 'tt1931470', 'Declaration of War', '2011-08-31 00:00:00', '7.1', '114', '', '100', 'Drama', '0')
INSERTING  ('79544', 'tt0323808', 'The Wicker Tree', '2011-08-27 00:00:00', '4.4', '25', '', '96', 'Mystery, Horror, Thriller', '0')
INSERTING  ('84262', 'tt1723123', 'Exit Strategy', '2012-02-10 00:00:00', '7.0', '1', '', '76', 'Comedy, Romance', '0')
INSERTING  ('83552', 'tt1667905', 'This Is Not a Film', '2011-09-27 00:00:00', '7.3', '41', '', '75', 'Documentary', '0')
Duplicate! Did not add to database.
INSERTING  ('78571', 'tt0455323', 'Being Flynn', '2012-03-02 00:00:00', '6.2', '132', '', '102', 'Drama', '540152')
INSERTING  ('79940', 'tt1855401', "Tim and Eric's Billion Dollar Movie", '2012-03-02 00:00:00', '5.7', '63', '', '94', 'Comedy', '0')
INSERTING  ('62321', 'tt1691323', 'Attenberg', '2010-12-09 00:00:00', '6.0', '54', '', '95', 'Drama', '69961')
INSERTING  ('81447', 'tt1821635', 'The Ballad of Genesis and Lady Jaye', '2012-03-08 00:00:00', '7.6', '5', '', '72', 'Documentary, Music', '0')
INSERTING  ('72551', 'tt1445520', 'Footnote', '2011-05-25 00:00:00', '7.4', '31', '', '103', 'Drama, Comedy', '0')
Duplicate! Did not add to database.
INSERTING  ('80038', 'tt1720616', 'Friends with Kids', '2011-09-09 00:00:00', '5.8', '274', '', '100', 'Comedy, Romance', '12186625')
Duplicate! Did not add to database.
INSERTING  ('80767', 'tt1772925', 'Jiro Dreams of Sushi', '2011-06-11 00:00:00', '7.9', '392', '', '82', 'Documentary', '2550508')
Duplicate! Did not add to database.
INSERTING  ('96574', 'tt1982113', 'Gerhard Richter Painting', '2012-03-14 00:00:00', '7.1', '9', '', '97', 'Documentary', '0')
INSERTING  ('80304', 'tt1702425', 'Casa De Mi Padre', '2012-03-15 00:00:00', '5.3', '160', '', '84', 'Comedy, Western', '0')
INSERTING  ('82532', 'tt1588334', 'Jeff, Who Lives at Home', '2011-09-13 00:00:00', '6.1', '332', '', '83', 'Drama, Comedy', '4417580')
Duplicate! Did not add to database.
INSERTING  ('94329', 'tt1899353', 'The Raid', '2011-09-08 00:00:00', '7.4', '1710', '', '101', 'Action, Thriller, Crime', '4105187')
Duplicate! Did not add to database.
INSERTING  ('88273', 'tt1276419', 'A Royal Affair', '2012-03-29 00:00:00', '7.4', '476', '', '137', 'Drama, History, Romance', '7594693')
INSERTING  ('74387', 'tt1456635', 'Goon', '2012-01-06 00:00:00', '6.5', '511', '', '92', 'Comedy', '6483963')
Duplicate! Did not add to database.
INSERTING  ('82533', 'tt1667307', 'Damsels in Distress', '2012-04-06 00:00:00', '5.5', '109', '', '99', 'Comedy, Romance', '0')
Duplicate! Did not add to database.
INSERTING  ('93084', 'tt1674775', 'Keyhole', '2011-09-09 00:00:00', '5.6', '17', '', '94', 'Drama, Action, Thriller', '21291')
INSERTING  ('61667', 'tt1456472', 'We Have a Pope', '2011-04-15 00:00:00', '6.9', '247', '', '102', 'Drama, Comedy', '0')
Duplicate! Did not add to database.
INSERTING  ('78480', 'tt2011971', 'Monsieur Lazhar', '2011-09-10 00:00:00', '6.9', '142', '', '94', 'Drama, Comedy', '6581915')
Duplicate! Did not add to database.
INSERTING  ('89325', 'tt1730687', 'Darling Companion', '2012-04-20 00:00:00', '5.0', '49', '', '103', 'Drama, Romance', '0')
INSERTING  ('96973', 'tt1393742', 'Jesus Henry Christ', '2012-05-04 00:00:00', '6.3', '67', '', '92', 'Comedy, Family', '0')
INSERTING  ('90125', 'tt1183919', 'Marley', '2012-04-20 00:00:00', '7.6', '157', '', '144', 'Music, Documentary', '0')
INSERTING  ('168454', '', 'Payback', '2012-02-24 00:00:00', '7.5', '2', '', '60', 'Thriller, Action, Crime, Drama', '0')
INSERTING  ('70670', 'tt1614989', 'Headhunters', '2011-08-04 00:00:00', '7.3', '632', '', '100', 'Thriller, Crime, Action', '15699707')
Duplicate! Did not add to database.
INSERTING  ('86812', 'tt1748207', 'Sound of My Voice', '2011-01-22 00:00:00', '6.4', '175', '', '85', 'Science Fiction, Drama, Mystery, Thriller', '0')
Duplicate! Did not add to database.
INSERTING  ('74534', 'tt1412386', 'The Best Exotic Marigold Hotel', '2011-11-28 00:00:00', '6.9', '782', '', '124', 'Drama, Comedy', '136836156')
Duplicate! Did not add to database.
INSERTING  ('89874', 'tt2008513', 'First Position', '2011-09-11 00:00:00', '7.8', '24', '', '90', 'Comedy, Documentary, Drama', '0')
Duplicate! Did not add to database.
INSERTING  ('84347', 'tt2112868', 'Under African Skies', '2012-05-11 00:00:00', '7.8', '8', '', '102', 'Music, Documentary', '0')
INSERTING  ('77461', 'tt1772424', 'Where Do We Go Now?', '2011-05-16 00:00:00', '7.4', '90', '', '110', 'Drama, Comedy', '0')
Duplicate! Did not add to database.
INSERTING  ('97365', 'tt2053425', 'Rust and Bone', '2012-05-17 00:00:00', '7.2', '803', '', '123', 'Drama, Romance', '25762027')
INSERTING  ('50037', 'tt1534085', 'Beyond the Black Rainbow', '2010-12-03 00:00:00', '5.9', '159', '', '110', 'Fantasy, Science Fiction, Horror', '0')
INSERTING  ('106135', 'tt1954352', 'Crooked Arrows', '2012-05-18 00:00:00', '6.7', '23', '', '95', 'Drama', '1832541')
INSERTING  ('85646', 'tt1918806', 'Entrance', '2012-05-18 00:00:00', '4.0', '9', '', '83', 'Drama, Horror, Thriller', '0')
INSERTING  ('91417', 'tt2065968', 'Dragons: Gift of the Night Fury', '2011-11-15 00:00:00', '7.0', '201', '', '22', 'Animation, Comedy, Adventure, Family', '0')
INSERTING  ('75802', 'tt1435513', 'Hysteria', '2011-06-06 00:00:00', '6.6', '485', '', '100', 'Comedy, Romance', '9504139')
INSERTING  ('104155', 'tt2294729', 'Mansome', '2012-05-18 00:00:00', '5.0', '45', '', '84', 'Documentary', '0')
INSERTING  ('71157', 'tt1661420', 'Polisse', '2011-10-06 00:00:00', '7.8', '701', '', '123', 'Drama', '20374201')
INSERTING  ('483309', '', 'Virginia Tech Football Power Hour', '2012-08-22 00:00:00', '0.0', '0', '', '66', 'Action, Documentary, Thriller', '0')

INSERTING  ('83666', 'tt1748122', 'Moonrise Kingdom', '2012-05-24 00:00:00', '7.7', '3177', '', '94', 'Comedy, Drama, Romance', '68263166')
INSERTING  ('75233', 'tt1736633', 'Oslo, August 31st', '2011-08-31 00:00:00', '7.5', '134', '', '95', 'Drama', '0')
Duplicate! Did not add to database.
INSERTING  ('84170', 'tt2125423', 'Five Broken Cameras', '2011-11-23 00:00:00', '7.6', '45', '', '90', 'War, Documentary', '0')
INSERTING  ('71668', 'tt1714203', 'Piranha 3DD', '2012-05-11 00:00:00', '4.2', '538', '', '83', 'Horror, Thriller, Comedy', '8493728')
INSERTING  ('100529', 'tt1710417', 'Lola Versus', '2012-04-24 00:00:00', '5.0', '85', '', '87', 'Comedy', '252603')
INSERTING  ('84332', 'tt1862079', 'Safety Not Guaranteed', '2012-06-08 00:00:00', '6.9', '813', '', '85', 'Comedy, Romance, Science Fiction, Drama', '4007792')
INSERTING  ('82501', 'tt1605777', 'The Woman in the Fifth', '2011-11-16 00:00:00', '5.1', '45', '', '85', 'Thriller, Mystery', '0')
Duplicate! Did not add to database.
INSERTING  ('84355', 'tt1742336', "Your Sister's Sister", '2011-09-11 00:00:00', '6.6', '194', '', '90', 'Drama, Comedy', '3200000')
Duplicate! Did not add to database.
INSERTING  ('98886', 'tt1865425', 'Kumaré', '2012-06-20 00:00:00', '7.2', '37', '', '86', 'Documentary', '0')
INSERTING  ('84288', 'tt2120152', 'The Invisible War', '2012-01-20 00:00:00', '7.5', '70', '', '93', 'Crime, Drama, History, Documentary', '0')
INSERTING  ('81836', 'tt1859650', 'To Rome with Love', '2012-04-20 00:00:00', '5.7', '1154', '', '111', 'Romance, Comedy, Drama', '73244881')
INSERTING  ('84175', 'tt2125435', 'Beasts of the Southern Wild', '2012-06-29 00:00:00', '6.9', '621', '', '93', 'Drama, Fantasy, Adventure', '21107746')
INSERTING  ('80440', 'tt1740053', 'A Burning Hot Summer', '2011-09-28 00:00:00', '5.3', '19', '', '95', 'Drama', '0')
INSERTING  ('27480', 'tt1235142', 'Last Ride', '2009-07-02 00:00:00', '6.8', '17', '', '101', 'Drama', '0')
INSERTING  ('105978', 'tt2043931', 'Neil Young Journeys', '2012-06-29 00:00:00', '7.3', '4', '', '87', 'Music, Documentary', '0')
Duplicate! Did not add to database.
INSERTING  ('86555', 'tt1592281', 'Take This Waltz', '2011-11-25 00:00:00', '6.5', '179', '', '116', 'Drama, Comedy', '0')
Duplicate! Did not add to database.
INSERTING  ('398454', '', 'Berryz Kobo & ℃-ute Collaboration Concert Tour 2011 Aki: Berikyuu Island', '2012-02-29 00:00:00', '0.0', '0', '', '121', 'Music', '0')
INSERTING  ('99579', 'tt1753813', 'Farewell, My Queen', '2012-03-21 00:00:00', '5.9', '184', '', '100', 'Drama, History', '5297232')
INSERTING  ('84287', 'tt1966604', 'The Imposter', '2012-07-13 00:00:00', '7.4', '416', '', '99', 'Documentary, Mystery', '0')
INSERTING  ('83589', 'tt2124908', 'Shut Up and Play the Hits', '2012-01-22 00:00:00', '7.2', '25', '', '105', 'Music, Documentary', '0')
INSERTING  ('84327', 'tt2125666', 'The Queen of Versailles', '2012-07-06 00:00:00', '7.1', '118', '', '100', 'Documentary', '714544')
INSERTING  ('10679', 'tt1034314', 'Iron Sky', '2012-03-10 00:00:00', '5.7', '875', '', '93', 'Action, Comedy, Science Fiction', '8135031')
INSERTING  ('103332', 'tt1839492', 'Ruby Sparks', '2012-07-25 00:00:00', '7.1', '945', '', '104', 'Comedy, Romance, Fantasy, Drama', '9128263')
INSERTING  ('84169', 'tt1845773', 'Ai Weiwei: Never Sorry', '2012-06-14 00:00:00', '7.2', '51', '', '91', 'Documentary', '181107')
INSERTING  ('73567', 'tt1726669', 'Killer Joe', '2011-09-10 00:00:00', '6.5', '726', '', '102', 'Crime, Drama, Thriller', '3665069')
Duplicate! Did not add to database.
INSERTING  ('84334', 'tt2125608', 'Searching for Sugar Man', '2012-06-30 00:00:00', '7.9', '453', '', '85', 'Documentary, Music', '0')
INSERTING  ('89455', 'tt1680045', '360', '2012-07-25 00:00:00', '5.8', '147', '', '110', 'Drama, Romance', '1663931')
Duplicate! Did not add to database.
INSERTING  ('84184', 'tt1405365', 'Celeste & Jesse Forever', '2012-08-03 00:00:00', '6.5', '255', '', '91', 'Comedy, Drama, Romance', '3094813')
INSERTING  ('84165', 'tt1602472', '2 Days in New York', '2012-03-28 00:00:00', '5.6', '152', '', '91', 'Comedy, Drama, Romance', '1653792')
INSERTING  ('85985', 'tt2016894', 'Ek Tha Tiger', '2012-08-15 00:00:00', '5.8', '81', '', '133', 'Action, Romance, Thriller', '51000000')
INSERTING  ('84188', 'tt1971352', 'Compliance', '2012-08-23 00:00:00', '6.4', '353', '', '90', 'Thriller, Crime, Mystery', '319285')
INSERTING  ('49014', 'tt1480656', 'Cosmopolis', '2012-05-25 00:00:00', '5.4', '568', '', '109', 'Drama', '6063556')
INSERTING  ('84329', 'tt1990314', 'Robot & Frank', '2012-08-16 00:00:00', '6.9', '635', '', '85', 'Science Fiction, Comedy, Drama, Crime', '3325038')
INSERTING  ('84172', 'tt2048877', 'The Ambassador', '2011-10-05 00:00:00', '6.6', '25', '', '93', 'Documentary', '0')
Duplicate! Did not add to database.
INSERTING  ('84200', 'tt1996264', 'For a Good Time, Call...', '2012-08-31 00:00:00', '5.9', '171', '', '85', 'Comedy, Drama', '1243961')
INSERTING  ('96724', 'tt1781769', 'Anna Karenina', '2012-09-06 00:00:00', '6.7', '1342', '', '130', 'Drama, Romance', '68929150')
INSERTING  ('84190', 'tt2125490', 'Detropia', '2012-09-07 00:00:00', '6.7', '25', '', '93', 'Documentary', '0')
INSERTING  ('60599', 'tt1764183', 'Arbitrage', '2012-09-14 00:00:00', '6.2', '471', '', '100', 'Drama, Thriller', '35485056')
INSERTING  ('127501', 'tt2082197', 'Barfi!', '2012-09-13 00:00:00', '7.6', '149', '', '151', 'Drama, Romance, Comedy', '2804874')
INSERTING  ('68722', 'tt1560747', 'The Master', '2012-09-07 00:00:00', '7.2', '1405', '', '137', 'Drama', '28258060')
INSERTING  ('127493', 'tt1656186', 'Stolen', '2012-09-06 00:00:00', '5.3', '583', '', '96', 'Action, Crime, Thriller', '2106557')
INSERTING  ('86837', 'tt1602620', 'Amour', '2012-07-01 00:00:00', '7.7', '784', '', '127', 'Drama, Romance', '29844753')
INSERTING  ('82639', 'tt2053352', 'Diana Vreeland: The Eye Has to Travel', '2012-09-21 00:00:00', '7.3', '20', '', '86', 'Documentary', '0')
Duplicate! Did not add to database.
INSERTING  ('127505', 'tt2239400', 'Head Games', '2012-09-21 00:00:00', '7.0', '3', '', '96', 'Documentary', '14056')
INSERTING  ('84892', 'tt1659337', 'The Perks of Being a Wallflower', '2012-09-20 00:00:00', '7.7', '6222', '', '103', 'Drama', '33400000')
INSERTING  ('99877', 'tt1618399', 'The Waiting Room', '2012-09-26 00:00:00', '7.1', '13', '', '81', 'Drama, Documentary, Romance', '0')
INSERTING  ('489412', 'tt2396224', "It's Such a Beautiful Day", '2012-08-24 00:00:00', '8.1', '67', '', '62', 'Drama, Animation', '0')
INSERTING  ('89008', 'tt1313139', 'The Oranges', '2011-09-09 00:00:00', '5.5', '351', '', '90', 'Comedy, Romance, Drama', '1941667')
Duplicate! Did not add to database.
INSERTING  ('82390', 'tt1496422', 'The Paperboy', '2012-09-14 00:00:00', '5.5', '432', '', '107', 'Thriller, Drama, Mystery', '1353868')
INSERTING  ('84317', 'tt1907731', 'Nobody Walks', '2012-10-19 00:00:00', '4.9', '33', '', '83', 'Drama', '24995')
INSERTING  ('84341', 'tt2063781', 'Smashed', '2012-09-12 00:00:00', '6.5', '141', '', '85', 'Comedy, Drama', '376597')
INSERTING  ('103328', 'tt2076220', 'Holy Motors', '2012-07-02 00:00:00', '7.0', '455', '', '115', 'Drama, Fantasy', '641100')
INSERTING  ('113947', 'tt1866249', 'The Sessions', '2012-05-02 00:00:00', '6.9', '304', '', '98', 'Drama, Romance, Comedy', '9138338')
INSERTING  ('2061', 'tt0117407', 'Pusher', '1996-08-30 00:00:00', '6.9', '300', '', '105', 'Action, Crime, Drama, Thriller', '0')
INSERTING  ('135670', 'tt2093944', 'Amber Alert', '2012-11-02 00:00:00', '4.7', '43', '', '81', 'Horror, Mystery, Thriller', '0')
INSERTING  ('123105', 'tt1713476', 'The Bay', '2012-09-13 00:00:00', '5.5', '354', '', '84', 'Horror, Science Fiction, Thriller', '30668')
INSERTING  ('135647', 'tt1433207', 'The Details', '2011-01-01 00:00:00', '5.9', '93', '', '96', 'Comedy, Drama', '0')
INSERTING  ('121879', 'tt1226240', 'A Late Quartet', '2012-11-02 00:00:00', '6.8', '118', '', '105', 'Music, Drama', '1562546')
INSERTING  ('110392', 'tt1979172', "A Liar's Autobiography: The Untrue Story of Monty Python's Graham Chapman", '2012-09-08 00:00:00', '6.6', '22', '', '85', 'Animation, Comedy', '0')
INSERTING  ('100898', 'tt1625150', 'North Sea Texas', '2011-03-16 00:00:00', '7.2', '115', '', '96', 'Drama, Romance', '0')

INSERTING  ('53487', 'tt1440345', 'This Must Be the Place', '2011-10-01 00:00:00', '7.0', '629', '', '118', 'Drama', '11790979')
INSERTING  ('117978', 'tt1790869', 'In Their Skin', '2012-11-09 00:00:00', '5.3', '68', '', '96', 'Horror, Thriller', '0')
INSERTING  ('72976', 'tt0443272', 'Lincoln', '2012-11-09 00:00:00', '6.8', '2341', '', '149', 'History, Drama', '275293450')
INSERTING  ('132316', 'tt2176013', 'Jab Tak Hai Jaan', '2012-11-13 00:00:00', '7.0', '112', '', '176', 'Drama, Romance', '0')
INSERTING  ('84185', 'tt1579361', 'Chasing Ice', '2012-10-01 00:00:00', '7.6', '93', '', '74', 'Documentary', '1328467')
INSERTING  ('82693', 'tt1045658', 'Silver Linings Playbook', '2012-09-08 00:00:00', '7.1', '7927', '', '122', 'Drama, Comedy, Romance', '236412453')
INSERTING  ('139380', 'tt2089750', 'Nativity 2: Danger in the Manger!', '2012-11-21 00:00:00', '5.0', '43', '', '105', 'Comedy, Family', '0')
INSERTING  ('112336', 'tt0975645', 'Hitchcock', '2012-11-22 00:00:00', '6.5', '868', '', '98', 'Drama', '23570541')
INSERTING  ('138372', 'tt1865573', 'Bad Kids Go To Hell', '2012-12-07 00:00:00', '4.2', '57', '', '91', 'Comedy, Mystery, Thriller', '0')
INSERTING  ('110272', 'tt1159922', 'Cheerful Weather for the Wedding', '2012-12-07 00:00:00', '5.8', '30', '', '93', 'Drama, Comedy, Romance', '0')
INSERTING  ('97614', 'tt1667310', 'Deadfall', '2012-11-08 00:00:00', '5.9', '367', '', '95', 'Crime, Drama, Thriller', '66351')
INSERTING  ('136793', 'tt1321862', 'Dino Time', '2012-12-07 00:00:00', '4.7', '21', '', '85', 'Animation, Adventure, Comedy, Family', '0')
INSERTING  ('127916', 'tt2331880', 'The Fitzgerald Family Christmas', '2012-09-09 00:00:00', '6.5', '7', '', '103', 'Drama, Family', '0')
INSERTING  ('98525', 'tt1720114', 'Heleno', '2012-03-29 00:00:00', '6.3', '20', '', '116', 'Drama, Documentary', '0')
INSERTING  ('87504', 'tt1477855', 'Hyde Park on Hudson', '2012-12-07 00:00:00', '5.3', '116', '', '94', 'Comedy, Drama, History', '8887603')
INSERTING  ('84305', 'tt1132449', 'Lay the Favorite', '2012-06-22 00:00:00', '5.3', '131', '', '94', 'Drama, Comedy', '1576687')
INSERTING  ('97630', 'tt1790885', 'Zero Dark Thirty', '2012-12-19 00:00:00', '6.9', '2647', '', '157', 'Thriller, Drama, History', '132820716')
INSERTING  ('80278', 'tt1649419', 'The Impossible', '2012-09-09 00:00:00', '7.3', '3792', '', '113', 'Thriller, Drama', '180274123')
INSERTING  ('128270', 'tt1230215', 'Not Fade Away', '2012-12-21 00:00:00', '5.8', '40', '', '112', 'Drama', '610792')
INSERTING  ('84351', 'tt2130321', 'West of Memphis', '2012-12-25 00:00:00', '7.5', '76', '', '150', 'Documentary', '0')
INSERTING  ('121826', 'tt1441951', 'Quartet', '2012-09-08 00:00:00', '6.6', '215', '', '98', 'Drama, Comedy, Romance', '59520298')
INSERTING  ('93858', 'tt2153963', 'Tabu', '2012-02-14 00:00:00', '7.3', '73', '', '110', 'Drama, Romance', '0')
INSERTING  ('133694', 'tt2091473', 'Promised Land', '2012-09-23 00:00:00', '6.2', '388', '', '106', 'Drama', '8138788')
INSERTING  ('209780', 'tt2141777', 'Crawlspace', '2013-01-03 00:00:00', '4.7', '16', '', '90', 'Horror, Thriller', '0')
INSERTING  ('138376', 'tt2083379', 'A Dark Truth', '2012-11-29 00:00:00', '5.5', '54', '', '106', 'Action, Thriller', '5750')
INSERTING  ('157129', 'tt2229842', 'Table No. 21', '2013-01-03 00:00:00', '5.7', '29', '', '', 'Adventure, Thriller', '0')
INSERTING  ('76617', 'tt1572315', 'Texas Chainsaw 3D', '2013-01-03 00:00:00', '5.3', '827', '', '92', 'Horror, Thriller', '0')
INSERTING  ('44865', 'tt1462900', 'The Grandmaster', '2013-01-10 00:00:00', '6.5', '398', '', '130', 'Action, Drama, History', '64076736')
INSERTING  ('81446', 'tt1836944', 'The Baytown Outlaws', '2012-08-27 00:00:00', '6.0', '169', '', '98', 'Action, Comedy, Crime', '0')
INSERTING  ('82682', 'tt1321870', 'Gangster Squad', '2013-01-10 00:00:00', '6.3', '2612', '', '113', 'Crime, Drama, Action, Thriller', '105200903')
INSERTING  ('139038', 'tt2243537', 'A Haunted House', '2013-01-11 00:00:00', '5.5', '922', '', '86', 'Comedy, Horror', '60141683')
INSERTING  ('139521', 'tt2106537', 'Matru Ki Bijlee Ka Mandola', '2013-01-10 00:00:00', '5.7', '29', '', '151', 'Comedy, Drama', '8100000')
INSERTING  ('87440', 'tt1791614', 'Struck by Lightning', '2012-04-20 00:00:00', '6.3', '151', '', '90', 'Comedy, Drama', '22930')
INSERTING  ('60304', 'tt1428538', 'Hansel & Gretel: Witch Hunters', '2013-01-17 00:00:00', '5.9', '4664', '', '88', 'Fantasy, Horror, Action', '224803475')
INSERTING  ('98357', 'tt1235522', 'Broken City', '2013-01-18 00:00:00', '5.8', '846', '', '109', 'Thriller, Crime, Drama', '19701164')
INSERTING  ('76640', 'tt1549920', 'The Last Stand', '2013-01-12 00:00:00', '5.9', '1752', '', '107', 'Action, Crime, Thriller', '0')
INSERTING  ('83890', 'tt1907707', 'LUV', '2013-01-18 00:00:00', '5.8', '27', '', '94', 'Crime, Drama', '134634')
INSERTING  ('132232', 'tt2023587', 'Mama', '2013-01-17 00:00:00', '6.1', '2549', '', '100', 'Horror', '146497771')
INSERTING  ('100544', 'tt1925479', 'Officer Down', '2013-01-22 00:00:00', '5.7', '46', '', '98', 'Crime, Drama', '0')
INSERTING  ('75761', 'tt1783732', 'John Dies at the End', '2012-01-23 00:00:00', '6.3', '385', '', '99', 'Horror, Comedy', '0')
INSERTING  ('157919', 'tt1931466', 'Knife Fight', '2013-01-25 00:00:00', '5.2', '21', '', '99', 'Drama', '0')
INSERTING  ('87818', 'tt1333125', 'Movie 43', '2013-01-01 00:00:00', '4.5', '1402', '', '90', 'Comedy', '32438988')
INSERTING  ('119283', 'tt1904996', 'Parker', '2013-01-23 00:00:00', '5.8', '1912', '', '118', 'Action, Crime', '46216641')
INSERTING  ('44749', 'tt1375789', 'Race 2', '2013-01-25 00:00:00', '5.6', '47', '', '150', 'Thriller', '0')
INSERTING  ('103750', 'tt2106670', 'The Taste of Money', '2012-05-17 00:00:00', '5.9', '31', '', '115', 'Drama', '0')
INSERTING  ('133479', 'tt2564706', 'Television', '2012-12-09 00:00:00', '7.3', '9', '', '106', '', '0')
INSERTING  ('117629', 'tt1934269', 'Yossi', '2012-05-16 00:00:00', '7.0', '32', '', '84', 'Drama, Romance', '116207')
INSERTING  ('70074', 'tt1308729', 'Bullet to the Head', '2013-01-31 00:00:00', '5.4', '723', '', '92', 'Action, Crime, Thriller', '9489829')
INSERTING  ('150202', 'tt1457765', 'The Haunting in Connecticut 2: Ghosts of Georgia', '2013-02-01 00:00:00', '5.6', '281', '', '101', 'Horror, Drama, Thriller', '0')
INSERTING  ('157117', 'tt2306745', 'Sound City', '2013-01-18 00:00:00', '7.5', '126', '', '106', 'Documentary, Music', '0')
INSERTING  ('121824', 'tt1389096', 'Stand Up Guys', '2013-01-31 00:00:00', '5.9', '477', '', '95', 'Thriller, Comedy, Action', '0')
INSERTING  ('82654', 'tt1588173', 'Warm Bodies', '2013-01-31 00:00:00', '6.4', '4253', '', '97', 'Horror, Comedy, Romance', '116980662')
INSERTING  ('124461', 'tt2044729', 'A Glimpse Inside the Mind of Charles Swan III', '2012-11-15 00:00:00', '4.4', '41', '', '86', 'Comedy', '0')
INSERTING  ('150117', 'tt2244901', 'I Give It a Year', '2013-02-08 00:00:00', '5.4', '495', '', '97', 'Comedy, Romance', '28234657')
INSERTING  ('109431', 'tt2024432', 'Identity Thief', '2013-02-07 00:00:00', '5.8', '2294', '', '111', 'Comedy, Crime', '173965010')
INSERTING  ('109421', 'tt2053463', 'Side Effects', '2013-02-07 00:00:00', '6.5', '1945', '', '106', 'Thriller, Crime, Drama', '63372757')
INSERTING  ('165904', 'tt2377938', 'Special 26', '2013-02-07 00:00:00', '7.4', '88', '', '144', 'Crime, Drama, Thriller', '18000000')
INSERTING  ('170657', 'tt2017561', 'Journey to the West: Conquering the Demons', '2013-02-01 00:00:00', '6.9', '133', '', '110', 'Action, Fantasy, Adventure, Comedy', '0')
INSERTING  ('109491', 'tt1559547', 'Beautiful Creatures', '2013-02-13 00:00:00', '5.7', '1907', '', '124', 'Fantasy, Drama, Romance', '60052138')
INSERTING  ('47964', 'tt1606378', 'A Good Day to Die Hard', '2013-02-06 00:00:00', '5.2', '4532', '', '98', 'Action, Thriller', '304654182')
INSERTING  ('168114', 'tt2429640', 'Murder 3', '2013-02-14 00:00:00', '3.3', '15', '', '124', 'Thriller, Drama, Mystery', '0')
INSERTING  ('112949', 'tt1702439', 'Safe Haven', '2013-02-07 00:00:00', '7.1', '1510', '', '115', 'Romance', '97594140')
INSERTING  ('68179', 'tt0765446', 'Escape from Planet Earth', '2013-02-14 00:00:00', '5.7', '472', '', '89', 'Animation, Comedy, Adventure, Family, Science Fiction', '74597643')

INSERTING  ('164184', 'tt1390398', 'Bless Me, Ultima', '2013-02-22 00:00:00', '6.5', '11', '', '106', 'Drama, War', '1553826')
INSERTING  ('145135', 'tt2387433', 'Dark Skies', '2013-02-21 00:00:00', '6.1', '1037', '', '97', 'Science Fiction, Thriller, Horror', '25174316')
INSERTING  ('168245', 'tt2213054', 'Kai Po Che!', '2013-02-13 00:00:00', '6.9', '55', '', '126', 'Drama', '0')
INSERTING  ('134411', 'tt0882977', 'Snitch', '2013-02-21 00:00:00', '5.9', '1528', '', '112', 'Thriller, Drama', '42930462')
INSERTING  ('60281', 'tt1595656', 'To the Wonder', '2013-02-22 00:00:00', '5.9', '273', '', '112', 'Drama, Romance', '587615')
INSERTING  ('107811', 'tt1711425', '21 & Over', '2013-03-01 00:00:00', '5.7', '1061', '', '93', 'Comedy', '48065672')
INSERTING  ('171879', 'tt2635622', 'The Attacks Of 26-11', '2013-03-01 00:00:00', '7.0', '16', '', '116', 'Crime, Action, Thriller, History', '18000000')
INSERTING  ('171767', 'tt2064816', 'I, Me aur Main', '2013-03-01 00:00:00', '5.2', '6', '', '108', 'Drama', '0')
INSERTING  ('81005', 'tt1351685', 'Jack the Giant Slayer', '2013-02-27 00:00:00', '5.6', '3490', '', '114', 'Action, Adventure, Family, Fantasy', '197687603')
INSERTING  ('146203', 'tt2034139', 'The Last Exorcism Part II', '2013-02-28 00:00:00', '4.5', '304', '', '88', 'Horror, Thriller, Drama', '15179302')
INSERTING  ('152259', 'tt1922685', 'Phantom', '2013-01-03 00:00:00', '5.9', '158', '', '99', 'Thriller', '1034589')
INSERTING  ('86825', 'tt1682180', 'Stoker', '2013-02-28 00:00:00', '6.6', '1328', '', '99', 'Drama, Horror, Thriller', '12077441')
INSERTING  ('102362', 'tt2101341', 'Dead Man Down', '2013-03-08 00:00:00', '6.0', '887', '', '118', 'Thriller, Action, Crime, Drama', '18074539')
INSERTING  ('127372', 'tt2103264', 'Emperor', '2012-09-14 00:00:00', '6.1', '142', '', '105', 'Drama, History, War', '3346265')
INSERTING  ('144789', 'tt2243389', "I'm So Excited!", '2013-03-08 00:00:00', '5.8', '387', '', '90', 'Comedy', '11724119')
INSERTING  ('68728', 'tt1623205', 'Oz the Great and Powerful', '2013-03-07 00:00:00', '5.8', '4944', '', '130', 'Fantasy, Adventure, Family', '491868548')
INSERTING  ('49026', 'tt1345836', 'The Dark Knight Rises', '2012-07-16 00:00:00', '7.7', '14461', '', '165', 'Action, Crime, Drama, Thriller', '1084939099')
INSERTING  ('179340', 'tt1860238', 'Goddess', '2013-03-12 00:00:00', '5.4', '13', '', '105', 'Comedy, Music', '0')
INSERTING  ('158011', 'tt1911644', 'The Call', '2013-03-14 00:00:00', '6.7', '1842', '', '94', 'Crime, Thriller', '68572378')
INSERTING  ('124459', 'tt0790628', 'The Incredible Burt Wonderstone', '2013-03-14 00:00:00', '5.4', '942', '', '100', 'Comedy', '27437881')
INSERTING  ('122081', 'tt2101441', 'Spring Breakers', '2013-01-24 00:00:00', '5.1', '2598', '', '94', 'Drama, Crime', '31724284')
INSERTING  ('93828', 'tt1684233', 'Welcome to the Punch', '2013-03-15 00:00:00', '5.8', '379', '', '99', 'Action, Adventure, Crime', '9747')
INSERTING  ('144340', 'tt1814621', 'Admission', '2013-03-21 00:00:00', '5.5', '395', '', '107', 'Comedy, Drama, Romance', '18000000')
INSERTING  ('49519', 'tt0481499', 'The Croods', '2013-03-20 00:00:00', '6.8', '4051', '', '98', 'Action, Adventure, Animation, Comedy, Family, Fantasy', '585178928')
INSERTING  ('156268', 'tt1754811', 'InAPPropriate Comedy', '2013-03-22 00:00:00', '3.0', '52', '', '84', 'Comedy', '228')
INSERTING  ('140222', 'tt1976989', 'Love and Honor', '2013-03-22 00:00:00', '5.9', '236', '', '92', 'Drama, Romance', '19684')
INSERTING  ('117263', 'tt2302755', 'Olympus Has Fallen', '2013-03-20 00:00:00', '6.3', '4258', '', '120', 'Action, Thriller', '161025640')
INSERTING  ('72559', 'tt1583421', 'G.I. Joe: Retaliation', '2013-03-26 00:00:00', '5.5', '3974', '', '110', 'Adventure, Action, Science Fiction, Thriller', '371876278')
INSERTING  ('68727', 'tt1924429', 'Trance', '2013-03-27 00:00:00', '6.6', '1378', '', '101', 'Thriller, Crime, Drama, Mystery', '24261569')
INSERTING  ('180680', 'tt2344678', 'Himmatwala', '2013-03-29 00:00:00', '3.4', '27', '', '150', 'Action, Comedy', '6800000')
INSERTING  ('72710', 'tt1517260', 'The Host', '2013-03-22 00:00:00', '6.2', '2879', '', '125', 'Action, Adventure, Romance, Science Fiction, Thriller', '63327201')
INSERTING  ('97367', 'tt1817273', 'The Place Beyond the Pines', '2013-03-14 00:00:00', '6.9', '2897', '', '140', 'Drama, Crime', '35485608')
INSERTING  ('97006', 'tt2070862', 'Temptation: Confessions of a Marriage Counselor', '2013-03-29 00:00:00', '6.7', '60', '', '111', 'Drama', '0')
INSERTING  ('83186', 'tt1901040', 'Wrong', '2012-09-05 00:00:00', '6.4', '162', '', '94', 'Comedy, Mystery', '0')
INSERTING  ('126963', 'tt2263944', 'Dragon Ball Z: Battle of Gods', '2013-03-30 00:00:00', '6.6', '755', '', '85', 'Animation, Action', '50353002')
INSERTING  ('181882', 'tt2204243', 'Baadshah', '2013-04-05 00:00:00', '4.7', '3', '', '155', 'Action, Comedy', '0')
INSERTING  ('127867', 'tt1935902', 'The Brass Teapot', '2012-09-08 00:00:00', '6.0', '249', '', '100', 'Comedy, Fantasy, Thriller', '0')
INSERTING  ('109428', 'tt1288558', 'Evil Dead', '2013-04-05 00:00:00', '6.4', '2786', '', '91', 'Horror', '97542952')
INSERTING  ('329', 'tt0107290', 'Jurassic Park', '1993-06-11 00:00:00', '7.9', '9488', '', '127', 'Adventure, Science Fiction', '920100000')
INSERTING  ('180855', 'tt2677816', 'Settai', '2013-04-05 00:00:00', '5.8', '4', '', '136', 'Crime, Comedy', '0')
INSERTING  ('145197', 'tt2084989', 'Upstream Color', '2013-04-05 00:00:00', '6.5', '438', '', '96', 'Drama, Science Fiction', '444098')
INSERTING  ('180651', 'tt2828840', 'Fists of Legend', '2013-04-10 00:00:00', '7.0', '21', '', '153', 'Action, Drama', '0')
INSERTING  ('75612', 'tt1483013', 'Oblivion', '2013-04-10 00:00:00', '6.5', '7089', '', '124', 'Action, Science Fiction, Adventure, Mystery', '286168572')
INSERTING  ('109410', 'tt0453562', '42', '2013-04-12 00:00:00', '7.0', '1068', '', '128', 'Drama', '95020213')
INSERTING  ('127517', 'tt1433811', 'Disconnect', '2012-09-11 00:00:00', '7.1', '702', '', '115', 'Drama, Thriller', '3428048')
INSERTING  ('114779', 'tt1995341', "It's a Disaster", '2013-04-12 00:00:00', '6.4', '115', '', '86', 'Comedy', '0')
INSERTING  ('4258', 'tt0795461', 'Scary Movie 5', '2013-04-11 00:00:00', '4.7', '1589', '', '86', 'Comedy', '78378744')
INSERTING  ('174645', 'tt2083231', 'Java Heat', '2013-03-06 00:00:00', '5.3', '46', '', '104', 'Action, Crime, Drama, Thriller', '1061')
INSERTING  ('176124', 'tt2051894', 'Home Run', '2013-04-19 00:00:00', '6.2', '34', '', '114', 'Drama', '2861020')
INSERTING  ('104755', 'tt1731697', 'The Lords of Salem', '2012-09-10 00:00:00', '5.3', '471', '', '101', 'Horror, Thriller', '1165882')
INSERTING  ('121789', 'tt1937449', 'At Any Price', '2012-08-30 00:00:00', '5.2', '133', '', '105', 'Drama', '0')
INSERTING  ('103731', 'tt1935179', 'Mud', '2013-05-01 00:00:00', '7.0', '1630', '', '130', 'Drama', '21587700')
INSERTING  ('134374', 'tt1980209', 'Pain & Gain', '2013-04-18 00:00:00', '6.1', '2620', '', '130', 'Thriller, Crime, Action, Comedy', '86175291')
INSERTING  ('277782', 'tt2670528', 'You Make Me Feel So Young', '2013-04-12 00:00:00', '5.0', '1', '', '80', '', '0')
INSERTING  ('190940', 'tt2797242', 'Bombay Talkies', '2013-05-03 00:00:00', '6.4', '34', '', '127', 'Drama, Romance', '2700000')
INSERTING  ('128073', 'tt1823125', 'Greetings from Tim Buckley', '2012-09-09 00:00:00', '5.9', '15', '', '99', 'Drama', '0')
INSERTING  ('68812', 'tt1491044', 'The Iceman', '2012-09-01 00:00:00', '6.5', '575', '', '105', 'Thriller, Crime, Drama', '1969193')
INSERTING  ('139933', 'tt1959438', 'Kiss of the Damned', '2012-11-07 00:00:00', '5.2', '67', '', '95', 'Thriller, Horror, Romance', '14752')
INSERTING  ('188640', 'tt2301155', 'Shootout at Wadala', '2013-05-03 00:00:00', '6.5', '14', '', '', 'Action', '0')
INSERTING  ('127373', 'tt1932767', 'What Maisie Knew', '2013-05-02 00:00:00', '7.1', '240', '', '93', 'Drama', '1066471')
INSERTING  ('54138', 'tt1408101', 'Star Trek Into Darkness', '2013-05-05 00:00:00', '7.4', '6393', '', '132', 'Action, Adventure, Science Fiction', '467365246')
INSERTING  ('123103', 'tt1780762', 'Aftershock', '2012-09-12 00:00:00', '5.2', '182', '', '89', 'Horror, Thriller', '58510')

INSERTING  ('191562', 'tt2436516', 'Go Goa Gone', '2013-05-10 00:00:00', '5.7', '53', '', '111', 'Comedy, Horror', '0')
INSERTING  ('64682', 'tt1343092', 'The Great Gatsby', '2013-05-10 00:00:00', '7.4', '7472', '', '143', 'Drama, Romance', '351040419')
INSERTING  ('159673', 'tt2076216', "He's Way More Famous Than You", '2013-05-10 00:00:00', '4.5', '10', '', '98', 'Comedy', '0')
INSERTING  ('123109', 'tt1763264', 'No One Lives', '2013-03-09 00:00:00', '5.7', '271', '', '86', 'Horror, Thriller', '74918')
INSERTING  ('72359', 'tt1699755', 'Peeples', '2013-05-09 00:00:00', '5.3', '37', '', '95', 'Comedy', '0')
INSERTING  ('188306', 'tt2804026', 'Aurangzeb', '2013-05-17 00:00:00', '5.6', '8', '', '137', 'Thriller, Action, Drama', '0')
INSERTING  ('84178', 'tt1930294', 'Black Rock', '2012-01-21 00:00:00', '4.9', '121', '', '79', 'Thriller, Horror', '0')
INSERTING  ('174321', 'tt2055765', 'The English Teacher', '2013-05-16 00:00:00', '5.7', '223', '', '91', 'Comedy, Drama, Romance', '104810')
INSERTING  ('82992', 'tt1905041', 'Fast & Furious 6', '2013-05-21 00:00:00', '6.8', '7283', '', '131', 'Action, Thriller, Crime', '788679850')
INSERTING  ('121986', 'tt2347569', 'Frances Ha', '2013-05-17 00:00:00', '7.4', '652', '', '86', 'Comedy, Drama', '4069826')
INSERTING  ('121677', 'tt2032557', 'The Reluctant Fundamentalist', '2013-03-17 00:00:00', '6.7', '124', '', '130', 'Thriller', '519535')
INSERTING  ('109439', 'tt1951261', 'The Hangover Part III', '2013-05-23 00:00:00', '6.1', '5375', '', '100', 'Comedy', '362000072')
INSERTING  ('132344', 'tt2209418', 'Before Midnight', '2013-04-05 00:00:00', '7.4', '1104', '', '109', 'Romance, Drama', '11176469')
INSERTING  ('116711', 'tt0848537', 'Epic', '2013-05-15 00:00:00', '6.4', '1731', '', '102', 'Animation, Adventure, Family, Fantasy', '268426634')
INSERTING  ('77987', 'tt1602613', 'Only God Forgives', '2013-05-22 00:00:00', '5.8', '1443', '', '90', 'Drama, Thriller, Crime', '10337387')
INSERTING  ('82700', 'tt1815862', 'After Earth', '2013-05-30 00:00:00', '5.1', '4330', '', '100', 'Science Fiction, Action, Adventure', '243843127')
INSERTING  ('102780', 'tt1531901', 'Byzantium', '2012-09-09 00:00:00', '6.2', '483', '', '118', 'Drama, Fantasy, Thriller', '89237')
INSERTING  ('87499', 'tt1869716', 'The East', '2013-05-31 00:00:00', '6.6', '452', '', '116', 'Drama, Thriller', '2401510')
INSERTING  ('156700', 'tt2179116', 'The Kings of Summer', '2013-01-19 00:00:00', '7.0', '701', '', '93', 'Comedy, Drama', '0')
INSERTING  ('75656', 'tt1670345', 'Now You See Me', '2013-05-29 00:00:00', '7.4', '10299', '', '116', 'Thriller, Crime', '117698894')
INSERTING  ('158015', 'tt2184339', 'The Purge', '2013-05-31 00:00:00', '6.2', '5093', '', '86', 'Science Fiction, Horror, Thriller', '89328627')
INSERTING  ('185008', 'tt2178470', 'Yeh Jawaani Hai Deewani', '2013-05-31 00:00:00', '7.3', '136', '', '160', 'Comedy, Romance', '46000000')
INSERTING  ('116741', 'tt2234155', 'The Internship', '2013-06-07 00:00:00', '6.2', '2714', '', '119', 'Comedy', '44000000')
INSERTING  ('91739', 'tt2094064', 'Much Ado About Nothing', '2012-09-08 00:00:00', '7.2', '173', '', '107', 'Comedy', '0')
INSERTING  ('91550', 'tt1634136', 'Violet & Daisy', '2011-09-15 00:00:00', '6.2', '145', '', '88', 'Thriller, Crime, Drama, Action, Comedy', '0')
Duplicate! Did not add to database.
INSERTING  ('109414', 'tt1245492', 'This Is the End', '2013-06-12 00:00:00', '6.2', '3953', '', '107', 'Action, Comedy', '126041322')
INSERTING  ('96936', 'tt2132285', 'The Bling Ring', '2013-06-12 00:00:00', '5.4', '2132', '', '90', 'Drama, Crime', '19145732')
INSERTING  ('199139', 'tt2806788', 'Fukrey', '2013-06-14 00:00:00', '6.6', '29', '', '137', 'Comedy, Drama, Romance', '5200000')
INSERTING  ('49521', 'tt0770828', 'Man of Steel', '2013-06-12 00:00:00', '6.5', '10073', '', '143', 'Action, Adventure, Fantasy, Science Fiction', '668045518')
INSERTING  ('201676', 'tt2908228', 'My Little Pony: Equestria Girls', '2013-06-16 00:00:00', '6.9', '65', '', '72', 'Animation, Comedy, Family, Fantasy, Music', '0')
INSERTING  ('93456', 'tt1690953', 'Despicable Me 2', '2013-06-25 00:00:00', '6.9', '7610', '', '98', 'Animation, Comedy, Family', '970761885')
INSERTING  ('62211', 'tt1453405', 'Monsters University', '2013-06-20 00:00:00', '7.0', '6653', '', '104', 'Animation, Family', '743559607')
INSERTING  ('124071', 'tt1276962', 'How to Make Money Selling Drugs', '2012-09-07 00:00:00', '7.0', '57', '', '96', 'Documentary', '0')
INSERTING  ('126757', 'tt2290065', '100 Bloody Acres', '2012-08-04 00:00:00', '6.0', '56', '', '91', 'Comedy, Horror', '0')
INSERTING  ('188826', 'tt2404555', 'Copperhead', '2013-06-28 00:00:00', '5.5', '12', '', '120', 'Drama, History', '0')
INSERTING  ('136795', 'tt2404463', 'The Heat', '2013-06-27 00:00:00', '6.6', '2530', '', '117', 'Action, Comedy, Crime', '158674180')
INSERTING  ('220820', 'tt2510268', 'Blood of Redemption', '2013-09-23 00:00:00', '5.3', '23', '', '85', 'Drama, Action, Thriller, Crime', '0')
INSERTING  ('172897', 'tt2201221', 'Some Girl(s)', '2013-06-28 00:00:00', '4.9', '47', '', '90', 'Comedy, Drama', '0')
INSERTING  ('117251', 'tt2334879', 'White House Down', '2013-06-27 00:00:00', '6.4', '2923', '', '131', 'Action, Drama, Thriller', '205366737')
INSERTING  ('181330', 'tt2609912', 'Kevin Hart: Let Me Explain', '2013-07-03 00:00:00', '7.0', '146', '', '74', 'Comedy, Documentary', '32230907')
INSERTING  ('57201', 'tt1210819', 'The Lone Ranger', '2013-07-03 00:00:00', '6.0', '3924', '', '149', 'Action, Adventure, Western', '89289910')
INSERTING  ('209403', 'tt2170299', 'Bad Words', '2013-09-06 00:00:00', '6.4', '463', '', '89', 'Comedy', '7800000')
INSERTING  ('192538', 'tt2193418', 'Hammer of the Gods', '2013-07-05 00:00:00', '4.5', '118', '', '99', 'History, Action, Adventure', '641')
INSERTING  ('205017', 'tt2224317', 'Lootera', '2013-04-04 00:00:00', '6.8', '43', '', '136', 'Drama, Romance', '5100000')
INSERTING  ('111969', 'tt2205697', 'Stuck in Love', '2012-09-09 00:00:00', '7.3', '1208', '', '97', 'Drama, Comedy', '81071')
INSERTING  ('147773', 'tt1727388', 'The Way Way Back', '2013-06-06 00:00:00', '7.1', '1073', '', '103', 'Comedy, Drama', '23198652')
INSERTING  ('206324', 'tt2356180', 'Bhaag Milkha Bhaag', '2013-07-12 00:00:00', '7.6', '111', '', '186', 'History, Action, Drama', '25000000')
INSERTING  ('203534', 'tt2948266', "Dealin' with Idiots", '2013-07-12 00:00:00', '5.4', '18', '', '86', 'Comedy', '0')
INSERTING  ('157354', 'tt2334649', 'Fruitvale Station', '2013-07-25 00:00:00', '7.4', '657', '', '85', 'Drama', '17385830')
INSERTING  ('109418', 'tt2191701', 'Grown Ups 2', '2013-07-11 00:00:00', '5.9', '2205', '', '100', 'Comedy', '246984278')
INSERTING  ('77663', 'tt1480295', 'Killing Season', '2013-07-12 00:00:00', '5.5', '599', '', '91', 'Action, Thriller', '39881')
INSERTING  ('68726', 'tt1663662', 'Pacific Rim', '2013-07-11 00:00:00', '6.8', '7900', '', '131', 'Action, Science Fiction, Adventure', '407602906')
INSERTING  ('159117', 'tt2450186', 'V/H/S/2', '2013-06-06 00:00:00', '6.1', '468', '', '95', 'Horror, Thriller', '21833')
INSERTING  ('227679', 'tt3257582', 'Pokémon the Movie: Genesect and the Legend Awakened', '2013-07-13 00:00:00', '6.3', '65', '', '72', 'Action, Adventure, Animation, Family', '32300000')
INSERTING  ('77950', 'tt1860353', 'Turbo', '2013-07-11 00:00:00', '6.1', '1830', '', '96', 'Animation, Family', '282570682')
INSERTING  ('138843', 'tt1457767', 'The Conjuring', '2013-03-20 00:00:00', '7.5', '6250', '', '112', 'Horror, Thriller', '319494638')
INSERTING  ('206851', 'tt2385104', 'D-Day', '2013-07-19 00:00:00', '6.4', '18', '', '153', 'Action, Thriller', '5600000')
INSERTING  ('72890', 'tt1698648', 'Girl Most Likely', '2012-09-07 00:00:00', '5.7', '160', '', '103', 'Comedy', '0')
INSERTING  ('49524', 'tt0790736', 'R.I.P.D.', '2013-07-18 00:00:00', '5.6', '2149', '', '96', 'Fantasy, Action, Comedy, Crime', '61648500')
INSERTING  ('146216', 'tt1821694', 'RED 2', '2013-07-18 00:00:00', '6.5', '2447', '', '116', 'Action, Comedy, Crime, Thriller', '0')
INSERTING  ('107985', 'tt1213663', "The World's End", '2013-07-18 00:00:00', '6.7', '3167', '', '109', 'Comedy, Action, Science Fiction', '46089287')

INSERTING  ('76170', 'tt1430132', 'The Wolverine', '2013-07-23 00:00:00', '6.3', '6390', '', '126', 'Action, Science Fiction, Adventure, Fantasy', '415440673')
INSERTING  ('160588', 'tt2334873', 'Blue Jasmine', '2013-07-25 00:00:00', '7.0', '2092', '', '98', 'Comedy, Drama', '99206215')
INSERTING  ('91745', 'tt1645131', 'Romeo & Juliet', '2013-09-12 00:00:00', '6.7', '371', '', '118', 'Drama, Romance', '1162635')
INSERTING  ('129139', 'tt1758795', 'The To Do List', '2013-07-24 00:00:00', '5.6', '591', '', '104', 'Comedy, Romance', '3566225')
INSERTING  ('77931', 'tt2017020', 'The Smurfs 2', '2013-07-30 00:00:00', '5.7', '1277', '', '105', 'Fantasy, Family, Comedy, Animation', '347434178')
INSERTING  ('136400', 'tt1272878', '2 Guns', '2013-08-02 00:00:00', '6.5', '2451', '', '109', 'Action, Comedy, Crime', '131940411')
INSERTING  ('109729', 'tt2292959', 'The Canyons', '2013-07-29 00:00:00', '4.3', '135', '', '99', 'Thriller, Drama', '56825')
INSERTING  ('174772', 'tt2051879', 'Europa Report', '2013-06-27 00:00:00', '6.2', '740', '', '90', 'Science Fiction, Thriller', '0')
INSERTING  ('157386', 'tt1714206', 'The Spectacular Now', '2013-08-02 00:00:00', '6.6', '1903', '', '95', 'Comedy, Drama, Romance', '6854611')
INSERTING  ('76285', 'tt1854564', 'Percy Jackson: Sea of Monsters', '2013-08-07 00:00:00', '5.9', '3259', '', '106', 'Adventure, Family, Fantasy', '199850315')
INSERTING  ('138832', 'tt1723121', "We're the Millers", '2013-08-07 00:00:00', '6.8', '5458', '', '110', 'Comedy, Crime', '269994119')
INSERTING  ('224061', 'tt3042926', 'Atharintiki Daaredi', '2013-09-27 00:00:00', '6.7', '13', '', '169', 'Action, Comedy, Drama', '0')
INSERTING  ('205022', 'tt2112124', 'Chennai Express', '2013-08-08 00:00:00', '6.5', '160', '', '141', 'Romance, Comedy, Action', '62000000')
INSERTING  ('68724', 'tt1535108', 'Elysium', '2013-08-07 00:00:00', '6.4', '5613', '', '109', 'Science Fiction, Action, Drama, Thriller', '286140700')
INSERTING  ('151960', 'tt1691917', 'Planes', '2013-08-09 00:00:00', '5.7', '922', '', '91', 'Animation, Family, Adventure, Comedy', '219788712')
INSERTING  ('202616', 'tt2617676', 'Thalaivaa', '2013-08-20 00:00:00', '6.3', '21', '', '182', 'Action, Drama, Thriller', '0')
INSERTING  ('59859', 'tt1650554', 'Kick-Ass 2', '2013-07-17 00:00:00', '6.4', '3946', '', '103', 'Action, Adventure, Crime', '60700000')
INSERTING  ('152748', 'tt2388637', "Ain't Them Bodies Saints", '2013-07-03 00:00:00', '6.2', '225', '', '96', 'Crime, Drama, Romance, Western', '1031243')
INSERTING  ('132363', 'tt1327773', 'The Butler', '2013-08-16 00:00:00', '7.4', '1907', '', '132', 'Drama', '115922175')
INSERTING  ('115782', 'tt2357129', 'Jobs', '2013-08-16 00:00:00', '6.1', '1678', '', '128', 'Drama, History', '35931410')
INSERTING  ('115348', 'tt1413495', 'Paranoia', '2013-08-14 00:00:00', '5.7', '537', '', '106', 'Drama, Thriller', '13785015')
INSERTING  ('123553', 'tt1538403', 'The Mortal Instruments: City of Bones', '2013-08-21 00:00:00', '6.3', '3059', '', '130', 'Action, Adventure, Drama, Mystery, Romance, Fantasy', '95396573')
INSERTING  ('172533', 'tt2265398', 'Drinking Buddies', '2013-08-23 00:00:00', '6.0', '547', '', '90', 'Romance, Drama', '343341')
INSERTING  ('172847', 'tt2012011', 'Scenic Route', '2013-08-23 00:00:00', '6.3', '112', '', '85', 'Drama, Thriller', '0')
INSERTING  ('169813', 'tt2370248', 'Short Term 12', '2013-08-23 00:00:00', '7.9', '733', '', '96', 'Drama', '1600000')
INSERTING  ('83899', 'tt1853739', "You're Next", '2011-09-10 00:00:00', '6.5', '1314', '', '95', 'Horror, Thriller, Mystery', '14347000')
Duplicate! Did not add to database.
INSERTING  ('146223', 'tt2218003', 'Closed Circuit', '2013-08-28 00:00:00', '5.9', '253', '', '96', 'Mystery, Drama, Crime, Thriller', '5750401')
INSERTING  ('164558', 'tt2515086', 'One Direction: This Is Us', '2013-08-30 00:00:00', '8.0', '390', '', '92', 'Documentary, Music', '0')
INSERTING  ('146227', 'tt2167202', 'Getaway', '2013-08-29 00:00:00', '5.1', '399', '', '90', 'Action, Crime', '10501938')
INSERTING  ('157375', 'tt2265534', 'The Lifeguard', '2013-08-30 00:00:00', '5.3', '205', '', '98', 'Drama, Comedy, Romance', '0')
INSERTING  ('157834', 'tt2333804', 'The Zero Theorem', '2013-09-20 00:00:00', '6.1', '643', '', '107', 'Drama, Fantasy, Science Fiction', '770706')
INSERTING  ('122906', 'tt2194499', 'About Time', '2013-08-16 00:00:00', '7.9', '4307', '', '123', 'Comedy, Drama, Science Fiction', '87100449')
INSERTING  ('159092', 'tt2318527', 'Hell Baby', '2013-09-06 00:00:00', '5.0', '128', '', '98', 'Comedy, Horror', '0')
INSERTING  ('87421', 'tt1411250', 'Riddick', '2013-09-02 00:00:00', '6.2', '2951', '', '119', 'Science Fiction, Action, Thriller', '98337295')
INSERTING  ('209410', 'tt2988272', 'Shuddh Desi Romance', '2013-09-06 00:00:00', '5.8', '39', '', '141', 'Drama, Romance', '0')
INSERTING  ('154282', 'tt2364949', 'Touchy Feely', '2013-01-19 00:00:00', '4.8', '54', '', '89', 'Drama', '35022')
INSERTING  ('152737', 'tt1322269', 'August: Osage County', '2013-12-26 00:00:00', '6.9', '867', '', '121', 'Comedy, Drama', '74188937')
INSERTING  ('112205', 'tt2404311', 'The Family', '2013-09-13 00:00:00', '6.2', '1719', '', '111', 'Crime, Comedy, Action', '36894225')
INSERTING  ('91586', 'tt2226417', 'Insidious: Chapter 2', '2013-09-12 00:00:00', '6.6', '2389', '', '106', 'Horror, Thriller', '0')
INSERTING  ('109417', 'tt1532958', 'Battle of the Year', '2013-09-21 00:00:00', '6.1', '138', '', '110', 'Music, Drama', '16549477')
INSERTING  ('209263', 'tt2390361', 'Enough Said', '2013-09-18 00:00:00', '6.7', '470', '', '93', 'Comedy, Drama, Romance', '25288872')
INSERTING  ('146233', 'tt1392214', 'Prisoners', '2013-09-18 00:00:00', '8.0', '6059', '', '153', 'Drama, Thriller, Crime', '122126687')
INSERTING  ('96721', 'tt1979320', 'Rush', '2013-09-02 00:00:00', '7.7', '4054', '', '123', 'Drama, Action', '90247624')
INSERTING  ('214100', 'tt2481198', 'Sunshine on Leith', '2013-10-03 00:00:00', '6.7', '66', '', '100', 'Music, Romance, Comedy, Drama', '0')
INSERTING  ('175528', 'tt1171222', 'Baggage Claim', '2013-09-27 00:00:00', '5.4', '131', '', '96', 'Comedy', '22456509')
INSERTING  ('109451', 'tt1985966', 'Cloudy with a Chance of Meatballs 2', '2013-09-26 00:00:00', '6.4', '1778', '', '95', 'Animation, Family, Comedy', '248384621')
INSERTING  ('138697', 'tt2229499', 'Don Jon', '2013-07-26 00:00:00', '5.9', '2793', '', '90', 'Romance, Comedy, Drama', '0')
INSERTING  ('193613', 'tt2172935', 'Metallica: Through the Never', '2013-09-25 00:00:00', '6.7', '139', '', '93', 'Music', '7972967')
INSERTING  ('227056', 'tt2856674', 'Ramayya Vasthavayya', '2013-10-10 00:00:00', '5.0', '1', '', '166', 'Drama, Action', '4300000')
INSERTING  ('146238', 'tt2364841', 'Runner Runner', '2013-09-24 00:00:00', '5.6', '787', '', '91', 'Crime, Thriller, Drama', '62616646')
INSERTING  ('206284', 'tt2349460', 'Grace Unplugged', '2013-10-04 00:00:00', '6.3', '38', '', '102', 'Drama, Music', '0')
INSERTING  ('49047', 'tt1454468', 'Gravity', '2013-10-03 00:00:00', '7.2', '9958', '', '91', 'Science Fiction, Thriller, Drama', '716392705')
INSERTING  ('107846', 'tt1211956', 'Escape Plan', '2013-10-09 00:00:00', '6.7', '2961', '', '115', 'Action, Thriller', '122915111')
INSERTING  ('109424', 'tt1535109', 'Captain Phillips', '2013-10-10 00:00:00', '7.6', '4051', '', '134', 'Action, Drama, Thriller', '95000000')
INSERTING  ('162903', 'tt1837703', 'The Fifth Estate', '2013-10-11 00:00:00', '6.0', '572', '', '128', 'Drama, Thriller', '8555008')
INSERTING  ('106747', 'tt2002718', 'Machete Kills', '2013-09-12 00:00:00', '5.5', '1132', '', '107', 'Action, Crime, Thriller', '15008161')
INSERTING  ('76203', 'tt2024544', '12 Years a Slave', '2013-10-18 00:00:00', '7.9', '6928', '', '134', 'Drama, History', '187000000')
INSERTING  ('133805', 'tt1939659', 'Carrie', '2013-10-16 00:00:00', '5.9', '2803', '', '100', 'Drama, Horror', '82394288')
INSERTING  ('207883', 'tt1618432', "I'm in Love with a Church Girl", '2013-10-18 00:00:00', '5.2', '26', '', '118', 'Drama, Romance', '0')
INSERTING  ('76338', 'tt1981115', 'Thor: The Dark World', '2013-10-29 00:00:00', '6.6', '10719', '', '112', 'Action, Adventure, Fantasy', '644571402')

INSERTING  ('271483', 'tt2122283', 'Bastards of Young', '2013-10-03 00:00:00', '0.0', '0', '', '80', 'Drama, Comedy', '0')
INSERTING  ('152584', 'tt2278871', 'Blue Is the Warmest Color', '2013-10-09 00:00:00', '7.1', '2498', '', '180', 'Romance, Drama', '10165694')
INSERTING  ('109091', 'tt2193215', 'The Counselor', '2013-10-25 00:00:00', '5.1', '1114', '', '117', 'Thriller, Crime, Drama', '71009334')
INSERTING  ('208134', 'tt3063516', 'Jackass Presents: Bad Grandpa', '2013-10-22 00:00:00', '6.0', '955', '', '92', 'Comedy', '151831537')
INSERTING  ('214671', 'tt2014351', 'Spinning Plates', '2013-10-25 00:00:00', '5.6', '7', '', '98', 'Documentary', '0')
INSERTING  ('152532', 'tt0790636', 'Dallas Buyers Club', '2013-11-17 00:00:00', '7.9', '5132', '', '117', 'Drama, History', '55198285')
INSERTING  ('80274', 'tt1731141', "Ender's Game", '2013-10-23 00:00:00', '6.6', '3696', '', '114', 'Science Fiction, Action, Adventure', '125537191')
INSERTING  ('175574', 'tt1621039', 'Free Birds', '2013-10-30 00:00:00', '5.8', '425', '', '91', 'Animation, Comedy, Family', '110000000')
INSERTING  ('137093', 'tt1204975', 'Last Vegas', '2013-10-31 00:00:00', '6.4', '1271', '', '105', 'Comedy', '134402450')
INSERTING  ('203833', 'tt0816442', 'The Book Thief', '2013-11-08 00:00:00', '7.5', '2915', '', '131', 'Drama', '76586316')
INSERTING  ('101299', 'tt1951264', 'The Hunger Games: Catching Fire', '2013-11-15 00:00:00', '7.4', '11624', '', '146', 'Adventure, Action, Science Fiction', '847423452')
INSERTING  ('146304', 'tt2083355', 'The Best Man Holiday', '2013-11-15 00:00:00', '6.6', '149', '', '123', 'Comedy', '71625195')
INSERTING  ('226354', 'tt2739338', 'The Christmas Candle', '2013-11-22 00:00:00', '6.0', '15', '', '100', 'Drama, Family', '0')
INSERTING  ('109445', 'tt2294629', 'Frozen', '2013-11-27 00:00:00', '7.3', '10223', '', '102', 'Animation, Adventure, Family', '1274219009')
INSERTING  ('204349', 'tt2281159', 'Contracted', '2013-07-07 00:00:00', '5.1', '272', '', '78', 'Horror, Thriller', '4105')
INSERTING  ('146239', 'tt2387559', 'Delivery Man', '2013-10-10 00:00:00', '6.2', '894', '', '105', 'Comedy', '51164106')
INSERTING  ('129670', 'tt1821549', 'Nebraska', '2013-09-21 00:00:00', '7.4', '990', '', '115', 'Drama, Adventure', '17654912')
INSERTING  ('205220', 'tt2431286', 'Philomena', '2013-11-01 00:00:00', '7.4', '984', '', '98', 'Drama', '100129872')
INSERTING  ('109443', 'tt1229340', 'Anchorman 2: The Legend Continues', '2013-12-18 00:00:00', '6.1', '1473', '', '119', 'Comedy', '173649015')
INSERTING  ('175541', 'tt1425922', 'Black Nativity', '2013-11-27 00:00:00', '5.8', '26', '', '93', 'Drama, Music', '7018189')
INSERTING  ('204082', 'tt2312718', 'Homefront', '2013-11-12 00:00:00', '6.5', '1468', '', '100', 'Action, Thriller', '43058898')
INSERTING  ('87516', 'tt1321511', 'Oldboy', '2013-11-14 00:00:00', '5.9', '1087', '', '104', 'Drama, Thriller, Mystery, Action', '4861022')
INSERTING  ('192136', 'tt2304771', 'Mandela: Long Walk to Freedom', '2013-12-06 00:00:00', '6.9', '330', '', '141', 'Drama, History', '27330000')
INSERTING  ('57158', 'tt1170358', 'The Hobbit: The Desolation of Smaug', '2013-12-11 00:00:00', '7.6', '8067', '', '161', 'Adventure, Fantasy, Action', '958400000')
INSERTING  ('235704', 'tt3144098', 'Commitment', '2013-11-05 00:00:00', '7.3', '62', '', '113', 'Drama, Action, Thriller', '0')
INSERTING  ('91101', 'tt1535432', 'Crave', '2012-10-18 00:00:00', '4.7', '13', '', '113', 'Drama, Thriller', '0')
INSERTING  ('86829', 'tt2042568', 'Inside Llewyn Davis', '2013-10-13 00:00:00', '7.2', '1463', '', '105', 'Drama', '32935319')
INSERTING  ('190847', 'tt1709143', 'The Last Days on Mars', '2013-08-11 00:00:00', '5.3', '425', '', '98', 'Science Fiction, Thriller, Horror', '24084')
INSERTING  ('164457', 'tt1206543', 'Out of the Furnace', '2013-12-06 00:00:00', '6.6', '1124', '', '116', 'Thriller, Drama, Crime', '15400000')
INSERTING  ('99758', 'tt1592576', 'Swerve', '2012-06-06 00:00:00', '5.2', '22', '', '83', 'Crime, Drama, Thriller', '0')
INSERTING  ('168672', 'tt1800241', 'American Hustle', '2013-12-12 00:00:00', '6.8', '4606', '', '138', 'Drama, Crime', '251171807')
INSERTING  ('175555', 'tt2609758', 'A Madea Christmas', '2013-12-13 00:00:00', '6.4', '70', '', '100', 'Comedy, Drama', '53396354')
INSERTING  ('140823', 'tt2140373', 'Saving Mr. Banks', '2013-11-16 00:00:00', '7.4', '2120', '', '125', 'Comedy, Drama, History', '112544580')
INSERTING  ('106646', 'tt0993846', 'The Wolf of Wall Street', '2013-12-25 00:00:00', '8.0', '13076', '', '180', 'Crime, Drama, Comedy', '392000694')
INSERTING  ('152601', 'tt1798709', 'Her', '2013-12-18 00:00:00', '7.9', '8174', '', '126', 'Romance, Science Fiction, Drama', '47351251')
INSERTING  ('228558', 'tt3013528', 'The Harry Hill Movie', '2013-12-20 00:00:00', '3.6', '15', '', '85', 'Comedy', '0')
INSERTING  ('77951', 'tt1762399', 'Walking with Dinosaurs', '2013-12-18 00:00:00', '5.4', '224', '', '87', 'Animation, Family, Adventure', '126546518')
INSERTING  ('64686', 'tt1335975', '47 Ronin', '2013-12-06 00:00:00', '6.0', '2178', '', '119', 'Drama, Action, Adventure, Fantasy', '150962475')
INSERTING  ('64807', 'tt1661382', 'Grudge Match', '2013-12-25 00:00:00', '6.0', '747', '', '113', 'Comedy', '44907260')
INSERTING  ('116745', 'tt0359950', 'The Secret Life of Walter Mitty', '2013-12-18 00:00:00', '7.1', '5030', '', '114', 'Adventure, Comedy, Drama, Fantasy', '188133322')
INSERTING  ('193756', 'tt1091191', 'Lone Survivor', '2013-12-24 00:00:00', '7.4', '2390', '', '121', 'Action, Drama, War', '149295601')
INSERTING  ('152742', 'tt1924396', 'The Best Offer', '2013-01-01 00:00:00', '7.8', '1523', '', '124', 'Drama, Romance, Crime, Mystery', '19255873')
INSERTING  ('233470', 'tt1673734', 'Jamesy Boy', '2014-01-03 00:00:00', '6.5', '85', '', '109', 'Crime, Drama, Romance', '0')
INSERTING  ('215830', 'tt2071550', 'Open Grave', '2013-08-13 00:00:00', '5.9', '364', '', '102', 'Horror, Thriller, Mystery', '0')
INSERTING  ('227348', 'tt2473682', 'Paranormal Activity: The Marked Ones', '2014-01-01 00:00:00', '5.3', '797', '', '84', 'Horror, Thriller', '86362372')
INSERTING  ('245775', 'tt2707858', 'Yves Saint Laurent', '2014-01-08 00:00:00', '6.6', '484', '', '106', 'Drama', '21026290')
INSERTING  ('227707', 'tt1376213', 'The Adventurer: The Curse of the Midas Box', '2013-12-05 00:00:00', '5.1', '113', '', '99', 'Fantasy, Adventure, Family', '6399')
INSERTING  ('245175', 'tt2994646', 'Black Coffee', '2014-01-10 00:00:00', '7.0', '11', '', '82', 'Comedy, Romance', '0')
INSERTING  ('233564', 'tt1978428', 'Dumbbells', '2014-01-10 00:00:00', '3.3', '12', '', '93', 'Comedy', '0')
INSERTING  ('188207', 'tt1043726', 'The Legend of Hercules', '2014-01-10 00:00:00', '4.5', '833', '', '99', 'Action, Adventure', '61279452')
INSERTING  ('174682', 'tt2111392', 'Raze', '2013-04-21 00:00:00', '5.4', '80', '', '92', 'Horror, Thriller', '0')
INSERTING  ('190469', 'tt2275946', 'Redirected', '2014-01-10 00:00:00', '5.8', '219', '', '99', 'Action, Comedy, Crime, Thriller', '0')
INSERTING  ('227783', 'tt1821658', 'The Nut Job', '2014-01-17 00:00:00', '5.7', '556', '', '85', 'Animation, Comedy, Family, Adventure', '122529966')
INSERTING  ('253684', 'tt2493728', 'Divin enfant', '2014-01-15 00:00:00', '4.2', '10', '', '84', 'Comedy', '0')
INSERTING  ('137094', 'tt1205537', 'Jack Ryan: Shadow Recruit', '2014-01-15 00:00:00', '6.1', '1763', '', '105', 'Action, Drama, Thriller', '135511030')
INSERTING  ('248212', 'tt2560102', 'Lilting', '2014-08-07 00:00:00', '7.2', '71', '', '91', 'Drama', '0')
INSERTING  ('244786', 'tt2582802', 'Whiplash', '2014-10-10 00:00:00', '8.4', '8300', '', '107', 'Drama, Music', '13092000')
INSERTING  ('228028', 'tt2246887', 'Back in the Day', '2014-01-07 00:00:00', '5.5', '14', '', '94', 'Comedy', '0')
INSERTING  ('171540', 'tt2309224', 'Big Bad Wolves', '2013-04-21 00:00:00', '6.6', '186', '', '106', 'Comedy, Crime, Thriller, Horror', '33232')
INSERTING  ('244506', 'tt2994190', 'Camp X-Ray', '2014-10-17 00:00:00', '6.8', '639', '', '117', 'Drama', '59744')
INSERTING  ('79316', 'tt2752758', "Devil's Due", '2014-01-08 00:00:00', '4.4', '313', '', '89', 'Horror', '36433975')
INSERTING  ('245829', 'tt3469718', 'Fishing Without Nets', '2014-07-30 00:00:00', '5.3', '2', '', '109', 'Thriller', '0')

INSERTING  ('171372', 'tt1605717', 'Frank', '2014-05-02 00:00:00', '6.9', '1012', '', '95', 'Comedy, Drama, Mystery', '645186')
INSERTING  ('243531', 'tt2325002', 'Freezer', '2014-01-17 00:00:00', '5.5', '69', '', '88', 'Action, Thriller', '0')
INSERTING  ('241848', 'tt2980592', 'The Guest', '2014-09-17 00:00:00', '6.5', '1005', '', '100', 'Mystery, Thriller, Action', '2367161')
INSERTING  ('244536', 'tt3186318', 'Hellion', '2014-06-13 00:00:00', '5.9', '71', '', '98', 'Thriller, Drama', '0')
INSERTING  ('262904', 'tt2388558', 'Kidnapped for Christ', '2014-04-09 00:00:00', '7.2', '15', '', '85', 'Documentary, Drama', '0')
INSERTING  ('244264', 'tt2034031', 'Laggies', '2014-09-25 00:00:00', '6.1', '753', '', '100', 'Comedy, Romance, Drama', '1066981')
INSERTING  ('177945', 'tt2331143', 'Like Father, Like Son', '2013-09-28 00:00:00', '7.6', '247', '', '121', 'Drama', '19978961')
INSERTING  ('248774', 'tt2910274', 'Obvious Child', '2014-06-06 00:00:00', '6.7', '263', '', '83', 'Comedy, Romance', '3123963')
INSERTING  ('168530', 'tt1408253', 'Ride Along', '2014-01-07 00:00:00', '6.2', '1334', '', '99', 'Action, Comedy', '153997819')
INSERTING  ('180951', 'tt2184287', 'Summer in February', '2013-06-13 00:00:00', '5.6', '62', '', '101', 'Drama, Romance', '0')
INSERTING  ('250643', 'tt2593392', 'Alive Inside', '2014-01-18 00:00:00', '7.7', '43', '', '74', 'Documentary', '0')
INSERTING  ('249916', 'tt3077108', 'Appropriate Behavior', '2015-03-14 00:00:00', '6.6', '45', '', '90', 'Comedy, Drama, Romance', '0')
INSERTING  ('192142', 'tt2316868', 'The Better Angels', '2014-01-18 00:00:00', '6.6', '21', '', '95', 'Drama, History', '70918')
INSERTING  ('250651', 'tt2107850', 'The Case Against 8', '2014-06-06 00:00:00', '7.9', '8', '', '109', 'Documentary', '0')
INSERTING  ('114750', 'tt2235108', 'Dear White People', '2014-10-17 00:00:00', '6.1', '306', '', '108', 'Comedy, Drama', '0')
INSERTING  ('245855', 'tt2611390', 'Difret', '2014-01-19 00:00:00', '6.0', '36', '', '96', 'Drama', '49667')
INSERTING  ('248384', 'tt3091286', "Drunktown's Finest", '2014-01-18 00:00:00', '6.0', '1', '', '95', 'Drama', '0')
INSERTING  ('245859', 'tt2141751', 'God Help the Girl', '2014-08-22 00:00:00', '6.7', '141', '', '111', 'Comedy, Drama, Music', '0')
INSERTING  ('244267', 'tt2884206', 'I Origins', '2014-07-18 00:00:00', '7.6', '1884', '', '106', 'Science Fiction, Drama', '336472')
INSERTING  ('244268', 'tt2639344', 'Love Is Strange', '2014-02-07 00:00:00', '6.5', '159', '', '98', 'Drama', '2262223')
INSERTING  ('231576', 'tt2870708', 'Wish I Was Here', '2014-01-18 00:00:00', '6.6', '448', '', '120', 'Drama, Comedy', '5483299')
INSERTING  ('215379', 'tt2693664', 'Young Ones', '2014-06-28 00:00:00', '5.8', '164', '', '100', 'Western, Action, Drama, Science Fiction', '0')
INSERTING  ('85350', 'tt1065073', 'Boyhood', '2014-06-05 00:00:00', '7.5', '3199', '', '165', 'Drama', '44349000')
INSERTING  ('157832', 'tt2234003', 'Calvary', '2014-04-11 00:00:00', '7.1', '543', '', '102', 'Drama', '3593460')
INSERTING  ('241842', 'tt2832470', 'Dead Snow 2: Red vs. Dead', '2014-02-12 00:00:00', '6.7', '326', '', '100', 'Horror, Action, Comedy', '37473')
INSERTING  ('157849', 'tt1972571', 'A Most Wanted Man', '2014-07-25 00:00:00', '6.5', '804', '', '121', 'Thriller', '31554855')
INSERTING  ('246400', 'tt2920540', '20.000 Days on Earth', '2014-07-05 00:00:00', '7.2', '104', '', '97', 'Documentary, Drama, Music', '0')
INSERTING  ('242095', 'tt2910814', 'The Signal', '2014-03-15 00:00:00', '5.9', '938', '', '97', 'Thriller, Science Fiction', '2665322')
INSERTING  ('242088', 'tt2967006', 'The Trip to Italy', '2014-04-24 00:00:00', '6.5', '146', '', '108', 'Comedy, Drama', '0')
INSERTING  ('242090', 'tt2756032', 'The One I Love', '2014-08-08 00:00:00', '6.9', '375', '', '91', 'Romance, Comedy, Drama', '513447')
INSERTING  ('180299', 'tt2265171', 'The Raid 2', '2014-03-27 00:00:00', '7.7', '1242', '', '150', 'Action, Crime, Thriller', '2627209')
INSERTING  ('205225', 'tt2082156', '24 Exposures', '2013-08-04 00:00:00', '3.9', '14', '', '77', 'Drama, Crime, Thriller', '0')
INSERTING  ('232175', 'tt1657510', 'Gimme Shelter', '2013-10-17 00:00:00', '6.7', '160', '', '101', 'Drama', '1359910')
INSERTING  ('160068', 'tt2425486', 'Gloria', '2013-02-10 00:00:00', '6.5', '90', '', '105', 'Comedy, Drama', '2107925')
INSERTING  ('100241', 'tt1418377', 'I, Frankenstein', '2014-01-22 00:00:00', '5.2', '1141', '', '92', 'Horror, Thriller', '71154592')
INSERTING  ('354167', 'tt4354792', 'Jai Ho', '2014-01-01 00:00:00', '0.0', '0', '', '60', 'Documentary, Music', '0')
INSERTING  ('174378', 'tt2343158', 'Run & Jump', '2014-01-24 00:00:00', '6.7', '14', '', '102', 'Drama', '0')
INSERTING  ('119892', 'tt1717715', 'The Monkey King', '2014-01-09 00:00:00', '5.0', '85', '', '119', 'Action, Adventure, Family', '0')
INSERTING  ('225574', 'tt2024469', 'Non-Stop', '2014-02-26 00:00:00', '6.8', '3418', '', '106', 'Action, Thriller, Mystery', '222809600')
INSERTING  ('225565', 'tt1800246', 'That Awkward Moment', '2014-01-29 00:00:00', '6.1', '1843', '', '94', 'Comedy, Romance', '26049082')
INSERTING  ('97020', 'tt1234721', 'RoboCop', '2014-01-30 00:00:00', '5.8', '3514', '', '102', 'Action, Science Fiction', '242688965')
INSERTING  ('238475', 'tt2499414', 'Best Night Ever', '2014-01-31 00:00:00', '4.1', '56', '', '90', 'Comedy', '0')
INSERTING  ('130150', 'tt1967545', 'Labor Day', '2013-12-27 00:00:00', '6.9', '567', '', '111', 'Drama', '20275812')
INSERTING  ('192767', 'tt2626090', 'Noble', '2014-09-19 00:00:00', '6.8', '16', '', '100', 'Drama', '0')
INSERTING  ('137106', 'tt1490017', 'The Lego Movie', '2014-02-06 00:00:00', '7.4', '5025', '', '100', 'Adventure, Animation, Comedy, Family, Fantasy', '469160692')
INSERTING  ('242042', 'tt2355495', 'Barefoot', '2014-02-02 00:00:00', '6.4', '348', '', '90', 'Comedy, Drama, Romance', '15071')
INSERTING  ('293116', 'tt3516158', 'A Few Cubic Meters of Love', '2014-02-04 00:00:00', '7.0', '1', '', '90', '', '0')
INSERTING  ('120467', 'tt2278388', 'The Grand Budapest Hotel', '2014-02-26 00:00:00', '8.0', '8450', '', '100', 'Comedy, Drama', '174600318')
INSERTING  ('252178', 'tt2614684', "'71", '2014-10-10 00:00:00', '6.8', '650', '', '99', 'Thriller, Action, Drama, War', '3200000')
INSERTING  ('152760', 'tt2177771', 'The Monuments Men', '2014-01-24 00:00:00', '5.9', '2301', '', '118', 'War, Drama, History, Action', '154984035')
INSERTING  ('82703', 'tt0864835', 'Mr. Peabody & Sherman', '2014-02-07 00:00:00', '6.7', '1419', '', '92', 'Animation, Adventure, Family', '272912430')
INSERTING  ('254772', 'tt2258285', 'Two Men in Town', '2014-02-06 00:00:00', '5.8', '44', '', '120', 'Crime, Drama', '0')
INSERTING  ('203739', 'tt1686821', 'Vampire Academy', '2014-02-07 00:00:00', '5.9', '1058', '', '104', 'Comedy, Action, Fantasy', '15391979')
INSERTING  ('141043', 'tt0458413', 'A Long Way Down', '2014-03-20 00:00:00', '6.2', '548', '', '96', 'Comedy, Drama', '7176347')
INSERTING  ('248933', 'tt2650978', 'The Dark Valley', '2014-02-14 00:00:00', '7.3', '170', '', '115', 'Western, Drama', '0')
INSERTING  ('222899', 'tt1826590', 'About Last Night', '2014-02-14 00:00:00', '6.0', '330', '', '100', 'Comedy, Romance', '49002684')
INSERTING  ('192149', 'tt1976000', 'The Two Faces of January', '2014-05-16 00:00:00', '5.8', '407', '', '96', 'Thriller', '4507463')
INSERTING  ('192102', 'tt2172934', '3 Days to Kill', '2014-02-14 00:00:00', '6.1', '1330', '', '113', 'Action, Drama, Thriller, Crime', '52597999')
INSERTING  ('10020', 'tt0101414', 'Beauty and the Beast', '1991-11-13 00:00:00', '7.7', '6035', '', '84', 'Romance, Family, Animation, Fantasy', '377350553')
INSERTING  ('230779', 'tt1621046', 'Cesar Chavez', '2014-03-28 00:00:00', '6.1', '26', '', '102', 'Drama', '0')
INSERTING  ('246320', 'tt3092076', 'The Three Brothers: The Return', '2014-02-12 00:00:00', '5.0', '232', '', '106', 'Comedy', '0')
INSERTING  ('137321', 'tt1837709', "Winter's Tale", '2014-02-13 00:00:00', '6.2', '830', '', '118', 'Drama, Fantasy, Mystery, Romance', '30800231')
INSERTING  ('201086', 'tt2390237', 'Cuban Fury', '2014-02-14 00:00:00', '6.0', '182', '', '98', 'Comedy', '0')
INSERTING  ('322184', 'tt3568084', 'Devil In The Detail', '2014-01-01 00:00:00', '0.0', '0', '', '', '', '0')

INSERTING  ('226857', 'tt2318092', 'Endless Love', '2014-02-12 00:00:00', '6.8', '1050', '', '103', 'Drama, Romance', '34077920')
INSERTING  ('250551', 'tt2574698', 'Gunday', '2014-02-14 00:00:00', '5.0', '55', '', '152', 'Action, Crime, Drama', '0')
INSERTING  ('76649', 'tt1921064', 'Pompeii', '2014-02-18 00:00:00', '5.4', '2176', '', '105', 'Action, Adventure, History, Romance, Drama', '117831631')
INSERTING  ('239367', 'tt3178174', "Giovanni's Island", '2014-02-22 00:00:00', '7.5', '39', '', '102', 'Animation, Drama, History', '0')
INSERTING  ('71676', 'tt1071875', 'Ghost Rider: Spirit of Vengeance', '2011-12-10 00:00:00', '4.8', '2128', '', '95', 'Action, Fantasy, Thriller', '149217355')
INSERTING  ('248507', 'tt3421514', 'Superchondriac', '2014-02-26 00:00:00', '5.6', '694', '', '107', 'Comedy', '0')
INSERTING  ('80920', 'tt2012665', 'Repentance', '2014-02-28 00:00:00', '5.0', '36', '', '90', 'Horror, Thriller', '1189612')
INSERTING  ('235260', 'tt3210686', 'Son of God', '2014-02-28 00:00:00', '6.4', '129', '', '138', 'Drama', '67800064')
INSERTING  ('53182', 'tt1253863', '300: Rise of an Empire', '2014-03-05 00:00:00', '6.1', '4038', '', '102', 'Action, War, Fantasy', '337580051')
INSERTING  ('212778', 'tt2883512', 'Chef', '2014-05-08 00:00:00', '7.1', '1867', '', '114', 'Comedy', '45967935')
INSERTING  ('195589', 'tt2004420', 'Neighbors', '2014-05-08 00:00:00', '6.2', '4733', '', '96', 'Comedy', '268157400')
INSERTING  ('206487', 'tt2397535', 'Predestination', '2014-08-28 00:00:00', '7.4', '3520', '', '97', 'Science Fiction, Thriller', '3000000')
INSERTING  ('243526', 'tt3021360', 'Faults', '2014-03-06 00:00:00', '6.8', '111', '', '93', 'Thriller, Drama', '0')
INSERTING  ('253267', 'tt3311588', 'Vessel', '2014-03-09 00:00:00', '8.0', '9', '', '90', 'Documentary', '0')
INSERTING  ('253254', 'tt3060492', 'Before I Disappear', '2014-10-11 00:00:00', '6.8', '92', '', '100', 'Drama', '8251')
INSERTING  ('86834', 'tt1959490', 'Noah', '2014-03-07 00:00:00', '5.6', '4100', '', '138', 'Drama, Adventure', '362637473')
INSERTING  ('145220', 'tt2281587', 'Muppets Most Wanted', '2014-03-20 00:00:00', '6.2', '485', '', '112', 'Comedy, Adventure, Crime, Family', '80383290')
INSERTING  ('252607', 'tt2836252', 'Junior', '2014-03-12 00:00:00', '5.6', '478', '', '68', 'Comedy', '0')
INSERTING  ('136797', 'tt2369135', 'Need for Speed', '2014-03-13 00:00:00', '6.2', '2500', '', '130', 'Action, Crime, Drama, Thriller', '203277636')
INSERTING  ('100402', 'tt1843866', 'Captain America: The Winter Soldier', '2014-03-20 00:00:00', '7.7', '11644', '', '136', 'Action, Adventure, Science Fiction', '714766572')
INSERTING  ('209403', 'tt2170299', 'Bad Words', '2013-09-06 00:00:00', '6.4', '463', '', '89', 'Comedy', '7800000')
Duplicate! Did not add to database.
INSERTING  ('157099', 'tt1609479', 'Better Living Through Chemistry', '2014-03-14 00:00:00', '6.0', '145', '', '91', 'Drama, Comedy', '75143')
INSERTING  ('239562', 'tt2465140', 'The Single Moms Club', '2014-03-14 00:00:00', '5.9', '80', '', '111', 'Drama, Comedy', '16337881')
INSERTING  ('177494', 'tt2771372', 'Veronica Mars', '2014-03-13 00:00:00', '6.7', '735', '', '107', 'Comedy, Drama, Crime', '3485127')
INSERTING  ('243935', 'tt2481480', 'Rob the Mob', '2014-03-21 00:00:00', '6.3', '128', '', '104', 'Crime, Drama', '206909')
INSERTING  ('157350', 'tt1840309', 'Divergent', '2014-03-14 00:00:00', '6.9', '8627', '', '139', 'Action, Adventure, Science Fiction', '288747895')
INSERTING  ('144336', 'tt1742334', 'Sabotage', '2014-03-28 00:00:00', '5.5', '808', '', '110', 'Action, Drama, Thriller, Crime', '17508518')
INSERTING  ('172385', 'tt2357291', 'Rio 2', '2014-03-19 00:00:00', '6.3', '1898', '', '102', 'Adventure, Comedy, Family, Animation', '500188435')
INSERTING  ('249660', 'tt2528814', "God's Not Dead", '2014-03-21 00:00:00', '6.0', '524', '', '113', 'Drama', '29789000')
INSERTING  ('158907', 'tt1999987', 'Breathe In', '2013-01-18 00:00:00', '6.0', '188', '', '98', 'Drama', '89661')
INSERTING  ('102382', 'tt1872181', 'The Amazing Spider-Man 2', '2014-04-16 00:00:00', '6.4', '7582', '', '142', 'Action, Adventure, Fantasy', '705717432')
INSERTING  ('193610', 'tt2203939', 'The Other Woman', '2014-04-16 00:00:00', '6.3', '2376', '', '109', 'Comedy, Romance', '196781193')
INSERTING  ('240704', 'tt3231010', 'Island of Lemurs: Madagascar', '2014-04-03 00:00:00', '5.7', '17', '', '39', 'Documentary', '13842409')
INSERTING  ('243352', 'tt3200980', 'Where Hope Grows', '2014-04-06 00:00:00', '7.1', '37', '', '95', 'Drama', '1156000')
INSERTING  ('200505', 'tt2223990', 'Draft Day', '2014-04-11 00:00:00', '6.7', '486', '', '109', 'Drama', '28831145')
INSERTING  ('193612', 'tt2235779', 'The Quiet Ones', '2014-04-01 00:00:00', '5.0', '413', '', '98', 'Horror', '17834867')
INSERTING  ('157353', 'tt2209764', 'Transcendence', '2014-04-16 00:00:00', '6.0', '3618', '', '119', 'Thriller, Science Fiction, Drama, Mystery', '103039258')
INSERTING  ('236751', 'tt1929263', 'Heaven is for Real', '2014-04-16 00:00:00', '6.3', '383', '', '99', 'Drama', '101332962')
INSERTING  ('279914', 'tt2326574', 'The Identical', '2014-09-05 00:00:00', '5.2', '20', '', '107', 'Music, Drama', '0')
INSERTING  ('265019', 'tt3138558', 'Preservation', '2014-08-22 00:00:00', '4.8', '113', '', '90', 'Thriller, Horror', '0')
INSERTING  ('263614', 'tt3455224', 'Virunga', '2014-11-07 00:00:00', '8.1', '118', '', '90', 'Documentary, War', '0')
INSERTING  ('259720', 'tt2372678', '2 States', '2014-04-17 00:00:00', '6.7', '76', '', '149', 'Comedy, Romance, Drama', '0')
INSERTING  ('214314', 'tt2458776', 'Bears', '2014-04-17 00:00:00', '7.4', '90', '', '78', 'Documentary', '0')
INSERTING  ('184345', 'tt2828996', 'A Haunted House 2', '2014-04-17 00:00:00', '5.5', '638', '', '87', 'Comedy, Horror', '25343661')
INSERTING  ('257512', 'tt3455204', 'Detective Conan: The Dimensional Sniper', '2014-04-19 00:00:00', '7.2', '42', '', '110', 'Action, Animation, Drama, Mystery', '0')
INSERTING  ('256836', 'tt2446600', 'Next Goal Wins', '2014-04-25 00:00:00', '7.3', '23', '', '97', 'Documentary', '0')
INSERTING  ('254473', 'tt1430612', 'Brick Mansions', '2014-04-22 00:00:00', '5.9', '948', '', '90', 'Action, Crime, Drama', '68896829')
INSERTING  ('276122', 'tt3219678', 'A Brony Tale', '2014-07-08 00:00:00', '5.6', '15', '', '79', 'Documentary', '0')
INSERTING  ('187596', 'tt2463288', 'Walk of Shame', '2014-05-02 00:00:00', '5.9', '899', '', '95', 'Comedy', '59209')
INSERTING  ('198185', 'tt1647668', 'Million Dollar Arm', '2014-05-09 00:00:00', '6.8', '365', '', '124', 'Drama', '38307627')
INSERTING  ('124905', 'tt0831387', 'Godzilla', '2014-05-14 00:00:00', '6.1', '5332', '', '123', 'Action, Drama, Science Fiction', '529076069')
INSERTING  ('252680', 'tt3014666', "Moms' Night Out", '2014-03-25 00:00:00', '5.7', '187', '', '98', 'Comedy', '10429707')
INSERTING  ('127585', 'tt1877832', 'X-Men: Days of Future Past', '2014-05-15 00:00:00', '7.5', '10482', '', '131', 'Action, Adventure, Fantasy, Science Fiction', '747862775')
INSERTING  ('265228', 'tt3409392', 'Timbuktu', '2014-12-10 00:00:00', '7.0', '266', '', '95', 'Drama', '1076075')
INSERTING  ('222935', 'tt2582846', 'The Fault in Our Stars', '2014-05-16 00:00:00', '7.6', '7599', '', '125', 'Romance, Drama', '307166834')
INSERTING  ('82702', 'tt1646971', 'How to Train Your Dragon 2', '2014-06-09 00:00:00', '7.7', '5887', '', '102', 'Fantasy, Action, Adventure, Animation, Comedy, Family', '609123048')
INSERTING  ('270303', 'tt3235888', 'It Follows', '2014-11-13 00:00:00', '6.5', '3676', '', '101', 'Horror, Thriller', '14674076')
INSERTING  ('10413', 'tt0107711', 'Nowhere to Run', '1993-01-15 00:00:00', '5.8', '244', '', '94', 'Action', '0')
INSERTING  ('221667', 'tt2707848', 'Saint Laurent', '2014-09-23 00:00:00', '6.2', '173', '', '150', 'Drama', '0')
INSERTING  ('266285', 'tt2720680', 'The Salvation', '2014-05-22 00:00:00', '6.4', '446', '', '92', 'Drama, Western', '42070000')
INSERTING  ('265195', 'tt3011894', 'Wild Tales', '2014-08-21 00:00:00', '7.8', '1643', '', '125', 'Drama, Thriller, Comedy', '27007072')
INSERTING  ('157845', 'tt2345737', 'The Rover', '2014-05-18 00:00:00', '6.3', '451', '', '103', 'Crime, Drama', '2295423')

INSERTING  ('87492', 'tt1100089', 'Foxcatcher', '2014-05-19 00:00:00', '6.6', '1446', '', '134', 'Drama, Thriller', '12096300')
INSERTING  ('228676', 'tt2872810', 'Mischief Night', '2013-10-30 00:00:00', '4.7', '53', '', '87', 'Horror, Drama, Thriller', '0')
INSERTING  ('254375', 'tt1626146', 'Hector and the Search for Happiness', '2014-08-14 00:00:00', '6.8', '480', '', '114', 'Adventure, Drama, Comedy', '1124445')
INSERTING  ('152790', 'tt1294970', 'The Angriest Man in Brooklyn', '2014-05-23 00:00:00', '5.6', '275', '', '84', 'Drama, Comedy', '0')
INSERTING  ('232672', 'tt1086772', 'Blended', '2014-05-21 00:00:00', '6.7', '1798', '', '117', 'Comedy', '123494610')
INSERTING  ('137113', 'tt1631867', 'Edge of Tomorrow', '2014-05-27 00:00:00', '7.6', '8404', '', '113', 'Action, Science Fiction', '370541256')
INSERTING  ('102651', 'tt1587310', 'Maleficent', '2014-05-28 00:00:00', '7.1', '8527', '', '97', 'Fantasy, Adventure, Action, Family, Romance', '758539785')
INSERTING  ('188161', 'tt2557490', 'A Million Ways to Die in the West', '2014-05-22 00:00:00', '5.8', '2297', '', '116', 'Comedy, Western', '86410000')
INSERTING  ('187017', 'tt2294449', '22 Jump Street', '2014-06-05 00:00:00', '6.9', '5365', '', '112', 'Crime, Comedy, Action', '188441614')
INSERTING  ('209451', 'tt1742044', 'Jersey Boys', '2014-06-05 00:00:00', '6.9', '391', '', '134', 'Music, Drama', '67347013')
INSERTING  ('273886', 'tt2556308', 'Holiday', '2014-06-06 00:00:00', '6.1', '57', '', '170', 'Thriller, Action', '0')
INSERTING  ('238603', 'tt2183034', 'Earth to Echo', '2014-06-14 00:00:00', '5.8', '390', '', '89', 'Family, Adventure, Science Fiction', '45300000')
INSERTING  ('91314', 'tt2109248', 'Transformers: Age of Extinction', '2014-06-25 00:00:00', '5.8', '5000', '', '165', 'Science Fiction, Action, Adventure', '1091405097')
INSERTING  ('184098', 'tt2239832', 'Think Like a Man Too', '2014-06-20 00:00:00', '6.3', '331', '', '105', 'Comedy, Romance', '70181428')
INSERTING  ('119450', 'tt2103281', 'Dawn of the Planet of the Apes', '2014-06-26 00:00:00', '7.3', '7327', '', '130', 'Science Fiction, Action, Drama, Thriller', '710644566')
INSERTING  ('270724', 'tt3667798', 'The Breakup Guru', '2014-06-27 00:00:00', '3.7', '9', '', '114', 'Romance, Comedy', '106640000')
INSERTING  ('276935', 'tt3175038', 'Ek Villain', '2014-06-27 00:00:00', '6.4', '64', '', '129', 'Action, Thriller', '0')
INSERTING  ('262340', 'tt3433074', "Mrs. Brown's Boys D'Movie", '2014-06-27 00:00:00', '4.8', '44', '', '94', 'Comedy', '23000000')
INSERTING  ('110415', 'tt1706620', 'Snowpiercer', '2013-08-01 00:00:00', '6.8', '5021', '', '127', 'Action, Science Fiction, Drama', '86758912')
INSERTING  ('246743', 'tt3326366', 'Whitey: United States of America v. James J. Bulger', '2014-01-18 00:00:00', '6.8', '36', '', '107', 'Crime, Documentary', '0')
INSERTING  ('276918', 'tt2785390', 'America: Imagine the World Without Her', '2014-07-02 00:00:00', '4.7', '50', '', '103', 'Documentary', '0')
INSERTING  ('184346', 'tt2377322', 'Deliver Us from Evil', '2014-07-01 00:00:00', '6.1', '1154', '', '118', 'Thriller, Crime, Horror', '0')
INSERTING  ('253310', 'tt2182256', 'Premature', '2014-07-02 00:00:00', '5.4', '287', '', '93', 'Comedy', '0')
INSERTING  ('271467', 'tt2179936', 'School Dance', '2014-07-02 00:00:00', '7.3', '51', '', '85', 'Comedy, Music', '0')
INSERTING  ('226486', 'tt2103254', 'Tammy', '2014-07-02 00:00:00', '5.2', '771', '', '97', 'Comedy', '100525432')
INSERTING  ('266102', 'tt2403393', 'Desert Dancer', '2014-07-03 00:00:00', '6.9', '33', '', '98', 'Drama', '0')
INSERTING  ('269173', 'tt2962726', 'The Anomaly', '2014-06-19 00:00:00', '5.0', '202', '', '97', 'Thriller, Action, Science Fiction', '0')
INSERTING  ('218836', 'tt2980706', 'Planes: Fire & Rescue', '2014-07-17 00:00:00', '6.0', '444', '', '83', 'Animation, Comedy, Adventure, Family', '151165787')
INSERTING  ('257521', 'tt1761005', 'Persecuted', '2014-05-09 00:00:00', '5.3', '16', '', '93', 'Action, Drama, Adventure, Thriller', '1558836')
INSERTING  ('238636', 'tt2975578', 'The Purge: Anarchy', '2014-07-17 00:00:00', '6.6', '3938', '', '104', 'Horror, Thriller', '108782847')
INSERTING  ('225886', 'tt1956620', 'Sex Tape', '2014-07-17 00:00:00', '5.3', '2785', '', '97', 'Comedy', '126069509')
INSERTING  ('303903', 'tt3918368', 'Pokémon the Movie: Diancie and the Cocoon of Destruction', '2014-07-19 00:00:00', '6.0', '64', '', '76', 'Animation', '0')
INSERTING  ('242828', 'tt3398268', 'When Marnie Was There', '2014-07-19 00:00:00', '7.9', '721', '', '103', 'Animation, Drama', '561085')
INSERTING  ('277685', 'tt3713166', 'Unfriended', '2015-04-17 00:00:00', '5.4', '2127', '', '82', 'Horror, Thriller', '62882090')
INSERTING  ('314520', 'tt3855850', 'Veve', '2014-06-20 00:00:00', '6.6', '5', '', '90', '', '0')
INSERTING  ('94590', 'tt2123146', 'Angry Video Game Nerd: The Movie', '2014-07-21 00:00:00', '5.7', '78', '', '115', 'Science Fiction, Adventure, Comedy', '0')
INSERTING  ('118340', 'tt2015381', 'Guardians of the Galaxy', '2014-07-30 00:00:00', '7.9', '18763', '', '121', 'Action, Science Fiction, Adventure', '773328629')
INSERTING  ('253235', 'tt2465146', 'And So It Goes', '2014-07-20 00:00:00', '6.0', '284', '', '94', 'Comedy, Drama, Romance', '25312387')
INSERTING  ('256273', 'tt3532608', 'The Fluffy Movie', '2014-07-25 00:00:00', '6.9', '68', '', '101', 'Comedy', '0')
INSERTING  ('184315', 'tt1267297', 'Hercules', '2014-07-23 00:00:00', '5.7', '2697', '', '99', 'Action, Adventure', '243400000')
INSERTING  ('280690', 'tt2372222', 'Kick', '2014-07-25 00:00:00', '5.9', '75', '', '146', 'Action, Comedy', '55000000')
INSERTING  ('240832', 'tt2872732', 'Lucy', '2014-07-25 00:00:00', '6.3', '10383', '', '89', 'Action, Science Fiction', '126546825')
INSERTING  ('229297', 'tt2870756', 'Magic in the Moonlight', '2014-07-25 00:00:00', '6.5', '1325', '', '97', 'Comedy, Drama, Romance', '51029361')
INSERTING  ('98566', 'tt1291150', 'Teenage Mutant Ninja Turtles', '2014-08-07 00:00:00', '5.8', '4421', '', '101', 'Science Fiction, Action, Adventure, Fantasy, Comedy', '477200000')
INSERTING  ('239566', 'tt2473602', 'Get on Up', '2014-08-01 00:00:00', '6.6', '259', '', '139', 'Drama, Music', '31911598')
INSERTING  ('138103', 'tt2333784', 'The Expendables 3', '2014-08-04 00:00:00', '6.1', '3003', '', '127', 'Action, Adventure, Thriller', '206172544')
INSERTING  ('232679', 'tt2247476', 'When the Game Stands Tall', '2014-08-22 00:00:00', '6.6', '194', '', '115', 'Drama', '30127963')
INSERTING  ('242022', 'tt3097204', 'The Inbetweeners 2', '2014-08-06 00:00:00', '6.1', '310', '', '96', 'Comedy', '0')
INSERTING  ('228194', 'tt2980648', 'The Hundred-Foot Journey', '2014-08-06 00:00:00', '7.3', '824', '', '122', 'Drama', '88880821')
INSERTING  ('216282', 'tt2106361', 'Into the Storm', '2014-08-06 00:00:00', '5.9', '1222', '', '89', 'Action, Thriller', '160602194')
INSERTING  ('265712', 'tt3331846', 'Stand by Me Doraemon', '2014-08-08 00:00:00', '7.1', '154', '', '90', 'Fantasy, Animation, Family', '83061158')
INSERTING  ('243683', 'tt2626350', 'Step Up All In', '2014-07-16 00:00:00', '6.8', '1269', '', '112', 'Romance, Drama, Music', '86165646')
INSERTING  ('227156', 'tt0435651', 'The Giver', '2014-08-11 00:00:00', '6.5', '3206', '', '94', 'Drama, Science Fiction', '66980456')
INSERTING  ('193893', 'tt1924435', "Let's Be Cops", '2014-08-13 00:00:00', '6.3', '1751', '', '104', 'Comedy', '136621271')
INSERTING  ('278258', 'tt3563156', 'Anjaan', '2014-08-15 00:00:00', '5.2', '14', '', '170', 'Thriller, Action, Crime', '0')
INSERTING  ('254375', 'tt1626146', 'Hector and the Search for Happiness', '2014-08-14 00:00:00', '6.8', '480', '', '114', 'Adventure, Drama, Comedy', '1124445')
Duplicate! Did not add to database.
INSERTING  ('285803', 'tt2309764', 'Singham Returns', '2014-08-15 00:00:00', '6.2', '44', '', '142', 'Action', '0')
INSERTING  ('249164', 'tt1355630', 'If I Stay', '2014-08-21 00:00:00', '7.4', '2835', '', '106', 'Drama', '78874843')
INSERTING  ('189', 'tt0458481', 'Sin City: A Dame to Kill For', '2014-08-20 00:00:00', '6.3', '2313', '', '102', 'Crime, Action, Thriller', '39407616')
INSERTING  ('194662', 'tt2562232', 'Birdman', '2014-08-27 00:00:00', '7.4', '8113', '', '120', 'Drama, Comedy', '103215094')

INSERTING  ('254904', 'tt2402157', 'The November Man', '2014-08-27 00:00:00', '6.1', '887', '', '108', 'Crime, Action, Thriller', '32556119')
INSERTING  ('256274', 'tt2870612', 'As Above, So Below', '2014-08-14 00:00:00', '6.2', '1391', '', '93', 'Horror, Thriller', '40100000')
INSERTING  ('205596', 'tt2084970', 'The Imitation Game', '2014-11-14 00:00:00', '8.1', '10837', '', '113', 'History, Drama, Thriller, War', '233555708')
INSERTING  ('222649', 'tt2752688', 'Rosewater', '2014-11-07 00:00:00', '6.7', '122', '', '103', 'Drama', '0')
INSERTING  ('228970', 'tt2305051', 'Wild', '2014-12-05 00:00:00', '7.0', '1499', '', '115', 'Drama', '52501541')
INSERTING  ('170687', 'tt0787474', 'The Boxtrolls', '2014-09-10 00:00:00', '6.6', '1069', '', '97', 'Animation, Comedy, Family, Fantasy', '108255770')
INSERTING  ('204922', 'tt1726592', 'Before I Go to Sleep', '2014-09-03 00:00:00', '6.5', '1165', '', '92', 'Mystery, Thriller', '15447154')
INSERTING  ('205587', 'tt1872194', 'The Judge', '2014-10-08 00:00:00', '7.3', '2463', '', '141', 'Drama', '83719388')
INSERTING  ('284288', 'tt3001638', 'Mary Kom', '2014-09-05 00:00:00', '7.2', '50', '', '122', 'Action, Drama, History', '15536328')
INSERTING  ('242582', 'tt2872718', 'Nightcrawler', '2014-10-23 00:00:00', '7.7', '6148', '', '118', 'Crime, Drama, Thriller', '50300000')
INSERTING  ('239563', 'tt2170593', 'St. Vincent', '2014-10-09 00:00:00', '7.1', '1116', '', '102', 'Comedy', '54837234')
INSERTING  ('284537', 'tt2788716', 'Welcome to Me', '2014-09-05 00:00:00', '5.8', '196', '', '105', 'Comedy, Drama', '0')
INSERTING  ('278236', 'tt3149038', 'X+Y', '2015-03-13 00:00:00', '6.6', '328', '', '111', 'Drama', '0')
INSERTING  ('241771', 'tt3125324', 'Beyond the Lights', '2014-09-10 00:00:00', '7.0', '251', '', '116', 'Romance, Drama', '14618727')
INSERTING  ('284296', 'tt2784678', 'Top Five', '2014-12-12 00:00:00', '6.2', '291', '', '102', 'Drama, Comedy', '25434291')
INSERTING  ('246403', 'tt3099498', 'Tusk', '2014-09-19 00:00:00', '5.2', '629', '', '102', 'Comedy, Horror, Drama, Thriller', '1826705')
INSERTING  ('156022', 'tt0455944', 'The Equalizer', '2014-09-24 00:00:00', '7.2', '5227', '', '132', 'Thriller, Action, Crime', '192330738')
INSERTING  ('250538', 'tt2652092', 'The Good Lie', '2014-06-27 00:00:00', '7.4', '301', '', '110', 'Drama', '0')
INSERTING  ('271714', 'tt0903657', 'Love & Mercy', '2015-05-29 00:00:00', '7.2', '374', '', '120', 'Drama, Music', '28641776')
INSERTING  ('283536', 'tt2925768', 'Ned Rifle', '2014-09-07 00:00:00', '5.8', '23', '', '85', 'Drama', '0')
INSERTING  ('266856', 'tt2980516', 'The Theory of Everything', '2014-11-26 00:00:00', '7.9', '6662', '', '123', 'Drama, Romance', '123726688')
INSERTING  ('282296', 'tt2908856', 'My Old Lady', '2014-09-09 00:00:00', '6.3', '146', '', '107', 'Romance, Comedy, Drama', '7527232')
INSERTING  ('227735', 'tt2978462', 'Dolphin Tale 2', '2014-09-12 00:00:00', '6.7', '180', '', '107', 'Family, Drama', '52424533')
INSERTING  ('154400', 'tt1600196', 'The Drop', '2014-09-12 00:00:00', '6.7', '1270', '', '106', 'Drama, Crime', '19054534')
INSERTING  ('283201', 'tt3142688', 'Finding Fanny', '2014-09-11 00:00:00', '5.4', '32', '', '102', 'Adventure, Comedy, Drama, Romance', '0')
INSERTING  ('136835', 'tt2011159', 'No Good Deed', '2014-09-10 00:00:00', '5.8', '305', '', '83', 'Crime, Thriller', '53830415')
INSERTING  ('198663', 'tt1790864', 'The Maze Runner', '2014-09-10 00:00:00', '7.1', '11040', '', '113', 'Action, Mystery, Science Fiction, Thriller', '348300000')
INSERTING  ('239678', 'tt1371150', 'This Is Where I Leave You', '2014-09-10 00:00:00', '6.6', '720', '', '103', 'Drama, Comedy', '41296320')
INSERTING  ('169917', 'tt0365907', 'A Walk Among the Tombstones', '2014-09-18 00:00:00', '6.3', '1734', '', '113', 'Crime, Drama, Mystery, Thriller', '53181600')
INSERTING  ('250546', 'tt3322940', 'Annabelle', '2014-10-02 00:00:00', '5.6', '3669', '', '99', 'Horror', '257047661')
INSERTING  ('285270', 'tt3107070', 'Believe Me', '2014-09-26 00:00:00', '4.9', '21', '', '93', 'Drama, Comedy', '0')
INSERTING  ('210577', 'tt2267998', 'Gone Girl', '2014-10-01 00:00:00', '7.9', '10969', '', '149', 'Mystery, Thriller, Drama', '369330363')
INSERTING  ('292177', 'tt3529198', 'My Little Pony: Equestria Girls - Rainbow Rocks', '2014-09-27 00:00:00', '7.2', '32', '', '75', 'Family, Animation, Music', '0')
INSERTING  ('269057', 'tt2655734', 'Bang Bang Baby', '2014-09-08 00:00:00', '6.5', '11', '', '90', 'Science Fiction, Drama, Music', '0')
INSERTING  ('218043', 'tt2467046', 'Left Behind', '2014-10-03 00:00:00', '4.0', '750', '', '110', 'Thriller, Action, Science Fiction', '19682924')
INSERTING  ('171274', 'tt1791528', 'Inherent Vice', '2014-12-25 00:00:00', '6.6', '1422', '', '148', 'Comedy, Romance, Crime, Drama, Mystery', '14772346')
INSERTING  ('218778', 'tt1698641', 'Alexander and the Terrible, Horrible, No Good, Very Bad Day', '2014-10-08 00:00:00', '6.1', '847', '', '81', 'Family, Comedy', '100654149')
INSERTING  ('351072', 'tt3801252', 'Na Maloom Afraad', '2014-10-06 00:00:00', '7.3', '5', '', '137', 'Thriller, Comedy', '1400000')
INSERTING  ('308274', 'tt3395608', 'O21', '2014-10-06 00:00:00', '8.3', '4', '', '124', 'Thriller, Action', '590000')
INSERTING  ('235271', 'tt2205401', 'Addicted', '2014-10-10 00:00:00', '5.3', '107', '', '105', 'Drama, Thriller', '0')
INSERTING  ('49017', 'tt0829150', 'Dracula Untold', '2014-10-01 00:00:00', '6.2', '3848', '', '92', 'Horror, Action, Drama, Fantasy, War', '217124280')
INSERTING  ('245916', 'tt1216491', 'Kill the Messenger', '2014-10-09 00:00:00', '6.6', '525', '', '112', 'Thriller, Crime, Drama, Mystery', '2450846')
INSERTING  ('228326', 'tt2262227', 'The Book of Life', '2014-10-01 00:00:00', '7.4', '1285', '', '95', 'Romance, Animation, Adventure, Comedy, Family, Fantasy', '97437106')
INSERTING  ('245891', 'tt2911666', 'John Wick', '2014-10-22 00:00:00', '7.2', '10810', '', '101', 'Action, Thriller', '88761661')
INSERTING  ('286873', 'tt2290553', 'Northmen: A Viking Saga', '2014-09-27 00:00:00', '5.4', '199', '', '97', 'Adventure', '0')
INSERTING  ('150188', 'tt2660294', 'Candlestick', '2014-10-08 00:00:00', '4.6', '5', '', '83', 'Mystery, Thriller', '0')
INSERTING  ('228150', 'tt2713180', 'Fury', '2014-10-15 00:00:00', '7.4', '6930', '', '135', 'War, Drama, Action', '211817906')
INSERTING  ('239571', 'tt1972779', 'The Best of Me', '2014-10-16 00:00:00', '7.3', '1609', '', '117', 'Drama, Romance', '35926213')
INSERTING  ('250066', 'tt2923316', 'American Heist', '2014-09-11 00:00:00', '4.6', '220', '', '94', 'Action', '0')
INSERTING  ('177572', 'tt2245084', 'Big Hero 6', '2014-10-24 00:00:00', '7.8', '10557', '', '102', 'Adventure, Family, Animation, Action, Comedy', '657818612')
INSERTING  ('277432', 'tt2461132', 'Happy New Year', '2014-10-23 00:00:00', '6.1', '122', '', '180', 'Action, Comedy, Crime', '0')
INSERTING  ('242512', 'tt1204977', 'Ouija', '2014-10-24 00:00:00', '5.1', '1763', '', '89', 'Horror', '103590271')
INSERTING  ('157336', 'tt0816692', 'Interstellar', '2014-11-05 00:00:00', '8.3', '19516', '', '169', 'Adventure, Drama, Science Fiction', '675120017')
INSERTING  ('298833', 'tt2173248', 'Blood Ransom', '2014-10-31 00:00:00', '4.3', '3', '', '101', 'Romance, Fantasy, Horror', '0')
INSERTING  ('241239', 'tt2937898', 'A Most Violent Year', '2014-12-30 00:00:00', '6.6', '816', '', '125', 'Crime, Drama, Thriller', '12007070')
INSERTING  ('203834', 'tt2300975', 'Jessabelle', '2014-11-07 00:00:00', '5.2', '449', '', '90', 'Thriller, Horror', '23456897')
INSERTING  ('284536', 'tt2039393', 'The Gambler', '2014-12-25 00:00:00', '5.8', '805', '', '111', 'Thriller, Crime, Drama', '39171130')
INSERTING  ('131631', 'tt1951265', 'The Hunger Games: Mockingjay - Part 1', '2014-11-18 00:00:00', '6.8', '10483', '', '123', 'Science Fiction, Adventure, Thriller', '752100229')
INSERTING  ('190859', 'tt2179136', 'American Sniper', '2014-12-11 00:00:00', '7.4', '7956', '', '133', 'War, Action', '542307423')
INSERTING  ('100042', 'tt2096672', 'Dumb and Dumber To', '2014-11-12 00:00:00', '5.5', '1931', '', '110', 'Comedy', '169837010')
INSERTING  ('295049', 'tt3558642', "Nativity 3: Dude, Where's My Donkey?!", '2014-11-14 00:00:00', '4.5', '20', '', '109', 'Comedy', '0')

INSERTING  ('270946', 'tt1911658', 'Penguins of Madagascar', '2014-11-22 00:00:00', '6.4', '2390', '', '92', 'Family, Animation, Adventure, Comedy', '373552094')
INSERTING  ('295884', 'tt4009460', 'Saving Christmas', '2014-11-14 00:00:00', '1.6', '39', '', '79', 'Comedy, Family', '2800000')
INSERTING  ('227306', 'tt1809398', 'Unbroken', '2014-12-25 00:00:00', '7.4', '2319', '', '137', 'Drama, War', '163442937')
INSERTING  ('227159', 'tt2170439', 'Horrible Bosses 2', '2014-11-26 00:00:00', '6.1', '2687', '', '108', 'Comedy', '107670357')
INSERTING  ('116149', 'tt1109624', 'Paddington', '2014-11-24 00:00:00', '7.1', '1996', '', '96', 'Comedy, Adventure, Family', '259207227')
INSERTING  ('122917', 'tt2310332', 'The Hobbit: The Battle of the Five Armies', '2014-12-10 00:00:00', '7.3', '8761', '', '144', 'Action, Adventure, Fantasy', '956019788')
INSERTING  ('282813', 'tt2799166', 'The Pyramid', '2014-12-04 00:00:00', '4.8', '534', '', '89', 'Horror', '13865435')
INSERTING  ('317442', 'tt3717532', 'The Last: Naruto the Movie', '2014-12-06 00:00:00', '7.4', '286', '', '114', 'Action, Romance, Animation', '0')
INSERTING  ('196867', 'tt1823664', 'Annie', '2014-12-19 00:00:00', '6.1', '825', '', '119', 'Comedy, Drama, Family', '133821816')
INSERTING  ('224141', 'tt2180411', 'Into the Woods', '2014-12-24 00:00:00', '5.7', '3003', '', '125', 'Fantasy, Comedy', '212902372')
INSERTING  ('321068', 'tt3405714', 'Mythica: A Quest for Heroes', '2014-12-08 00:00:00', '6.0', '90', '', '93', 'Action, Adventure, Fantasy', '0')
INSERTING  ('228967', 'tt2788710', 'The Interview', '2014-12-25 00:00:00', '6.2', '3708', '', '112', 'Action, Comedy', '12342632')
INSERTING  ('181533', 'tt2692250', 'Night at the Museum: Secret of the Tomb', '2014-12-17 00:00:00', '6.2', '3727', '', '97', 'Adventure, Comedy, Fantasy, Family', '349424282')
INSERTING  ('147441', 'tt1528100', 'Exodus: Gods and Kings', '2014-12-03 00:00:00', '5.8', '3006', '', '150', 'Adventure, Drama, Action', '268031828')
INSERTING  ('207703', 'tt2802144', 'Kingsman: The Secret Service', '2014-12-13 00:00:00', '7.6', '10681', '', '129', 'Crime, Comedy, Action, Adventure', '414351546')
INSERTING  ('260346', 'tt2446042', 'Taken 3', '2014-12-16 00:00:00', '6.2', '3561', '', '109', 'Thriller, Action', '325771424')
INSERTING  ('68737', 'tt1121096', 'Seventh Son', '2014-12-12 00:00:00', '5.3', '1609', '', '102', 'Adventure, Fantasy', '114178613')
INSERTING  ('245700', 'tt2473794', 'Mr. Turner', '2014-10-31 00:00:00', '6.5', '308', '', '150', 'History, Drama', '5405500')
INSERTING  ('307235', '', 'Ak Rao PK Rao', '2014-01-01 00:00:00', '0.0', '0', '', '', '', '0')
INSERTING  ('87093', 'tt1126590', 'Big Eyes', '2014-12-24 00:00:00', '7.0', '2241', '', '105', 'Drama', '28883511')
INSERTING  ('300706', 'tt2980708', "Let's Kill Ward's Wife", '2014-12-23 00:00:00', '5.6', '97', '', '81', 'Comedy', '0')
INSERTING  ('273895', 'tt1020072', 'Selma', '2014-12-25 00:00:00', '7.5', '1415', '', '127', 'History, Drama', '66787908')
INSERTING  ('256917', 'tt3007512', 'The Water Diviner', '2014-12-25 00:00:00', '6.8', '708', '', '112', 'War, Drama', '15520023')
INSERTING  ('185341', 'tt1649443', '[REC]⁴ Apocalypse', '2014-10-31 00:00:00', '5.3', '496', '', '95', 'Thriller, Horror', '190000')
INSERTING  ('288158', 'tt2339741', 'The Woman in Black 2: Angel of Death', '2014-12-30 00:00:00', '5.1', '653', '', '90', 'Thriller, Horror, Drama', '26501323')
INSERTING  ('301274', 'tt4344878', '20 Once Again', '2015-01-15 00:00:00', '6.8', '23', '', '131', 'Comedy', '0')
INSERTING  ('201088', 'tt2717822', 'Blackhat', '2015-01-13 00:00:00', '5.3', '1197', '', '133', 'Crime, Thriller, Action', '17752940')
INSERTING  ('289716', 'tt2420166', 'The World Made Straight', '2015-01-09 00:00:00', '5.5', '26', '', '119', 'Drama', '0')
INSERTING  ('204922', 'tt1726592', 'Before I Go to Sleep', '2014-09-03 00:00:00', '6.5', '1165', '', '92', 'Mystery, Thriller', '15447154')
Duplicate! Did not add to database.
INSERTING  ('265208', 'tt2231253', 'Wild Card', '2015-01-14 00:00:00', '5.5', '971', '', '92', 'Thriller, Crime, Action', '0')
INSERTING  ('318572', 'tt4312676', 'Aambala', '2015-01-15 00:00:00', '6.6', '10', '', '147', 'Action, Comedy, Family, Romance', '0')
INSERTING  ('352372', 'tt4126394', 'Darling', '2015-09-24 00:00:00', '5.5', '34', '', '78', 'Horror, Thriller', '0')
INSERTING  ('264337', 'tt3233418', 'Spare Parts', '2015-01-16 00:00:00', '7.0', '92', '', '83', 'Drama', '0')
INSERTING  ('284293', 'tt3316960', 'Still Alice', '2014-12-05 00:00:00', '7.5', '2009', '', '101', 'Drama', '43884652')
INSERTING  ('252838', 'tt0884732', 'The Wedding Ringer', '2015-01-16 00:00:00', '6.5', '1003', '', '101', 'Comedy', '79799880')
INSERTING  ('264660', 'tt0470752', 'Ex Machina', '2015-01-21 00:00:00', '7.6', '8316', '', '108', 'Drama, Science Fiction', '36869414')
INSERTING  ('310568', 'tt2994832', 'The Summer of Sangaile', '2015-03-29 00:00:00', '6.4', '48', '', '88', 'Drama, Romance', '0')
INSERTING  ('302828', 'tt2557276', 'Against the Sun', '2014-11-22 00:00:00', '6.8', '89', '', '99', 'War, Adventure, Drama', '0')
INSERTING  ('246080', 'tt2261331', 'Black Sea', '2014-12-05 00:00:00', '6.3', '645', '', '115', 'Adventure, Thriller, Drama', '1171559')
INSERTING  ('241251', 'tt3181822', 'The Boy Next Door', '2015-01-23 00:00:00', '4.5', '1416', '', '91', 'Thriller', '52425855')
INSERTING  ('284276', 'tt3442006', 'Cake', '2014-09-07 00:00:00', '6.3', '585', '', '102', 'Drama', '2360281')
INSERTING  ('308638', 'tt2690138', 'The D Train', '2015-05-08 00:00:00', '4.6', '131', '', '101', 'Drama, Comedy', '771317')
INSERTING  ('249688', 'tt3416744', 'The End of the Tour', '2015-07-31 00:00:00', '7.1', '332', '', '106', 'Drama', '3002884')
INSERTING  ('263472', 'tt3605418', 'Knock Knock', '2015-06-26 00:00:00', '5.0', '1561', '', '99', 'Drama, Thriller', '6341684')
INSERTING  ('265177', 'tt3612616', 'Mommy', '2014-05-22 00:00:00', '8.3', '1478', '', '138', 'Drama', '3494070')
INSERTING  ('210860', 'tt3045616', 'Mortdecai', '2015-01-21 00:00:00', '5.4', '1744', '', '106', 'Comedy, Adventure', '30418560')
INSERTING  ('256876', 'tt3264102', 'Red Army', '2014-08-13 00:00:00', '7.5', '79', '', '76', 'Documentary, History', '694600')
INSERTING  ('302429', 'tt4191054', 'Strange Magic', '2015-01-23 00:00:00', '6.4', '179', '', '99', 'Music, Animation, Family, Fantasy', '13603453')
INSERTING  ('308084', 'tt3824458', 'Tangerine', '2015-07-10 00:00:00', '7.0', '322', '', '87', 'Comedy, Drama', '924793')
INSERTING  ('280161', 'tt4384342', 'Thottal Thodarum', '2015-01-23 00:00:00', '4.0', '1', '', '126', 'Romance, Thriller', '0')
INSERTING  ('232572', 'tt1178665', 'A Walk in the Woods', '2015-09-02 00:00:00', '5.9', '420', '', '104', 'Adventure, Comedy, Drama', '35991087')
INSERTING  ('250124', 'tt3172532', 'The Diary of a Teenage Girl', '2015-08-07 00:00:00', '6.7', '480', '', '98', 'Drama, Romance', '1477002')
INSERTING  ('308639', 'tt3850214', 'Dope', '2015-06-19 00:00:00', '7.2', '978', '', '103', 'Crime, Drama, Comedy', '17986781')
INSERTING  ('309242', 'tt2349144', 'Mississippi Grind', '2015-07-04 00:00:00', '5.9', '240', '', '108', 'Drama, Thriller', '130541')
INSERTING  ('309245', 'tt2872462', 'Mistress America', '2015-08-14 00:00:00', '6.5', '313', '', '84', 'Comedy', '2500431')
INSERTING  ('263109', 'tt2872750', 'Shaun the Sheep Movie', '2015-02-05 00:00:00', '6.9', '742', '', '85', 'Family, Animation, Comedy, Adventure', '59700000')
INSERTING  ('288036', 'tt3165612', 'Sleeping with Other People', '2015-06-26 00:00:00', '6.3', '527', '', '100', 'Comedy', '3214116')
INSERTING  ('223485', 'tt3205376', 'Slow West', '2015-04-16 00:00:00', '6.7', '558', '', '84', 'Romance, Thriller, Western, Drama', '229094')
INSERTING  ('193687', 'tt1598642', 'Z for Zachariah', '2015-08-13 00:00:00', '5.6', '485', '', '97', 'Drama, Science Fiction, Thriller', '121461')
INSERTING  ('312831', 'tt2474976', 'The Hallow', '2015-11-06 00:00:00', '5.3', '325', '', '97', 'Fantasy, Horror', '0')
INSERTING  ('308369', 'tt2582496', 'Me and Earl and the Dying Girl', '2015-06-12 00:00:00', '7.6', '1626', '', '105', 'Comedy, Drama', '0')
INSERTING  ('310569', 'tt3742378', 'The Second Mother', '2015-02-08 00:00:00', '8.1', '374', '', '110', 'Drama', '0')

INSERTING  ('308457', 'tt3090670', 'Advantageous', '2015-06-23 00:00:00', '6.0', '88', '', '92', 'Science Fiction, Drama', '0')
INSERTING  ('167073', 'tt2381111', 'Brooklyn', '2015-10-20 00:00:00', '7.3', '1987', '', '111', 'Drama, Romance', '62076141')
INSERTING  ('310121', 'tt3236120', "I'll See You in My Dreams", '2015-05-15 00:00:00', '6.3', '78', '', '92', 'Drama, Comedy', '7449681')
INSERTING  ('76757', 'tt1617661', 'Jupiter Ascending', '2015-02-04 00:00:00', '5.3', '4579', '', '124', 'Science Fiction, Fantasy, Action, Adventure', '183987723')
INSERTING  ('319340', 'tt4255626', 'I Kissed a Girl', '2015-01-28 00:00:00', '6.0', '188', '', '98', 'Comedy', '0')
INSERTING  ('265228', 'tt3409392', 'Timbuktu', '2014-12-10 00:00:00', '7.0', '266', '', '95', 'Drama', '1076075')
Duplicate! Did not add to database.
INSERTING  ('312526', 'tt2474972', 'Alien Outpost', '2014-09-19 00:00:00', '4.7', '115', '', '93', 'Thriller, Action, Science Fiction', '0')
INSERTING  ('253331', 'tt2883434', 'Black or White', '2014-09-06 00:00:00', '6.8', '209', '', '121', 'Drama', '21571189')
INSERTING  ('335832', 'tt4412240', 'Boonie Bears: Mystical Winter', '2015-01-30 00:00:00', '7.0', '2', '', '', 'Animation, Comedy, Family', '43338213')
INSERTING  ('475938', 'tt3811544', 'The Department', '2015-01-30 00:00:00', '0.0', '0', '', '98', 'Drama, Action', '0')
INSERTING  ('324810', '', 'Dharani', '2015-01-30 00:00:00', '5.0', '1', '', '145', 'Romance, Drama, Thriller', '0')
INSERTING  ('280883', 'tt4401884', 'Isai', '2015-01-30 00:00:00', '6.6', '4', '', '190', 'Thriller, Drama, Romance', '0')
INSERTING  ('280954', 'tt4401890', 'Killadi', '2015-01-30 00:00:00', '4.0', '1', '', '132', 'Action, Drama, Family', '0')
INSERTING  ('72784', 'tt1850397', 'The Loft', '2014-10-14 00:00:00', '6.4', '792', '', '108', 'Thriller', '10076790')
INSERTING  ('227719', 'tt2436386', 'Project Almanac', '2015-01-28 00:00:00', '6.5', '1502', '', '106', 'Science Fiction, Thriller', '32248241')
INSERTING  ('329138', '', 'Pulan Visaranai 2', '2015-01-30 00:00:00', '3.0', '1', '', '', 'Thriller', '0')
INSERTING  ('321815', 'tt4412218', 'Running Man', '2015-01-30 00:00:00', '3.4', '5', '', '88', 'Comedy', '0')
INSERTING  ('328376', 'tt4415316', 'Touring Talkies', '2015-01-30 00:00:00', '4.0', '1', '', '136', 'Drama', '0')
INSERTING  ('348613', 'tt4430992', "C'est Si Bon", '2015-02-05 00:00:00', '6.5', '4', '', '120', 'Comedy, Romance, Drama', '0')
INSERTING  ('300983', 'tt4258292', 'Ennai Arinthaal', '2015-02-06 00:00:00', '7.2', '27', '', '176', 'Thriller, Action', '16000000')
INSERTING  ('311291', 'tt3544082', '45 Years', '2015-08-04 00:00:00', '6.5', '437', '', '95', 'Drama, Romance', '4250507')
INSERTING  ('321666', 'tt3685622', '600 Miles', '2015-12-03 00:00:00', '6.3', '55', '', '85', 'Thriller, Drama', '0')
INSERTING  ('200727', 'tt1638002', 'Love, Rosie', '2014-10-16 00:00:00', '7.8', '3815', '', '102', 'Comedy, Romance', '4439431')
INSERTING  ('400791', 'tt4386134', 'Old Fashioned: The Story of the Wisconsin Supper Club', '2015-04-10 00:00:00', '10.0', '1', '', '51', 'Documentary, History', '0')
INSERTING  ('347786', 'tt4384398', 'Pioneer Heroes', '2015-06-18 00:00:00', '7.7', '3', '', '116', 'Drama', '0')
INSERTING  ('228165', 'tt2279373', 'The SpongeBob Movie: Sponge Out of Water', '2015-02-05 00:00:00', '5.7', '1211', '', '93', 'Adventure, Comedy, Family, Fantasy, Animation', '311594032')
INSERTING  ('318040', 'tt3904272', 'Bizarre', '2015-02-07 00:00:00', '5.5', '18', '', '99', 'Drama, Romance', '0')
INSERTING  ('320001', 'tt4135844', 'Ixcanul', '2015-01-20 00:00:00', '6.8', '37', '', '93', 'Drama', '0')
INSERTING  ('300542', 'tt3993894', 'Queen of Earth', '2015-08-26 00:00:00', '6.1', '85', '', '90', 'Drama, Thriller', '0')
INSERTING  ('321303', 'tt3213684', '1944', '2015-02-20 00:00:00', '6.8', '50', '', '100', 'Drama, War', '0')
INSERTING  ('384786', '', 'Pleasant Goat and Big Big Wolf Amazing Pleasant Goat', '2015-01-31 00:00:00', '7.0', '1', '', '', '', '0')
INSERTING  ('333968', 'tt4370256', 'How to Win at Checkers (Every Time)', '2015-04-03 00:00:00', '7.4', '11', '', '80', 'Drama', '0')
INSERTING  ('280996', 'tt3168230', 'Mr. Holmes', '2015-06-19 00:00:00', '6.5', '1155', '', '103', 'Drama, Mystery', '29355203')
INSERTING  ('270302', 'tt2717860', 'The Riot Club', '2014-09-19 00:00:00', '6.0', '728', '', '107', 'Drama, Thriller', '2146041')
INSERTING  ('216015', 'tt2322441', 'Fifty Shades of Grey', '2015-02-11 00:00:00', '5.5', '6722', '', '125', 'Drama, Romance, Thriller', '571006128')
INSERTING  ('209189', 'tt1663207', 'Life of Crime', '2013-09-14 00:00:00', '5.6', '213', '', '94', 'Comedy, Crime', '265452')
INSERTING  ('312809', 'tt3398048', 'Tevar', '2015-01-09 00:00:00', '5.5', '21', '', '159', 'Thriller, Action, Drama', '7800000')
INSERTING  ('316002', 'tt1137470', 'Accidental Love', '2015-02-10 00:00:00', '4.0', '182', '', '100', 'Romance, Comedy', '0')
INSERTING  ('306758', 'tt4074958', 'Somewhere Only We Know', '2015-02-14 00:00:00', '7.3', '11', '', '110', 'Drama, Romance', '0')
INSERTING  ('319993', 'tt4374460', 'Aferim!', '2015-03-06 00:00:00', '7.9', '44', '', '108', 'Drama, History', '105097')
INSERTING  ('272693', 'tt1666801', 'The DUFF', '2015-02-20 00:00:00', '6.8', '3150', '', '100', 'Romance, Comedy', '43528634')
INSERTING  ('315859', 'tt3921314', 'Muhammad: The Messenger of God', '2015-02-09 00:00:00', '7.1', '26', '', '171', 'Drama, History', '0')
INSERTING  ('150689', 'tt1661199', 'Cinderella', '2015-03-12 00:00:00', '6.7', '4715', '', '105', 'Romance, Fantasy, Family, Drama', '543514353')
INSERTING  ('362071', 'tt4320966', 'Jackpot', '2015-02-13 00:00:00', '7.0', '2', '', '', 'Comedy', '0')
INSERTING  ('206296', 'tt2474024', 'The Last Five Years', '2014-11-03 00:00:00', '5.9', '237', '', '94', 'Comedy, Drama, Music, Romance', '0')
INSERTING  ('300168', 'tt3672840', 'Dragon Blade', '2015-02-19 00:00:00', '6.0', '267', '', '127', 'Action, Drama, Adventure', '121545703')
INSERTING  ('323430', 'tt4409852', '12 Golden Ducks', '2015-02-19 00:00:00', '5.1', '8', '', '84', 'Drama, Comedy', '0')
INSERTING  ('309302', 'tt2909116', 'Wolf Totem', '2015-02-19 00:00:00', '6.5', '217', '', '116', 'Adventure, Drama', '123205624')
INSERTING  ('323517', 'tt3678782', 'Badlapur', '2015-02-20 00:00:00', '7.1', '62', '', '128', 'Crime, Thriller, Action, Drama', '11480000')
INSERTING  ('243938', 'tt2637294', 'Hot Tub Time Machine 2', '2015-02-20 00:00:00', '5.1', '541', '', '93', 'Comedy', '12314651')
INSERTING  ('228203', 'tt2097298', 'McFarland, USA', '2015-02-20 00:00:00', '7.4', '381', '', '128', 'Drama', '45710059')
INSERTING  ('552349', '', 'Aida', '2015-10-30 00:00:00', '0.0', '0', '', '151', 'Music, Drama', '0')
INSERTING  ('256591', 'tt2381941', 'Focus', '2015-02-25 00:00:00', '6.8', '4396', '', '105', 'Romance, Comedy, Crime, Drama', '153962963')
INSERTING  ('268238', 'tt2555736', 'The Second Best Exotic Marigold Hotel', '2015-02-26 00:00:00', '6.4', '429', '', '122', 'Drama, Comedy', '85978266')
INSERTING  ('317925', 'tt4357170', 'A la mala', '2015-02-27 00:00:00', '6.7', '62', '', '99', 'Comedy', '0')
INSERTING  ('243940', 'tt2918436', 'The Lazarus Effect', '2015-01-29 00:00:00', '5.2', '859', '', '83', 'Thriller, Horror', '64110728')
INSERTING  ('328216', 'tt3176980', 'Be My Cat: A Film for Anne', '2015-03-01 00:00:00', '7.0', '15', '', '87', 'Thriller, Horror', '0')
INSERTING  ('198184', 'tt1823672', 'Chappie', '2015-03-04 00:00:00', '6.7', '5163', '', '120', 'Crime, Action, Science Fiction', '104399548')
INSERTING  ('291362', 'tt3110770', 'Road Hard', '2015-03-06 00:00:00', '6.6', '12', '', '97', 'Comedy', '0')
INSERTING  ('239573', 'tt2358925', 'Unfinished Business', '2015-03-05 00:00:00', '5.2', '498', '', '91', 'Comedy', '14431253')
INSERTING  ('332689', 'tt4145836', 'Playing with Dolls', '2015-03-20 00:00:00', '2.7', '11', '', '82', 'Horror', '0')
INSERTING  ('228161', 'tt2224026', 'Home', '2015-03-18 00:00:00', '6.8', '2472', '', '94', 'Fantasy, Comedy, Animation, Science Fiction, Family', '368871007')
INSERTING  ('330847', 'tt3301888', 'Baby(a)lone', '2015-03-01 00:00:00', '10.0', '2', '', '90', 'Drama', '0')
INSERTING  ('322488', 'tt2534634', 'The Fencer', '2015-03-13 00:00:00', '7.2', '33', '', '90', 'Drama, History', '0')

INSERTING  ('293970', 'tt2118624', 'The Final Girls', '2015-10-09 00:00:00', '6.5', '642', '', '91', 'Comedy, Horror', '0')
INSERTING  ('330431', 'tt3742284', 'NH10', '2015-03-12 00:00:00', '7.0', '40', '', '115', 'Crime, Action, Drama, Thriller', '5100000')
INSERTING  ('241554', 'tt2199571', 'Run All Night', '2015-03-11 00:00:00', '6.4', '1754', '', '114', 'Action, Drama, Thriller', '71561644')
INSERTING  ('271674', 'tt0900387', 'Suite Française', '2014-11-05 00:00:00', '7.4', '701', '', '103', 'Drama, Romance, War', '9104716')
INSERTING  ('301629', 'tt4000870', 'Addicted to Fresno', '2015-09-01 00:00:00', '5.4', '52', '', '85', 'Comedy', '0')
INSERTING  ('320588', 'tt3766394', 'Hello, My Name Is Doris', '2015-11-27 00:00:00', '6.3', '274', '', '95', 'Comedy, Drama, Romance', '14444999')
INSERTING  ('271718', 'tt3152624', 'Trainwreck', '2015-07-17 00:00:00', '5.8', '1792', '', '125', 'Comedy, Romance', '140795793')
INSERTING  ('505909', 'tt5337492', 'Enclave', '2015-08-01 00:00:00', '0.0', '0', '', '104', '', '0')
INSERTING  ('262500', 'tt2908446', 'Insurgent', '2015-03-18 00:00:00', '6.3', '7037', '', '119', 'Action, Adventure, Science Fiction, Thriller', '295238201')
INSERTING  ('256924', 'tt1772288', 'Danny Collins', '2015-03-19 00:00:00', '6.7', '279', '', '107', 'Comedy, Drama, Music', '10835752')
INSERTING  ('309425', 'tt4056738', 'Do You Believe?', '2015-03-20 00:00:00', '6.9', '74', '', '115', 'Fantasy, Drama', '0')
INSERTING  ('266396', 'tt2515034', 'The Gunman', '2015-02-16 00:00:00', '5.7', '605', '', '115', 'Action, Drama, Crime', '13644292')
INSERTING  ('331159', 'tt3460084', 'Jalaibee', '2015-03-20 00:00:00', '8.0', '2', '', '117', 'Crime, Action, Thriller', '1200000')
INSERTING  ('332512', 'tt4559932', 'Ghost', '2015-03-26 00:00:00', '5.8', '24', '', '90', 'Family, Comedy', '3300000')
INSERTING  ('257091', 'tt2561572', 'Get Hard', '2015-03-26 00:00:00', '6.0', '1542', '', '100', 'Comedy', '111811453')
INSERTING  ('168259', 'tt2820852', 'Furious 7', '2015-04-01 00:00:00', '7.3', '6802', '', '137', 'Action, Crime, Thriller', '1506249360')
INSERTING  ('304357', 'tt2404425', 'Woman in Gold', '2015-03-20 00:00:00', '7.4', '815', '', '120', 'Drama', '61619773')
INSERTING  ('320295', 'tt3447364', 'Detective Byomkesh Bakshy!', '2015-04-02 00:00:00', '7.0', '41', '', '139', 'Action, Mystery, Drama', '0')
INSERTING  ('308504', 'tt2493486', 'Last Knights', '2015-04-03 00:00:00', '6.3', '554', '', '115', 'Action, Adventure', '3643591')
INSERTING  ('318954', 'tt2433040', 'Beyond the Mask', '2015-04-06 00:00:00', '5.2', '53', '', '103', 'Action, Adventure, Drama', '1236094')
INSERTING  ('182560', 'tt2402101', 'Dark Places', '2015-03-31 00:00:00', '5.9', '784', '', '113', 'Drama, Mystery, Thriller', '208588')
INSERTING  ('319910', 'tt2503954', 'Broken Horses', '2015-03-15 00:00:00', '5.4', '17', '', '101', 'Thriller, Mystery, Drama, Crime', '0')
INSERTING  ('228205', 'tt2726560', 'The Longest Ride', '2015-04-09 00:00:00', '7.5', '2020', '', '128', 'Drama, Romance', '63013281')
INSERTING  ('301728', 'tt3327624', 'Infini', '2015-05-08 00:00:00', '5.2', '228', '', '110', 'Horror, Science Fiction, Thriller', '0')
INSERTING  ('99861', 'tt2395427', 'Avengers: Age of Ultron', '2015-04-22 00:00:00', '7.3', '14205', '', '141', 'Action, Adventure, Science Fiction', '1405403694')
INSERTING  ('315872', 'tt3013610', 'My Mother', '2015-04-16 00:00:00', '6.6', '201', '', '106', 'Drama', '0')
INSERTING  ('181283', 'tt1014763', 'Child 44', '2015-03-15 00:00:00', '6.2', '935', '', '137', 'Crime, Thriller', '3324330')
INSERTING  ('250734', 'tt2935476', 'Far from the Madding Crowd', '2015-04-23 00:00:00', '7.0', '608', '', '119', 'Drama, Romance', '30229977')
INSERTING  ('295592', 'tt3660770', 'Monkey Kingdom', '2015-04-17 00:00:00', '6.7', '63', '', '81', 'Documentary', '16661077')
INSERTING  ('256961', 'tt3450650', 'Paul Blart: Mall Cop 2', '2015-04-16 00:00:00', '5.0', '932', '', '94', 'Action, Comedy, Family', '107597242')
INSERTING  ('245706', 'tt2273657', 'True Story', '2015-04-17 00:00:00', '6.3', '1013', '', '100', 'Crime, Drama, Mystery', '4719695')
INSERTING  ('228968', 'tt2917388', 'Kidnapping Mr. Heineken', '2015-03-12 00:00:00', '5.9', '323', '', '95', 'Drama, Action, Crime, Thriller, Mystery', '2633527')
INSERTING  ('332340', 'tt3064298', 'Man Up', '2015-05-29 00:00:00', '6.6', '558', '', '88', 'Romance, Comedy', '0')
INSERTING  ('254470', 'tt2848292', 'Pitch Perfect 2', '2015-05-07 00:00:00', '6.9', '3766', '', '115', 'Comedy, Music', '287506194')
INSERTING  ('287424', 'tt1881002', 'Maggie', '2015-05-08 00:00:00', '5.3', '996', '', '95', 'Horror, Drama, Mystery', '187112')
INSERTING  ('256917', 'tt3007512', 'The Water Diviner', '2014-12-25 00:00:00', '6.8', '708', '', '112', 'War, Drama', '15520023')
Duplicate! Did not add to database.
INSERTING  ('293863', 'tt1655441', 'The Age of Adaline', '2015-04-16 00:00:00', '7.4', '4015', '', '112', 'Fantasy, Drama, Romance', '65663276')
INSERTING  ('294741', 'tt3294200', 'The Falling', '2015-04-24 00:00:00', '5.0', '82', '', '103', 'Drama, Mystery', '0')
INSERTING  ('256962', 'tt1810683', 'Little Boy', '2015-04-23 00:00:00', '7.0', '306', '', '106', 'Comedy, Drama, War', '6485961')
INSERTING  ('337758', 'tt3340908', 'Honey Night', '2015-04-17 00:00:00', '9.3', '2', '', '90', 'Drama, Thriller', '0')
INSERTING  ('337876', 'tt2424988', 'Gabbar Is Back', '2015-05-01 00:00:00', '7.0', '53', '', '130', 'Drama, Action', '41000000')
INSERTING  ('316042', 'tt4034452', 'Hyena Road', '2015-10-09 00:00:00', '6.4', '91', '', '120', 'War, Drama', '0')
INSERTING  ('76341', 'tt1392190', 'Mad Max: Fury Road', '2015-05-13 00:00:00', '7.4', '14933', '', '121', 'Action, Adventure, Science Fiction', '378858340')
INSERTING  ('268920', 'tt2967224', 'Hot Pursuit', '2015-05-08 00:00:00', '5.6', '1037', '', '87', 'Action, Comedy, Crime', '51680201')
INSERTING  ('332835', 'tt3767372', 'Piku', '2015-05-08 00:00:00', '6.8', '86', '', '123', 'Drama, Comedy', '22159216')
INSERTING  ('285844', 'tt2559458', 'Preggoland', '2014-09-04 00:00:00', '5.8', '14', '', '109', 'Comedy, Drama', '0')
INSERTING  ('327833', 'tt1641841', 'Skin Trade', '2014-11-07 00:00:00', '5.7', '102', '', '96', 'Thriller, Action, Drama', '0')
INSERTING  ('292040', 'tt3321300', 'Spooks: The Greater Good', '2015-04-11 00:00:00', '5.9', '334', '', '104', 'Thriller, Action', '1473809')
INSERTING  ('158852', 'tt1964418', 'Tomorrowland', '2015-05-19 00:00:00', '6.2', '4771', '', '130', 'Adventure, Family, Mystery, Science Fiction', '209154322')
INSERTING  ('336206', 'tt4593108', 'The High Sun', '2015-05-12 00:00:00', '7.6', '20', '', '123', 'Drama', '0')
INSERTING  ('329682', 'tt4466336', 'The Anarchists', '2015-11-11 00:00:00', '5.6', '42', '', '101', 'Thriller, Drama, History', '0')
INSERTING  ('350550', 'tt3852436', 'Imprisoned', '2015-05-14 00:00:00', '5.0', '1', '', '97', 'Drama', '0')
INSERTING  ('300155', 'tt1837562', 'A Royal Night Out', '2015-05-14 00:00:00', '6.5', '181', '', '97', 'Thriller, Romance, Drama, Mystery', '228136')
INSERTING  ('336808', 'tt4285496', 'Embrace of the Serpent', '2015-05-25 00:00:00', '7.8', '222', '', '125', 'Adventure, Drama', '1320005')
INSERTING  ('258284', 'tt1706598', 'Every Secret Thing', '2014-04-20 00:00:00', '5.8', '141', '', '93', 'Thriller, Drama, Crime, Mystery', '103536')
INSERTING  ('253626', 'tt3297330', 'Good Kill', '2015-04-09 00:00:00', '6.0', '324', '', '104', 'Action, Drama, Thriller', '316472')
INSERTING  ('254320', 'tt3464902', 'The Lobster', '2015-07-10 00:00:00', '6.9', '3108', '', '118', 'Thriller, Comedy, Drama, Romance, Science Fiction', '15656193')
INSERTING  ('336222', 'tt3296658', 'Rams', '2015-05-28 00:00:00', '7.2', '121', '', '93', 'Drama', '0')
INSERTING  ('336050', 'tt3808342', 'Son of Saul', '2015-06-11 00:00:00', '7.2', '532', '', '107', 'War, Drama, Thriller', '1777043')
INSERTING  ('238713', 'tt3079380', 'Spy', '2015-05-06 00:00:00', '6.8', '4049', '', '120', 'Action, Comedy, Crime', '235666219')
INSERTING  ('397598', '', 'Arabian Nights', '2015-05-16 00:00:00', '10.0', '1', '', '381', 'Drama', '0')
INSERTING  ('282984', 'tt3715320', 'Irrational Man', '2015-07-17 00:00:00', '6.5', '1178', '', '95', 'Drama, Mystery', '27391084')

INSERTING  ('330764', 'tt3792960', 'The Brand New Testament', '2015-09-02 00:00:00', '6.6', '806', '', '105', 'Drama, Comedy, Fantasy', '0')
INSERTING  ('150540', 'tt2096673', 'Inside Out', '2015-06-09 00:00:00', '7.9', '13304', '', '95', 'Drama, Comedy, Animation, Family', '857611174')
INSERTING  ('341007', 'tt4306116', '3 Braves', '2015-05-21 00:00:00', '8.3', '3', '', '94', 'Family, Animation, Adventure, Action, Fantasy', '645135')
INSERTING  ('336804', 'tt3966404', 'Mustang', '2015-06-17 00:00:00', '7.9', '801', '', '97', 'Drama', '250000')
INSERTING  ('273481', 'tt3397884', 'Sicario', '2015-09-17 00:00:00', '7.3', '4667', '', '122', 'Action, Crime, Thriller', '84025816')
INSERTING  ('324284', 'tt3908598', 'Lamb', '2016-01-08 00:00:00', '6.7', '25', '', '93', 'Drama', '0')
INSERTING  ('200727', 'tt1638002', 'Love, Rosie', '2014-10-16 00:00:00', '7.8', '3815', '', '102', 'Comedy, Romance', '4439431')
Duplicate! Did not add to database.
INSERTING  ('310593', 'tt3312830', 'Youth', '2015-05-20 00:00:00', '6.9', '1149', '', '118', 'Comedy, Drama', '2000000')
INSERTING  ('345991', 'tt2430356', 'Pearl: The Assassin', '2015-06-09 00:00:00', '3.7', '3', '', '80', 'Thriller, Action, Crime', '0')
INSERTING  ('251321', 'tt2494384', 'Aloft', '2014-02-12 00:00:00', '5.5', '65', '', '112', 'Drama', '53086')
INSERTING  ('287483', 'tt3163304', 'The Farewell Party', '2014-08-29 00:00:00', '6.6', '22', '', '90', 'Comedy, Drama', '0')
INSERTING  ('94365', 'tt1883367', 'The Human Centipede 3 (Final Sequence)', '2015-05-22 00:00:00', '3.7', '345', '', '103', 'Horror', '0')
INSERTING  ('243688', 'tt1029360', 'Poltergeist', '2015-05-20 00:00:00', '5.1', '1502', '', '93', 'Horror, Thriller', '95437994')
INSERTING  ('333381', 'tt2948790', 'Return to Sender', '2015-05-31 00:00:00', '5.2', '254', '', '95', 'Drama, Thriller', '0')
INSERTING  ('292081', 'tt1322313', 'Sunshine Superman', '2015-05-22 00:00:00', '7.8', '11', '', '100', 'Documentary', '88097')
INSERTING  ('336211', 'tt2140465', 'Tanu Weds Manu Returns', '2015-05-22 00:00:00', '7.2', '52', '', '128', 'Comedy, Romance', '0')
INSERTING  ('225728', 'tt2884018', 'Macbeth', '2015-08-16 00:00:00', '6.5', '892', '', '113', 'History, Drama, War, Adventure', '12601706')
INSERTING  ('342550', 'tt2486856', 'You Carry Me', '2015-05-25 00:00:00', '7.2', '5', '', '155', 'Drama', '0')
INSERTING  ('222936', 'tt1243974', 'Aloha', '2015-05-27 00:00:00', '5.3', '1271', '', '105', 'Drama, Comedy, Romance', '26250020')
INSERTING  ('188222', 'tt1674771', 'Entourage', '2015-06-03 00:00:00', '6.2', '659', '', '104', 'Comedy', '49263404')
INSERTING  ('254128', 'tt2126355', 'San Andreas', '2015-05-27 00:00:00', '6.1', '5325', '', '114', 'Action, Drama, Thriller', '470490832')
INSERTING  ('333657', 'tt3038734', 'Club Life', '2015-05-29 00:00:00', '5.7', '23', '', '90', 'Drama', '4444')
INSERTING  ('272435', 'tt2788556', 'Gemma Bovery', '2014-09-10 00:00:00', '6.2', '172', '', '99', 'Romance, Drama, Comedy', '154701')
INSERTING  ('285024', 'tt3687186', 'Heaven Knows What', '2015-05-29 00:00:00', '6.6', '67', '', '94', 'Drama', '0')
INSERTING  ('135397', 'tt0369610', 'Jurassic World', '2015-06-06 00:00:00', '6.6', '14488', '', '124', 'Action, Adventure, Science Fiction, Thriller', '1671713208')
INSERTING  ('294132', 'tt3824412', 'Results', '2015-05-29 00:00:00', '5.1', '96', '', '105', 'Comedy', '104507')
INSERTING  ('334074', 'tt3247714', 'Survivor', '2015-05-21 00:00:00', '5.5', '605', '', '96', 'Action, Crime, Thriller', '0')
INSERTING  ('280092', 'tt3195644', 'Insidious: Chapter 3', '2015-06-04 00:00:00', '6.2', '1964', '', '97', 'Drama, Horror, Thriller', '104303851')
INSERTING  ('343702', 'tt4163644', 'The Sweet Escape', '2015-06-10 00:00:00', '6.6', '59', '', '105', 'Comedy, Drama', '0')
INSERTING  ('211672', 'tt2293640', 'Minions', '2015-06-17 00:00:00', '6.4', '7537', '', '91', 'Family, Animation, Adventure, Comedy', '1156730962')
INSERTING  ('328483', 'tt3573598', 'London Road', '2015-06-12 00:00:00', '6.5', '15', '', '91', 'Adventure, Music, Mystery, Thriller', '0')
INSERTING  ('261103', 'tt3336368', 'Maya the Bee Movie', '2014-09-11 00:00:00', '6.1', '56', '', '79', 'Family, Animation', '0')
INSERTING  ('307081', 'tt1798684', 'Southpaw', '2015-06-15 00:00:00', '7.4', '3545', '', '123', 'Action, Drama', '91709827')
INSERTING  ('331781', 'tt2870648', 'Amy', '2015-07-03 00:00:00', '7.6', '742', '', '128', 'Documentary, Music', '8413144')
INSERTING  ('345775', 'tt2262345', 'Long Way North', '2015-12-10 00:00:00', '7.7', '69', '', '80', 'Adventure, Animation, Drama, Family', '0')
INSERTING  ('283596', 'tt2552394', 'The Legend of Barney Thomson', '2015-07-24 00:00:00', '6.2', '79', '', '96', 'Comedy, Drama, Thriller', '0')
INSERTING  ('336790', 'tt3679000', 'Any Body Can Dance 2', '2015-06-19 00:00:00', '5.5', '37', '', '154', 'Drama, Music', '892000')
INSERTING  ('245916', 'tt1216491', 'Kill the Messenger', '2014-10-09 00:00:00', '6.6', '525', '', '112', 'Thriller, Crime, Drama, Mystery', '2450846')
Duplicate! Did not add to database.
INSERTING  ('314406', 'tt3623668', 'Under Milk Wood', '2015-06-20 00:00:00', '5.3', '3', '', '83', 'Drama', '0')
INSERTING  ('87101', 'tt1340138', 'Terminator Genisys', '2015-06-23 00:00:00', '5.9', '5490', '', '126', 'Science Fiction, Action, Thriller, Adventure', '440603537')
INSERTING  ('253412', 'tt2719848', 'Everest', '2015-09-10 00:00:00', '6.8', '2995', '', '121', 'Adventure, Drama, Action', '203427584')
INSERTING  ('214756', 'tt2637276', 'Ted 2', '2015-06-25 00:00:00', '6.1', '4415', '', '115', 'Comedy', '217022588')
INSERTING  ('264999', 'tt2268016', 'Magic Mike XXL', '2015-07-01 00:00:00', '6.2', '1159', '', '115', 'Comedy, Drama', '122513057')
INSERTING  ('320061', 'tt3884528', 'Batkid Begins', '2015-06-26 00:00:00', '6.5', '22', '', '87', 'Family, Documentary', '0')
INSERTING  ('255343', 'tt2515030', 'Escobar: Paradise Lost', '2014-10-11 00:00:00', '6.3', '502', '', '120', 'Thriller, Romance', '3758328')
INSERTING  ('319071', 'tt4209900', 'Fresh Dressed', '2015-06-26 00:00:00', '6.7', '19', '', '90', 'Documentary, History, Music', '0')
INSERTING  ('276844', 'tt2785032', 'The Little Death', '2014-06-13 00:00:00', '6.7', '233', '', '96', 'Drama, Comedy, Romance', '0')
INSERTING  ('76341', 'tt1392190', 'Mad Max: Fury Road', '2015-05-13 00:00:00', '7.4', '14933', '', '121', 'Action, Adventure, Science Fiction', '378858340')
Duplicate! Did not add to database.
INSERTING  ('346490', 'tt4741170', 'Babai', '2015-06-28 00:00:00', '6.2', '5', '', '104', 'Drama', '0')
INSERTING  ('102899', 'tt0478970', 'Ant-Man', '2015-07-14 00:00:00', '7.1', '12563', '', '117', 'Science Fiction, Action, Adventure', '519311965')
INSERTING  ('299245', 'tt2309260', 'The Gallows', '2015-07-10 00:00:00', '4.8', '620', '', '87', 'Horror, Thriller', '42664410')
INSERTING  ('335805', 'tt1322393', 'Faith of Our Fathers', '2015-07-01 00:00:00', '7.6', '8', '', '96', 'War, Drama', '0')
INSERTING  ('536467', '', 'Vere Vazhi Ille', '2015-07-02 00:00:00', '0.0', '0', '', '84', 'Horror, Comedy', '0')
INSERTING  ('317952', 'tt4126304', 'Cartel Land', '2015-07-03 00:00:00', '7.3', '232', '', '100', 'Drama, Documentary', '0')
INSERTING  ('262958', 'tt3110960', "Jimmy's Hall", '2014-05-30 00:00:00', '6.7', '86', '', '106', 'History, Drama', '2606000')
INSERTING  ('361052', 'tt3894478', 'Heavenly Nomadic', '2015-07-04 00:00:00', '0.0', '0', '', '81', 'Drama', '0')
INSERTING  ('346723', 'tt4026642', 'Home Care', '2015-07-16 00:00:00', '6.0', '6', '', '92', 'Drama, Comedy', '0')
INSERTING  ('337677', 'tt3882000', 'Microbe and Gasoline', '2015-07-08 00:00:00', '6.0', '69', '', '103', 'Comedy', '63802')
INSERTING  ('253251', 'tt3114132', '10,000 km', '2014-05-16 00:00:00', '6.6', '51', '', '99', 'Drama, Romance', '0')
INSERTING  ('238615', 'tt2140379', 'Self/less', '2015-07-10 00:00:00', '6.3', '1894', '', '116', 'Science Fiction, Mystery, Thriller', '30523226')
INSERTING  ('276843', 'tt2725962', 'What We Did on Our Holiday', '2014-09-26 00:00:00', '6.8', '288', '', '95', 'Comedy', '1289998')
INSERTING  ('335970', 'tt4126340', 'Joe Dirt 2: Beautiful Loser', '2015-07-16 00:00:00', '4.3', '66', '', '107', 'Comedy', '0')
INSERTING  ('334298', 'tt3781476', 'Monster Hunt', '2015-07-16 00:00:00', '5.8', '134', '', '111', 'Comedy, Fantasy', '0')

INSERTING  ('348892', 'tt3863552', 'Bajrangi Bhaijaan', '2015-07-17 00:00:00', '7.9', '244', '', '159', 'Action, Comedy, Drama', '150000000')
INSERTING  ('269494', 'tt3697626', 'A Hard Day', '2014-05-29 00:00:00', '7.0', '154', '', '111', 'Action, Crime, Thriller', '0')
INSERTING  ('282984', 'tt3715320', 'Irrational Man', '2015-07-17 00:00:00', '6.5', '1178', '', '95', 'Drama, Mystery', '27391084')
Duplicate! Did not add to database.
INSERTING  ('280996', 'tt3168230', 'Mr. Holmes', '2015-06-19 00:00:00', '6.5', '1155', '', '103', 'Drama, Mystery', '29355203')
Duplicate! Did not add to database.
INSERTING  ('349006', 'tt4644302', 'Bin Roye', '2015-07-17 00:00:00', '6.5', '7', '', '116', 'Romance, Drama', '0')
INSERTING  ('383056', 'tt4635548', 'Wrong No.', '2015-07-18 00:00:00', '6.7', '6', '', '133', 'Comedy, Romance', '1570000')
INSERTING  ('348499', 'tt4437046', 'Bad Night', '2015-07-21 00:00:00', '4.7', '26', '', '92', 'Comedy, Adventure', '0')
INSERTING  ('311615', 'tt4184878', 'Smosh: The Movie', '2015-07-24 00:00:00', '4.8', '135', '', '84', 'Comedy, Action, Adventure', '0')
INSERTING  ('177677', 'tt2381249', 'Mission: Impossible - Rogue Nation', '2015-07-23 00:00:00', '7.1', '5455', '', '131', 'Action, Adventure', '682330139')
INSERTING  ('355727', 'tt4691166', '7 Letters', '2015-08-20 00:00:00', '8.3', '4', '', '116', 'Comedy, Drama, Romance', '0')
INSERTING  ('286565', 'tt3622592', 'Paper Towns', '2015-06-18 00:00:00', '6.0', '3728', '', '109', 'Drama, Mystery, Romance', '85512300')
INSERTING  ('257344', 'tt2120120', 'Pixels', '2015-07-16 00:00:00', '5.6', '4630', '', '105', 'Action, Comedy, Science Fiction', '243637091')
INSERTING  ('269148', 'tt3399024', 'Samba', '2014-10-15 00:00:00', '6.4', '624', '', '118', 'Drama, Comedy', '151530')
INSERTING  ('157544', 'tt1524575', 'The Vatican Tapes', '2015-07-24 00:00:00', '4.7', '384', '', '91', 'Thriller, Horror', '1784763')
INSERTING  ('361013', 'tt3095238', 'Utopia', '2015-07-15 00:00:00', '0.0', '0', '', '95', 'War, Drama', '0')
INSERTING  ('296099', 'tt1524930', 'Vacation', '2015-07-28 00:00:00', '6.2', '2047', '', '99', 'Comedy', '104384188')
INSERTING  ('328425', 'tt4178092', 'The Gift', '2015-07-30 00:00:00', '6.7', '1868', '', '108', 'Thriller, Mystery, Drama', '58978653')
INSERTING  ('319067', 'tt3518012', 'Best of Enemies', '2015-07-31 00:00:00', '7.3', '86', '', '87', 'Documentary, History', '0')
INSERTING  ('249688', 'tt3416744', 'The End of the Tour', '2015-07-31 00:00:00', '7.1', '332', '', '106', 'Drama', '3002884')
Duplicate! Did not add to database.
INSERTING  ('342474', 'tt3289712', "Jenny's Wedding", '2015-07-31 00:00:00', '5.6', '268', '', '94', 'Comedy, Drama', '0')
INSERTING  ('357441', 'tt4590482', 'Karachi Se Lahore', '2015-07-31 00:00:00', '8.7', '3', '', '144', 'Family, Comedy, Adventure, Romance', '1000000')
INSERTING  ('270646', 'tt3709678', 'The Kindergarten Teacher', '2014-04-19 00:00:00', '5.9', '13', '', '120', 'Drama', '0')
INSERTING  ('251471', 'tt3214286', 'A LEGO Brickumentary', '2014-11-09 00:00:00', '6.0', '72', '', '93', 'Documentary, Family', '0')
INSERTING  ('361014', 'tt3718188', 'The Two of Us', '2015-07-31 00:00:00', '0.0', '0', '', '94', '', '0')
INSERTING  ('166424', 'tt1502712', 'Fantastic Four', '2015-08-05 00:00:00', '4.4', '3979', '', '100', 'Action, Adventure, Science Fiction', '167977596')
INSERTING  ('293646', 'tt2006295', 'The 33', '2015-08-06 00:00:00', '6.2', '592', '', '120', 'Drama, History', '24902723')
INSERTING  ('339562', 'tt4788638', 'To the Fore', '2015-08-06 00:00:00', '6.5', '11', '', '125', 'Romance, Action, Drama', '0')
INSERTING  ('347201', 'tt4618398', 'Boruto: Naruto the Movie', '2015-08-07 00:00:00', '7.6', '312', '', '100', 'Action, Comedy, Animation', '0')
INSERTING  ('250124', 'tt3172532', 'The Diary of a Teenage Girl', '2015-08-07 00:00:00', '6.7', '480', '', '98', 'Drama, Romance', '1477002')
Duplicate! Did not add to database.
INSERTING  ('203801', 'tt1638355', 'The Man from U.N.C.L.E.', '2015-08-13 00:00:00', '7.1', '3685', '', '116', 'Comedy, Action, Adventure', '108145109')
INSERTING  ('283161', 'tt1640718', 'The Prophet', '2014-09-06 00:00:00', '7.6', '50', '', '85', 'Animation', '0')
INSERTING  ('275601', 'tt3623726', 'Ricki and the Flash', '2015-07-10 00:00:00', '5.8', '489', '', '100', 'Comedy, Drama, Music', '41325328')
INSERTING  ('277216', 'tt1398426', 'Straight Outta Compton', '2015-08-13 00:00:00', '7.7', '2119', '', '147', 'Drama, Music', '201634991')
INSERTING  ('352161', 'tt4411504', 'The Clan', '2015-08-13 00:00:00', '6.5', '219', '', '109', 'Drama, History, Crime, Thriller', '20381995')
INSERTING  ('354128', 'tt4819514', 'Go Away Mr. Tumor', '2015-08-13 00:00:00', '6.1', '20', '', '128', 'Comedy, Romance', '7500')
INSERTING  ('337348', 'tt4621100', 'Nanak Shah Fakir', '2014-05-14 00:00:00', '8.5', '2', '', '146', 'Drama', '105835')
INSERTING  ('86828', 'tt1727770', 'Absolutely Anything', '2015-06-26 00:00:00', '5.7', '723', '', '85', 'Comedy, Science Fiction', '7200039')
INSERTING  ('227716', 'tt3334374', 'Moor', '2015-08-14 00:00:00', '7.2', '5', '', '134', 'Drama', '13000')
INSERTING  ('192141', 'tt1781922', 'No Escape', '2015-08-26 00:00:00', '6.8', '1346', '', '103', 'Action, Thriller', '54418872')
INSERTING  ('336197', 'tt3774092', 'Amnesia', '2015-08-19 00:00:00', '4.9', '24', '', '96', 'Drama', '0')
INSERTING  ('350547', 'tt3805294', 'Our Everyday Life', '2015-09-02 00:00:00', '7.0', '1', '', '89', 'Family, Drama', '0')
INSERTING  ('261392', 'tt3316948', 'American Ultra', '2015-08-19 00:00:00', '6.0', '1825', '', '96', 'Comedy, Action', '27139524')
INSERTING  ('348296', 'tt4660980', 'The Bad Education Movie', '2015-08-21 00:00:00', '5.7', '79', '', '90', 'Comedy', '0')
INSERTING  ('249070', 'tt2679042', 'Hitman: Agent 47', '2015-08-20 00:00:00', '5.6', '1832', '', '96', 'Action, Crime, Thriller', '81967450')
INSERTING  ('283445', 'tt2752772', 'Sinister 2', '2015-08-19 00:00:00', '5.8', '1194', '', '97', 'Horror', '52882018')
INSERTING  ('301351', 'tt3787590', 'We Are Your Friends', '2015-08-26 00:00:00', '6.3', '1304', '', '96', 'Drama, Music, Romance, Comedy', '11122090')
INSERTING  ('362670', 'tt4457606', 'A War of Hope', '2015-04-25 00:00:00', '0.0', '0', '', '52', '', '0')
INSERTING  ('323272', 'tt3832914', 'War Room', '2015-08-28 00:00:00', '7.5', '185', '', '120', 'Drama, Romance', '67790117')
INSERTING  ('31074', 'tt0083316', 'The Wave', '1981-10-04 00:00:00', '7.3', '48', '', '44', 'Drama, Family', '0')
INSERTING  ('304372', 'tt3862750', 'The Perfect Guy', '2015-09-11 00:00:00', '5.8', '220', '', '100', 'Drama, Thriller', '60273173')
INSERTING  ('283587', 'tt1365050', 'Beasts of No Nation', '2015-09-11 00:00:00', '7.6', '921', '', '137', 'Drama, War', '9077700')
INSERTING  ('314365', 'tt1895587', 'Spotlight', '2015-11-06 00:00:00', '7.8', '5135', '', '129', 'Drama, Thriller, History', '88346473')
INSERTING  ('291270', 'tt2401878', 'Anomalisa', '2015-12-30 00:00:00', '7.1', '964', '', '90', 'Animation, Comedy, Drama, Romance', '5659286')
INSERTING  ('261023', 'tt1355683', 'Black Mass', '2015-09-04 00:00:00', '6.4', '2101', '', '122', 'Drama, Crime', '98837872')
INSERTING  ('257088', 'tt2058673', 'Point Break', '2015-12-03 00:00:00', '5.6', '1331', '', '114', 'Action, Crime, Thriller', '133718711')
INSERTING  ('300168', 'tt3672840', 'Dragon Blade', '2015-02-19 00:00:00', '6.0', '267', '', '127', 'Action, Drama, Adventure', '121545703')
Duplicate! Did not add to database.
INSERTING  ('338928', 'tt3065132', 'He Named Me Malala', '2015-09-12 00:00:00', '6.4', '100', '', '87', 'Documentary', '2642899')
INSERTING  ('264644', 'tt3170832', 'Room', '2015-10-16 00:00:00', '8.1', '5776', '', '117', 'Drama, Thriller', '35401758')
INSERTING  ('324308', 'tt4425064', 'Steve Jobs: The Man in the Machine', '2015-08-07 00:00:00', '6.5', '171', '', '129', 'Documentary', '494506')
INSERTING  ('245168', 'tt3077214', 'Suffragette', '2015-10-16 00:00:00', '7.3', '1014', '', '106', 'Drama, History', '16002420')
INSERTING  ('287948', 'tt2938956', 'The Transporter Refueled', '2015-09-03 00:00:00', '5.4', '876', '', '96', 'Thriller, Action, Crime, Mystery', '72629670')
INSERTING  ('359108', 'tt4334482', 'Viva', '2015-11-08 00:00:00', '8.0', '34', '', '100', 'Drama', '0')

INSERTING  ('306819', 'tt0810819', 'The Danish Girl', '2015-11-27 00:00:00', '7.7', '3848', '', '120', 'Drama', '64191523')
INSERTING  ('321697', 'tt2080374', 'Steve Jobs', '2015-10-09 00:00:00', '6.8', '2688', '', '122', 'Drama, History', '34441873')
INSERTING  ('291151', 'tt2238470', 'The Stranger', '2015-06-12 00:00:00', '4.7', '56', '', '93', 'Drama, Thriller, Horror, Mystery', '0')
INSERTING  ('359156', 'tt1167611', "Don't Be Bad", '2015-09-08 00:00:00', '7.9', '496', '', '100', 'Crime, Drama', '0')
INSERTING  ('298312', 'tt3567288', 'The Visit', '2015-09-10 00:00:00', '6.2', '2765', '', '94', 'Horror, Thriller, Mystery', '98450062')
INSERTING  ('314371', 'tt3865478', '11 Minutes', '2015-09-02 00:00:00', '5.6', '23', '', '81', 'Drama, Thriller', '0')
INSERTING  ('358913', 'tt3757218', 'Baba Joon', '2015-09-10 00:00:00', '7.0', '6', '', '91', 'Drama', '0')
INSERTING  ('359105', 'tt4944352', 'Heneral Luna', '2015-09-09 00:00:00', '8.0', '19', '', '118', 'Comedy, Action, Drama, History, War', '0')
INSERTING  ('276907', 'tt3569230', 'Legend', '2015-09-09 00:00:00', '6.8', '1801', '', '131', 'Crime, Thriller', '42972994')
INSERTING  ('302528', 'tt3704050', 'Remember', '2015-10-23 00:00:00', '7.4', '325', '', '94', 'Drama, Thriller', '1986615')
INSERTING  ('352208', 'tt4897822', 'Where to Invade Next', '2015-12-23 00:00:00', '7.4', '258', '', '121', 'Documentary', '3820195')
INSERTING  ('343795', 'tt4337690', '90 Minutes in Heaven', '2015-09-11 00:00:00', '5.5', '67', '', '121', 'Drama', '4842699')
INSERTING  ('356488', 'tt3951190', 'Born to Dance', '2015-09-24 00:00:00', '6.4', '21', '', '96', 'Drama', '0')
INSERTING  ('333352', 'tt2057392', 'Eye in the Sky', '2015-09-11 00:00:00', '7.1', '884', '', '102', 'Drama, Thriller, War', '18704595')
INSERTING  ('297806', 'tt1490785', 'I Saw the Light', '2016-02-05 00:00:00', '5.9', '92', '', '123', 'Drama, Music', '1646788')
INSERTING  ('421337', 'tt4943992', 'Manto', '2015-09-11 00:00:00', '10.0', '2', '', '127', 'Drama', '500000')
INSERTING  ('286217', 'tt3659388', 'The Martian', '2015-09-30 00:00:00', '7.7', '12657', '', '141', 'Drama, Adventure, Science Fiction', '630161890')
INSERTING  ('10317', 'tt1018765', 'Our Brand Is Crisis', '2015-09-11 00:00:00', '5.9', '310', '', '108', 'Comedy, Drama', '7002261')
INSERTING  ('245698', 'tt1596345', 'Pawn Sacrifice', '2015-09-16 00:00:00', '6.7', '467', '', '115', 'Thriller, Drama', '5578519')
INSERTING  ('328589', 'tt3722070', 'The Lady in the Van', '2015-11-13 00:00:00', '6.3', '411', '', '104', 'Comedy, Drama', '41387687')
INSERTING  ('290762', 'tt2245003', 'Miss You Already', '2015-09-12 00:00:00', '7.4', '432', '', '112', 'Comedy, Drama', '0')
INSERTING  ('294016', 'tt3203606', 'Trumbo', '2015-10-27 00:00:00', '7.2', '918', '', '124', 'Drama', '8235661')
INSERTING  ('300693', 'tt3859076', 'Truth', '2015-10-16 00:00:00', '6.6', '276', '', '121', 'Drama', '2541554')
INSERTING  ('306745', 'tt1658801', 'Freeheld', '2015-10-02 00:00:00', '7.3', '373', '', '103', 'Romance, Drama', '573335')
INSERTING  ('358083', 'tt4246894', 'The Paradise Suite', '2015-10-29 00:00:00', '7.2', '13', '', '118', 'Drama', '0')
INSERTING  ('298382', 'tt2910904', 'The Dressmaker', '2015-10-01 00:00:00', '7.0', '961', '', '118', 'Drama', '18340000')
INSERTING  ('271736', 'tt3083008', 'The Program', '2015-09-16 00:00:00', '6.3', '299', '', '103', 'Drama', '3286448')
INSERTING  ('257211', 'tt2361509', 'The Intern', '2015-09-24 00:00:00', '7.1', '3527', '', '121', 'Comedy', '194564672')
INSERTING  ('315439', 'tt4010918', 'The Throne', '2015-09-16 00:00:00', '7.0', '35', '', '126', 'Drama, History', '0')
INSERTING  ('362817', '', 'Polis EVO', '2015-09-17 00:00:00', '5.0', '3', '', '120', 'Action', '1847967')
INSERTING  ('1648', 'tt0096928', "Bill & Ted's Excellent Adventure", '1989-02-17 00:00:00', '6.8', '802', '', '90', 'Adventure, Comedy, Science Fiction', '40485039')
INSERTING  ('244761', 'tt2326612', 'The Captive', '2014-06-10 00:00:00', '5.9', '594', '', '112', 'Drama, Thriller, Crime', '1075178')
INSERTING  ('294254', 'tt4046784', 'Maze Runner: The Scorch Trials', '2015-09-09 00:00:00', '6.6', '6647', '', '132', 'Action, Science Fiction, Thriller', '311256926')
INSERTING  ('241257', 'tt3319920', 'Regression', '2015-10-01 00:00:00', '5.5', '1124', '', '106', 'Horror, Mystery, Thriller, Crime', '17671101')
INSERTING  ('273899', 'tt3018070', 'Stonewall', '2015-09-18 00:00:00', '6.3', '75', '', '129', 'Drama', '187674')
INSERTING  ('359610', '', 'Moira', '2015-09-23 00:00:00', '0.0', '0', '', '89', 'Drama', '0')
INSERTING  ('364189', 'tt6423608', 'Jwanita', '2015-09-24 00:00:00', '6.0', '1', '', '100', 'Horror', '0')
INSERTING  ('283235', 'tt2891174', '99 Homes', '2014-10-09 00:00:00', '6.8', '404', '', '112', 'Drama', '1411927')
INSERTING  ('159824', 'tt2510894', 'Hotel Transylvania 2', '2015-09-21 00:00:00', '6.7', '3355', '', '89', 'Animation, Comedy, Family, Fantasy', '473226958')
INSERTING  ('361759', 'tt4692368', 'Jawani Phir Nahi Ani', '2015-09-25 00:00:00', '8.5', '6', '', '158', 'Romance, Adventure, Comedy, Music', '77000000')
INSERTING  ('266647', 'tt3332064', 'Pan', '2015-09-24 00:00:00', '5.9', '1783', '', '111', 'Adventure, Family, Fantasy', '128388320')
INSERTING  ('285783', 'tt3488710', 'The Walk', '2015-09-30 00:00:00', '6.9', '1966', '', '123', 'Adventure, Drama, Thriller', '61181942')
INSERTING  ('336313', 'tt2141773', 'Hell & Back', '2015-10-02 00:00:00', '5.1', '122', '', '86', 'Fantasy, Comedy, Animation', '157768')
INSERTING  ('296098', 'tt3682448', 'Bridge of Spies', '2015-10-15 00:00:00', '7.2', '4490', '', '141', 'Thriller, Drama', '165478348')
INSERTING  ('295964', 'tt2503944', 'Burnt', '2015-10-02 00:00:00', '6.4', '1925', '', '100', 'Drama, Comedy', '36606743')
INSERTING  ('283587', 'tt1365050', 'Beasts of No Nation', '2015-09-11 00:00:00', '7.6', '921', '', '137', 'Drama, War', '9077700')
Duplicate! Did not add to database.
INSERTING  ('201085', 'tt2554274', 'Crimson Peak', '2015-10-13 00:00:00', '6.5', '3098', '', '119', 'Drama, Fantasy, Horror, Mystery, Romance, Thriller', '74679822')
INSERTING  ('257445', 'tt1051904', 'Goosebumps', '2015-08-05 00:00:00', '6.2', '2276', '', '103', 'Adventure, Horror, Comedy', '158162788')
INSERTING  ('333596', 'tt4183692', 'Woodlawn', '2015-10-15 00:00:00', '7.0', '84', '', '123', 'Drama', '14394097')
INSERTING  ('253414', 'tt3164256', 'Rock the Kasbah', '2015-10-22 00:00:00', '5.5', '157', '', '100', 'Comedy, Music, War', '3020664')
INSERTING  ('266639', 'tt3614530', 'Jem and the Holograms', '2015-10-22 00:00:00', '5.3', '254', '', '119', 'Drama, Fantasy, Music', '2333684')
INSERTING  ('274854', 'tt1618442', 'The Last Witch Hunter', '2015-10-21 00:00:00', '5.8', '2287', '', '106', 'Fantasy, Action, Adventure, Science Fiction', '146936910')
INSERTING  ('146301', 'tt2473510', 'Paranormal Activity: The Ghost Dimension', '2015-10-21 00:00:00', '5.2', '818', '', '88', 'Horror, Thriller', '78096553')
INSERTING  ('206647', 'tt2379713', 'Spectre', '2015-10-26 00:00:00', '6.4', '6929', '', '148', 'Action, Adventure, Crime', '880674609')
INSERTING  ('273477', 'tt1727776', 'Scouts Guide to the Zombie Apocalypse', '2015-10-23 00:00:00', '6.2', '966', '', '93', 'Comedy, Horror', '14860766')
INSERTING  ('227973', 'tt2452042', 'The Peanuts Movie', '2015-11-01 00:00:00', '6.6', '927', '', '88', 'Adventure, Comedy, Animation, Family', '246233113')
INSERTING  ('131634', 'tt1951266', 'The Hunger Games: Mockingjay - Part 2', '2015-11-18 00:00:00', '6.8', '7936', '', '137', 'Action, Adventure, Science Fiction', '653428261')
INSERTING  ('333348', 'tt2279339', 'Love the Coopers', '2015-11-12 00:00:00', '5.8', '398', '', '107', 'Comedy, Family, Drama', '42426912')
INSERTING  ('314385', 'tt3707106', 'By the Sea', '2015-11-12 00:00:00', '5.4', '321', '', '122', 'Drama, Romance', '3727746')
INSERTING  ('105864', 'tt1979388', 'The Good Dinosaur', '2015-11-14 00:00:00', '6.7', '3294', '', '93', 'Adventure, Animation, Family', '331926147')
INSERTING  ('362150', 'tt5178278', 'Vedhalam', '2015-11-10 00:00:00', '6.2', '21', '', '156', 'Action', '0')
INSERTING  ('362136', 'tt3595298', 'Prem Ratan Dhan Payo', '2015-11-11 00:00:00', '6.0', '65', '', '174', 'Drama, Action, Romance', '67000000')

INSERTING  ('246133', 'tt3343784', 'Entertainment', '2015-08-11 00:00:00', '5.3', '35', '', '113', 'Drama, Comedy', '0')
INSERTING  ('312804', 'tt4288636', 'James White', '2015-01-23 00:00:00', '6.4', '61', '', '85', 'Drama', '0')
INSERTING  ('334531', 'tt3719896', 'My All American', '2015-11-13 00:00:00', '7.1', '67', '', '118', 'Drama', '0')
INSERTING  ('258480', 'tt2402927', 'Carol', '2015-11-20 00:00:00', '7.4', '2041', '', '118', 'Romance, Drama', '40272135')
INSERTING  ('334527', 'tt3687310', 'Criminal Activities', '2015-11-20 00:00:00', '5.9', '170', '', '94', 'Thriller, Crime, Drama', '0')
INSERTING  ('301325', 'tt3526286', '#Horror', '2015-11-20 00:00:00', '3.3', '107', '', '90', 'Drama, Mystery, Horror, Thriller', '0')
INSERTING  ('324279', 'tt3785740', 'Kingdom of Shadows', '2015-01-01 00:00:00', '7.0', '1', '', '75', 'Documentary', '0')
INSERTING  ('336660', 'tt3486542', 'Mediterranea', '2015-09-02 00:00:00', '6.9', '28', '', '107', 'Drama', '0')
INSERTING  ('296100', 'tt3530002', 'The Night Before', '2015-11-20 00:00:00', '6.1', '984', '', '101', 'Comedy, Adventure, Fantasy', '52395996')
INSERTING  ('290751', 'tt1741273', 'Secret in Their Eyes', '2015-10-14 00:00:00', '6.4', '745', '', '111', 'Crime, Drama, Mystery, Thriller', '34854990')
INSERTING  ('312221', 'tt3076658', 'Creed', '2015-11-25 00:00:00', '7.3', '4197', '', '133', 'Drama', '173567581')
INSERTING  ('228066', 'tt1976009', 'Victor Frankenstein', '2015-11-10 00:00:00', '5.8', '1253', '', '109', 'Drama, Science Fiction, Thriller', '34227298')
INSERTING  ('333377', 'tt3270538', 'Requiem for the American Dream', '2015-04-18 00:00:00', '7.8', '97', '', '73', 'Documentary', '44695')
INSERTING  ('365183', 'tt4498460', 'Killing Them Safely', '2015-04-17 00:00:00', '5.9', '9', '', '100', 'Documentary', '0')
INSERTING  ('340816', 'tt3703148', 'Christmas Eve', '2015-12-04 00:00:00', '5.7', '39', '', '95', 'Comedy, Family, Romance', '0')
INSERTING  ('246127', 'tt1707380', 'Every Thing Will Be Fine', '2015-04-02 00:00:00', '5.5', '127', '', '118', 'Drama', '8034')
INSERTING  ('339751', 'tt3748512', 'Hitchcock/Truffaut', '2015-09-04 00:00:00', '7.4', '100', '', '81', 'Documentary', '302459')
INSERTING  ('287903', 'tt3850590', 'Krampus', '2015-11-26 00:00:00', '6.0', '1097', '', '98', 'Horror, Comedy, Fantasy', '61788393')
INSERTING  ('328589', 'tt3722070', 'The Lady in the Van', '2015-11-13 00:00:00', '6.3', '411', '', '104', 'Comedy, Drama', '41387687')
Duplicate! Did not add to database.
INSERTING  ('218275', 'tt1445208', 'The Letters', '2015-12-04 00:00:00', '5.8', '15', '', '114', 'Drama', '0')
INSERTING  ('209189', 'tt1663207', 'Life of Crime', '2013-09-14 00:00:00', '5.6', '213', '', '94', 'Comedy, Crime', '265452')
Duplicate! Did not add to database.
INSERTING  ('225728', 'tt2884018', 'Macbeth', '2015-08-16 00:00:00', '6.5', '892', '', '113', 'History, Drama, War, Adventure', '12601706')
Duplicate! Did not add to database.
INSERTING  ('300155', 'tt1837562', 'A Royal Night Out', '2015-05-14 00:00:00', '6.5', '181', '', '97', 'Thriller, Romance, Drama, Mystery', '228136')
Duplicate! Did not add to database.
INSERTING  ('310593', 'tt3312830', 'Youth', '2015-05-20 00:00:00', '6.9', '1149', '', '118', 'Comedy, Drama', '2000000')
Duplicate! Did not add to database.
INSERTING  ('318846', 'tt1596363', 'The Big Short', '2015-12-11 00:00:00', '7.3', '4899', '', '131', 'Comedy, Drama', '133346506')
INSERTING  ('205775', 'tt1390411', 'In the Heart of the Sea', '2015-11-20 00:00:00', '6.6', '2217', '', '122', 'Thriller, Drama, Adventure, Action, History', '93820758')
INSERTING  ('140607', 'tt2488496', 'Star Wars: The Force Awakens', '2015-12-15 00:00:00', '7.4', '13076', '', '136', 'Action, Adventure, Science Fiction, Fantasy', '2068223624')
INSERTING  ('258509', 'tt2974918', 'Alvin and the Chipmunks: The Road Chip', '2015-12-17 00:00:00', '5.9', '924', '', '92', 'Adventure, Animation, Comedy, Family', '233755553')
INSERTING  ('370665', 'tt4535650', 'Dilwale', '2015-12-18 00:00:00', '6.2', '121', '', '158', 'Crime, Action, Comedy', '61000000')
INSERTING  ('266294', 'tt1850457', 'Sisters', '2015-12-18 00:00:00', '5.9', '956', '', '118', 'Comedy', '105011053')
INSERTING  ('321741', 'tt3322364', 'Concussion', '2015-11-12 00:00:00', '7.1', '1506', '', '123', 'Drama', '50363790')
INSERTING  ('274167', 'tt1528854', "Daddy's Home", '2015-12-25 00:00:00', '6.1', '1772', '', '96', 'Comedy', '242786137')
INSERTING  ('273248', 'tt3460252', 'The Hateful Eight', '2015-12-25 00:00:00', '7.7', '8524', '', '188', 'Crime, Drama, Mystery, Western', '155760117')
INSERTING  ('274479', 'tt2446980', 'Joy', '2015-12-24 00:00:00', '6.5', '2820', '', '124', 'Drama, Comedy', '101134059')
INSERTING  ('257088', 'tt2058673', 'Point Break', '2015-12-03 00:00:00', '5.6', '1331', '', '114', 'Action, Crime, Thriller', '133718711')
Duplicate! Did not add to database.
INSERTING  ('281957', 'tt1663202', 'The Revenant', '2015-12-25 00:00:00', '7.4', '11523', '', '157', 'Western, Drama, Adventure', '532950503')
INSERTING  ('390364', 'tt3399078', 'Time Rush', '2016-01-01 00:00:00', '4.2', '7', '', '85', 'Action', '0')
INSERTING  ('376003', 'tt1753786', 'Mercury Plains', '2016-01-05 00:00:00', '4.7', '31', '', '102', 'Action, Adventure, Drama', '0')
INSERTING  ('376311', 'tt5113086', 'Little Dead Rotting Hood', '2016-01-05 00:00:00', '3.8', '40', '', '90', 'Fantasy, Horror, Romance', '0')
INSERTING  ('362703', 'tt4076760', 'Diablo', '2016-01-08 00:00:00', '4.3', '94', '', '83', 'Action, Adventure, Thriller, Western', '0')
INSERTING  ('334538', 'tt2625810', 'Into the Forest', '2016-06-03 00:00:00', '5.8', '358', '', '101', 'Drama, Science Fiction', '9995')
INSERTING  ('370464', 'tt3103166', 'The Masked Saint', '2016-01-08 00:00:00', '3.5', '16', '', '111', 'Crime, Action', '0')
INSERTING  ('300671', 'tt4172430', '13 Hours: The Secret Soldiers of Benghazi', '2016-01-13 00:00:00', '7.1', '1632', '', '144', 'Action, Drama, History, Thriller, War', '69411370')
INSERTING  ('276905', 'tt1594972', 'Norm of the North', '2016-01-14 00:00:00', '4.1', '198', '', '86', 'Adventure, Animation, Comedy, Family', '17062499')
INSERTING  ('323675', 'tt2869728', 'Ride Along 2', '2016-01-14 00:00:00', '6.2', '984', '', '102', 'Action, Comedy', '124827316')
INSERTING  ('401791', 'tt5471154', 'Boonie Bears: The Big Top Secret', '2016-01-16 00:00:00', '4.3', '2', '', '99', 'Animation, Adventure', '42176173')
INSERTING  ('140300', 'tt2267968', 'Kung Fu Panda 3', '2016-01-23 00:00:00', '6.7', '3111', '', '95', 'Action, Adventure, Animation, Comedy, Family', '521170825')
INSERTING  ('299687', 'tt2304933', 'The 5th Wave', '2016-01-14 00:00:00', '5.9', '3839', '', '112', 'Adventure, Science Fiction', '109906372')
INSERTING  ('321258', 'tt3882082', 'The Boy', '2016-01-22 00:00:00', '5.8', '2338', '', '97', 'Horror, Thriller, Mystery', '64188367')
INSERTING  ('291870', 'tt1860213', 'Dirty Grandpa', '2016-01-21 00:00:00', '5.8', '2788', '', '102', 'Comedy', '94073028')
INSERTING  ('334298', 'tt3781476', 'Monster Hunt', '2015-07-16 00:00:00', '5.8', '134', '', '111', 'Comedy, Fantasy', '0')
Duplicate! Did not add to database.
INSERTING  ('339547', 'tt4552524', 'Jeruzalem', '2016-01-22 00:00:00', '4.5', '208', '', '87', 'Horror', '0')
INSERTING  ('353571', 'tt1639084', 'Tallulah', '2016-06-02 00:00:00', '6.8', '457', '', '111', 'Drama', '0')
INSERTING  ('272820', 'tt2722504', 'Mr. Pig', '2016-07-22 00:00:00', '6.4', '19', '', '100', 'Drama', '0')
INSERTING  ('279096', 'tt3864024', 'Lazer Team', '2016-01-27 00:00:00', '5.5', '144', '', '102', 'Action, Comedy, Science Fiction', '0')
INSERTING  ('310131', 'tt4263482', 'The Witch', '2016-02-19 00:00:00', '6.6', '3123', '', '92', 'Mystery, Horror', '40423945')
INSERTING  ('351819', 'tt4667094', 'Fifty Shades of Black', '2016-01-28 00:00:00', '4.5', '719', '', '92', 'Romance, Comedy', '21164799')
INSERTING  ('300673', 'tt2025690', 'The Finest Hours', '2016-01-25 00:00:00', '6.4', '979', '', '114', 'Action, Drama, History, Thriller', '52099090')
INSERTING  ('174751', 'tt2140037', 'Jane Got a Gun', '2015-12-31 00:00:00', '5.5', '459', '', '98', 'Action, Drama, Western', '1397284')
INSERTING  ('330483', 'tt3797868', 'The Choice', '2016-02-04 00:00:00', '7.0', '1105', '', '111', 'Drama, Romance', '18730891')

INSERTING  ('332721', 'tt4104054', "Dad's Army", '2016-02-05 00:00:00', '4.6', '114', '', '100', 'Comedy', '0')
INSERTING  ('270487', 'tt0475290', 'Hail, Caesar!', '2016-02-05 00:00:00', '5.9', '2434', '', '106', 'Comedy, Drama, Mystery', '63647656')
INSERTING  ('373314', 'tt3658772', 'Misconduct', '2016-02-05 00:00:00', '5.5', '320', '', '106', 'Drama, Thriller, Mystery', '0')
INSERTING  ('381902', 'tt4591310', 'The Monkey King 2', '2016-01-22 00:00:00', '6.0', '44', '', '120', 'Action, Adventure, Fantasy', '193677158')
INSERTING  ('58431', 'tt1374989', 'Pride and Prejudice and Zombies', '2016-02-04 00:00:00', '5.8', '1253', '', '108', 'Romance, Horror, Comedy, Thriller', '16374328')
INSERTING  ('293660', 'tt1431045', 'Deadpool', '2016-02-09 00:00:00', '7.6', '20939', '', '108', 'Action, Adventure, Comedy', '783100000')
INSERTING  ('10144', 'tt0097757', 'The Little Mermaid', '1989-11-17 00:00:00', '7.3', '4386', '', '83', 'Animation, Family, Fantasy', '211343479')
INSERTING  ('269149', 'tt2948356', 'Zootopia', '2016-02-11 00:00:00', '7.7', '10422', '', '109', 'Animation, Adventure, Family, Comedy', '1023784195')
INSERTING  ('259694', 'tt1292566', 'How to Be Single', '2016-01-21 00:00:00', '6.1', '2128', '', '110', 'Comedy, Romance', '112343513')
INSERTING  ('245703', 'tt2649554', 'Midnight Special', '2016-02-18 00:00:00', '6.3', '1142', '', '112', 'Adventure, Drama, Science Fiction', '6212282')
INSERTING  ('329833', 'tt1608290', 'Zoolander 2', '2016-02-06 00:00:00', '4.8', '1423', '', '100', 'Comedy', '55969000')
INSERTING  ('335778', 'tt3231054', 'Risen', '2016-02-18 00:00:00', '5.9', '453', '', '107', 'Drama, History', '46069568')
INSERTING  ('146198', 'tt1712261', 'Triple 9', '2016-02-19 00:00:00', '5.8', '1294', '', '115', 'Action, Thriller, Mystery', '12639297')
INSERTING  ('323677', 'tt3499096', 'Race', '2016-02-19 00:00:00', '7.3', '965', '', '134', 'Action, Drama', '24804129')
INSERTING  ('339984', 'tt4257926', 'Miracles from Heaven', '2016-03-17 00:00:00', '7.2', '519', '', '119', 'Drama', '73983359')
INSERTING  ('267193', 'tt3381008', 'Grimsby', '2016-02-24 00:00:00', '5.8', '1320', '', '83', 'Action, Comedy', '25182929')
INSERTING  ('205584', 'tt2404233', 'Gods of Egypt', '2016-02-25 00:00:00', '5.4', '2458', '', '127', 'Action, Adventure, Fantasy', '150680864')
INSERTING  ('263341', 'tt2652118', 'Crouching Tiger, Hidden Dragon: Sword of Destiny', '2016-02-18 00:00:00', '5.9', '311', '', '103', 'Action, Adventure, Drama', '0')
INSERTING  ('319888', 'tt1083452', 'Eddie the Eagle', '2016-02-26 00:00:00', '7.2', '1255', '', '106', 'Comedy, Drama, History, Adventure', '46152411')
INSERTING  ('344041', 'tt3703908', 'Standoff', '2016-01-04 00:00:00', '5.9', '157', '', '80', 'Drama, Thriller', '0')
INSERTING  ('315465', 'tt4272866', 'The Boy and the Beast', '2015-07-11 00:00:00', '8.0', '699', '', '119', 'Animation, Fantasy', '490643')
INSERTING  ('359025', 'tt4991652', 'Camino', '2016-03-04 00:00:00', '5.0', '29', '', '103', 'Thriller, Action, Adventure', '0')
INSERTING  ('298721', 'tt2818654', 'Cemetery of Splendour', '2015-09-02 00:00:00', '5.2', '71', '', '122', 'Drama, Fantasy', '0')
INSERTING  ('86835', 'tt2101383', 'Knight of Cups', '2015-02-08 00:00:00', '5.6', '364', '', '118', 'Romance, Drama', '566006')
INSERTING  ('267860', 'tt3300542', 'London Has Fallen', '2016-03-02 00:00:00', '5.9', '2758', '', '99', 'Action, Thriller', '205754447')
INSERTING  ('364116', 'tt3702652', 'The Other Side of the Door', '2016-02-25 00:00:00', '5.3', '493', '', '96', 'Thriller, Horror', '14332467')
INSERTING  ('347752', 'tt2929652', 'Road Games', '2015-09-10 00:00:00', '5.7', '36', '', '95', 'Horror, Thriller', '0')
INSERTING  ('299687', 'tt2304933', 'The 5th Wave', '2016-01-14 00:00:00', '5.9', '3839', '', '112', 'Adventure, Science Fiction', '109906372')
Duplicate! Did not add to database.
INSERTING  ('279641', 'tt3553442', 'Whiskey Tango Foxtrot', '2016-03-04 00:00:00', '6.2', '613', '', '112', 'War, Comedy', '23083334')
INSERTING  ('333371', 'tt1179933', '10 Cloverfield Lane', '2016-03-10 00:00:00', '6.9', '4811', '', '104', 'Thriller, Science Fiction, Drama', '108286421')
INSERTING  ('295699', 'tt2937696', 'Everybody Wants Some!!', '2016-03-30 00:00:00', '6.3', '708', '', '116', 'Comedy', '3400278')
INSERTING  ('378200', 'tt4871980', 'The Perfect Match', '2016-03-11 00:00:00', '5.4', '97', '', '96', 'Comedy, Romance', '0')
INSERTING  ('318850', 'tt1002563', 'The Young Messiah', '2016-03-10 00:00:00', '6.1', '54', '', '120', 'Drama', '6490401')
INSERTING  ('302688', 'tt3760922', 'My Big Fat Greek Wedding 2', '2016-03-23 00:00:00', '5.8', '627', '', '94', 'Romance, Comedy, Family', '88923251')
INSERTING  ('308453', 'tt3859304', 'The Bronze', '2016-01-22 00:00:00', '5.9', '194', '', '108', 'Drama, Comedy', '615816')
INSERTING  ('262504', 'tt3410834', 'Allegiant', '2016-03-09 00:00:00', '6.0', '4329', '', '121', 'Adventure, Science Fiction, Action, Mystery', '179246868')
INSERTING  ('209112', 'tt2975590', 'Batman v Superman: Dawn of Justice', '2016-03-23 00:00:00', '5.8', '12361', '', '151', 'Action, Adventure, Fantasy', '873260194')
INSERTING  ('383535', 'tt3096858', "They're Watching", '2016-03-25 00:00:00', '5.6', '71', '', '95', 'Thriller, Comedy, Horror', '0')
INSERTING  ('290595', 'tt2381991', "The Huntsman: Winter's War", '2016-04-06 00:00:00', '6.2', '3139', '', '114', 'Action, Adventure, Drama', '164602163')
INSERTING  ('347126', 'tt4824308', "God's Not Dead 2", '2016-04-01 00:00:00', '5.8', '205', '', '121', 'Drama', '23507567')
INSERTING  ('377587', 'tt4191580', 'Meet the Blacks', '2016-04-01 00:00:00', '4.3', '148', '', '90', 'Comedy, Horror', '9097072')
INSERTING  ('278927', 'tt3040964', 'The Jungle Book', '2016-04-07 00:00:00', '6.8', '5474', '', '106', 'Adventure, Drama, Family, Fantasy', '966550600')
INSERTING  ('388862', 'tt4872162', 'Countdown', '2016-04-05 00:00:00', '5.0', '42', '', '90', 'Thriller, Action, Crime, Mystery', '0')
INSERTING  ('323676', 'tt2702724', 'The Boss', '2016-04-07 00:00:00', '5.8', '867', '', '91', 'Comedy', '78636257')
INSERTING  ('303991', 'tt1172049', 'Demolition', '2016-04-06 00:00:00', '6.7', '1166', '', '101', 'Comedy, Drama', '1978592')
INSERTING  ('325348', 'tt3072482', 'Hardcore Henry', '2015-09-12 00:00:00', '6.3', '1350', '', '97', 'Action, Adventure, Science Fiction', '14333790')
INSERTING  ('376570', 'tt5022702', 'Hush', '2016-03-12 00:00:00', '6.8', '2368', '', '82', 'Horror, Thriller', '0')
INSERTING  ('271110', 'tt3498820', 'Captain America: Civil War', '2016-04-27 00:00:00', '7.4', '14706', '', '147', 'Adventure, Action, Science Fiction', '1153304495')
INSERTING  ('353069', 'tt4824302', "Mother's Day", '2016-04-28 00:00:00', '5.9', '833', '', '118', 'Comedy, Drama, Romance', '48418160')
INSERTING  ('326423', 'tt3628584', 'Barbershop: The Next Cut', '2016-04-15 00:00:00', '6.0', '261', '', '112', 'Comedy', '55030051')
INSERTING  ('302156', 'tt3014866', 'Criminal', '2016-04-07 00:00:00', '5.9', '952', '', '113', 'Action, Crime, Science Fiction', '14708696')
INSERTING  ('313922', 'tt4062536', 'Green Room', '2016-04-15 00:00:00', '6.8', '1403', '', '95', 'Horror, Crime, Thriller', '3220371')
INSERTING  ('317930', 'tt3367294', 'Compadres', '2016-03-31 00:00:00', '5.1', '21', '', '101', 'Action, Comedy', '0')
INSERTING  ('301348', 'tt2093991', 'Elvis & Nixon', '2016-03-22 00:00:00', '5.8', '242', '', '87', 'Drama, Comedy, History', '1055287')
INSERTING  ('315664', 'tt4136084', 'Florence Foster Jenkins', '2016-05-06 00:00:00', '6.7', '896', '', '110', 'Comedy, Drama', '48902953')
INSERTING  ('342521', 'tt4139124', 'Keanu', '2016-04-21 00:00:00', '6.0', '665', '', '99', 'Action, Comedy', '20609977')
INSERTING  ('234004', 'tt2865120', 'Ratchet & Clank', '2016-04-13 00:00:00', '5.4', '356', '', '94', 'Action, Adventure, Animation, Family', '8821329')
INSERTING  ('394223', 'tt5344794', 'Sniper: Special Ops', '2016-04-03 00:00:00', '4.4', '41', '', '84', 'Action, War', '0')
INSERTING  ('153518', 'tt1985949', 'The Angry Birds Movie', '2016-05-11 00:00:00', '6.0', '1982', '', '97', 'Animation, Adventure, Comedy', '349779543')
INSERTING  ('246655', 'tt3385516', 'X-Men: Apocalypse', '2016-05-18 00:00:00', '6.5', '8732', '', '144', 'Action, Adventure, Science Fiction, Fantasy', '543934787')

INSERTING  ('241259', 'tt2567026', 'Alice Through the Looking Glass', '2016-05-25 00:00:00', '6.5', '4034', '', '113', 'Adventure, Family, Fantasy', '299457024')
INSERTING  ('339397', 'tt4513674', 'Café Society', '2016-05-11 00:00:00', '6.4', '1593', '', '97', 'Comedy, Drama, Romance', '43763247')
INSERTING  ('257345', 'tt1878841', 'The Darkness', '2016-05-13 00:00:00', '4.7', '366', '', '92', 'Horror, Thriller', '10898293')
INSERTING  ('310119', 'tt3513054', 'Last Days in the Desert', '2016-05-13 00:00:00', '5.1', '69', '', '98', 'Adventure, Drama, History', '0')
INSERTING  ('296360', 'tt3068194', 'Love & Friendship', '2016-05-27 00:00:00', '6.2', '308', '', '94', 'Comedy, Drama, Romance', '14016568')
INSERTING  ('303858', 'tt2241351', 'Money Monster', '2016-05-12 00:00:00', '6.4', '1940', '', '98', 'Thriller, Drama', '93282604')
INSERTING  ('290250', 'tt3799694', 'The Nice Guys', '2016-05-15 00:00:00', '7.1', '4490', '', '116', 'Comedy, Crime, Action', '62788218')
INSERTING  ('312669', 'tt3471098', "Maggie's Plan", '2016-04-27 00:00:00', '5.7', '224', '', '98', 'Drama, Comedy, Romance', '3351735')
INSERTING  ('325133', 'tt4438848', 'Neighbors 2: Sorority Rising', '2016-05-04 00:00:00', '5.7', '2977', '', '91', 'Comedy', '108758521')
INSERTING  ('301365', 'tt1974419', 'The Neon Demon', '2016-06-08 00:00:00', '6.5', '2153', '', '118', 'Thriller, Horror, Mystery', '1333124')
INSERTING  ('308531', 'tt3949660', 'Teenage Mutant Ninja Turtles: Out of the Shadows', '2016-06-01 00:00:00', '5.9', '1960', '', '112', 'Action, Adventure, Comedy, Family, Science Fiction', '245623848')
INSERTING  ('296096', 'tt2674426', 'Me Before You', '2016-06-01 00:00:00', '7.7', '6270', '', '110', 'Drama, Romance', '207945075')
INSERTING  ('341012', 'tt3960412', 'Popstar: Never Stop Never Stopping', '2016-06-03 00:00:00', '6.6', '711', '', '86', 'Comedy, Music', '9496130')
INSERTING  ('291805', 'tt3110958', 'Now You See Me 2', '2016-06-02 00:00:00', '6.8', '7062', '', '129', 'Action, Comedy, Thriller', '334901337')
INSERTING  ('259693', 'tt3065204', 'The Conjuring 2', '2016-05-13 00:00:00', '7.2', '4414', '', '134', 'Horror, Mystery, Thriller', '320170008')
INSERTING  ('127380', 'tt2277860', 'Finding Dory', '2016-06-16 00:00:00', '7.0', '8223', '', '97', 'Adventure, Animation, Comedy, Family', '1028570889')
INSERTING  ('302699', 'tt1489889', 'Central Intelligence', '2016-06-15 00:00:00', '6.3', '3295', '', '107', 'Action, Comedy, Mystery', '216972543')
INSERTING  ('267192', 'tt1703957', 'Genius', '2016-06-10 00:00:00', '6.5', '404', '', '104', 'Drama, History', '5681622')
INSERTING  ('68735', 'tt0803096', 'Warcraft', '2016-05-25 00:00:00', '6.3', '4268', '', '123', 'Action, Adventure, Fantasy', '433677183')
INSERTING  ('333667', 'tt2822672', 'Rock Dog', '2016-07-08 00:00:00', '5.7', '130', '', '90', 'Adventure, Animation, Comedy, Family, Music', '9420546')
INSERTING  ('316152', 'tt1124037', 'Free State of Jones', '2016-06-24 00:00:00', '6.6', '810', '', '139', 'Action, Drama, History, War', '25035950')
INSERTING  ('328111', 'tt2709768', 'The Secret Life of Pets', '2016-06-18 00:00:00', '6.1', '5650', '', '87', 'Adventure, Comedy, Animation, Family', '875457937')
INSERTING  ('47933', 'tt1628841', 'Independence Day: Resurgence', '2016-06-22 00:00:00', '5.1', '4030', '', '120', 'Action, Adventure, Science Fiction', '389681935')
INSERTING  ('332567', 'tt4052882', 'The Shallows', '2016-06-24 00:00:00', '6.3', '3247', '', '86', 'Horror, Drama, Thriller', '119100758')
INSERTING  ('318121', 'tt2452386', 'The Fundamentals of Caring', '2016-06-16 00:00:00', '7.4', '1289', '', '97', 'Comedy, Drama', '0')
INSERTING  ('258489', 'tt0918940', 'The Legend of Tarzan', '2016-06-29 00:00:00', '5.8', '4266', '', '109', 'Action, Adventure', '356743061')
INSERTING  ('267935', 'tt3691740', 'The BFG', '2016-06-01 00:00:00', '6.2', '2006', '', '120', 'Adventure, Family, Fantasy', '183345589')
INSERTING  ('316727', 'tt4094724', 'The Purge: Election Year', '2016-06-29 00:00:00', '6.3', '3058', '', '105', 'Action, Horror, Thriller', '118587880')
INSERTING  ('205588', 'tt1995390', 'Our Kind of Traitor', '2016-05-05 00:00:00', '6.0', '295', '', '108', 'Thriller', '9930095')
INSERTING  ('369032', 'tt4335650', 'Carnage Park', '2016-07-01 00:00:00', '5.3', '57', '', '81', 'Action, Crime, Horror, Thriller', '0')
INSERTING  ('188927', 'tt2660888', 'Star Trek Beyond', '2016-07-07 00:00:00', '6.7', '4424', '', '122', 'Action, Adventure, Science Fiction', '343471816')
INSERTING  ('316023', 'tt2823054', 'Mike and Dave Need Wedding Dates', '2016-06-15 00:00:00', '6.0', '1627', '', '98', 'Comedy', '77068246')
INSERTING  ('254172', 'tt2582502', 'Fathers and Daughters', '2015-10-01 00:00:00', '7.2', '595', '', '116', 'Drama', '0')
INSERTING  ('334533', 'tt3553976', 'Captain Fantastic', '2016-07-02 00:00:00', '8.0', '3676', '', '119', 'Adventure, Comedy, Drama', '5879736')
INSERTING  ('315846', 'tt3756788', 'Our Little Sister', '2015-06-13 00:00:00', '7.6', '178', '', '128', 'Drama, Comedy', '346485')
INSERTING  ('380808', 'tt5446858', 'Zero Days', '2016-07-08 00:00:00', '7.5', '115', '', '116', 'Documentary', '0')
INSERTING  ('43074', 'tt1289401', 'Ghostbusters', '2016-07-14 00:00:00', '5.4', '3957', '', '116', 'Action, Fantasy, Comedy', '229147509')
INSERTING  ('324668', 'tt4196776', 'Jason Bourne', '2016-07-27 00:00:00', '6.2', '3729', '', '123', 'Action, Thriller', '415484914')
INSERTING  ('325789', 'tt1355631', 'The Infiltrator', '2016-07-13 00:00:00', '6.6', '988', '', '127', 'Crime, Drama, Thriller', '15436808')
INSERTING  ('391995', 'tt5646136', "Hillary's America: The Secret History of the Democratic Party", '2016-07-15 00:00:00', '6.0', '43', '', '107', 'History, Documentary', '13000000')
INSERTING  ('278154', 'tt3416828', 'Ice Age: Collision Course', '2016-06-23 00:00:00', '5.9', '2567', '', '100', 'Adventure, Animation, Family, Comedy', '408579038')
INSERTING  ('345911', 'tt4786282', 'Lights Out', '2016-07-21 00:00:00', '6.3', '2350', '', '81', 'Thriller, Mystery, Horror, Drama', '148868835')
INSERTING  ('372411', 'tt2112096', 'Absolutely Fabulous: The Movie', '2016-07-01 00:00:00', '5.5', '145', '', '91', 'Comedy', '37915971')
INSERTING  ('356298', 'tt4972062', "Don't Think Twice", '2016-07-22 00:00:00', '6.4', '243', '', '90', 'Comedy, Drama', '4417667')
INSERTING  ('382322', 'tt4853102', 'Batman: The Killing Joke', '2016-07-21 00:00:00', '6.3', '922', '', '72', 'Action, Animation, Crime, Drama', '3775000')
INSERTING  ('328387', 'tt3531824', 'Nerve', '2016-06-27 00:00:00', '7.1', '4799', '', '96', 'Mystery, Adventure, Crime', '85241496')
INSERTING  ('376659', 'tt4651520', 'Bad Moms', '2016-07-28 00:00:00', '6.5', '2756', '', '100', 'Comedy', '183936074')
INSERTING  ('347033', 'tt3958780', 'Equity', '2016-07-29 00:00:00', '5.8', '68', '', '100', 'Drama', '1605463')
INSERTING  ('373446', 'tt4632316', 'Gleason', '2016-01-23 00:00:00', '8.4', '30', '', '110', 'Documentary', '0')
INSERTING  ('340611', 'tt4193394', 'Indignation', '2016-07-29 00:00:00', '6.4', '163', '', '110', 'Drama', '3924527')
INSERTING  ('334538', 'tt2625810', 'Into the Forest', '2016-06-03 00:00:00', '5.8', '358', '', '101', 'Drama, Science Fiction', '9995')
Duplicate! Did not add to database.
INSERTING  ('297761', 'tt1386697', 'Suicide Squad', '2016-08-03 00:00:00', '5.9', '14125', '', '123', 'Action, Adventure, Crime, Fantasy, Science Fiction', '745600054')
INSERTING  ('395395', 'tt5931144', 'Bobby Sands: 66 Days', '2016-05-03 00:00:00', '7.3', '11', '', '105', 'Documentary', '0')
INSERTING  ('397511', 'tt3731176', 'Misfortune', '2016-01-01 00:00:00', '9.8', '4', '', '90', 'Drama, Crime, Thriller', '0')
INSERTING  ('322240', 'tt4383594', 'Nine Lives', '2016-08-03 00:00:00', '5.6', '570', '', '87', 'Fantasy, Comedy, Family', '57814445')
INSERTING  ('294272', 'tt2788732', "Pete's Dragon", '2016-08-10 00:00:00', '6.3', '1374', '', '103', 'Adventure, Family, Fantasy', '143695338')
INSERTING  ('223702', 'tt1700841', 'Sausage Party', '2016-07-11 00:00:00', '5.6', '4408', '', '89', 'Adventure, Animation, Comedy, Fantasy', '140705322')
INSERTING  ('338766', 'tt2582782', 'Hell or High Water', '2016-08-12 00:00:00', '7.3', '2566', '', '102', 'Crime, Drama, Western', '37589296')

INSERTING  ('351339', 'tt4190530', 'Anthropoid', '2016-08-12 00:00:00', '7.0', '537', '', '120', 'History, Thriller, War', '4600000')
INSERTING  ('373473', 'tt4919484', 'Little Men', '2016-08-05 00:00:00', '6.5', '83', '', '85', 'Drama', '0')
INSERTING  ('329815', 'tt4085084', 'Disorder', '2015-09-30 00:00:00', '5.6', '122', '', '100', 'Drama, Thriller', '39687')
INSERTING  ('389109', 'tt2101347', 'When Elephants Were Young', '2016-08-12 00:00:00', '8.5', '2', '', '90', 'Adventure, Documentary', '0')
INSERTING  ('271969', 'tt2638144', 'Ben-Hur', '2016-08-17 00:00:00', '5.6', '1114', '', '125', 'Action, Adventure, Drama', '94061311')
INSERTING  ('313297', 'tt4302938', 'Kubo and the Two Strings', '2016-08-18 00:00:00', '7.7', '2145', '', '102', 'Animation, Adventure, Family', '69929545')
INSERTING  ('374617', 'tt4781612', 'Imperium', '2016-08-19 00:00:00', '6.4', '716', '', '109', 'Crime, Drama, Thriller, Mystery', '35000')
INSERTING  ('360030', 'tt5275828', 'Lo and Behold: Reveries of the Connected World', '2016-03-04 00:00:00', '6.7', '145', '', '99', 'Documentary', '0')
INSERTING  ('352890', 'tt3652862', 'Morris from America', '2016-08-19 00:00:00', '6.0', '58', '', '89', 'Drama, Romance', '0')
INSERTING  ('355065', 'tt4193400', 'The People vs. Fritz Bauer', '2015-09-13 00:00:00', '6.9', '79', '', '105', 'History, Drama', '148461')
INSERTING  ('308266', 'tt2005151', 'War Dogs', '2016-08-17 00:00:00', '6.8', '2502', '', '114', 'Comedy, Crime, Drama', '86234523')
INSERTING  ('300669', 'tt4160708', "Don't Breathe", '2016-06-08 00:00:00', '6.9', '3889', '', '89', 'Crime, Horror, Thriller', '159047649')
INSERTING  ('278924', 'tt3522806', 'Mechanic: Resurrection', '2016-08-25 00:00:00', '5.7', '2005', '', '99', 'Action, Crime, Thriller', '125729635')
INSERTING  ('184341', 'tt1781827', 'Hands of Stone', '2016-08-26 00:00:00', '6.2', '176', '', '105', 'Drama', '0')
INSERTING  ('315872', 'tt3013610', 'My Mother', '2015-04-16 00:00:00', '6.6', '201', '', '106', 'Drama', '0')
Duplicate! Did not add to database.
INSERTING  ('313369', 'tt3783958', 'La La Land', '2016-11-29 00:00:00', '7.9', '10484', '', '129', 'Comedy, Drama, Romance, Music', '445435700')
INSERTING  ('283552', 'tt2547584', 'The Light Between Oceans', '2016-09-02 00:00:00', '7.1', '877', '', '133', 'Drama, Romance', '25956113')
INSERTING  ('377264', 'tt4520364', 'Morgan', '2016-09-01 00:00:00', '5.7', '884', '', '92', 'Horror, Science Fiction, Thriller', '8810591')
INSERTING  ('294795', 'tt3991412', 'The 9th Life of Louis Drax', '2016-09-01 00:00:00', '6.4', '265', '', '108', 'Fantasy, Mystery, Thriller, Drama', '0')
INSERTING  ('270774', 'tt2238032', 'Skiptrace', '2016-07-21 00:00:00', '5.6', '342', '', '107', 'Action, Comedy, Thriller, Mystery', '58500000')
INSERTING  ('290825', 'tt3838992', 'Yoga Hosers', '2016-07-08 00:00:00', '4.5', '229', '', '88', 'Comedy, Fantasy, Horror', '0')
INSERTING  ('395925', 'tt4146622', 'Rampage: President Down', '2016-08-26 00:00:00', '5.2', '65', '', '99', 'Thriller, Action, Crime', '0')
INSERTING  ('363676', 'tt3263904', 'Sully', '2016-09-07 00:00:00', '7.1', '4110', '', '96', 'Drama, History', '238470033')
INSERTING  ('335791', 'tt1389139', 'When the Bough Breaks', '2016-09-09 00:00:00', '5.5', '175', '', '97', 'Mystery, Drama, Horror', '30658387')
INSERTING  ('293452', 'tt2364897', 'The Disappointments Room', '2016-09-09 00:00:00', '4.4', '284', '', '92', 'Drama, Horror, Thriller', '0')
INSERTING  ('353575', 'tt4778988', 'LBJ', '2017-11-03 00:00:00', '6.6', '69', '', '98', 'Drama', '0')
INSERTING  ('334543', 'tt3741834', 'Lion', '2016-11-24 00:00:00', '8.2', '4054', '', '118', 'Drama', '140312928')
INSERTING  ('335797', 'tt3470600', 'Sing', '2016-11-23 00:00:00', '7.0', '4506', '', '108', 'Animation, Comedy, Drama, Family', '632443719')
INSERTING  ('296524', 'tt1860357', 'Deepwater Horizon', '2016-09-29 00:00:00', '6.7', '2716', '', '107', 'Drama, Action', '121790373')
INSERTING  ('351211', 'tt1540011', 'Blair Witch', '2016-09-15 00:00:00', '5.0', '1153', '', '90', 'Thriller, Horror', '45172994')
INSERTING  ('95610', 'tt1473832', "Bridget Jones's Baby", '2016-09-14 00:00:00', '6.4', '1930', '', '123', 'Comedy, Romance', '211952420')
INSERTING  ('302401', 'tt3774114', 'Snowden', '2016-09-15 00:00:00', '7.1', '2538', '', '134', 'Drama, History, Crime, Thriller', '37279439')
INSERTING  ('413452', 'tt3230660', 'Cardboard Boxer', '2016-09-16 00:00:00', '6.6', '26', '', '88', 'Drama', '0')
INSERTING  ('318226', 'tt3850544', 'Hillsong: Let Hope Rise', '2016-09-16 00:00:00', '6.4', '42', '', '103', 'Documentary', '2600000')
INSERTING  ('333484', 'tt2404435', 'The Magnificent Seven', '2016-09-14 00:00:00', '6.2', '3775', '', '132', 'Adventure, Action, Western', '162360636')
INSERTING  ('317557', 'tt4341582', 'Queen of Katwe', '2016-09-23 00:00:00', '7.1', '234', '', '124', 'Drama', '10367161')
INSERTING  ('332210', 'tt4624424', 'Storks', '2016-09-22 00:00:00', '6.6', '1373', '', '87', 'Adventure, Animation, Comedy, Family', '182379278')
INSERTING  ('340677', 'tt2679552', 'I.T.', '2016-09-09 00:00:00', '5.3', '369', '', '96', 'Crime, Drama, Thriller', '0')
INSERTING  ('283366', 'tt1935859', "Miss Peregrine's Home for Peculiar Children", '2016-09-28 00:00:00', '6.7', '6486', '', '127', 'Drama, Fantasy, Adventure, Family', '296485719')
INSERTING  ('213681', 'tt2461150', 'Masterminds', '2016-09-29 00:00:00', '5.7', '1123', '', '94', 'Action, Comedy, Crime', '29200000')
INSERTING  ('346685', 'tt3631112', 'The Girl on the Train', '2016-10-05 00:00:00', '6.3', '3671', '', '112', 'Crime, Drama, Mystery, Romance, Thriller', '173185859')
INSERTING  ('339408', 'tt4196450', 'The Birth of a Nation', '2016-09-09 00:00:00', '6.6', '337', '', '120', 'Drama', '15861566')
INSERTING  ('369883', 'tt4981636', 'Middle School: The Worst Years of My Life', '2016-10-07 00:00:00', '7.0', '210', '', '92', 'Family, Comedy', '23316139')
INSERTING  ('86822', 'tt1945228', "Voyage of Time: Life's Journey", '2017-03-10 00:00:00', '6.5', '82', '', '90', 'Documentary, Drama', '0')
INSERTING  ('136799', 'tt1679335', 'Trolls', '2016-10-13 00:00:00', '6.6', '1964', '', '92', 'Adventure, Family, Comedy, Fantasy, Music, Animation', '346864462')
INSERTING  ('315011', 'tt4262980', 'Shin Godzilla', '2016-07-29 00:00:00', '6.6', '367', '', '120', 'Action, Science Fiction', '77947607')
INSERTING  ('284052', 'tt1211837', 'Doctor Strange', '2016-10-25 00:00:00', '7.4', '13257', '', '115', 'Action, Adventure, Fantasy, Science Fiction', '1')
INSERTING  ('302946', 'tt2140479', 'The Accountant', '2016-10-13 00:00:00', '6.9', '3515', '', '128', 'Crime, Thriller, Drama', '155160045')
INSERTING  ('258363', 'tt3147312', 'Desierto', '2015-04-12 00:00:00', '6.0', '192', '', '99', 'Thriller, Drama', '0')
INSERTING  ('339927', 'tt4669186', 'Kevin Hart: What Now?', '2016-10-14 00:00:00', '6.6', '167', '', '96', 'Comedy', '23600000')
INSERTING  ('381069', 'tt5434870', 'Little Sister', '2016-10-06 00:00:00', '6.4', '62', '', '91', 'Comedy', '0')
INSERTING  ('286567', 'tt1472584', 'Max Steel', '2016-10-14 00:00:00', '5.2', '397', '', '92', 'Action, Adventure, Science Fiction', '6272403')
INSERTING  ('414779', 'tt5664502', 'The River Thief', '2016-10-14 00:00:00', '6.8', '6', '', '97', 'Crime, Action, Adventure', '0')
INSERTING  ('335796', 'tt4361050', 'Ouija: Origin of Evil', '2016-10-20 00:00:00', '6.0', '1494', '', '99', 'Horror, Thriller', '81705746')
INSERTING  ('343611', 'tt3393786', 'Jack Reacher: Never Go Back', '2016-10-19 00:00:00', '5.6', '2923', '', '118', 'Action, Thriller', '162146076')
INSERTING  ('380124', 'tt5325452', 'Boo! A Madea Halloween', '2016-10-21 00:00:00', '5.4', '296', '', '103', 'Comedy, Horror, Drama', '74827344')
INSERTING  ('331313', 'tt2387499', 'Keeping Up with the Joneses', '2016-10-20 00:00:00', '6.0', '1187', '', '105', 'Action, Comedy', '29918745')
INSERTING  ('376867', 'tt4975722', 'Moonlight', '2016-10-21 00:00:00', '7.4', '4154', '', '111', 'Drama', '65046687')
INSERTING  ('326285', 'tt0376479', 'American Pastoral', '2016-10-20 00:00:00', '6.1', '358', '', '108', 'Crime, Drama', '0')
INSERTING  ('409502', 'tt4950110', "I'm Not Ashamed", '2016-10-21 00:00:00', '7.0', '100', '', '112', 'Drama', '2000000')

INSERTING  ('207932', 'tt3062096', 'Inferno', '2016-10-13 00:00:00', '5.9', '4026', '', '121', 'Mystery, Thriller, Drama', '220021259')
INSERTING  ('324786', 'tt2119532', 'Hacksaw Ridge', '2016-10-07 00:00:00', '8.1', '6946', '', '139', 'Drama, History, War', '175302354')
INSERTING  ('339419', 'tt4669986', 'Loving', '2016-11-04 00:00:00', '6.7', '555', '', '123', 'Romance, Drama', '8996802')
INSERTING  ('259316', 'tt3183660', 'Fantastic Beasts and Where to Find Them', '2016-11-16 00:00:00', '7.4', '12683', '', '133', 'Adventure, Family, Fantasy', '809342332')
INSERTING  ('340402', 'tt4649416', 'Almost Christmas', '2016-11-11 00:00:00', '5.6', '246', '', '111', 'Comedy, Drama', '42487325')
INSERTING  ('329865', 'tt2543164', 'Arrival', '2016-11-10 00:00:00', '7.5', '10806', '', '116', 'Drama, Science Fiction, Mystery', '203388186')
INSERTING  ('293767', 'tt2513074', "Billy Lynn's Long Halftime Walk", '2016-11-10 00:00:00', '5.9', '322', '', '113', 'Drama, War', '30930984')
INSERTING  ('329981', 'tt2582500', 'Shut In', '2016-11-11 00:00:00', '5.2', '408', '', '91', 'Drama, Thriller', '13082071')
INSERTING  ('340103', 'tt3976144', 'The Monster', '2016-11-11 00:00:00', '5.3', '253', '', '91', 'Drama, Horror', '0')
INSERTING  ('340945', 'tt2032572', 'USS Indianapolis: Men of Courage', '2016-09-22 00:00:00', '5.9', '345', '', '128', 'Action, War', '0')
INSERTING  ('277834', 'tt3521164', 'Moana', '2016-11-23 00:00:00', '7.5', '7223', '', '107', 'Adventure, Comedy, Family, Animation', '695331111')
INSERTING  ('340666', 'tt4550098', 'Nocturnal Animals', '2016-11-04 00:00:00', '7.4', '4425', '', '116', 'Drama, Thriller', '29252978')
INSERTING  ('376660', 'tt1878870', 'The Edge of Seventeen', '2016-11-18 00:00:00', '7.2', '2351', '', '105', 'Comedy, Drama', '18803648')
INSERTING  ('334541', 'tt4034228', 'Manchester by the Sea', '2016-11-18 00:00:00', '7.5', '3318', '', '138', 'Drama', '75026965')
INSERTING  ('332979', 'tt1620935', 'Bleed for This', '2016-11-04 00:00:00', '6.9', '434', '', '116', 'Drama', '6174491')
INSERTING  ('404378', 'tt3606888', 'A Street Cat Named Bob', '2016-11-04 00:00:00', '7.5', '526', '', '103', 'Drama, Family, Comedy', '82703')
INSERTING  ('369885', 'tt3640424', 'Allied', '2016-11-17 00:00:00', '6.7', '2890', '', '124', 'Action, Drama, War, Romance, Thriller', '119520023')
INSERTING  ('338964', 'tt1798603', 'Bad Santa 2', '2016-11-23 00:00:00', '5.2', '435', '', '92', 'Comedy, Crime, Drama, Mystery', '23229371')
INSERTING  ('291328', 'tt1974420', "Rules Don't Apply", '2016-11-23 00:00:00', '5.9', '271', '', '127', 'Romance, Comedy, Drama', '3885342')
INSERTING  ('376290', 'tt4540710', 'Miss Sloane', '2016-11-25 00:00:00', '7.5', '959', '', '132', 'Drama, Thriller', '9101546')
INSERTING  ('398792', 'tt4363250', 'Lost in the Pacific', '2016-01-29 00:00:00', '4.6', '16', '', '86', 'Adventure, Science Fiction, Thriller', '0')
INSERTING  ('369524', 'tt1967614', 'The Comedian', '2016-12-09 00:00:00', '5.6', '76', '', '120', 'Comedy', '0')
INSERTING  ('376866', 'tt1619029', 'Jackie', '2016-12-02 00:00:00', '6.4', '1489', '', '100', 'Drama', '13960394')
INSERTING  ('241258', 'tt3216348', 'Incarnate', '2016-12-01 00:00:00', '5.3', '332', '', '91', 'Horror, Thriller', '6341855')
INSERTING  ('371560', 'tt5225338', 'The Eyes of My Mother', '2016-12-02 00:00:00', '6.3', '162', '', '76', 'Drama, Horror', '0')
INSERTING  ('309425', 'tt4056738', 'Do You Believe?', '2015-03-20 00:00:00', '6.9', '74', '', '115', 'Fantasy, Drama', '0')
Duplicate! Did not add to database.
INSERTING  ('296523', 'tt2461520', 'Man Down', '2016-12-02 00:00:00', '6.2', '142', '', '92', 'Thriller', '454516')
INSERTING  ('346558', 'tt3417854', 'Pocket Listing', '2016-03-23 00:00:00', '7.8', '12', '', '92', 'Action, Comedy, Crime', '0')
INSERTING  ('374465', 'tt4120176', 'Things to Come', '2016-04-06 00:00:00', '6.6', '140', '', '102', 'Drama', '282382')
INSERTING  ('389627', 'tt5574372', 'Nerdland', '2016-12-06 00:00:00', '5.3', '20', '', '83', 'Animation', '0')
INSERTING  ('384682', 'tt1711525', 'Office Christmas Party', '2016-11-25 00:00:00', '5.6', '1242', '', '105', 'Comedy', '114501299')
INSERTING  ('316021', 'tt1290138', 'Frank & Lola', '2016-12-09 00:00:00', '5.5', '87', '', '88', 'Drama, Mystery, Romance', '9188')
INSERTING  ('380121', 'tt3253232', 'The Bounce Back', '2016-02-26 00:00:00', '6.1', '31', '', '104', 'Romance', '0')
INSERTING  ('330459', 'tt3748528', 'Rogue One: A Star Wars Story', '2016-12-14 00:00:00', '7.5', '9679', '', '133', 'Action, Adventure, Science Fiction', '1056057273')
INSERTING  ('381284', 'tt4846340', 'Hidden Figures', '2016-12-10 00:00:00', '8.0', '5001', '', '127', 'Drama, History', '230698791')
INSERTING  ('388399', 'tt4572514', 'Patriots Day', '2016-12-12 00:00:00', '6.9', '1412', '', '133', 'Action, Drama, Crime, History', '50548152')
INSERTING  ('274870', 'tt1355644', 'Passengers', '2016-12-21 00:00:00', '6.9', '8266', '', '116', 'Drama, Romance, Science Fiction', '303144152')
INSERTING  ('393457', 'tt2671706', 'Fences', '2016-12-16 00:00:00', '6.8', '1541', '', '139', 'Drama', '64414761')
INSERTING  ('121856', 'tt2094766', "Assassin's Creed", '2016-12-21 00:00:00', '5.4', '5187', '', '115', 'Action, Adventure, Science Fiction', '240697856')
INSERTING  ('345920', 'tt4682786', 'Collateral Beauty', '2016-12-06 00:00:00', '7.2', '3430', '', '97', 'Drama, Romance', '87416021')
INSERTING  ('310307', 'tt4276820', 'The Founder', '2016-09-13 00:00:00', '7.0', '2225', '', '115', 'Drama, History', '23964782')
INSERTING  ('360814', 'tt5074352', 'Dangal', '2016-12-21 00:00:00', '8.1', '382', '', '161', 'Drama, Action', '310000000')
INSERTING  ('258230', 'tt3416532', 'A Monster Calls', '2016-10-07 00:00:00', '7.1', '1995', '', '108', 'Drama, Fantasy', '47309313')
INSERTING  ('68730', 'tt0490215', 'Silence', '2016-12-22 00:00:00', '7.1', '1641', '', '161', 'Drama, History', '23737523')
INSERTING  ('356305', 'tt4501244', 'Why Him?', '2016-12-22 00:00:00', '6.2', '2611', '', '111', 'Comedy', '118034273')
INSERTING  ('259695', 'tt2361317', 'Live by Night', '2016-12-25 00:00:00', '6.2', '776', '', '129', 'Crime, Drama, Thriller', '22678555')
INSERTING  ('334524', 'tt1800302', 'Gold', '2016-12-22 00:00:00', '6.6', '894', '', '121', 'Adventure, Drama, Thriller', '7227038')
INSERTING  ('342737', 'tt4385888', '20th Century Women', '2016-12-28 00:00:00', '7.4', '548', '', '119', 'Drama', '5664764')
INSERTING  ('370755', 'tt5247022', 'Paterson', '2016-11-17 00:00:00', '7.0', '786', '', '118', 'Comedy, Drama, Romance', '2152738')
INSERTING  ('346672', 'tt3717252', 'Underworld: Blood Wars', '2016-11-24 00:00:00', '5.5', '2387', '', '91', 'Action, Fantasy, Horror, Drama', '81093313')
INSERTING  ('388202', 'tt5580536', 'Arsenal', '2017-01-06 00:00:00', '4.6', '68', '', '92', 'Action, Crime, Thriller', '0')
INSERTING  ('290512', 'tt2226597', 'The Mountain Between Us', '2017-10-05 00:00:00', '6.5', '1298', '', '109', 'Romance, Adventure, Drama', '62832209')
INSERTING  ('377447', 'tt4687848', 'Railroad Tigers', '2016-12-23 00:00:00', '6.1', '57', '', '124', 'Action, Comedy, War', '102205175')
INSERTING  ('292280', 'tt4030600', 'The Bye Bye Man', '2017-01-12 00:00:00', '5.1', '732', '', '96', 'Horror, Thriller', '26667197')
INSERTING  ('262841', 'tt3095734', 'Monster Trucks', '2016-12-26 00:00:00', '5.9', '442', '', '105', 'Action, Comedy, Science Fiction', '64493915')
INSERTING  ('324542', 'tt2072233', 'Sleepless', '2017-01-12 00:00:00', '5.8', '739', '', '95', 'Action, Crime, Thriller', '32540674')
INSERTING  ('334532', 'tt2990126', '100 Streets', '2016-11-11 00:00:00', '6.2', '94', '', '93', 'Drama', '0')
INSERTING  ('334522', 'tt3026488', 'Alone in Berlin', '2016-02-15 00:00:00', '6.6', '203', '', '103', 'Thriller, War, Drama', '33125')
INSERTING  ('352885', 'tt1330018', 'The Book of Love', '2017-01-13 00:00:00', '6.5', '109', '', '107', 'Drama', '0')
INSERTING  ('381288', 'tt4972582', 'Split', '2017-01-19 00:00:00', '7.2', '10853', '', '117', 'Horror, Thriller', '278454358')
INSERTING  ('47971', 'tt1293847', 'xXx: Return of Xander Cage', '2017-01-13 00:00:00', '5.6', '2555', '', '107', 'Action, Adventure, Crime', '346147658')
INSERTING  ('416477', 'tt5462602', 'The Big Sick', '2017-03-30 00:00:00', '7.5', '1365', '', '120', 'Comedy, Drama, Romance', '56303596')

INSERTING  ('356500', 'tt4372390', 'Detour', '2017-01-20 00:00:00', '6.4', '81', '', '97', 'Thriller', '0')
INSERTING  ('337703', 'tt3666024', 'The Red Turtle', '2016-06-29 00:00:00', '7.6', '580', '', '80', 'Animation, Drama, Fantasy, Family', '921974')
INSERTING  ('422114', 'tt4902904', 'The Resurrection of Gavin Stone', '2017-01-20 00:00:00', '6.7', '10', '', '91', 'Comedy, Drama', '0')
INSERTING  ('256569', 'tt3305308', 'Trespass Against Us', '2016-10-14 00:00:00', '5.8', '191', '', '99', 'Drama, Crime', '5711')
INSERTING  ('371743', 'tt4532818', 'Sophie and the Rising Sun', '2016-01-27 00:00:00', '6.6', '10', '', '116', 'Drama', '0')
INSERTING  ('381289', 'tt1753383', "A Dog's Purpose", '2017-01-19 00:00:00', '7.3', '1608', '', '100', 'Comedy, Drama, Family, Fantasy, Adventure', '194647323')
INSERTING  ('173897', 'tt2592614', 'Resident Evil: The Final Chapter', '2016-12-23 00:00:00', '5.9', '1948', '', '107', 'Action, Horror, Science Fiction', '312242626')
INSERTING  ('291869', 'tt3713030', 'I Am Michael', '2015-01-29 00:00:00', '5.9', '134', '', '98', 'Drama', '0')
INSERTING  ('414190', 'tt3171832', 'iBoy', '2017-01-27 00:00:00', '6.0', '727', '', '90', 'Action, Crime, Science Fiction', '0')
INSERTING  ('431244', 'tt3809276', 'Lost in Florence', '2017-01-27 00:00:00', '5.0', '30', '', '97', 'Adventure, Drama, Romance', '0')
INSERTING  ('596992', 'tt7329466', 'Hot Wheels: Redlines to Treasure Hunts', '2017-06-29 00:00:00', '0.0', '0', '', '83', 'Documentary', '0')
INSERTING  ('14564', 'tt0498381', 'Rings', '2017-02-01 00:00:00', '4.9', '1854', '', '102', 'Horror', '83080890')
INSERTING  ('365942', 'tt3922818', 'The Space Between Us', '2017-01-26 00:00:00', '7.1', '1534', '', '121', 'Romance, Adventure, Science Fiction, Drama', '14793385')
INSERTING  ('411019', 'tt5804038', 'I Am Not Your Negro', '2017-02-03 00:00:00', '8.1', '207', '', '93', 'Documentary', '7123919')
INSERTING  ('420245', 'tt3622110', "Don't Knock Twice", '2017-02-03 00:00:00', '5.0', '367', '', '93', 'Horror', '0')
INSERTING  ('426469', 'tt1105355', 'Growing Up Smith', '2017-02-03 00:00:00', '7.2', '17', '', '102', 'Comedy, Family, Drama', '0')
INSERTING  ('333663', 'tt3708886', 'War on Everyone', '2016-10-07 00:00:00', '5.8', '218', '', '98', 'Action, Comedy, Mystery', '0')
INSERTING  ('338387', 'tt3687316', 'Youth in Oregon', '2017-02-03 00:00:00', '6.3', '20', '', '105', 'Comedy, Drama', '0')
INSERTING  ('341174', 'tt4465564', 'Fifty Shades Darker', '2017-02-08 00:00:00', '6.1', '4654', '', '118', 'Drama, Romance', '378827494')
INSERTING  ('324849', 'tt4116284', 'The Lego Batman Movie', '2017-02-08 00:00:00', '7.2', '3015', '', '104', 'Action, Animation, Comedy, Family, Fantasy', '311950384')
INSERTING  ('324552', 'tt4425200', 'John Wick: Chapter 2', '2017-02-08 00:00:00', '7.0', '6445', '', '122', 'Thriller, Action, Crime', '171539887')
INSERTING  ('392011', 'tt4420704', 'Kedi', '2017-02-10 00:00:00', '7.6', '118', '', '79', 'Documentary', '3787711')
INSERTING  ('347026', 'tt3387266', 'A United Kingdom', '2016-11-25 00:00:00', '6.7', '297', '', '111', 'Drama, History', '13819139')
INSERTING  ('311324', 'tt2034800', 'The Great Wall', '2016-12-16 00:00:00', '5.8', '2907', '', '103', 'Action, Adventure, Fantasy', '331957105')
INSERTING  ('345922', 'tt3401882', 'Fist Fight', '2017-02-16 00:00:00', '6.0', '741', '', '91', 'Comedy', '41087017')
INSERTING  ('340837', 'tt4731136', 'A Cure for Wellness', '2017-02-15 00:00:00', '6.2', '2173', '', '146', 'Horror, Mystery, Science Fiction, Thriller', '26559557')
INSERTING  ('381064', 'tt4671002', 'American Fable', '2017-02-17 00:00:00', '6.3', '53', '', '96', 'Drama, Thriller', '0')
INSERTING  ('431093', 'tt5537228', 'Everybody Loves Somebody', '2017-02-10 00:00:00', '6.5', '83', '', '102', 'Romance, Comedy', '0')
INSERTING  ('335578', 'tt3841424', 'Land of Mine', '2015-12-03 00:00:00', '7.8', '709', '', '100', 'Drama, History, War', '0')
INSERTING  ('371447', 'tt4305148', 'Lovesong', '2017-02-17 00:00:00', '5.9', '99', '', '85', 'Drama, Romance', '6700')
INSERTING  ('297160', 'tt3322892', 'XX', '2017-02-17 00:00:00', '4.9', '236', '', '80', 'Horror', '30911')
INSERTING  ('419430', 'tt5052448', 'Get Out', '2017-02-24 00:00:00', '7.5', '9273', '', '104', 'Mystery, Thriller, Horror', '255407663')
INSERTING  ('375366', 'tt4547056', 'The Girl with All the Gifts', '2016-09-23 00:00:00', '6.4', '1031', '', '110', 'Drama, Horror, Thriller, Science Fiction', '0')
INSERTING  ('403390', 'tt3182620', 'Bitter Harvest', '2017-01-31 00:00:00', '6.1', '44', '', '103', 'War, Drama, History, Romance', '557241')
INSERTING  ('195590', 'tt2126235', 'Collide', '2016-08-04 00:00:00', '5.6', '354', '', '98', 'Thriller, Action', '4811525')
INSERTING  ('425591', 'tt5710514', "I Don't Feel at Home in This World Anymore", '2017-01-19 00:00:00', '6.6', '621', '', '96', 'Comedy, Crime, Drama, Thriller', '0')
INSERTING  ('263115', 'tt3315342', 'Logan', '2017-02-28 00:00:00', '7.8', '12835', '', '137', 'Action, Drama, Science Fiction', '616801808')
INSERTING  ('397837', 'tt1691916', 'Before I Fall', '2017-03-02 00:00:00', '7.0', '2280', '', '98', 'Drama, Mystery, Thriller, Fantasy', '12141122')
INSERTING  ('345938', 'tt2872518', 'The Shack', '2017-03-03 00:00:00', '7.1', '846', '', '132', 'Drama, Fantasy', '92924405')
INSERTING  ('353569', 'tt1412528', 'Table 19', '2017-03-03 00:00:00', '6.0', '636', '', '87', 'Comedy, Drama', '5042014')
INSERTING  ('408272', 'tt5294198', 'Catfight', '2017-03-03 00:00:00', '5.5', '86', '', '96', 'Comedy, Drama', '0')
INSERTING  ('381009', 'tt4442604', 'Donald Cried', '2017-03-03 00:00:00', '6.1', '13', '', '85', 'Drama, Comedy', '0')
INSERTING  ('396810', 'tt5023260', 'The Last Word', '2017-03-03 00:00:00', '6.6', '197', '', '108', 'Comedy, Drama', '1783421')
INSERTING  ('413594', 'tt5544384', 'Sword Art Online: The Movie - Ordinal Scale', '2017-02-18 00:00:00', '7.6', '250', '', '119', 'Action, Adventure, Fantasy, Romance, Animation, Science Fiction', '20725409')
INSERTING  ('293167', 'tt3731562', 'Kong: Skull Island', '2017-03-08 00:00:00', '6.4', '6311', '', '118', 'Action, Adventure, Fantasy', '566652812')
INSERTING  ('426265', 'tt5826432', 'Burning Sands', '2017-01-24 00:00:00', '6.2', '73', '', '105', 'Drama', '0')
INSERTING  ('340676', 'tt4714782', 'Personal Shopper', '2016-10-19 00:00:00', '5.9', '625', '', '106', 'Drama, Mystery, Thriller', '1305195')
INSERTING  ('393519', 'tt4954522', 'Raw', '2016-11-11 00:00:00', '7.0', '1524', '', '99', 'Drama, Horror, Mystery', '4100000')
INSERTING  ('354285', 'tt4827986', 'The Sense of an Ending', '2017-03-10 00:00:00', '6.1', '88', '', '108', 'Mystery, Drama', '4842617')
INSERTING  ('339403', 'tt3890160', 'Baby Driver', '2017-06-28 00:00:00', '7.4', '8664', '', '113', 'Action, Crime', '226945087')
INSERTING  ('321612', 'tt2771200', 'Beauty and the Beast', '2017-03-16 00:00:00', '6.9', '11403', '', '129', 'Family, Fantasy, Romance', '1263521126')
INSERTING  ('180863', 'tt2763304', 'T2 Trainspotting', '2017-01-27 00:00:00', '7.0', '1834', '', '117', 'Crime, Drama', '42067430')
INSERTING  ('330947', 'tt2062700', 'Song to Song', '2017-03-17 00:00:00', '5.4', '494', '', '129', 'Drama, Music, Romance', '1710528')
INSERTING  ('341006', 'tt1082807', 'The Belko Experiment', '2016-03-17 00:00:00', '6.1', '805', '', '89', 'Action, Thriller, Horror', '10166820')
INSERTING  ('352501', 'tt4662420', 'All Nighter', '2017-03-10 00:00:00', '5.7', '108', '', '86', 'Comedy', '0')
INSERTING  ('188924', 'tt2449638', 'Atomica', '2017-03-17 00:00:00', '4.8', '49', '', '81', 'Science Fiction, Thriller', '0')
INSERTING  ('305470', 'tt3717490', 'Power Rangers', '2017-03-23 00:00:00', '6.2', '2803', '', '124', 'Action, Adventure, Science Fiction', '142337240')
INSERTING  ('395992', 'tt5442430', 'Life', '2017-03-22 00:00:00', '6.4', '4376', '', '103', 'Horror, Science Fiction, Thriller', '100541806')
INSERTING  ('417644', 'tt0493405', 'CHiPS', '2017-01-16 00:00:00', '6.0', '693', '', '100', 'Action, Comedy, Crime', '26800152')
INSERTING  ('346681', 'tt1781058', 'Wilson', '2017-03-24 00:00:00', '5.8', '203', '', '94', 'Comedy', '653951')
INSERTING  ('295693', 'tt3874544', 'The Boss Baby', '2017-03-23 00:00:00', '6.4', '4487', '', '97', 'Animation, Comedy, Family', '498814908')

INSERTING  ('315837', 'tt1219827', 'Ghost in the Shell', '2017-03-29 00:00:00', '6.0', '5359', '', '107', 'Action, Science Fiction, Thriller, Drama', '169801921')
INSERTING  ('289222', 'tt1730768', "The Zookeeper's Wife", '2017-03-31 00:00:00', '7.4', '774', '', '126', 'Drama, History', '23299081')
INSERTING  ('334536', 'tt3286052', "The Blackcoat's Daughter", '2017-03-31 00:00:00', '5.7', '275', '', '93', 'Horror, Thriller', '19980')
INSERTING  ('376134', 'tt5155780', 'The Discovery', '2017-03-31 00:00:00', '6.2', '684', '', '102', 'Drama, Romance, Science Fiction, Thriller, Mystery', '0')
INSERTING  ('137116', 'tt2398241', 'Smurfs: The Lost Village', '2017-03-23 00:00:00', '6.1', '785', '', '89', 'Adventure, Animation, Comedy, Family', '197183546')
INSERTING  ('353070', 'tt2568862', 'Going in Style', '2017-04-06 00:00:00', '6.6', '1416', '', '96', 'Crime, Comedy', '84618541')
INSERTING  ('400928', 'tt4481414', 'Gifted', '2017-04-12 00:00:00', '7.9', '2194', '', '101', 'Drama, Family, Comedy', '40343446')
INSERTING  ('339967', 'tt4680182', 'Colossal', '2016-06-30 00:00:00', '6.1', '1072', '', '109', 'Drama, Fantasy, Science Fiction', '3029287')
INSERTING  ('390051', 'tt4581576', 'Aftermath', '2017-02-28 00:00:00', '5.5', '396', '', '92', 'Drama, Thriller', '261465')
INSERTING  ('424998', 'tt6113488', 'The Case for Christ', '2017-04-07 00:00:00', '6.7', '127', '', '112', 'Drama', '0')
INSERTING  ('398818', 'tt5726616', 'Call Me by Your Name', '2017-09-01 00:00:00', '8.3', '5392', '', '132', 'Romance, Drama', '41063475')
INSERTING  ('337339', 'tt4630562', 'The Fate of the Furious', '2017-04-12 00:00:00', '6.9', '6621', '', '136', 'Action, Crime, Thriller', '1238764765')
INSERTING  ('314095', 'tt1212428', 'The Lost City of Z', '2017-03-15 00:00:00', '6.2', '1476', '', '140', 'Adventure, Drama, History, Action', '8574339')
INSERTING  ('410661', 'tt5538568', 'My Entire High School Sinking Into the Sea', '2016-09-11 00:00:00', '6.8', '18', '', '75', 'Animation, Comedy, Drama', '0')
INSERTING  ('306943', 'tt2597760', 'The Outcasts', '2017-04-14 00:00:00', '6.3', '361', '', '95', 'Comedy', '0')
INSERTING  ('369697', 'tt4191702', 'Norman: The Moderate Rise and Tragic Fall of a New York Fixer', '2017-04-14 00:00:00', '5.5', '100', '', '117', 'Comedy, Thriller, Drama', '3814868')
INSERTING  ('368942', 'tt2392830', 'A Quiet Passion', '2016-10-07 00:00:00', '6.3', '93', '', '125', 'Drama', '1864266')
INSERTING  ('322487', 'tt3228088', 'Spark: A Space Tail', '2017-04-14 00:00:00', '4.3', '30', '', '97', 'Adventure, Animation, Comedy, Family, Science Fiction', '116873')
INSERTING  ('355277', 'tt4629266', 'Born in China', '2016-08-12 00:00:00', '7.4', '82', '', '76', 'Documentary', '0')
INSERTING  ('418437', 'tt3462710', 'Unforgettable', '2017-03-06 00:00:00', '5.5', '330', '', '100', 'Drama, Thriller', '17768012')
INSERTING  ('334521', 'tt4158096', 'Free Fire', '2017-03-31 00:00:00', '6.3', '573', '', '90', 'Action, Crime, Mystery', '1799312')
INSERTING  ('354859', 'tt4776998', 'The Promise', '2016-12-02 00:00:00', '7.1', '205', '', '130', 'History, Romance, Drama', '0')
INSERTING  ('443319', 'tt6574272', 'Phoenix Forgotten', '2017-04-21 00:00:00', '5.5', '139', '', '80', 'Horror, Mystery, Science Fiction', '3600000')
INSERTING  ('339988', 'tt4287320', 'The Circle', '2017-04-27 00:00:00', '5.5', '2841', '', '110', 'Drama, Thriller, Science Fiction', '20497844')
INSERTING  ('350312', 'tt4849438', 'Baahubali 2: The Conclusion', '2017-04-27 00:00:00', '7.0', '269', '', '168', 'Action, Drama', '275947313')
INSERTING  ('425134', 'tt4795124', 'How to Be a Latin Lover', '2017-04-28 00:00:00', '6.3', '203', '', '115', 'Comedy', '26251899')
INSERTING  ('347882', 'tt4573516', 'Sleight', '2017-04-28 00:00:00', '5.3', '380', '', '89', 'Drama, Thriller, Action, Science Fiction', '3914430')
INSERTING  ('126889', 'tt2316204', 'Alien: Covenant', '2017-05-09 00:00:00', '5.9', '5160', '', '122', 'Horror, Science Fiction, Thriller', '232380243')
INSERTING  ('283995', 'tt3896198', 'Guardians of the Galaxy Vol. 2', '2017-04-19 00:00:00', '7.7', '13214', '', '137', 'Action, Adventure, Comedy, Science Fiction', '863756051')
INSERTING  ('300667', 'tt4158624', '3 Generations', '2016-10-27 00:00:00', '6.5', '298', '', '87', 'Comedy, Drama', '0')
INSERTING  ('360814', 'tt5074352', 'Dangal', '2016-12-21 00:00:00', '8.1', '382', '', '161', 'Drama, Action', '310000000')
Duplicate! Did not add to database.
INSERTING  ('401546', 'tt3203620', 'The Dinner', '2017-05-05 00:00:00', '4.3', '156', '', '120', 'Drama, Thriller, Mystery', '2492001')
INSERTING  ('426253', 'tt5770620', 'The Lovers', '2017-05-05 00:00:00', '5.3', '41', '', '94', 'Comedy', '0')
INSERTING  ('166426', 'tt1790809', 'Pirates of the Caribbean: Dead Men Tell No Tales', '2017-05-23 00:00:00', '6.6', '7258', '', '129', 'Adventure, Action, Fantasy, Comedy', '794191988')
INSERTING  ('274857', 'tt1972591', 'King Arthur: Legend of the Sword', '2017-05-10 00:00:00', '6.5', '3464', '', '126', 'Action, Drama, Fantasy', '146175066')
INSERTING  ('373569', 'tt2334871', 'Snatched', '2017-05-03 00:00:00', '5.2', '515', '', '90', 'Action, Comedy', '60845711')
INSERTING  ('405775', 'tt4218696', 'The Wall', '2017-05-12 00:00:00', '6.1', '427', '', '90', 'Thriller, War, Drama', '1803009')
INSERTING  ('333384', 'tt1366338', 'Lowriders', '2017-04-28 00:00:00', '6.5', '47', '', '99', 'Drama', '6179955')
INSERTING  ('375867', 'tt4429194', 'Paris Can Wait', '2016-09-12 00:00:00', '5.4', '102', '', '92', 'Romance', '6700000')
INSERTING  ('339846', 'tt1469304', 'Baywatch', '2017-05-12 00:00:00', '6.1', '5009', '', '116', 'Action, Comedy', '177856751')
INSERTING  ('383709', 'tt5208216', 'Wonderstruck', '2017-10-13 00:00:00', '6.1', '223', '', '115', 'Drama', '1947099')
INSERTING  ('417830', 'tt6003368', 'Diary of a Wimpy Kid: The Long Haul', '2017-05-19 00:00:00', '5.7', '210', '', '91', 'Comedy, Family', '40120144')
INSERTING  ('417678', 'tt5001718', 'Everything, Everything', '2017-05-18 00:00:00', '7.2', '2601', '', '96', 'Drama, Romance', '34000284')
INSERTING  ('369894', 'tt5195412', 'Wakefield', '2017-05-19 00:00:00', '6.1', '183', '', '106', 'Drama', '0')
INSERTING  ('282035', 'tt2345759', 'The Mummy', '2017-06-06 00:00:00', '5.5', '4599', '', '110', 'Fantasy, Thriller, Action, Adventure, Horror', '409231607')
INSERTING  ('354287', 'tt4758646', 'War Machine', '2017-05-26 00:00:00', '5.5', '614', '', '122', 'Comedy, Drama, War', '0')
INSERTING  ('432605', 'tt4653272', 'Buena Vista Social Club: Adios', '2017-05-26 00:00:00', '8.1', '6', '', '110', 'Documentary', '0')
INSERTING  ('297762', 'tt0451279', 'Wonder Woman', '2017-05-30 00:00:00', '7.3', '13140', '', '141', 'Action, Adventure, Fantasy', '821847012')
INSERTING  ('268531', 'tt2091256', 'Captain Underpants: The First Epic Movie', '2017-06-01 00:00:00', '6.0', '628', '', '89', 'Action, Animation, Comedy, Family', '125289450')
INSERTING  ('446865', 'tt6697760', 'Hailey Dean Mystery: Deadly Estate', '2017-04-09 00:00:00', '6.5', '14', '', '90', 'Mystery, TV Movie', '0')
INSERTING  ('399790', 'tt2674454', 'Churchill', '2017-05-25 00:00:00', '6.2', '164', '', '110', 'Drama, Thriller, War', '0')
INSERTING  ('455551', 'tt5669936', 'The Recall', '2017-06-02 00:00:00', '4.0', '181', '', '91', 'Science Fiction, Horror', '1319566')
INSERTING  ('418078', 'tt4695012', 'It Comes at Night', '2017-06-09 00:00:00', '5.7', '1204', '', '91', 'Horror', '0')
INSERTING  ('413998', 'tt4411596', 'My Cousin Rachel', '2017-06-08 00:00:00', '5.5', '357', '', '106', 'Drama, Romance', '9200168')
INSERTING  ('429107', 'tt5929750', 'Beatriz at Dinner', '2017-06-09 00:00:00', '5.9', '107', '', '83', 'Comedy, Drama', '7')
INSERTING  ('424488', 'tt4899370', 'Megan Leavey', '2017-06-09 00:00:00', '7.1', '401', '', '116', 'Drama, War', '13406883')
INSERTING  ('324852', 'tt3469046', 'Despicable Me 3', '2017-06-15 00:00:00', '6.3', '4301', '', '96', 'Action, Animation, Comedy, Family, Adventure', '1031552585')
INSERTING  ('260514', 'tt3606752', 'Cars 3', '2017-06-15 00:00:00', '6.7', '2793', '', '102', 'Adventure, Animation, Comedy, Family', '383925276')
INSERTING  ('397422', 'tt4799050', 'Rough Night', '2017-06-15 00:00:00', '5.6', '1192', '', '101', 'Drama, Comedy', '45056771')

INSERTING  ('382614', 'tt4572792', 'The Book of Henry', '2017-06-16 00:00:00', '7.5', '635', '', '105', 'Drama', '4504974')
INSERTING  ('403119', 'tt2932536', '47 Meters Down', '2017-05-25 00:00:00', '5.6', '1627', '', '89', 'Drama, Thriller, Horror, Adventure', '44235023')
INSERTING  ('402529', 'tt1666185', 'All Eyez on Me', '2017-06-12 00:00:00', '6.4', '714', '', '139', 'Drama, Music', '44922302')
INSERTING  ('335988', 'tt3371366', 'Transformers: The Last Knight', '2017-06-16 00:00:00', '6.0', '3418', '', '149', 'Action, Science Fiction, Thriller, Adventure', '605425157')
INSERTING  ('399019', 'tt5592248', 'The Beguiled', '2017-06-23 00:00:00', '5.7', '1247', '', '93', 'Drama, Western', '27397655')
INSERTING  ('316154', 'tt4334266', 'The Bad Batch', '2017-06-23 00:00:00', '5.2', '525', '', '119', 'Drama, Horror, Thriller', '180851')
INSERTING  ('315635', 'tt2250912', 'Spider-Man: Homecoming', '2017-07-05 00:00:00', '7.4', '12501', '', '133', 'Action, Adventure, Science Fiction, Drama', '880166924')
INSERTING  ('387426', 'tt3967856', 'Okja', '2017-06-28 00:00:00', '7.5', '2269', '', '122', 'Adventure, Drama, Science Fiction, Action', '0')
INSERTING  ('345914', 'tt4481514', 'The House', '2017-06-29 00:00:00', '5.7', '511', '', '88', 'Comedy', '0')
INSERTING  ('411873', 'tt5666304', 'The Little Hours', '2017-06-30 00:00:00', '5.6', '206', '', '89', 'Comedy', '0')
INSERTING  ('433630', 'tt3481634', 'Inconceivable', '2017-06-30 00:00:00', '5.6', '153', '', '105', 'Thriller, Drama', '0')
INSERTING  ('269795', 'tt1131724', '2:22', '2017-06-29 00:00:00', '5.8', '843', '', '99', 'Drama, Thriller, Romance, Science Fiction, Mystery', '3500000')
INSERTING  ('428449', 'tt6265828', 'A Ghost Story', '2017-04-24 00:00:00', '7.0', '973', '', '93', 'Drama, Fantasy, Romance', '1596371')
INSERTING  ('281338', 'tt3450958', 'War for the Planet of the Apes', '2017-07-11 00:00:00', '7.0', '5436', '', '140', 'Drama, Science Fiction, War', '488533726')
INSERTING  ('374720', 'tt5013056', 'Dunkirk', '2017-07-19 00:00:00', '7.4', '9586', '', '107', 'War, Action, Drama', '525573161')
INSERTING  ('440597', 'tt5322012', 'Wish Upon', '2017-07-07 00:00:00', '5.4', '738', '', '90', 'Thriller, Horror, Fantasy', '14301505')
INSERTING  ('410117', 'tt4291600', 'Lady Macbeth', '2016-12-12 00:00:00', '6.5', '288', '', '86', 'Drama', '5245263')
INSERTING  ('339964', 'tt2239822', 'Valerian and the City of a Thousand Planets', '2017-07-20 00:00:00', '6.6', '4378', '', '136', 'Adventure, Science Fiction, Action', '225874228')
INSERTING  ('417870', 'tt3564472', 'Girls Trip', '2017-07-21 00:00:00', '6.8', '997', '', '122', 'Comedy', '140376621')
INSERTING  ('410554', 'tt5884234', 'First Kill', '2017-07-21 00:00:00', '5.5', '267', '', '97', 'Action, Thriller, Crime', '0')
INSERTING  ('341013', 'tt2406566', 'Atomic Blonde', '2017-07-26 00:00:00', '6.3', '3846', '', '115', 'Action, Mystery, Thriller', '95673925')
INSERTING  ('407448', 'tt5390504', 'Detroit', '2017-07-28 00:00:00', '7.3', '848', '', '143', 'Crime, Drama, Thriller, History', '16790139')
INSERTING  ('378236', 'tt4877122', 'The Emoji Movie', '2017-07-23 00:00:00', '5.4', '1565', '', '86', 'Animation, Family, Comedy', '216909830')
INSERTING  ('403431', 'tt5805752', 'Brigsby Bear', '2017-07-27 00:00:00', '7.3', '201', '', '97', 'Comedy, Drama', '532669')
INSERTING  ('432602', 'tt6322922', 'An Inconvenient Sequel: Truth to Power', '2017-07-28 00:00:00', '6.9', '83', '', '100', 'Documentary', '5398976')
INSERTING  ('428584', 'tt6333086', 'Menashe', '2017-07-28 00:00:00', '6.4', '26', '', '82', 'Drama', '0')
INSERTING  ('353491', 'tt1648190', 'The Dark Tower', '2017-08-03 00:00:00', '5.6', '3054', '', '95', 'Action, Fantasy, Science Fiction, Western, Horror', '113231078')
INSERTING  ('395834', 'tt5362988', 'Wind River', '2017-08-03 00:00:00', '7.4', '2607', '', '107', 'Crime, Drama, Mystery, Thriller', '44998252')
INSERTING  ('450932', 'tt4557208', 'Armed Response', '2017-08-04 00:00:00', '4.6', '53', '', '93', 'Action, Horror, Thriller', '0')
INSERTING  ('414453', 'tt5990474', 'Columbus', '2017-08-04 00:00:00', '7.2', '144', '', '104', 'Drama', '1015744')
INSERTING  ('432787', 'tt5829040', 'Fun Mom Dinner', '2017-08-04 00:00:00', '5.8', '127', '', '81', 'Comedy', '0')
INSERTING  ('293768', 'tt1458169', 'Kidnap', '2017-06-16 00:00:00', '6.1', '842', '', '95', 'Drama, Thriller', '30718107')
INSERTING  ('433010', 'tt5758404', 'Step', '2017-07-28 00:00:00', '8.4', '10', '', '83', 'Documentary', '0')
INSERTING  ('396422', 'tt5140878', 'Annabelle: Creation', '2017-08-03 00:00:00', '6.5', '3396', '', '109', 'Horror, Mystery, Thriller', '305092201')
INSERTING  ('336000', 'tt2378507', 'The Glass Castle', '2017-08-10 00:00:00', '7.1', '371', '', '127', 'Drama', '9705840')
INSERTING  ('429200', 'tt4846232', 'Good Time', '2017-08-11 00:00:00', '7.1', '879', '', '101', 'Crime, Drama, Thriller', '2026499')
INSERTING  ('411741', 'tt5962210', 'Ingrid Goes West', '2017-08-11 00:00:00', '6.5', '449', '', '97', 'Drama, Comedy', '24931915')
INSERTING  ('335777', 'tt3486626', 'The Nut Job 2: Nutty by Nature', '2017-08-11 00:00:00', '5.7', '238', '', '91', 'Family, Animation, Adventure, Comedy', '65146020')
INSERTING  ('95608', 'tt0460890', 'The Only Living Boy in New York', '2017-07-27 00:00:00', '6.2', '122', '', '88', 'Drama', '2550321')
INSERTING  ('323661', 'tt3858372', 'Mune: Guardian of the Moon', '2015-02-05 00:00:00', '7.1', '265', '', '86', 'Animation, Family, Adventure, Fantasy, Comedy', '15730665')
INSERTING  ('390043', 'tt1959563', "The Hitman's Bodyguard", '2017-08-16 00:00:00', '6.7', '3199', '', '118', 'Action, Comedy', '176586701')
INSERTING  ('399170', 'tt5439796', 'Logan Lucky', '2017-08-17 00:00:00', '6.7', '1765', '', '119', 'Action, Comedy, Crime, Drama', '48453605')
INSERTING  ('406990', 'tt1536537', 'What Happened to Monday', '2017-08-18 00:00:00', '7.2', '3689', '', '123', 'Science Fiction, Thriller, Drama', '0')
INSERTING  ('428585', 'tt5973364', 'Lemon', '2017-01-22 00:00:00', '4.4', '15', '', '90', 'Drama, Comedy', '29258')
INSERTING  ('426256', 'tt6288250', 'Patti Cake$', '2017-08-18 00:00:00', '6.9', '126', '', '108', 'Drama', '0')
INSERTING  ('531182', '', 'Leap', '2017-01-01 00:00:00', '0.0', '0', '', '6', 'Animation', '0')
INSERTING  ('450806', 'tt4663548', 'All Saints', '2017-08-25 00:00:00', '6.1', '27', '', '108', 'Drama, Comedy', '0')
INSERTING  ('426238', 'tt6303866', 'Beach Rats', '2017-08-25 00:00:00', '6.0', '287', '', '95', 'Drama, Romance', '0')
INSERTING  ('438447', 'tt6175710', 'Served Like a Girl', '2017-11-08 00:00:00', '5.0', '1', '', '103', 'Documentary', '8290')
INSERTING  ('427900', 'tt5719700', 'Home Again', '2017-09-07 00:00:00', '6.0', '707', '', '97', 'Comedy, Drama, Romance', '27020284')
INSERTING  ('301337', 'tt1389072', 'Downsizing', '2017-12-22 00:00:00', '5.1', '1996', '', '135', 'Comedy, Drama, Science Fiction', '55003890')
INSERTING  ('399404', 'tt4555426', 'Darkest Hour', '2017-11-22 00:00:00', '7.3', '2851', '', '125', 'Drama, History', '147568410')
INSERTING  ('398174', 'tt5711148', "Film Stars Don't Die in Liverpool", '2017-11-17 00:00:00', '6.7', '76', '', '105', 'Romance, Drama', '3179847')
INSERTING  ('391713', 'tt4925292', 'Lady Bird', '2017-09-08 00:00:00', '7.3', '4113', '', '94', 'Comedy, Drama', '76858273')
INSERTING  ('257785', 'tt0491203', 'Tulip Fever', '2017-07-13 00:00:00', '6.5', '327', '', '107', 'Drama, Romance', '3425664')
INSERTING  ('291276', 'tt1734493', 'Unlocked', '2017-04-27 00:00:00', '6.2', '542', '', '98', 'Action, Thriller', '0')
INSERTING  ('369192', 'tt4622512', 'Battle of the Sexes', '2017-09-05 00:00:00', '6.9', '1093', '', '121', 'Comedy, Drama, History', '12638526')
INSERTING  ('359940', 'tt5027774', 'Three Billboards Outside Ebbing, Missouri', '2017-11-10 00:00:00', '8.2', '5736', '', '115', 'Crime, Drama', '158526998')
INSERTING  ('346364', 'tt1396484', 'It', '2017-09-06 00:00:00', '7.2', '11771', '', '135', 'Horror, Thriller', '700381748')
INSERTING  ('430219', 'tt4912622', 'The Gold Seekers', '2017-09-07 00:00:00', '8.4', '9', '', '90', 'Adventure', '0')
INSERTING  ('389015', 'tt5580036', 'I, Tonya', '2017-12-08 00:00:00', '7.6', '3083', '', '121', 'Drama', '53939297')

INSERTING  ('396371', 'tt4209788', "Molly's Game", '2017-12-21 00:00:00', '7.1', '1829', '', '140', 'Crime, Drama', '59284015')
INSERTING  ('455558', 'tt4917224', '9/11', '2017-09-07 00:00:00', '4.9', '113', '', '88', 'Drama', '0')
INSERTING  ('458836', 'tt4721404', 'The Good Catholic', '2017-09-08 00:00:00', '5.5', '25', '', '96', 'Drama, Comedy', '0')
INSERTING  ('430682', 'tt3910736', 'Gun Shy', '2017-09-08 00:00:00', '4.8', '69', '', '91', 'Comedy, Action, Adventure', '0')
INSERTING  ('428288', 'tt5731132', 'Napping Princess', '2017-03-18 00:00:00', '6.5', '31', '', '111', 'Fantasy, Adventure, Animation, Drama, Science Fiction', '0')
INSERTING  ('415842', 'tt1961175', 'American Assassin', '2017-09-14 00:00:00', '6.3', '1692', '', '112', 'Action, Thriller', '66167951')
INSERTING  ('381283', 'tt5109784', 'mother!', '2017-09-13 00:00:00', '7.0', '3695', '', '121', 'Drama, Horror, Mystery', '44516999')
INSERTING  ('425980', 'tt5884230', "Brad's Status", '2017-09-14 00:00:00', '6.1', '178', '', '101', 'Comedy, Drama', '2400000')
INSERTING  ('274862', 'tt3014284', 'The Lego Ninjago Movie', '2017-09-21 00:00:00', '6.3', '453', '', '101', 'Action, Animation, Adventure, Family', '123081555')
INSERTING  ('343668', 'tt4649466', 'Kingsman: The Golden Circle', '2017-09-20 00:00:00', '7.0', '5825', '', '141', 'Action, Adventure, Comedy', '410902662')
INSERTING  ('418680', 'tt1653665', 'Goodbye Christopher Robin', '2017-09-29 00:00:00', '7.1', '438', '', '107', 'Family, History', '7299662')
INSERTING  ('392982', 'tt5301662', 'Marshall', '2017-10-13 00:00:00', '7.3', '282', '', '118', 'Drama', '10051659')
INSERTING  ('395993', 'tt3881784', 'Stronger', '2017-09-22 00:00:00', '7.0', '825', '', '119', 'Drama', '5796490')
INSERTING  ('339877', 'tt3262342', 'Loving Vincent', '2017-06-22 00:00:00', '8.2', '1294', '', '95', 'Animation, Drama, Mystery', '6735118')
INSERTING  ('423899', 'tt5816682', 'Victoria & Abdul', '2017-09-14 00:00:00', '6.9', '661', '', '112', 'Drama, History', '65421267')
INSERTING  ('396777', 'tt4677924', 'Woodshock', '2017-09-22 00:00:00', '4.8', '24', '', '100', 'Thriller, Drama', '0')
INSERTING  ('335360', 'tt4131800', 'My Little Pony: The Movie', '2017-10-05 00:00:00', '6.8', '150', '', '99', 'Music, Adventure, Animation, Family, Fantasy', '60330833')
INSERTING  ('55341', 'tt1139592', 'Jeepers Creepers 3', '2017-09-26 00:00:00', '4.3', '343', '', '100', 'Horror, Mystery, Thriller', '0')
INSERTING  ('337170', 'tt3532216', 'American Made', '2017-08-08 00:00:00', '6.8', '2323', '', '115', 'Action, Crime', '133511855')
INSERTING  ('400710', 'tt2039338', 'Flatliners', '2017-09-28 00:00:00', '5.7', '1330', '', '110', 'Drama, Science Fiction', '45158254')
INSERTING  ('390061', 'tt5175450', 'Mark Felt: The Man Who Brought Down the White House', '2017-09-28 00:00:00', '5.8', '233', '', '103', 'Drama, History, Thriller', '4372130')
INSERTING  ('335984', 'tt1856101', 'Blade Runner 2049', '2017-10-04 00:00:00', '7.4', '7084', '', '163', 'Science Fiction, Drama', '259239658')
INSERTING  ('290512', 'tt2226597', 'The Mountain Between Us', '2017-10-05 00:00:00', '6.5', '1298', '', '109', 'Romance, Adventure, Drama', '62832209')
Duplicate! Did not add to database.
INSERTING  ('394117', 'tt5649144', 'The Florida Project', '2017-10-06 00:00:00', '7.4', '1211', '', '111', 'Drama', '11303040')
INSERTING  ('398175', 'tt5657856', 'Brawl in Cell Block 99', '2017-09-23 00:00:00', '6.8', '560', '', '132', 'Action, Crime, Thriller', '0')
INSERTING  ('452323', 'tt6293042', 'Outrage Coda', '2017-10-07 00:00:00', '6.8', '34', '', '105', 'Drama, Action, Crime', '0')
INSERTING  ('284053', 'tt3501632', 'Thor: Ragnarok', '2017-10-25 00:00:00', '7.5', '12172', '', '131', 'Action, Adventure, Comedy, Fantasy', '853977126')
INSERTING  ('440021', 'tt5308322', 'Happy Death Day', '2017-10-12 00:00:00', '6.6', '3483', '', '97', 'Horror, Mystery, Thriller', '122637878')
INSERTING  ('379149', 'tt1615160', 'The Foreigner', '2017-09-28 00:00:00', '6.7', '1165', '', '113', 'Action, Thriller', '145374099')
INSERTING  ('300669', 'tt4160708', "Don't Breathe", '2016-06-08 00:00:00', '6.9', '3889', '', '89', 'Crime, Horror, Thriller', '159047649')
Duplicate! Did not add to database.
INSERTING  ('420622', 'tt6133130', 'Professor Marston and the Wonder Women', '2017-10-13 00:00:00', '7.2', '388', '', '108', 'Drama, Romance', '1584759')
INSERTING  ('422821', 'tt3758852', 'Blood Money', '2017-10-13 00:00:00', '5.3', '29', '', '100', 'Thriller, Drama', '0')
INSERTING  ('429189', 'tt5825380', 'Wonder Wheel', '2017-12-01 00:00:00', '6.3', '756', '', '101', 'Drama', '15366466')
INSERTING  ('354912', 'tt2380307', 'Coco', '2017-10-27 00:00:00', '8.2', '9334', '', '105', 'Animation, Family, Comedy, Adventure, Fantasy', '800526015')
INSERTING  ('459202', 'tt6217804', 'Boo 2! A Madea Halloween', '2017-10-20 00:00:00', '5.6', '360', '', '103', 'Horror, Comedy', '48333932')
INSERTING  ('274855', 'tt1981128', 'Geostorm', '2017-10-13 00:00:00', '5.8', '2363', '', '109', 'Action, Science Fiction, Thriller', '221600160')
INSERTING  ('395991', 'tt3829920', 'Only the Brave', '2017-09-22 00:00:00', '7.1', '650', '', '133', 'Drama, Action', '24202487')
INSERTING  ('372343', 'tt1758810', 'The Snowman', '2017-10-12 00:00:00', '5.1', '1287', '', '119', 'Crime, Thriller', '43203413')
INSERTING  ('399057', 'tt5715874', 'The Killing of a Sacred Deer', '2017-10-20 00:00:00', '6.9', '1659', '', '121', 'Drama, Thriller, Mystery', '2291901')
INSERTING  ('300665', 'tt2620590', 'Leatherface', '2017-09-14 00:00:00', '5.3', '612', '', '88', 'Horror, Thriller, Mystery', '0')
INSERTING  ('300687', 'tt1230168', 'Same Kind of Different as Me', '2017-10-20 00:00:00', '6.8', '113', '', '119', 'Drama', '6423381')
INSERTING  ('141052', 'tt0974015', 'Justice League', '2017-11-15 00:00:00', '6.2', '7918', '', '120', 'Action, Adventure, Fantasy, Science Fiction', '657924295')
INSERTING  ('298250', 'tt3348730', 'Jigsaw', '2017-10-26 00:00:00', '6.1', '2005', '', '92', 'Crime, Horror, Mystery, Thriller', '102952888')
INSERTING  ('395458', 'tt0491175', 'Suburbicon', '2017-10-26 00:00:00', '5.8', '930', '', '104', 'Thriller, Crime, Drama, Mystery', '5775178')
INSERTING  ('347629', 'tt2776878', 'Thank You for Your Service', '2017-10-26 00:00:00', '6.4', '157', '', '109', 'Drama, War', '9438370')
INSERTING  ('345923', 'tt4486986', 'All I See Is You', '2017-08-10 00:00:00', '4.9', '353', '', '110', 'Mystery, Thriller', '646946')
INSERTING  ('411976', 'tt4513316', 'Novitiate', '2017-10-27 00:00:00', '6.7', '65', '', '123', 'Drama', '580346')
INSERTING  ('400728', 'tt4065552', 'Unknown Soldier', '2017-10-27 00:00:00', '7.8', '46', '', '179', 'Drama, War', '15550000')
INSERTING  ('203835', 'tt1935897', 'Amityville: The Awakening', '2017-07-20 00:00:00', '5.4', '670', '', '85', 'Thriller, Horror', '0')
INSERTING  ('392044', 'tt3402236', 'Murder on the Orient Express', '2017-11-03 00:00:00', '6.7', '5696', '', '114', 'Crime, Drama, Mystery', '351839303')
INSERTING  ('431530', 'tt6359956', 'A Bad Moms Christmas', '2017-11-01 00:00:00', '6.3', '1125', '', '104', 'Comedy', '130560428')
INSERTING  ('419709', 'tt6018306', 'Last Flag Flying', '2017-11-03 00:00:00', '6.9', '217', '', '125', 'Drama, Comedy', '0')
INSERTING  ('445040', 'tt2291540', 'My Friend Dahmer', '2017-11-03 00:00:00', '6.4', '200', '', '107', 'Drama', '1361611')
INSERTING  ('419680', 'tt5657846', "Daddy's Home 2", '2017-11-09 00:00:00', '6.1', '1346', '', '100', 'Comedy', '180613180')
INSERTING  ('436931', 'tt6595896', 'Pokémon the Movie: I Choose You!', '2017-07-15 00:00:00', '7.0', '321', '', '98', 'Family, Fantasy, Adventure, Animation, Drama, Comedy', '0')
INSERTING  ('346648', 'tt4468740', 'Paddington 2', '2017-11-09 00:00:00', '7.5', '954', '', '104', 'Adventure, Comedy, Family', '185847106')
INSERTING  ('450322', 'tt6225520', 'The Man Who Invented Christmas', '2017-10-12 00:00:00', '6.6', '350', '', '105', 'Drama, History, Comedy', '5676486')
INSERTING  ('429733', 'tt4348012', 'Mayhem', '2017-03-13 00:00:00', '6.3', '238', '', '86', 'Action, Comedy, Horror', '0')
INSERTING  ('355547', 'tt4587656', 'The Star', '2017-11-15 00:00:00', '5.5', '247', '', '86', 'Comedy, Adventure, Family, Fantasy, Animation', '0')

INSERTING  ('297762', 'tt0451279', 'Wonder Woman', '2017-05-30 00:00:00', '7.3', '13140', '', '141', 'Action, Adventure, Fantasy', '821847012')
Duplicate! Did not add to database.
INSERTING  ('524034', 'tt7981318', 'Cook Off', '2017-03-12 00:00:00', '0.0', '0', '', '116', 'Comedy, Romance', '0')
INSERTING  ('424510', 'tt6212496', 'Mr. Roosevelt', '2017-07-29 00:00:00', '6.0', '30', '', '90', 'Comedy', '0')
INSERTING  ('413362', 'tt6000478', 'Roman J. Israel, Esq.', '2017-11-17 00:00:00', '6.2', '536', '', '129', 'Drama', '11942780')
INSERTING  ('398818', 'tt5726616', 'Call Me by Your Name', '2017-09-01 00:00:00', '8.3', '5392', '', '132', 'Romance, Drama', '41063475')
Duplicate! Did not add to database.
INSERTING  ('353616', 'tt4765284', 'Pitch Perfect 3', '2017-12-20 00:00:00', '6.5', '2018', '', '93', 'Comedy, Music', '184724494')
INSERTING  ('399055', 'tt5580390', 'The Shape of Water', '2017-12-01 00:00:00', '7.2', '7625', '', '123', 'Drama, Fantasy, Romance', '194989655')
INSERTING  ('463602', 'tt5181852', 'Slumber', '2017-12-01 00:00:00', '5.0', '183', '', '84', 'Horror', '0')
INSERTING  ('371638', 'tt3521126', 'The Disaster Artist', '2017-03-12 00:00:00', '7.2', '1997', '', '104', 'Comedy, Drama', '29820616')
INSERTING  ('353486', 'tt2283362', 'Jumanji: Welcome to the Jungle', '2017-12-09 00:00:00', '6.7', '7620', '', '119', 'Action, Adventure, Comedy, Fantasy', '962119864')
INSERTING  ('316029', 'tt1485796', 'The Greatest Showman', '2017-12-20 00:00:00', '8.0', '5541', '', '105', 'Drama', '432844677')
INSERTING  ('398177', 'tt5721088', 'Just Getting Started', '2017-12-01 00:00:00', '5.0', '101', '', '91', 'Action, Comedy', '6069605')
INSERTING  ('181808', 'tt2527336', 'Star Wars: The Last Jedi', '2017-12-13 00:00:00', '7.0', '8986', '', '152', 'Fantasy, Adventure, Science Fiction, Action', '1332459537')
INSERTING  ('364689', 'tt3411444', 'Ferdinand', '2017-12-09 00:00:00', '7.1', '1514', '', '107', 'Animation, Family, Adventure, Comedy', '295038508')
INSERTING  ('400617', 'tt5776858', 'Phantom Thread', '2017-12-25 00:00:00', '7.3', '1716', '', '130', 'Drama, Romance', '47756590')
INSERTING  ('446354', 'tt6294822', 'The Post', '2017-12-22 00:00:00', '7.0', '2650', '', '116', 'Drama, History', '174503458')
INSERTING  ('271404', 'tt1724970', 'Beyond Skyline', '2017-10-20 00:00:00', '4.9', '544', '', '105', 'Action, Science Fiction, Adventure, Horror', '992181')
INSERTING  ('450438', 'tt5933560', 'Permanent', '2017-12-15 00:00:00', '5.7', '26', '', '94', 'Comedy', '0')
INSERTING  ('446791', 'tt5294550', 'All the Money in the World', '2017-12-21 00:00:00', '6.4', '1262', '', '132', 'Thriller, Drama, Crime, Mystery', '56996304')
INSERTING  ('400106', 'tt5519340', 'Bright', '2017-12-22 00:00:00', '6.2', '3363', '', '117', 'Action, Crime, Fantasy', '0')
INSERTING  ('354861', 'tt1966359', 'Father Figures', '2017-12-21 00:00:00', '5.8', '298', '', '125', 'Comedy', '25601244')
INSERTING  ('384680', 'tt5478478', 'Hostiles', '2017-12-22 00:00:00', '6.8', '1130', '', '134', 'Drama, Western, History', '29819114')
INSERTING  ('419835', 'tt1869347', 'Crooked House', '2017-10-31 00:00:00', '6.4', '368', '', '115', 'Drama, Mystery, Crime', '2049844')
INSERTING  ('406563', 'tt5726086', 'Insidious: The Last Key', '2018-01-03 00:00:00', '6.1', '1407', '', '118', 'Mystery, Horror, Thriller', '167184112')
INSERTING  ('426258', 'tt6014904', 'The Strange Ones', '2018-01-05 00:00:00', '5.7', '41', '', '81', 'Thriller, Drama', '0')
INSERTING  ('348389', 'tt3567666', 'Stratton', '2017-07-06 00:00:00', '4.9', '134', '', '94', 'Action, Thriller', '0')
INSERTING  ('468210', 'tt6958212', 'Sweet Country', '2018-01-25 00:00:00', '6.7', '74', '', '113', 'Drama, History, Western', '0')
INSERTING  ('399035', 'tt1590193', 'The Commuter', '2018-01-11 00:00:00', '6.2', '2548', '', '104', 'Action, Thriller', '119942387')
INSERTING  ('442064', 'tt6421110', 'Proud Mary', '2018-01-12 00:00:00', '5.4', '268', '', '88', 'Thriller, Action, Crime', '21753365')
INSERTING  ('479040', 'tt6684714', 'Acts of Violence', '2018-01-12 00:00:00', '6.0', '193', '', '86', 'Action, Crime', '0')
INSERTING  ('440424', 'tt5089534', 'Freak Show', '2018-01-12 00:00:00', '7.2', '58', '', '91', 'Comedy, Drama', '0')
INSERTING  ('436355', 'tt4673790', 'Vazante', '2017-11-09 00:00:00', '8.3', '7', '', '116', 'Drama', '0')
INSERTING  ('430447', 'tt6336356', "Mary and the Witch's Flower", '2017-07-08 00:00:00', '7.1', '361', '', '103', 'Fantasy, Adventure, Animation', '0')
INSERTING  ('429351', 'tt1413492', '12 Strong', '2018-01-16 00:00:00', '5.7', '1404', '', '130', 'Drama, Action, History, War', '67131266')
INSERTING  ('449443', 'tt1259528', 'Den of Thieves', '2018-01-18 00:00:00', '6.6', '1356', '', '140', 'Action, Thriller, Crime', '80509622')
INSERTING  ('417261', 'tt4103724', 'Forever My Girl', '2018-01-26 00:00:00', '7.4', '461', '', '104', 'Romance, Drama, Music', '16367326')
INSERTING  ('336843', 'tt4500922', 'Maze Runner: The Death Cure', '2018-01-10 00:00:00', '7.1', '4171', '', '144', 'Action, Science Fiction', '284881603')
INSERTING  ('489749', 'tt7626042', 'Trump: The Art of the Insult', '2018-01-23 00:00:00', '3.5', '2', '', '95', 'Documentary', '0')
INSERTING  ('338768', 'tt4652650', 'Please Stand By', '2018-01-26 00:00:00', '6.8', '202', '', '93', 'Comedy, Drama', '0')
INSERTING  ('416234', 'tt1072748', 'Winchester', '2018-02-02 00:00:00', '5.8', '953', '', '100', 'Fantasy, Mystery, Thriller, Horror', '25091816')
INSERTING  ('429191', 'tt5639354', 'A Fantastic Woman', '2017-04-06 00:00:00', '7.1', '366', '', '104', 'Drama', '1880736')
INSERTING  ('483315', 'tt4824316', 'Armed', '2018-09-14 00:00:00', '4.2', '7', '', '120', 'Action, Thriller', '0')
INSERTING  ('384521', 'tt2548396', 'The Cloverfield Paradox', '2018-02-04 00:00:00', '5.6', '1806', '', '102', 'Mystery, Thriller, Horror, Science Fiction', '0')
INSERTING  ('381719', 'tt5117670', 'Peter Rabbit', '2018-02-07 00:00:00', '6.5', '708', '', '93', 'Animation, Adventure, Family', '351266433')
INSERTING  ('337167', 'tt4477536', 'Fifty Shades Freed', '2018-01-17 00:00:00', '6.2', '3723', '', '105', 'Drama, Romance', '368307760')
INSERTING  ('453201', 'tt6802308', 'The 15:17 to Paris', '2018-02-02 00:00:00', '5.3', '861', '', '94', 'Drama, History, Thriller', '56150957')
INSERTING  ('498919', 'tt4823538', 'La Boda de Valentina', '2018-02-09 00:00:00', '6.3', '7', '', '', 'Comedy', '0')
INSERTING  ('493479', 'tt7528086', 'Kri', '2018-02-09 00:00:00', '0.0', '1', '', '138', 'Romance, Action, Drama', '0')
INSERTING  ('390059', 'tt5390066', 'Permission', '2018-02-09 00:00:00', '4.8', '73', '', '96', 'Comedy, Romance, Drama', '0')
INSERTING  ('454699', 'tt6572702', 'Happy Family', '2017-08-24 00:00:00', '5.5', '144', '', '93', 'Animation, Family, Fantasy, Horror, Comedy', '26441892')
INSERTING  ('407719', 'tt5687814', 'Golden Exits', '2018-02-09 00:00:00', '6.3', '27', '', '94', 'Drama', '0')
INSERTING  ('284054', 'tt1825683', 'Black Panther', '2018-02-13 00:00:00', '7.4', '13224', '', '134', 'Action, Adventure, Fantasy, Science Fiction', '1346739107')
INSERTING  ('387592', 'tt4701724', 'Early Man', '2018-01-26 00:00:00', '5.9', '368', '', '89', 'Family, Comedy, Animation, Adventure', '53431158')
INSERTING  ('429174', 'tt6304162', 'Loveless', '2017-06-01 00:00:00', '7.4', '357', '', '127', 'Drama', '566356')
INSERTING  ('415401', 'tt5814592', 'The Party', '2017-09-13 00:00:00', '6.4', '244', '', '71', 'Comedy, Drama', '3300000')
INSERTING  ('442709', 'tt6456222', 'Nostalgia', '2018-02-16 00:00:00', '6.4', '12', '', '115', 'Drama', '0')
INSERTING  ('438145', 'tt3208026', "Black '47", '2018-09-05 00:00:00', '6.6', '111', '', '100', 'Drama, Western', '0')
INSERTING  ('474392', 'tt6951892', 'Samson', '2018-02-16 00:00:00', '5.3', '79', '', '110', 'Action, Drama, Adventure', '0')
INSERTING  ('445571', 'tt2704998', 'Game Night', '2018-02-22 00:00:00', '6.9', '2997', '', '100', 'Mystery, Comedy, Crime', '117501013')
INSERTING  ('300668', 'tt2798920', 'Annihilation', '2018-02-22 00:00:00', '6.3', '4790', '', '115', 'Science Fiction, Horror', '43070915')
INSERTING  ('465136', 'tt7026672', 'Every Day', '2018-02-22 00:00:00', '7.0', '1180', '', '97', 'Drama, Fantasy, Romance', '6102076')

INSERTING  ('469721', 'tt3463106', 'The Cured', '2018-02-23 00:00:00', '5.5', '141', '', '95', 'Horror, Drama, Science Fiction', '0')
INSERTING  ('429467', 'tt4399952', 'The Lodgers', '2017-10-05 00:00:00', '4.8', '232', '', '93', 'Drama, Horror, Romance, Thriller', '7362')
INSERTING  ('401981', 'tt2873282', 'Red Sparrow', '2018-02-28 00:00:00', '6.5', '3627', '', '140', 'Mystery, Thriller', '147988192')
INSERTING  ('395990', 'tt1137450', 'Death Wish', '2018-03-02 00:00:00', '5.9', '1309', '', '107', 'Action, Crime, Drama, Thriller', '34017028')
INSERTING  ('353066', 'tt1291566', 'The Vanishing of Sidney Hall', '2017-10-06 00:00:00', '6.7', '105', '', '117', 'Drama, Mystery', '0')
INSERTING  ('444431', 'tt6896536', 'Foxtrot', '2017-09-02 00:00:00', '7.1', '80', '', '113', 'Drama', '0')
INSERTING  ('457312', 'tt4789822', 'Pickings', '2018-03-02 00:00:00', '6.0', '3', '', '103', 'Action, Crime, Thriller, Drama, Mystery', '0')
INSERTING  ('407451', 'tt1620680', 'A Wrinkle in Time', '2018-03-08 00:00:00', '5.0', '1146', '', '109', 'Adventure, Science Fiction, Family, Fantasy', '132675864')
INSERTING  ('340022', 'tt3721964', 'Gringo', '2018-03-08 00:00:00', '5.9', '368', '', '110', 'Comedy, Action, Crime', '0')
INSERTING  ('397722', 'tt5649108', 'Thoroughbreds', '2018-03-09 00:00:00', '6.3', '441', '', '92', 'Drama, Thriller', '2830775')
INSERTING  ('402897', 'tt4686844', 'The Death of Stalin', '2017-10-20 00:00:00', '7.0', '799', '', '107', 'Comedy, History', '24640027')
INSERTING  ('449749', 'tt3741632', 'The Leisure Seeker', '2018-01-03 00:00:00', '7.2', '245', '', '112', 'Drama, Romance', '3009621')
INSERTING  ('371608', 'tt1285009', 'The Strangers: Prey at Night', '2018-03-07 00:00:00', '5.4', '692', '', '85', 'Horror, Thriller', '24586708')
INSERTING  ('430040', 'tt5360952', 'The Hurricane Heist', '2018-02-28 00:00:00', '5.4', '532', '', '103', 'Action, Crime, Thriller', '5400000')
INSERTING  ('338970', 'tt1365519', 'Tomb Raider', '2018-03-05 00:00:00', '6.3', '4601', '', '118', 'Action, Adventure, Fantasy', '274650803')
INSERTING  ('449176', 'tt5164432', 'Love, Simon', '2018-02-16 00:00:00', '8.1', '3456', '', '110', 'Comedy, Drama, Romance', '60848932')
INSERTING  ('470878', 'tt6450186', 'I Can Only Imagine', '2018-02-14 00:00:00', '7.6', '171', '', '110', 'Drama, Family, Music', '0')
INSERTING  ('433627', 'tt5466186', '7 Days in Entebbe', '2018-03-15 00:00:00', '5.8', '205', '', '107', 'Thriller, Drama, Crime', '9196740')
INSERTING  ('502426', 'tt5291792', 'Furlough', '2018-03-16 00:00:00', '5.7', '27', '', '84', 'Comedy', '0')
INSERTING  ('414187', 'tt4682780', 'Josie', '2018-03-16 00:00:00', '5.3', '27', '', '87', 'Thriller, Drama', '0')
INSERTING  ('421471', 'tt2582784', 'Flower', '2018-03-16 00:00:00', '6.5', '105', '', '94', 'Drama, Comedy', '327231')
INSERTING  ('268896', 'tt2557478', 'Pacific Rim: Uprising', '2018-03-21 00:00:00', '5.9', '2406', '', '111', 'Action, Fantasy, Science Fiction, Adventure', '290061297')
INSERTING  ('399174', 'tt5104604', 'Isle of Dogs', '2018-03-23 00:00:00', '7.9', '2190', '', '101', 'Adventure, Comedy, Animation', '64207623')
INSERTING  ('370567', 'tt2296777', 'Sherlock Gnomes', '2018-03-15 00:00:00', '5.5', '379', '', '86', 'Romance, Animation, Comedy, Family, Fantasy, Mystery, Adventure', '87625666')
INSERTING  ('467660', 'tt7153766', 'Unsane', '2018-02-21 00:00:00', '6.2', '756', '', '98', 'Horror, Thriller', '14293601')
INSERTING  ('476968', 'tt7388562', 'Paul, Apostle of Christ', '2018-03-23 00:00:00', '7.0', '101', '', '108', 'History', '22525668')
INSERTING  ('345317', 'tt4494718', 'Final Portrait', '2017-08-03 00:00:00', '6.0', '78', '', '87', 'Drama, Comedy', '1725841')
INSERTING  ('419478', 'tt4799066', 'Midnight Sun', '2018-03-22 00:00:00', '7.7', '1782', '', '91', 'Romance, Drama', '27365467')
INSERTING  ('465155', 'tt6251666', 'Followers', '2017-07-10 00:00:00', '5.4', '5', '', '82', 'Thriller', '3350')
INSERTING  ('333339', 'tt1677720', 'Ready Player One', '2018-03-28 00:00:00', '7.6', '7650', '', '140', 'Adventure, Science Fiction', '582890172')
INSERTING  ('464502', 'tt6063050', 'Acrimony', '2018-03-30 00:00:00', '6.6', '202', '', '120', 'Thriller', '34764055')
INSERTING  ('454286', 'tt6652708', "God's Not Dead: A Light in Darkness", '2018-03-30 00:00:00', '6.8', '51', '', '105', 'Drama', '5728940')
INSERTING  ('412302', 'tt5795086', 'Gemini', '2018-03-30 00:00:00', '5.6', '67', '', '93', 'Mystery, Crime, Drama, Thriller', '0')
INSERTING  ('451204', 'tt5836316', 'The Last Movie Star', '2018-03-30 00:00:00', '6.5', '34', '', '104', 'Drama', '0')
INSERTING  ('447332', 'tt6644200', 'A Quiet Place', '2018-04-03 00:00:00', '7.3', '6377', '', '91', 'Horror, Drama, Science Fiction', '340677200')
INSERTING  ('437557', 'tt2531344', 'Blockers', '2018-03-14 00:00:00', '6.2', '1063', '', '102', 'Comedy', '93674786')
INSERTING  ('398181', 'tt5742374', 'You Were Never Really Here', '2017-11-08 00:00:00', '6.6', '1128', '', '89', 'Thriller', '2528078')
INSERTING  ('432301', 'tt5270948', 'Chappaquiddick', '2018-04-06 00:00:00', '6.0', '129', '', '107', 'Drama, Thriller, History', '17904202')
INSERTING  ('497802', 'tt7860270', 'Pandas', '2018-04-06 00:00:00', '6.8', '6', '', '40', 'Documentary', '2892597')
INSERTING  ('407890', 'tt5340300', 'Lean on Pete', '2018-04-06 00:00:00', '7.0', '156', '', '121', 'Drama, Adventure', '2455027')
INSERTING  ('425373', 'tt5427194', 'The Miracle Season', '2018-04-13 00:00:00', '7.2', '137', '', '100', 'Drama', '0')
INSERTING  ('399248', 'tt4669264', 'Beirut', '2018-04-11 00:00:00', '6.2', '229', '', '110', 'Action, Thriller, Drama', '7258534')
INSERTING  ('427641', 'tt2231461', 'Rampage', '2018-04-12 00:00:00', '6.2', '3439', '', '107', 'Action, Adventure, Science Fiction, Fantasy', '426245950')
INSERTING  ('460019', 'tt6772950', 'Truth or Dare', '2018-04-12 00:00:00', '6.0', '2194', '', '100', 'Thriller, Horror', '94841481')
INSERTING  ('453278', 'tt6217608', 'The Rider', '2017-08-16 00:00:00', '7.4', '166', '', '105', 'Drama, Western', '0')
INSERTING  ('433694', 'tt5314190', 'Sgt. Stubby: An American Hero', '2018-04-13 00:00:00', '6.1', '15', '', '85', 'Animation, Adventure, Family, History, War', '0')
INSERTING  ('460668', 'tt6791096', 'I Feel Pretty', '2018-04-19 00:00:00', '6.4', '1199', '', '111', 'Comedy', '51748264')
INSERTING  ('50022', 'tt0859635', 'Super Troopers 2', '2018-04-19 00:00:00', '5.8', '216', '', '100', 'Comedy, Crime, Mystery', '18850674')
INSERTING  ('473149', 'tt5670152', 'Traffik', '2018-04-20 00:00:00', '5.8', '183', '', '96', 'Thriller, Horror', '5132274')
INSERTING  ('482150', 'tt7089878', 'Liz and the Blue Bird', '2018-04-21 00:00:00', '7.9', '15', '', '90', 'Music, Animation, Drama', '0')
INSERTING  ('299536', 'tt4154756', 'Avengers: Infinity War', '2018-04-25 00:00:00', '8.3', '15210', '', '149', 'Adventure, Action, Science Fiction', '2046239637')
INSERTING  ('419743', 'tt6108178', 'Disobedience', '2017-09-10 00:00:00', '6.9', '449', '', '114', 'Drama, Romance', '0')
INSERTING  ('476678', 'tt5153288', 'Backstabbing for Beginners', '2018-01-18 00:00:00', '6.3', '90', '', '108', 'Thriller, Drama, History', '0')
INSERTING  ('408873', 'tt5843850', 'Kings', '2017-11-11 00:00:00', '6.1', '68', '', '92', 'Romance, Drama, Crime', '0')
INSERTING  ('454619', 'tt1563742', 'Overboard', '2018-05-03 00:00:00', '6.3', '618', '', '112', 'Romance, Comedy', '91244913')
INSERTING  ('400579', 'tt5610554', 'Tully', '2018-05-04 00:00:00', '6.9', '698', '', '96', 'Comedy, Drama', '15636462')
INSERTING  ('467632', 'tt3203528', 'Bad Samaritan', '2018-04-19 00:00:00', '6.7', '240', '', '111', 'Thriller', '3435047')
INSERTING  ('298096', 'tt3734354', 'The Cleanse', '2018-05-04 00:00:00', '5.4', '28', '', '81', 'Drama, Comedy, Fantasy', '0')
INSERTING  ('509910', 'tt8150132', 'The Guardians', '2018-03-18 00:00:00', '0.0', '0', '', '69', 'Documentary', '0')
INSERTING  ('399796', 'tt5619332', 'Life of the Party', '2018-05-10 00:00:00', '6.2', '494', '', '105', 'Comedy', '61700416')
INSERTING  ('497814', 'tt7137846', 'Breaking In', '2018-05-05 00:00:00', '5.8', '331', '', '88', 'Thriller, Crime, Action', '49078000')
INSERTING  ('341735', 'tt4682136', 'The Seagull', '2018-05-11 00:00:00', '6.0', '28', '', '98', 'Drama, Romance, Comedy', '1057421')

INSERTING  ('385332', 'tt4463816', 'Terminal', '2018-05-11 00:00:00', '5.6', '363', '', '95', 'Thriller, Crime', '0')
INSERTING  ('467938', 'tt6738136', 'Revenge', '2018-02-07 00:00:00', '6.3', '772', '', '109', 'Action, Thriller, Horror', '692079')
INSERTING  ('383498', 'tt5463162', 'Deadpool 2', '2018-05-10 00:00:00', '7.5', '9509', '', '121', 'Action, Comedy, Adventure', '741547413')
INSERTING  ('502682', 'tt6857166', 'Book Club', '2018-05-18 00:00:00', '6.1', '355', '', '104', 'Comedy, Romance, Drama', '78720293')
INSERTING  ('458737', 'tt6053438', 'First Reformed', '2018-05-18 00:00:00', '6.9', '520', '', '113', 'Drama', '2525738')
INSERTING  ('505205', 'tt6915100', 'Pope Francis: A Man of His Word', '2018-05-18 00:00:00', '7.4', '26', '', '96', 'Documentary', '2423465')
INSERTING  ('425148', 'tt5691024', 'Show Dogs', '2018-05-10 00:00:00', '5.9', '105', '', '92', 'Adventure, Crime, Family, Comedy', '38830219')
INSERTING  ('348350', 'tt3778644', 'Solo: A Star Wars Story', '2018-05-15 00:00:00', '6.6', '4216', '', '135', 'Action, Adventure, Science Fiction', '392952373')
INSERTING  ('341689', 'tt3859310', 'How to Talk to Girls at Parties', '2017-10-06 00:00:00', '6.4', '174', '', '103', 'Comedy, Music, Romance, Science Fiction', '0')
INSERTING  ('417643', 'tt5164184', 'In Darkness', '2018-05-25 00:00:00', '6.1', '239', '', '100', 'Thriller', '0')
INSERTING  ('411135', 'tt5737536', 'Future World', '2018-05-25 00:00:00', '4.2', '106', '', '88', 'Science Fiction', '0')
INSERTING  ('454283', 'tt6495770', 'Action Point', '2018-06-01 00:00:00', '5.1', '163', '', '85', 'Comedy, Drama', '5059608')
INSERTING  ('429300', 'tt6306064', 'Adrift', '2018-05-31 00:00:00', '6.8', '1393', '', '96', 'Thriller, Romance, Adventure', '4230000')
INSERTING  ('500664', 'tt6499752', 'Upgrade', '2018-06-01 00:00:00', '7.3', '1512', '', '100', 'Action, Thriller, Science Fiction', '11871365')
INSERTING  ('489931', 'tt6212478', 'American Animals', '2018-06-01 00:00:00', '6.9', '372', '', '117', 'Drama, Crime, Documentary', '2847319')
INSERTING  ('506407', 'tt5639898', 'Social Animals', '2018-06-01 00:00:00', '6.3', '35', '', '90', 'Comedy, Romance', '0')
INSERTING  ('402900', 'tt5164214', "Ocean's Eight", '2018-06-07 00:00:00', '6.9', '4116', '', '111', 'Crime, Comedy, Action, Thriller', '297718711')
INSERTING  ('490003', 'tt7681902', "Won't You Be My Neighbor?", '2018-06-08 00:00:00', '8.3', '222', '', '93', 'Documentary', '22835787')
INSERTING  ('493922', 'tt7784604', 'Hereditary', '2018-06-07 00:00:00', '7.0', '2879', '', '127', 'Horror, Mystery, Thriller', '79336821')
INSERTING  ('406761', 'tt5834262', 'Hotel Artemis', '2018-06-07 00:00:00', '5.9', '583', '', '94', 'Thriller, Science Fiction, Action', '12371132')
INSERTING  ('500475', 'tt7690670', 'SuperFly', '2018-06-13 00:00:00', '6.4', '137', '', '107', 'Action, Crime', '20545116')
INSERTING  ('260513', 'tt3606756', 'Incredibles 2', '2018-06-14 00:00:00', '7.6', '6949', '', '118', 'Action, Adventure, Animation, Family', '1241891456')
INSERTING  ('455980', 'tt2854926', 'Tag', '2018-05-30 00:00:00', '6.7', '1435', '', '100', 'Comedy, Drama', '75100000')
INSERTING  ('391714', 'tt1667321', 'On Chesil Beach', '2018-01-19 00:00:00', '6.1', '110', '', '110', 'Drama', '0')
INSERTING  ('339103', 'tt1801552', 'Gotti', '2018-06-14 00:00:00', '5.3', '292', '', '110', 'Crime, Drama, History, Thriller', '4343227')
INSERTING  ('351286', 'tt4881806', 'Jurassic World: Fallen Kingdom', '2018-06-06 00:00:00', '6.5', '6413', '', '129', 'Action, Adventure, Science Fiction', '1303459585')
INSERTING  ('447682', 'tt5686062', 'Boundaries', '2018-06-22 00:00:00', '5.8', '19', '', '105', 'Comedy, Drama', '557169')
INSERTING  ('414018', 'tt5881528', 'Damsel', '2018-06-22 00:00:00', '4.8', '33', '', '114', 'Comedy, Western', '0')
INSERTING  ('426814', 'tt5591666', 'The Domestics', '2018-08-23 00:00:00', '6.0', '175', '', '95', 'Thriller, Horror', '0')
INSERTING  ('400535', 'tt5052474', 'Sicario: Day of the Soldado', '2018-06-27 00:00:00', '6.7', '1457', '', '123', 'Action, Crime, Drama, Thriller', '75836683')
INSERTING  ('443463', 'tt3892172', 'Leave No Trace', '2018-06-29 00:00:00', '6.8', '471', '', '110', 'Drama', '0')
INSERTING  ('474335', 'tt7334528', 'Uncle Drew', '2018-06-27 00:00:00', '6.5', '240', '', '103', 'Comedy', '17665000')
INSERTING  ('396373', 'tt5436228', 'Woman Walks Ahead', '2018-04-25 00:00:00', '7.0', '62', '', '103', 'Drama, History, Western', '0')
INSERTING  ('442249', 'tt6133466', 'The First Purge', '2018-07-04 00:00:00', '5.8', '2026', '', '97', 'Action, Science Fiction, Thriller, Horror', '41953945')
INSERTING  ('363088', 'tt5095030', 'Ant-Man and the Wasp', '2018-07-04 00:00:00', '7.0', '6988', '', '119', 'Action, Adventure, Science Fiction, Comedy', '622674139')
INSERTING  ('424781', 'tt5688932', 'Sorry to Bother You', '2018-07-06 00:00:00', '6.9', '578', '', '105', 'Fantasy, Science Fiction, Comedy', '0')
INSERTING  ('507256', 'tt5740866', 'Whitney', '2018-07-06 00:00:00', '7.8', '91', '', '120', 'Documentary, Music', '1251945')
INSERTING  ('400155', 'tt5220122', 'Hotel Transylvania 3: Summer Vacation', '2018-06-28 00:00:00', '6.8', '1843', '', '97', 'Family, Fantasy, Comedy, Animation', '100176000')
INSERTING  ('447200', 'tt5758778', 'Skyscraper', '2018-07-11 00:00:00', '6.1', '2400', '', '102', 'Action', '292351275')
INSERTING  ('489925', 'tt7014006', 'Eighth Grade', '2018-01-19 00:00:00', '7.4', '600', '', '94', 'Comedy, Drama', '13539709')
INSERTING  ('443009', 'tt6288124', "Don't Worry, He Won't Get Far on Foot", '2018-04-04 00:00:00', '6.6', '228', '', '113', 'Comedy, Drama', '2066633')
INSERTING  ('476335', 'tt5540992', 'Shock and Awe', '2018-07-13 00:00:00', '6.5', '39', '', '90', 'Drama, History, Thriller', '0')
INSERTING  ('458423', 'tt6911608', 'Mamma Mia! Here We Go Again', '2018-07-09 00:00:00', '7.2', '1879', '', '113', 'Comedy, Romance', '167225525')
INSERTING  ('345887', 'tt3766354', 'The Equalizer 2', '2018-07-19 00:00:00', '6.4', '2299', '', '122', 'Thriller, Action, Crime', '102084362')
INSERTING  ('489930', 'tt7242142', 'Blindspotting', '2018-07-20 00:00:00', '7.6', '260', '', '95', 'Comedy, Drama', '0')
INSERTING  ('505058', 'tt4761916', 'Unfriended: Dark Web', '2018-07-19 00:00:00', '6.2', '475', '', '93', 'Horror', '9602624')
INSERTING  ('420426', 'tt5979872', 'Bleach', '2018-07-20 00:00:00', '6.5', '257', '', '108', 'Action, Fantasy, Adventure', '4001919')
INSERTING  ('446132', 'tt6330052', 'Gauguin: Voyage to Tahiti', '2017-09-20 00:00:00', '5.5', '51', '', '97', 'Drama, Romance', '3317869')
INSERTING  ('353081', 'tt4912910', 'Mission: Impossible - Fallout', '2018-07-13 00:00:00', '7.3', '4157', '', '148', 'Action, Adventure', '791017452')
INSERTING  ('474395', 'tt7424200', 'Teen Titans Go! To the Movies', '2018-07-27 00:00:00', '7.0', '357', '', '85', 'Animation, Action, Comedy, Science Fiction', '28646544')
INSERTING  ('506763', 'tt6869538', 'Detective Dee: The Four Heavenly Kings', '2018-07-27 00:00:00', '6.4', '68', '', '132', 'Mystery, Fantasy, Adventure, Action', '84168923')
INSERTING  ('347866', 'tt3416536', 'Hot Summer Nights', '2018-07-26 00:00:00', '6.7', '185', '', '107', 'Drama, Comedy', '0')
INSERTING  ('492998', 'tt6933454', 'Puzzle', '2018-07-27 00:00:00', '6.7', '47', '', '103', 'Drama', '2167042')
INSERTING  ('420814', 'tt4575576', 'Christopher Robin', '2018-08-02 00:00:00', '7.4', '1457', '', '104', 'Adventure, Comedy, Family, Fantasy', '99138899')
INSERTING  ('445651', 'tt4073790', 'The Darkest Minds', '2018-08-02 00:00:00', '6.8', '1368', '', '105', 'Science Fiction, Thriller', '41142379')
INSERTING  ('454992', 'tt6663582', 'The Spy Who Dumped Me', '2018-08-02 00:00:00', '6.4', '1119', '', '117', 'Action, Comedy', '33562069')
INSERTING  ('426613', 'tt6257174', 'The Miseducation of Cameron Post', '2018-07-18 00:00:00', '7.1', '366', '', '92', 'Drama', '904703')
INSERTING  ('490005', 'tt7690016', "Never Goin' Back", '2018-08-03 00:00:00', '6.4', '33', '', '87', 'Comedy', '0')
INSERTING  ('477510', 'tt7365604', 'Dog Days', '2018-08-10 00:00:00', '6.9', '111', '', '112', 'Comedy, Romance, Drama', '0')
INSERTING  ('345940', 'tt4779682', 'The Meg', '2018-08-09 00:00:00', '5.9', '3250', '', '113', 'Action, Science Fiction, Horror', '315960074')

INSERTING  ('487558', 'tt7349662', 'BlacKkKlansman', '2018-07-30 00:00:00', '7.6', '3590', '', '135', 'Crime, Drama', '48686605')
INSERTING  ('439015', 'tt5690360', 'Slender Man', '2018-08-10 00:00:00', '4.0', '826', '', '93', 'Mystery, Thriller, Horror', '11817275')
INSERTING  ('448776', 'tt4080956', 'A Prayer Before Dawn', '2018-05-24 00:00:00', '6.8', '203', '', '116', 'Drama, Action, Crime', '0')
INSERTING  ('455207', 'tt3104988', 'Crazy Rich Asians', '2018-08-15 00:00:00', '7.1', '1694', '', '121', 'Comedy, Drama, Romance', '237994561')
INSERTING  ('399360', 'tt4244998', 'Alpha', '2018-08-17 00:00:00', '6.0', '1283', '', '97', 'Adventure, Drama', '35808437')
INSERTING  ('347375', 'tt4560436', 'Mile 22', '2018-08-16 00:00:00', '6.0', '1042', '', '95', 'Action, Thriller', '0')
INSERTING  ('340613', 'tt3750872', 'The Wife', '2018-08-02 00:00:00', '7.2', '522', '', '100', 'Drama', '5634567')
INSERTING  ('385360', 'tt5179598', 'Billionaire Boys Club', '2018-07-19 00:00:00', '5.6', '155', '', '108', 'Drama, Thriller', '0')
INSERTING  ('458344', 'tt5607096', 'Juliet, Naked', '2018-08-16 00:00:00', '6.5', '166', '', '97', 'Comedy, Romance, Music, Drama', '0')
INSERTING  ('421792', 'tt2372251', 'Down a Dark Hall', '2018-08-01 00:00:00', '5.5', '296', '', '96', 'Thriller, Drama, Fantasy, Horror', '0')
INSERTING  ('412988', 'tt1308728', 'The Happytime Murders', '2018-08-22 00:00:00', '5.7', '471', '', '91', 'Action, Comedy, Crime', '27506452')
INSERTING  ('489999', 'tt7668870', 'Searching', '2018-08-24 00:00:00', '7.6', '1739', '', '103', 'Thriller, Mystery, Drama', '66265218')
INSERTING  ('433498', 'tt5093026', 'Papillon', '2017-09-07 00:00:00', '7.4', '715', '', '134', 'Drama, History, Crime', '0')
INSERTING  ('438590', 'tt5709188', 'A-X-L', '2018-08-23 00:00:00', '5.8', '460', '', '98', 'Science Fiction, Action, Adventure, Family', '0')
INSERTING  ('493551', 'tt5208252', 'Operation Finale', '2018-08-29 00:00:00', '6.7', '315', '', '124', 'Drama, History, Thriller', '17506878')
INSERTING  ('425505', 'tt6017942', 'Kin', '2018-08-29 00:00:00', '6.1', '360', '', '102', 'Science Fiction, Action', '10023153')
INSERTING  ('455108', 'tt6859762', 'The Little Stranger', '2018-08-30 00:00:00', '5.7', '91', '', '111', 'Mystery, Drama, Horror, Fantasy', '0')
INSERTING  ('489929', 'tt6987770', 'Destination Wedding', '2018-08-02 00:00:00', '5.6', '233', '', '90', 'Romance, Comedy, Drama', '0')
INSERTING  ('439079', 'tt5814060', 'The Nun', '2018-09-05 00:00:00', '5.6', '3096', '', '96', 'Horror, Mystery, Thriller', '365550119')
INSERTING  ('458594', 'tt6850820', 'Peppermint', '2018-09-06 00:00:00', '6.5', '844', '', '102', 'Action, Thriller', '48818723')
INSERTING  ('346910', 'tt3829266', 'The Predator', '2018-09-05 00:00:00', '5.3', '2261', '', '107', 'Science Fiction, Action, Thriller, Adventure, Horror', '160542134')
INSERTING  ('438808', 'tt4537896', 'White Boy Rick', '2018-09-14 00:00:00', '6.3', '340', '', '116', 'Crime, Drama', '26000000')
INSERTING  ('484247', 'tt7040874', 'A Simple Favor', '2018-08-29 00:00:00', '6.6', '2069', '', '117', 'Thriller, Crime, Mystery, Comedy, Drama', '53542417')
INSERTING  ('467936', 'tt6040662', 'The Children Act', '2017-09-09 00:00:00', '6.6', '311', '', '105', 'Drama', '0')
INSERTING  ('460071', 'tt5160938', 'Lizzie', '2018-09-14 00:00:00', '5.8', '76', '', '106', 'Crime, Drama, Thriller', '678102')
INSERTING  ('506680', 'tt7339792', 'Unbroken: Path to Redemption', '2018-09-14 00:00:00', '6.8', '27', '', '98', 'Drama', '0')
INSERTING  ('463821', 'tt2119543', 'The House with a Clock in Its Walls', '2018-09-15 00:00:00', '6.2', '1050', '', '106', 'Fantasy, Family', '29950000')
INSERTING  ('446696', 'tt5989218', 'Life Itself', '2018-09-21 00:00:00', '7.0', '133', '', '118', 'Drama, Romance', '4527513')
INSERTING  ('440161', 'tt4971344', 'The Sisters Brothers', '2018-09-19 00:00:00', '7.0', '719', '', '122', 'Comedy, Drama, Western', '0')
INSERTING  ('446101', 'tt6205872', 'Assassination Nation', '2018-09-21 00:00:00', '6.3', '312', '', '108', 'Thriller, Comedy, Horror', '0')
INSERTING  ('454652', 'tt5437928', 'Colette', '2018-09-21 00:00:00', '7.1', '382', '', '112', 'Drama, History', '0')
INSERTING  ('532908', 'tt8632862', 'Fahrenheit 11/9', '2018-09-10 00:00:00', '7.2', '172', '', '128', 'Documentary', '0')
INSERTING  ('563672', 'tt7479218', 'You Should Meet My Son 2!', '2018-11-01 00:00:00', '7.0', '1', '', '76', 'Comedy', '0')
INSERTING  ('511972', 'tt5424228', 'Love, Gilda', '2018-04-18 00:00:00', '7.3', '19', '', '84', 'Documentary', '0')
INSERTING  ('505262', 'tt7745068', 'My Hero Academia: Two Heroes', '2018-08-03 00:00:00', '8.1', '192', '', '96', 'Animation, Action, Comedy, Fantasy, Adventure', '0')
INSERTING  ('446894', 'tt6182908', 'Smallfoot', '2018-09-20 00:00:00', '6.7', '679', '', '96', 'Animation, Family, Adventure, Fantasy', '0')
INSERTING  ('454293', 'tt6781982', 'Night School', '2018-09-27 00:00:00', '6.0', '895', '', '111', 'Comedy', '33157615')
INSERTING  ('429203', 'tt2837574', 'The Old Man & the Gun', '2018-09-27 00:00:00', '6.4', '515', '', '93', 'Comedy, Crime, Drama', '11277120')
INSERTING  ('429476', 'tt1999890', 'Hell Fest', '2018-09-27 00:00:00', '5.5', '338', '', '89', 'Horror', '0')
INSERTING  ('335983', 'tt1270797', 'Venom', '2018-09-28 00:00:00', '6.6', '7076', '', '112', 'Science Fiction, Action', '855013954')
INSERTING  ('332562', 'tt1517451', 'A Star Is Born', '2018-10-03 00:00:00', '7.5', '6423', '', '135', 'Drama, Romance, Music', '433888866')
INSERTING  ('470044', 'tt5580266', 'The Hate U Give', '2018-10-19 00:00:00', '8.2', '779', '', '133', 'Crime, Drama', '29163535')
INSERTING  ('427214', 'tt2404639', 'The Happy Prince', '2018-04-12 00:00:00', '6.8', '80', '', '105', 'Comedy, Drama, History', '0')
INSERTING  ('369972', 'tt1213641', 'First Man', '2018-10-11 00:00:00', '7.1', '2683', '', '141', 'History, Drama', '100546153')
INSERTING  ('446021', 'tt6628394', 'Bad Times at the El Royale', '2018-10-04 00:00:00', '6.8', '1683', '', '142', 'Thriller, Crime, Mystery, Drama', '31882724')
INSERTING  ('442062', 'tt5664636', 'Goosebumps 2: Haunted Halloween', '2018-10-11 00:00:00', '5.7', '553', '', '90', 'Adventure, Comedy, Fantasy, Family, Horror', '92503612')
INSERTING  ('451915', 'tt1226837', 'Beautiful Boy', '2018-10-12 00:00:00', '7.6', '630', '', '111', 'Drama', '7649973')
INSERTING  ('520596', 'tt7461200', 'The Oath', '2018-10-12 00:00:00', '5.7', '37', '', '93', 'Comedy, Thriller', '0')
INSERTING  ('537751', 'tt3722234', "Gosnell: The Trial of America's Biggest Serial Killer", '2018-10-12 00:00:00', '5.6', '12', '', '93', 'Drama, Crime', '0')
INSERTING  ('948', 'tt0077651', 'Halloween', '1978-10-24 00:00:00', '7.5', '2516', '', '91', 'Horror, Thriller', '0')
INSERTING  ('401847', 'tt4595882', 'Can You Ever Forgive Me?', '2018-10-19 00:00:00', '6.9', '573', '', '107', 'Drama, Crime, Comedy', '8586944')
INSERTING  ('437586', 'tt5613484', 'Mid90s', '2018-10-19 00:00:00', '7.4', '421', '', '84', 'Comedy, Drama', '6897446')
INSERTING  ('417812', 'tt5929754', 'Wildlife', '2018-09-23 00:00:00', '6.8', '198', '', '105', 'Drama', '3097257')
INSERTING  ('451919', 'tt6662736', 'What They Had', '2018-10-19 00:00:00', '6.7', '29', '', '101', 'Drama', '0')
INSERTING  ('399402', 'tt1846589', 'Hunter Killer', '2018-10-19 00:00:00', '6.4', '806', '', '122', 'Action, Thriller', '0')
INSERTING  ('463272', 'tt6921996', 'Johnny English Strikes Again', '2018-09-13 00:00:00', '6.2', '1181', '', '89', 'Comedy', '158256993')
INSERTING  ('361292', 'tt1034415', 'Suspiria', '2018-10-11 00:00:00', '7.0', '910', '', '152', 'Horror, Fantasy', '6348889')
INSERTING  ('514407', 'tt6512428', 'Indivisible', '2018-10-26 00:00:00', '5.8', '17', '', '119', 'Drama, War', '0')
INSERTING  ('502791', 'tt6140148', 'Bullitt County', '2018-10-26 00:00:00', '4.0', '2', '', '98', 'Action, Drama, Thriller', '0')
INSERTING  ('424694', 'tt1727824', 'Bohemian Rhapsody', '2018-10-24 00:00:00', '8.1', '8620', '', '135', 'Drama, Music', '894027543')
INSERTING  ('426543', 'tt5523010', 'The Nutcracker and the Four Realms', '2018-10-26 00:00:00', '6.0', '1080', '', '99', 'Fantasy, Adventure, Family', '59522646')
INSERTING  ('514619', 'tt8097306', "Nobody's Fool", '2018-11-02 00:00:00', '6.1', '117', '', '110', 'Comedy, Drama, Romance', '29152618')

INSERTING  ('472451', 'tt7008872', 'Boy Erased', '2018-09-24 00:00:00', '7.2', '537', '', '114', 'Drama', '7928149')
INSERTING  ('475132', 'tt2368254', 'A Private War', '2018-11-16 00:00:00', '6.9', '159', '', '106', 'Drama, War', '0')
INSERTING  ('431491', 'tt5883570', 'Bodied', '2018-11-02 00:00:00', '7.8', '46', '', '120', 'Drama, Comedy', '0')
INSERTING  ('476764', 'tt7074886', 'The Front Runner', '2018-11-06 00:00:00', '5.9', '139', '', '113', 'Drama, History', '0')
INSERTING  ('360920', 'tt2709692', 'The Grinch', '2018-11-08 00:00:00', '6.4', '1199', '', '90', 'Animation, Family, Comedy, Fantasy', '508575295')
INSERTING  ('446807', 'tt5177088', "The Girl in the Spider's Web", '2018-10-25 00:00:00', '6.0', '607', '', '117', 'Action, Crime, Thriller', '17894345')
INSERTING  ('438799', 'tt4530422', 'Overlord', '2018-11-01 00:00:00', '6.6', '1200', '', '110', 'Horror, War, Science Fiction', '41657844')
INSERTING  ('338952', 'tt4123430', 'Fantastic Beasts: The Crimes of Grindelwald', '2018-11-14 00:00:00', '6.9', '5469', '', '134', 'Adventure, Fantasy, Family', '653355901')
INSERTING  ('401469', 'tt4218572', 'Widows', '2018-11-06 00:00:00', '6.5', '1095', '', '129', 'Crime, Thriller', '73866088')
INSERTING  ('491418', 'tt7401588', 'Instant Family', '2018-11-16 00:00:00', '7.6', '973', '', '118', 'Comedy, Drama, Family', '14700000')
INSERTING  ('404368', 'tt5848272', 'Ralph Breaks the Internet', '2018-11-20 00:00:00', '7.2', '3206', '', '112', 'Family, Animation, Comedy, Adventure', '529221154')
INSERTING  ('480530', 'tt6343314', 'Creed II', '2018-11-21 00:00:00', '6.7', '2479', '', '130', 'Drama', '137944327')
INSERTING  ('375588', 'tt4532826', 'Robin Hood', '2018-11-21 00:00:00', '5.8', '1431', '', '116', 'Adventure, Action, Thriller', '73260114')
INSERTING  ('490132', 'tt6966692', 'Green Book', '2018-11-16 00:00:00', '8.3', '4275', '', '130', 'Drama, Comedy', '319700000')
INSERTING  ('426426', 'tt6155172', 'Roma', '2018-08-25 00:00:00', '7.8', '2066', '', '135', 'Drama', '0')
INSERTING  ('375262', 'tt5083738', 'The Favourite', '2018-11-23 00:00:00', '7.6', '2468', '', '120', 'Drama, History, Comedy', '82124805')
INSERTING  ('505192', 'tt8075192', 'Shoplifters', '2018-06-02 00:00:00', '8.0', '598', '', '121', 'Drama, Crime', '0')
INSERTING  ('494407', 'tt8108230', 'Pokémon the Movie: The Power of Us', '2018-07-13 00:00:00', '6.6', '40', '', '100', 'Family, Fantasy, Animation, Adventure', '0')
INSERTING  ('407436', 'tt2388771', 'Mowgli: Legend of the Jungle', '2018-11-25 00:00:00', '6.6', '1510', '', '105', 'Adventure, Drama', '0')
INSERTING  ('373449', 'tt5080556', '2.0', '2018-11-29 00:00:00', '6.1', '47', '', '149', 'Action, Science Fiction', '0')
INSERTING  ('434555', 'tt5734576', 'The Possession of Hannah Grace', '2018-11-29 00:00:00', '5.2', '489', '', '86', 'Horror, Drama', '41036181')
INSERTING  ('461928', 'tt6433880', 'Anna and the Apocalypse', '2018-11-30 00:00:00', '6.3', '72', '', '93', 'Horror, Comedy, Fantasy, Music', '0')
INSERTING  ('517814', 'tt8267604', 'Capernaum', '2018-10-06 00:00:00', '8.4', '426', '', '126', 'Drama', '64978931')
INSERTING  ('457136', 'tt2328900', 'Mary Queen of Scots', '2018-12-07 00:00:00', '6.6', '725', '', '124', 'Drama, History', '37807625')
INSERTING  ('492452', 'tt7545524', 'Ben Is Back', '2018-12-05 00:00:00', '6.8', '359', '', '103', 'Drama', '0')
INSERTING  ('324857', 'tt4633694', 'Spider-Man: Into the Spider-Verse', '2018-12-06 00:00:00', '8.4', '5132', '', '117', 'Action, Adventure, Animation, Science Fiction, Comedy', '375450417')
INSERTING  ('428078', 'tt1571234', 'Mortal Engines', '2018-11-27 00:00:00', '6.0', '2115', '', '129', 'Adventure, Fantasy', '104236467')
INSERTING  ('504172', 'tt7959026', 'The Mule', '2018-12-14 00:00:00', '6.6', '1980', '', '117', 'Crime, Drama, Thriller', '171304407')
INSERTING  ('465914', 'tt7125860', 'If Beale Street Could Talk', '2018-12-14 00:00:00', '7.1', '475', '', '120', 'Drama, Romance, Crime', '20572691')
INSERTING  ('400650', 'tt5028340', 'Mary Poppins Returns', '2018-12-13 00:00:00', '6.6', '1709', '', '131', 'Fantasy, Family, Comedy', '348807090')
INSERTING  ('297802', 'tt1477834', 'Aquaman', '2018-12-07 00:00:00', '6.8', '6967', '', '144', 'Action, Adventure, Fantasy', '1143689193')
INSERTING  ('424783', 'tt4701182', 'Bumblebee', '2018-12-15 00:00:00', '6.5', '2836', '', '114', 'Action, Adventure, Science Fiction', '465895025')
INSERTING  ('351044', 'tt3289724', 'Welcome to Marwen', '2018-12-21 00:00:00', '6.5', '389', '', '116', 'Drama, Comedy, Fantasy', '12780692')
INSERTING  ('503616', 'tt2126357', 'Second Act', '2018-11-22 00:00:00', '6.2', '479', '', '100', 'Romance, Comedy', '72282227')
INSERTING  ('517104', 'tt5537300', 'Cold War', '2017-11-19 00:00:00', '0.0', '0', '', '96', 'Comedy, Romance', '0')
INSERTING  ('426563', 'tt1255919', 'Holmes & Watson', '2018-12-25 00:00:00', '4.4', '293', '', '90', 'Mystery, Adventure, Comedy, Crime', '40462793')
INSERTING  ('429197', 'tt6266538', 'Vice', '2018-12-25 00:00:00', '7.1', '1510', '', '132', 'Drama, History, Comedy', '66266401')
INSERTING  ('339380', 'tt4669788', 'On the Basis of Sex', '2018-12-25 00:00:00', '7.4', '310', '', '120', 'Drama, History', '0')
INSERTING  ('471507', 'tt7137380', 'Destroyer', '2018-12-25 00:00:00', '6.0', '246', '', '121', 'Thriller, Crime, Drama, Action', '0')
INSERTING  ('569547', 'tt9495224', 'Black Mirror: Bandersnatch', '2018-12-28 00:00:00', '7.0', '2162', '', '90', 'Science Fiction, Mystery, Drama, Thriller, TV Movie', '0')

In [109]:
from time import sleep

for movie in movie_details2:
    print("INSERTING ", movie)
    insert_movie(movie)
    sleep(0.25)

INSERTING  {'movie_id': 1954, 'imdb_id': 'tt0289879', 'title': 'The Butterfly Effect', 'release_date': datetime.datetime(2004, 1, 22, 0, 0), 'vote_avg': 7.5, 'vote_count': 4021, 'mpaa_rating': None, 'runtime': 113, 'genres': 'Science Fiction, Thriller', 'dom_gross': 96060858}
INSERTING  {'movie_id': 13476, 'imdb_id': 'tt0335559', 'title': 'Win a Date with Tad Hamilton!', 'release_date': datetime.datetime(2004, 1, 23, 0, 0), 'vote_avg': 5.7, 'vote_count': 302, 'mpaa_rating': None, 'runtime': 95, 'genres': 'Comedy, Romance', 'dom_gross': 16980098}
INSERTING  {'movie_id': 9541, 'imdb_id': 'tt0300051', 'title': 'Jersey Girl', 'release_date': datetime.datetime(2004, 3, 25, 0, 0), 'vote_avg': 6.0, 'vote_count': 560, 'mpaa_rating': None, 'runtime': 102, 'genres': 'Comedy, Romance', 'dom_gross': 36098382}
INSERTING  {'movie_id': 5516, 'imdb_id': 'tt0335245', 'title': 'The Ladykillers', 'release_date': datetime.datetime(2004, 3, 25, 0, 0), 'vote_avg': 6.1, 'vote_count': 819, 'mpaa_rating': None, 'runtime': 104, 'genres': 'Comedy, Crime, Thriller', 'dom_gross': 0}
INSERTING  {'movie_id': 13700, 'imdb_id': 'tt0299172', 'title': 'Home on the Range', 'release_date': datetime.datetime(2004, 4, 2, 0, 0), 'vote_avg': 5.9, 'vote_count': 1071, 'mpaa_rating': None, 'runtime': 76, 'genres': 'Animation, Family', 'dom_gross': 103951461}
INSERTING  {'movie_id': 11137, 'imdb_id': 'tt0337697', 'title': 'The Prince & Me', 'release_date': datetime.datetime(2004, 3, 28, 0, 0), 'vote_avg': 6.0, 'vote_count': 578, 'mpaa_rating': None, 'runtime': 111, 'genres': 'Comedy, Romance', 'dom_gross': 0}
INSERTING  {'movie_id': 11358, 'imdb_id': 'tt0351977', 'title': 'Walking Tall', 'release_date': datetime.datetime(2004, 4, 2, 0, 0), 'vote_avg': 6.0, 'vote_count': 681, 'mpaa_rating': None, 'runtime': 86, 'genres': 'Adventure, Drama, Action, Thriller', 'dom_gross': 57223890}
INSERTING  {'movie_id': 19084, 'imdb_id': 'tt0359517', 'title': 'Johnson Family Vacation', 'release_date': datetime.datetime(2004, 4, 7, 0, 0), 'vote_avg': 4.6, 'vote_count': 62, 'mpaa_rating': None, 'runtime': 97, 'genres': 'Comedy, Family', 'dom_gross': 31179516}
INSERTING  {'movie_id': 2122, 'imdb_id': 'tt0327247', 'title': 'The Whole Ten Yards', 'release_date': datetime.datetime(2004, 4, 7, 0, 0), 'vote_avg': 5.6, 'vote_count': 483, 'mpaa_rating': None, 'runtime': 98, 'genres': 'Comedy, Thriller, Crime', 'dom_gross': 26155781}
INSERTING  {'movie_id': 393, 'imdb_id': 'tt0378194', 'title': 'Kill Bill: Vol. 2', 'release_date': datetime.datetime(2004, 4, 16, 0, 0), 'vote_avg': 7.8, 'vote_count': 7968, 'mpaa_rating': None, 'runtime': 136, 'genres': 'Action, Crime, Thriller', 'dom_gross': 152159461}
INSERTING  {'movie_id': 7220, 'imdb_id': 'tt0330793', 'title': 'The Punisher', 'release_date': datetime.datetime(2004, 4, 15, 0, 0), 'vote_avg': 6.2, 'vote_count': 1442, 'mpaa_rating': None, 'runtime': 124, 'genres': 'Action, Crime, Drama', 'dom_gross': 54700105}
INSERTING  {'movie_id': 10096, 'imdb_id': 'tt0337563', 'title': '13 Going on 30', 'release_date': datetime.datetime(2004, 4, 13, 0, 0), 'vote_avg': 6.6, 'vote_count': 2870, 'mpaa_rating': None, 'runtime': 98, 'genres': 'Comedy, Fantasy, Romance', 'dom_gross': 96455697}
INSERTING  {'movie_id': 19016, 'imdb_id': 'tt0398872', 'title': "Clifford's Really Big Movie", 'release_date': datetime.datetime(2004, 4, 23, 0, 0), 'vote_avg': 5.0, 'vote_count': 16, 'mpaa_rating': None, 'runtime': 73, 'genres': 'Adventure, Animation, Family', 'dom_gross': 0}
INSERTING  {'movie_id': 11025, 'imdb_id': 'tt0363282', 'title': 'New York Minute', 'release_date': datetime.datetime(2004, 5, 7, 0, 0), 'vote_avg': 5.9, 'vote_count': 462, 'mpaa_rating': None, 'runtime': 91, 'genres': 'Comedy', 'dom_gross': 0}
INSERTING  {'movie_id': 279709, 'imdb_id': 'tt0223828', 'title': 'Off the Lip', 'release_date': datetime.datetime(2004, 5, 1, 0, 0), 'vote_avg': 0.0, 'vote_count': 0, 'mpaa_rating': None, 'runtime': None, 'genres': '', 'dom_gross': 0}
INSERTING  {'movie_id': 43670, 'imdb_id': 'tt0339727', 'title': 'Stateside', 'release_date': datetime.datetime(2004, 5, 23, 0, 0), 'vote_avg': 5.5, 'vote_count': 14, 'mpaa_rating': None, 'runtime': 97, 'genres': 'Drama, Music, Romance', 'dom_gross': 174318}
INSERTING  {'movie_id': 2789, 'imdb_id': 'tt0296572', 'title': 'The Chronicles of Riddick', 'release_date': datetime.datetime(2004, 6, 11, 0, 0), 'vote_avg': 6.4, 'vote_count': 2418, 'mpaa_rating': None, 'runtime': 119, 'genres': 'Action, Science Fiction', 'dom_gross': 115772733}
INSERTING  {'movie_id': 8920, 'imdb_id': 'tt0356634', 'title': 'Garfield', 'release_date': datetime.datetime(2004, 6, 10, 0, 0), 'vote_avg': 5.4, 'vote_count': 1985, 'mpaa_rating': None, 'runtime': 80, 'genres': 'Animation, Comedy, Family', 'dom_gross': 200804534}
INSERTING  {'movie_id': 8193, 'imdb_id': 'tt0374900', 'title': 'Napoleon Dynamite', 'release_date': datetime.datetime(2004, 6, 11, 0, 0), 'vote_avg': 6.8, 'vote_count': 965, 'mpaa_rating': None, 'runtime': 95, 'genres': 'Comedy', 'dom_gross': 46118097}
INSERTING  {'movie_id': 9890, 'imdb_id': 'tt0327162', 'title': 'The Stepford Wives', 'release_date': datetime.datetime(2004, 6, 10, 0, 0), 'vote_avg': 5.6, 'vote_count': 708, 'mpaa_rating': None, 'runtime': 93, 'genres': 'Comedy, Science Fiction', 'dom_gross': 102000000}
INSERTING  {'movie_id': 10204, 'imdb_id': 'tt0327437', 'title': 'Around the World in 80 Days', 'release_date': datetime.datetime(2004, 6, 16, 0, 0), 'vote_avg': 5.8, 'vote_count': 1383, 'mpaa_rating': None, 'runtime': 120, 'genres': 'Action, Adventure, Comedy', 'dom_gross': 72178895}
INSERTING  {'movie_id': 1997, 'imdb_id': 'tt0338512', 'title': 'Two Brothers', 'release_date': datetime.datetime(2004, 4, 7, 0, 0), 'vote_avg': 7.1, 'vote_count': 457, 'mpaa_rating': None, 'runtime': 109, 'genres': 'Adventure, Drama, Family', 'dom_gross': 62172050}
INSERTING  {'movie_id': 558, 'imdb_id': 'tt0316654', 'title': 'Spider-Man 2', 'release_date': datetime.datetime(2004, 6, 25, 0, 0), 'vote_avg': 7.0, 'vote_count': 8484, 'mpaa_rating': None, 'runtime': 127, 'genres': 'Action, Adventure, Fantasy', 'dom_gross': 783766341}
INSERTING  {'movie_id': 80, 'imdb_id': 'tt0381681', 'title': 'Before Sunset', 'release_date': datetime.datetime(2004, 2, 10, 0, 0), 'vote_avg': 7.7, 'vote_count': 1516, 'mpaa_rating': None, 'runtime': 80, 'genres': 'Drama, Romance', 'dom_gross': 15992615}
INSERTING  {'movie_id': 9477, 'imdb_id': 'tt0349683', 'title': 'King Arthur', 'release_date': datetime.datetime(2004, 7, 7, 0, 0), 'vote_avg': 6.2, 'vote_count': 1550, 'mpaa_rating': None, 'runtime': 126, 'genres': 'Adventure, War, History', 'dom_gross': 203567857}
INSERTING  {'movie_id': 2502, 'imdb_id': 'tt0372183', 'title': 'The Bourne Supremacy', 'release_date': datetime.datetime(2004, 7, 23, 0, 0), 'vote_avg': 7.3, 'vote_count': 4538, 'mpaa_rating': None, 'runtime': 108, 'genres': 'Action, Drama, Thriller', 'dom_gross': 288500217}
INSERTING  {'movie_id': 314, 'imdb_id': 'tt0327554', 'title': 'Catwoman', 'release_date': datetime.datetime(2004, 7, 22, 0, 0), 'vote_avg': 4.4, 'vote_count': 1853, 'mpaa_rating': None, 'runtime': 104, 'genres': 'Action, Fantasy, Mystery', 'dom_gross': 82102379}
INSERTING  {'movie_id': 14846, 'imdb_id': 'tt0361841', 'title': 'Little Black Book', 'release_date': datetime.datetime(2004, 8, 6, 0, 0), 'vote_avg': 5.3, 'vote_count': 215, 'mpaa_rating': None, 'runtime': 111, 'genres': 'Comedy, Romance, Drama', 'dom_gross': 22034832}
INSERTING  {'movie_id': 8080, 'imdb_id': 'tt0324127', 'title': 'Suspect Zero', 'release_date': datetime.datetime(2004, 8, 27, 0, 0), 'vote_avg': 5.5, 'vote_count': 162, 'mpaa_rating': None, 'runtime': 99, 'genres': 'Crime, Thriller', 'dom_gross': 13000000}
INSERTING  {'movie_id': 11128, 'imdb_id': 'tt0349710', 'title': 'Ladder 49', 'release_date': datetime.datetime(2004, 10, 1, 0, 0), 'vote_avg': 6.3, 'vote_count': 384, 'mpaa_rating': None, 'runtime': 115, 'genres': 'Drama, Action, Thriller', 'dom_gross': 74541707}
INSERTING  {'movie_id': 3989, 'imdb_id': 'tt0372588', 'title': 'Team America: World Police', 'release_date': datetime.datetime(2004, 10, 10, 0, 0), 'vote_avg': 6.7, 'vote_count': 1060, 'mpaa_rating': None, 'runtime': 98, 'genres': 'Music, Adventure, Animation, Action, Comedy', 'dom_gross': 50907422}

INSERTING  {'movie_id': 1970, 'imdb_id': 'tt0391198', 'title': 'The Grudge', 'release_date': datetime.datetime(2004, 10, 22, 0, 0), 'vote_avg': 5.9, 'vote_count': 1647, 'mpaa_rating': None, 'runtime': 92, 'genres': 'Horror, Mystery, Thriller', 'dom_gross': 183474602}
INSERTING  {'movie_id': 9675, 'imdb_id': 'tt0375063', 'title': 'Sideways', 'release_date': datetime.datetime(2004, 10, 22, 0, 0), 'vote_avg': 7.0, 'vote_count': 825, 'mpaa_rating': None, 'runtime': 127, 'genres': 'Comedy, Drama, Romance', 'dom_gross': 109502303}
INSERTING  {'movie_id': 866, 'imdb_id': 'tt0308644', 'title': 'Finding Neverland', 'release_date': datetime.datetime(2004, 10, 17, 0, 0), 'vote_avg': 7.3, 'vote_count': 2360, 'mpaa_rating': None, 'runtime': 106, 'genres': 'Drama', 'dom_gross': 116766556}
INSERTING  {'movie_id': 36648, 'imdb_id': 'tt0359013', 'title': 'Blade: Trinity', 'release_date': datetime.datetime(2004, 12, 8, 0, 0), 'vote_avg': 5.8, 'vote_count': 2165, 'mpaa_rating': None, 'runtime': 123, 'genres': 'Science Fiction, Action, Horror, Thriller, Adventure, Fantasy', 'dom_gross': 128905366}
INSERTING  {'movie_id': 163, 'imdb_id': 'tt0349903', 'title': "Ocean's Twelve", 'release_date': datetime.datetime(2004, 12, 9, 0, 0), 'vote_avg': 6.5, 'vote_count': 4179, 'mpaa_rating': None, 'runtime': 125, 'genres': 'Thriller, Crime', 'dom_gross': 362744280}
INSERTING  {'movie_id': 205, 'imdb_id': 'tt0395169', 'title': 'Hotel Rwanda', 'release_date': datetime.datetime(2004, 9, 11, 0, 0), 'vote_avg': 7.7, 'vote_count': 1492, 'mpaa_rating': None, 'runtime': 121, 'genres': 'Drama, History, War', 'dom_gross': 38000000}
INSERTING  {'movie_id': 693, 'imdb_id': 'tt0290002', 'title': 'Meet the Fockers', 'release_date': datetime.datetime(2004, 12, 22, 0, 0), 'vote_avg': 6.2, 'vote_count': 2806, 'mpaa_rating': None, 'runtime': 115, 'genres': 'Comedy, Romance', 'dom_gross': 516642939}
INSERTING  {'movie_id': 9833, 'imdb_id': 'tt0293508', 'title': 'The Phantom of the Opera', 'release_date': datetime.datetime(2004, 12, 8, 0, 0), 'vote_avg': 7.2, 'vote_count': 827, 'mpaa_rating': None, 'runtime': 143, 'genres': 'Thriller, Drama, Romance', 'dom_gross': 154648887}
INSERTING  {'movie_id': 2567, 'imdb_id': 'tt0338751', 'title': 'The Aviator', 'release_date': datetime.datetime(2004, 12, 17, 0, 0), 'vote_avg': 7.1, 'vote_count': 2827, 'mpaa_rating': None, 'runtime': 170, 'genres': 'Drama', 'dom_gross': 102000000}
INSERTING  {'movie_id': 17880, 'imdb_id': 'tt0317132', 'title': 'Because of Winn-Dixie', 'release_date': datetime.datetime(2005, 2, 18, 0, 0), 'vote_avg': 6.2, 'vote_count': 114, 'mpaa_rating': None, 'runtime': 106, 'genres': 'Comedy, Drama, Family', 'dom_gross': 32645546}
INSERTING  {'movie_id': 561, 'imdb_id': 'tt0360486', 'title': 'Constantine', 'release_date': datetime.datetime(2005, 2, 8, 0, 0), 'vote_avg': 6.8, 'vote_count': 3457, 'mpaa_rating': None, 'runtime': 121, 'genres': 'Drama, Fantasy, Horror', 'dom_gross': 230884728}
INSERTING  {'movie_id': 10214, 'imdb_id': 'tt0362165', 'title': 'Son of the Mask', 'release_date': datetime.datetime(2005, 2, 18, 0, 0), 'vote_avg': 3.9, 'vote_count': 868, 'mpaa_rating': None, 'runtime': 94, 'genres': 'Fantasy, Comedy, Family, Adventure', 'dom_gross': 0}
INSERTING  {'movie_id': 9928, 'imdb_id': 'tt0358082', 'title': 'Robots', 'release_date': datetime.datetime(2005, 3, 10, 0, 0), 'vote_avg': 6.2, 'vote_count': 2655, 'mpaa_rating': None, 'runtime': 91, 'genres': 'Animation, Comedy, Family, Science Fiction', 'dom_gross': 260696994}
INSERTING  {'movie_id': 13374, 'imdb_id': 'tt0396652', 'title': 'Ice Princess', 'release_date': datetime.datetime(2005, 3, 17, 0, 0), 'vote_avg': 6.0, 'vote_count': 529, 'mpaa_rating': None, 'runtime': 98, 'genres': 'Drama, Comedy, Family', 'dom_gross': 27645491}
INSERTING  {'movie_id': 14177, 'imdb_id': 'tt0388500', 'title': 'Beauty Shop', 'release_date': datetime.datetime(2005, 6, 2, 0, 0), 'vote_avg': 5.5, 'vote_count': 235, 'mpaa_rating': None, 'runtime': 105, 'genres': 'Comedy, Romance', 'dom_gross': 36351350}
INSERTING  {'movie_id': 187, 'imdb_id': 'tt0401792', 'title': 'Sin City', 'release_date': datetime.datetime(2005, 4, 1, 0, 0), 'vote_avg': 7.4, 'vote_count': 4789, 'mpaa_rating': None, 'runtime': 124, 'genres': 'Action, Thriller, Crime', 'dom_gross': 158733820}
INSERTING  {'movie_id': 11354, 'imdb_id': 'tt0365885', 'title': 'The Upside of Anger', 'release_date': datetime.datetime(2005, 1, 23, 0, 0), 'vote_avg': 6.3, 'vote_count': 119, 'mpaa_rating': None, 'runtime': 118, 'genres': 'Comedy, Drama', 'dom_gross': 0}
INSERTING  {'movie_id': 11431, 'imdb_id': 'tt0332047', 'title': 'Fever Pitch', 'release_date': datetime.datetime(2005, 4, 6, 0, 0), 'vote_avg': 5.9, 'vote_count': 344, 'mpaa_rating': None, 'runtime': 103, 'genres': 'Comedy, Drama, Romance', 'dom_gross': 0}
INSERTING  {'movie_id': 7364, 'imdb_id': 'tt0318649', 'title': 'Sahara', 'release_date': datetime.datetime(2005, 4, 6, 0, 0), 'vote_avg': 5.8, 'vote_count': 759, 'mpaa_rating': None, 'runtime': 124, 'genres': 'Action, Adventure, Comedy, Drama, Mystery', 'dom_gross': 119269486}
INSERTING  {'movie_id': 7453, 'imdb_id': 'tt0371724', 'title': "The Hitchhiker's Guide to the Galaxy", 'release_date': datetime.datetime(2005, 4, 28, 0, 0), 'vote_avg': 6.7, 'vote_count': 2447, 'mpaa_rating': None, 'runtime': 109, 'genres': 'Adventure, Comedy, Family, Science Fiction', 'dom_gross': 104478416}
INSERTING  {'movie_id': 11679, 'imdb_id': 'tt0329774', 'title': 'xXx: State of the Union', 'release_date': datetime.datetime(2005, 4, 27, 0, 0), 'vote_avg': 4.8, 'vote_count': 1011, 'mpaa_rating': None, 'runtime': 101, 'genres': 'Action, Adventure, Crime, Drama, Mystery, Thriller', 'dom_gross': 71073932}
INSERTING  {'movie_id': 1640, 'imdb_id': 'tt0375679', 'title': 'Crash', 'release_date': datetime.datetime(2004, 9, 10, 0, 0), 'vote_avg': 7.3, 'vote_count': 1977, 'mpaa_rating': None, 'runtime': 112, 'genres': 'Drama', 'dom_gross': 98410061}
INSERTING  {'movie_id': 10066, 'imdb_id': 'tt0397065', 'title': 'House of Wax', 'release_date': datetime.datetime(2005, 4, 30, 0, 0), 'vote_avg': 5.7, 'vote_count': 1435, 'mpaa_rating': None, 'runtime': 113, 'genres': 'Horror, Drama', 'dom_gross': 68766121}
INSERTING  {'movie_id': 12700, 'imdb_id': 'tt0449086', 'title': 'Dominion: Prequel to the Exorcist', 'release_date': datetime.datetime(2005, 5, 20, 0, 0), 'vote_avg': 5.0, 'vote_count': 124, 'mpaa_rating': None, 'runtime': 117, 'genres': 'Horror, Thriller', 'dom_gross': 251495}
INSERTING  {'movie_id': 118, 'imdb_id': 'tt0367594', 'title': 'Charlie and the Chocolate Factory', 'release_date': datetime.datetime(2005, 7, 13, 0, 0), 'vote_avg': 7.0, 'vote_count': 8684, 'mpaa_rating': None, 'runtime': 115, 'genres': 'Adventure, Comedy, Family, Fantasy', 'dom_gross': 474968763}
INSERTING  {'movie_id': 9522, 'imdb_id': 'tt0396269', 'title': 'Wedding Crashers', 'release_date': datetime.datetime(2005, 7, 13, 0, 0), 'vote_avg': 6.4, 'vote_count': 2610, 'mpaa_rating': None, 'runtime': 119, 'genres': 'Comedy, Romance', 'dom_gross': 285176741}
INSERTING  {'movie_id': 13341, 'imdb_id': 'tt0408524', 'title': 'Bad News Bears', 'release_date': datetime.datetime(2005, 7, 22, 0, 0), 'vote_avg': 5.7, 'vote_count': 123, 'mpaa_rating': None, 'runtime': 113, 'genres': 'Comedy', 'dom_gross': 34252847}
INSERTING  {'movie_id': 1696, 'imdb_id': 'tt0395584', 'title': "The Devil's Rejects", 'release_date': datetime.datetime(2005, 7, 22, 0, 0), 'vote_avg': 6.7, 'vote_count': 648, 'mpaa_rating': None, 'runtime': 107, 'genres': 'Drama, Horror, Crime', 'dom_gross': 19246174}
INSERTING  {'movie_id': 10476, 'imdb_id': 'tt0410097', 'title': 'Hustle & Flow', 'release_date': datetime.datetime(2005, 7, 22, 0, 0), 'vote_avg': 7.0, 'vote_count': 163, 'mpaa_rating': None, 'runtime': 116, 'genres': 'Drama', 'dom_gross': 23563727}
INSERTING  {'movie_id': 1635, 'imdb_id': 'tt0399201', 'title': 'The Island', 'release_date': datetime.datetime(2005, 7, 21, 0, 0), 'vote_avg': 6.6, 'vote_count': 3161, 'mpaa_rating': None, 'runtime': 136, 'genres': 'Action, Thriller, Science Fiction, Adventure', 'dom_gross': 162949164}
INSERTING  {'movie_id': 1667, 'imdb_id': 'tt0428803', 'title': 'March of the Penguins', 'release_date': datetime.datetime(2005, 1, 26, 0, 0), 'vote_avg': 7.0, 'vote_count': 628, 'mpaa_rating': None, 'runtime': 80, 'genres': 'Documentary, Family', 'dom_gross': 127392239}

INSERTING  {'movie_id': 13922, 'imdb_id': 'tt0326905', 'title': 'The Great Raid', 'release_date': datetime.datetime(2005, 8, 12, 0, 0), 'vote_avg': 6.7, 'vote_count': 145, 'mpaa_rating': None, 'runtime': 132, 'genres': 'Action, History, War', 'dom_gross': 10166502}
INSERTING  {'movie_id': 9913, 'imdb_id': 'tt0397101', 'title': 'The Skeleton Key', 'release_date': datetime.datetime(2005, 7, 29, 0, 0), 'vote_avg': 6.5, 'vote_count': 1076, 'mpaa_rating': None, 'runtime': 104, 'genres': 'Drama, Horror, Mystery, Thriller', 'dom_gross': 91974818}
INSERTING  {'movie_id': 17186, 'imdb_id': 'tt0403016', 'title': 'Supercross', 'release_date': datetime.datetime(2005, 8, 16, 0, 0), 'vote_avg': 5.2, 'vote_count': 53, 'mpaa_rating': None, 'runtime': 80, 'genres': 'Action, Adventure, Drama, Romance', 'dom_gross': 3102550}
INSERTING  {'movie_id': 17926, 'imdb_id': 'tt0434424', 'title': 'Undiscovered', 'release_date': datetime.datetime(2005, 8, 26, 0, 0), 'vote_avg': 4.7, 'vote_count': 20, 'mpaa_rating': None, 'runtime': 97, 'genres': 'Comedy, Romance', 'dom_gross': 1046166}
INSERTING  {'movie_id': 1985, 'imdb_id': 'tt0387131', 'title': 'The Constant Gardener', 'release_date': datetime.datetime(2005, 8, 31, 0, 0), 'vote_avg': 7.0, 'vote_count': 738, 'mpaa_rating': None, 'runtime': 129, 'genres': 'Drama, Mystery, Thriller', 'dom_gross': 82466670}
INSERTING  {'movie_id': 10077, 'imdb_id': 'tt0318081', 'title': 'A Sound of Thunder', 'release_date': datetime.datetime(2005, 5, 15, 0, 0), 'vote_avg': 4.7, 'vote_count': 185, 'mpaa_rating': None, 'runtime': 110, 'genres': 'Thriller, Science Fiction, Adventure, Action', 'dom_gross': 5989640}
INSERTING  {'movie_id': 9335, 'imdb_id': 'tt0388482', 'title': 'Transporter 2', 'release_date': datetime.datetime(2005, 8, 2, 0, 0), 'vote_avg': 6.3, 'vote_count': 1896, 'mpaa_rating': None, 'runtime': 87, 'genres': 'Action, Thriller, Crime', 'dom_gross': 85167639}
INSERTING  {'movie_id': 19803, 'imdb_id': 'tt0373416', 'title': 'Underclassman', 'release_date': datetime.datetime(2005, 9, 2, 0, 0), 'vote_avg': 5.1, 'vote_count': 48, 'mpaa_rating': None, 'runtime': 95, 'genres': 'Action, Comedy', 'dom_gross': 0}
INSERTING  {'movie_id': 7182, 'imdb_id': 'tt0428251', 'title': 'Venom', 'release_date': datetime.datetime(2005, 9, 16, 0, 0), 'vote_avg': 4.9, 'vote_count': 108, 'mpaa_rating': None, 'runtime': 85, 'genres': 'Horror, Thriller', 'dom_gross': 881779}
INSERTING  {'movie_id': 3933, 'imdb_id': 'tt0121164', 'title': 'Corpse Bride', 'release_date': datetime.datetime(2005, 9, 12, 0, 0), 'vote_avg': 7.4, 'vote_count': 4629, 'mpaa_rating': None, 'runtime': 77, 'genres': 'Romance, Fantasy, Animation', 'dom_gross': 117195061}
INSERTING  {'movie_id': 257, 'imdb_id': 'tt0380599', 'title': 'Oliver Twist', 'release_date': datetime.datetime(2005, 9, 23, 0, 0), 'vote_avg': 6.7, 'vote_count': 628, 'mpaa_rating': None, 'runtime': 130, 'genres': 'Crime, Drama, Family', 'dom_gross': 42093706}
INSERTING  {'movie_id': 9910, 'imdb_id': 'tt0417217', 'title': 'Two for the Money', 'release_date': datetime.datetime(2005, 10, 7, 0, 0), 'vote_avg': 6.0, 'vote_count': 301, 'mpaa_rating': None, 'runtime': 122, 'genres': 'Comedy, Crime, Drama, Thriller', 'dom_gross': 30526509}
INSERTING  {'movie_id': 7553, 'imdb_id': 'tt0348333', 'title': 'Waiting...', 'release_date': datetime.datetime(2005, 10, 7, 0, 0), 'vote_avg': 6.3, 'vote_count': 375, 'mpaa_rating': None, 'runtime': 94, 'genres': 'Comedy', 'dom_gross': 18637690}
INSERTING  {'movie_id': 9923, 'imdb_id': 'tt0421054', 'title': 'Domino', 'release_date': datetime.datetime(2005, 9, 22, 0, 0), 'vote_avg': 6.0, 'vote_count': 718, 'mpaa_rating': None, 'runtime': 127, 'genres': 'Action, Crime', 'dom_gross': 22944502}
INSERTING  {'movie_id': 9621, 'imdb_id': 'tt0368709', 'title': 'Elizabethtown', 'release_date': datetime.datetime(2005, 10, 6, 0, 0), 'vote_avg': 6.1, 'vote_count': 620, 'mpaa_rating': None, 'runtime': 123, 'genres': 'Comedy, Drama, Romance', 'dom_gross': 52034889}
INSERTING  {'movie_id': 791, 'imdb_id': 'tt0432291', 'title': 'The Fog', 'release_date': datetime.datetime(2005, 10, 14, 0, 0), 'vote_avg': 4.0, 'vote_count': 350, 'mpaa_rating': None, 'runtime': 100, 'genres': 'Horror, Thriller', 'dom_gross': 46201432}
INSERTING  {'movie_id': 8999, 'imdb_id': 'tt0398017', 'title': 'Derailed', 'release_date': datetime.datetime(2005, 11, 11, 0, 0), 'vote_avg': 6.2, 'vote_count': 525, 'mpaa_rating': None, 'runtime': 108, 'genres': 'Drama, Thriller', 'dom_gross': 57479076}
INSERTING  {'movie_id': 6795, 'imdb_id': 'tt0406375', 'title': 'Zathura: A Space Adventure', 'release_date': datetime.datetime(2005, 11, 6, 0, 0), 'vote_avg': 6.3, 'vote_count': 1720, 'mpaa_rating': None, 'runtime': 101, 'genres': 'Family, Fantasy, Science Fiction, Adventure, Comedy', 'dom_gross': 64321501}
INSERTING  {'movie_id': 1833, 'imdb_id': 'tt0294870', 'title': 'Rent', 'release_date': datetime.datetime(2005, 11, 17, 0, 0), 'vote_avg': 6.9, 'vote_count': 323, 'mpaa_rating': None, 'runtime': 135, 'genres': 'Drama, Romance', 'dom_gross': 31670620}
INSERTING  {'movie_id': 13499, 'imdb_id': 'tt0443295', 'title': 'Yours, Mine & Ours', 'release_date': datetime.datetime(2005, 11, 23, 0, 0), 'vote_avg': 5.9, 'vote_count': 450, 'mpaa_rating': None, 'runtime': 90, 'genres': 'Comedy, Family, Romance', 'dom_gross': 72028752}
INSERTING  {'movie_id': 1904, 'imdb_id': 'tt0397535', 'title': 'Memoirs of a Geisha', 'release_date': datetime.datetime(2005, 12, 6, 0, 0), 'vote_avg': 7.6, 'vote_count': 1398, 'mpaa_rating': None, 'runtime': 145, 'genres': 'History, Romance', 'dom_gross': 162242962}
INSERTING  {'movie_id': 12096, 'imdb_id': 'tt0383216', 'title': 'The Pink Panther', 'release_date': datetime.datetime(2006, 2, 10, 0, 0), 'vote_avg': 5.8, 'vote_count': 1062, 'mpaa_rating': None, 'runtime': 93, 'genres': 'Action, Comedy, Crime, Mystery, Family', 'dom_gross': 158851357}
INSERTING  {'movie_id': 14191, 'imdb_id': 'tt0429591', 'title': 'Aquamarine', 'release_date': datetime.datetime(2006, 3, 3, 0, 0), 'vote_avg': 5.9, 'vote_count': 823, 'mpaa_rating': None, 'runtime': 104, 'genres': 'Fantasy, Romance, Family, Comedy', 'dom_gross': 23006849}
INSERTING  {'movie_id': 9353, 'imdb_id': 'tt0457510', 'title': 'Nacho Libre', 'release_date': datetime.datetime(2006, 6, 16, 0, 0), 'vote_avg': 5.6, 'vote_count': 658, 'mpaa_rating': None, 'runtime': 92, 'genres': 'Comedy, Family', 'dom_gross': 80197993}
INSERTING  {'movie_id': 9339, 'imdb_id': 'tt0389860', 'title': 'Click', 'release_date': datetime.datetime(2006, 6, 22, 0, 0), 'vote_avg': 6.1, 'vote_count': 4148, 'mpaa_rating': None, 'runtime': 107, 'genres': 'Comedy, Drama, Fantasy, Romance', 'dom_gross': 237681299}
INSERTING  {'movie_id': 9917, 'imdb_id': 'tt0456020', 'title': 'Waist Deep', 'release_date': datetime.datetime(2006, 6, 23, 0, 0), 'vote_avg': 6.3, 'vote_count': 94, 'mpaa_rating': None, 'runtime': 97, 'genres': 'Action, Adventure, Drama, Thriller', 'dom_gross': 21353303}
INSERTING  {'movie_id': 1452, 'imdb_id': 'tt0348150', 'title': 'Superman Returns', 'release_date': datetime.datetime(2006, 6, 28, 0, 0), 'vote_avg': 5.5, 'vote_count': 2459, 'mpaa_rating': None, 'runtime': 154, 'genres': 'Science Fiction, Action, Adventure', 'dom_gross': 391081192}
INSERTING  {'movie_id': 9697, 'imdb_id': 'tt0452637', 'title': 'Lady in the Water', 'release_date': datetime.datetime(2006, 7, 21, 0, 0), 'vote_avg': 5.5, 'vote_count': 731, 'mpaa_rating': None, 'runtime': 110, 'genres': 'Drama, Thriller, Fantasy, Mystery', 'dom_gross': 42285169}
INSERTING  {'movie_id': 9297, 'imdb_id': 'tt0385880', 'title': 'Monster House', 'release_date': datetime.datetime(2006, 7, 21, 0, 0), 'vote_avg': 6.5, 'vote_count': 2099, 'mpaa_rating': None, 'runtime': 91, 'genres': 'Animation, Comedy, Family, Fantasy', 'dom_gross': 140175006}
INSERTING  {'movie_id': 4474, 'imdb_id': 'tt0465624', 'title': 'My Super Ex-Girlfriend', 'release_date': datetime.datetime(2006, 6, 20, 0, 0), 'vote_avg': 4.9, 'vote_count': 814, 'mpaa_rating': None, 'runtime': 95, 'genres': 'Fantasy, Drama, Action, Comedy, Crime, Science Fiction', 'dom_gross': 60896147}
INSERTING  {'movie_id': 13767, 'imdb_id': 'tt0452681', 'title': 'The Santa Clause 3: The Escape Clause', 'release_date': datetime.datetime(2006, 11, 1, 0, 0), 'vote_avg': 5.2, 'vote_count': 528, 'mpaa_rating': None, 'runtime': 98, 'genres': 'Comedy, Family, Adventure', 'dom_gross': 84500122}

INSERTING  {'movie_id': 219, 'imdb_id': 'tt0441909', 'title': 'Volver', 'release_date': datetime.datetime(2006, 3, 16, 0, 0), 'vote_avg': 7.5, 'vote_count': 810, 'mpaa_rating': None, 'runtime': 121, 'genres': 'Comedy, Drama, Romance', 'dom_gross': 85582407}
INSERTING  {'movie_id': 1253, 'imdb_id': 'tt0443456', 'title': 'Breaking and Entering', 'release_date': datetime.datetime(2006, 12, 15, 0, 0), 'vote_avg': 6.3, 'vote_count': 115, 'mpaa_rating': None, 'runtime': 129, 'genres': 'Drama, Romance', 'dom_gross': 8974829}
INSERTING  {'movie_id': 36557, 'imdb_id': 'tt0381061', 'title': 'Casino Royale', 'release_date': datetime.datetime(2006, 11, 14, 0, 0), 'vote_avg': 7.4, 'vote_count': 6254, 'mpaa_rating': None, 'runtime': 144, 'genres': 'Adventure, Action, Thriller', 'dom_gross': 599045960}
INSERTING  {'movie_id': 14799, 'imdb_id': 'tt0470765', 'title': 'For Your Consideration', 'release_date': datetime.datetime(2006, 11, 22, 0, 0), 'vote_avg': 5.9, 'vote_count': 75, 'mpaa_rating': None, 'runtime': 86, 'genres': 'Comedy, Drama', 'dom_gross': 5542025}
INSERTING  {'movie_id': 9836, 'imdb_id': 'tt0366548', 'title': 'Happy Feet', 'release_date': datetime.datetime(2006, 11, 16, 0, 0), 'vote_avg': 6.0, 'vote_count': 2973, 'mpaa_rating': None, 'runtime': 108, 'genres': 'Animation, Comedy, Family', 'dom_gross': 384335608}
INSERTING  {'movie_id': 2447, 'imdb_id': 'tt0762121', 'title': 'The Nativity Story', 'release_date': datetime.datetime(2006, 12, 1, 0, 0), 'vote_avg': 6.3, 'vote_count': 74, 'mpaa_rating': None, 'runtime': 101, 'genres': 'Drama, History', 'dom_gross': 0}
INSERTING  {'movie_id': 9796, 'imdb_id': 'tt0454970', 'title': 'Turistas', 'release_date': datetime.datetime(2006, 12, 1, 0, 0), 'vote_avg': 5.3, 'vote_count': 390, 'mpaa_rating': None, 'runtime': 93, 'genres': 'Horror, Thriller', 'dom_gross': 0}
INSERTING  {'movie_id': 10032, 'imdb_id': 'tt0480271', 'title': 'Van Wilder 2: The Rise of Taj', 'release_date': datetime.datetime(2006, 12, 1, 0, 0), 'vote_avg': 5.0, 'vote_count': 241, 'mpaa_rating': None, 'runtime': 97, 'genres': 'Comedy', 'dom_gross': 6086508}
INSERTING  {'movie_id': 2486, 'imdb_id': 'tt0449010', 'title': 'Eragon', 'release_date': datetime.datetime(2006, 12, 14, 0, 0), 'vote_avg': 5.0, 'vote_count': 2024, 'mpaa_rating': None, 'runtime': 104, 'genres': 'Fantasy, Action, Adventure, Family', 'dom_gross': 249288105}
INSERTING  {'movie_id': 9656, 'imdb_id': 'tt0454082', 'title': 'Black Christmas', 'release_date': datetime.datetime(2006, 12, 25, 0, 0), 'vote_avg': 4.9, 'vote_count': 219, 'mpaa_rating': None, 'runtime': 84, 'genres': 'Horror, Thriller', 'dom_gross': 21510851}
INSERTING  {'movie_id': 16135, 'imdb_id': 'tt0475984', 'title': 'Mister Lonely', 'release_date': datetime.datetime(2008, 12, 17, 0, 0), 'vote_avg': 6.9, 'vote_count': 48, 'mpaa_rating': None, 'runtime': 112, 'genres': 'Comedy, Drama', 'dom_gross': 0}
INSERTING  {'movie_id': 1726, 'imdb_id': 'tt0371746', 'title': 'Iron Man', 'release_date': datetime.datetime(2008, 4, 30, 0, 0), 'vote_avg': 7.6, 'vote_count': 16523, 'mpaa_rating': None, 'runtime': 126, 'genres': 'Action, Science Fiction, Adventure', 'dom_gross': 585174222}
INSERTING  {'movie_id': 10761, 'imdb_id': 'tt0866439', 'title': 'Made of Honor', 'release_date': datetime.datetime(2008, 5, 2, 0, 0), 'vote_avg': 6.3, 'vote_count': 904, 'mpaa_rating': None, 'runtime': 101, 'genres': 'Comedy, Romance', 'dom_gross': 84601681}
INSERTING  {'movie_id': 12400, 'imdb_id': 'tt1012804', 'title': 'Redbelt', 'release_date': datetime.datetime(2008, 4, 7, 0, 0), 'vote_avg': 6.4, 'vote_count': 133, 'mpaa_rating': None, 'runtime': 99, 'genres': 'Drama', 'dom_gross': 0}
INSERTING  {'movie_id': 13196, 'imdb_id': 'tt0455805', 'title': 'Then She Found Me', 'release_date': datetime.datetime(2007, 9, 7, 0, 0), 'vote_avg': 5.5, 'vote_count': 87, 'mpaa_rating': None, 'runtime': 100, 'genres': 'Comedy, Drama, Romance', 'dom_gross': 0}
INSERTING  {'movie_id': 23044, 'imdb_id': 'tt1331025', 'title': 'The September Issue', 'release_date': datetime.datetime(2009, 8, 28, 0, 0), 'vote_avg': 6.8, 'vote_count': 69, 'mpaa_rating': None, 'runtime': 90, 'genres': 'Documentary', 'dom_gross': 0}
INSERTING  {'movie_id': 93399, 'imdb_id': 'tt1474918', 'title': 'Thomas & Friends: Hero of the Rails', 'release_date': datetime.datetime(2009, 9, 8, 0, 0), 'vote_avg': 5.3, 'vote_count': 4, 'mpaa_rating': None, 'runtime': 61, 'genres': 'Animation, Family', 'dom_gross': 0}
INSERTING  {'movie_id': 10313, 'imdb_id': 'tt1234548', 'title': 'The Men Who Stare at Goats', 'release_date': datetime.datetime(2009, 10, 17, 0, 0), 'vote_avg': 5.9, 'vote_count': 1327, 'mpaa_rating': None, 'runtime': 93, 'genres': 'Comedy, War', 'dom_gross': 68729358}
INSERTING  {'movie_id': 23202, 'imdb_id': 'tt0862856', 'title': "Trick 'r Treat", 'release_date': datetime.datetime(2007, 12, 7, 0, 0), 'vote_avg': 6.6, 'vote_count': 703, 'mpaa_rating': None, 'runtime': 82, 'genres': 'Horror, Thriller, Comedy', 'dom_gross': 0}
INSERTING  {'movie_id': 22954, 'imdb_id': 'tt1057500', 'title': 'Invictus', 'release_date': datetime.datetime(2009, 12, 10, 0, 0), 'vote_avg': 7.2, 'vote_count': 2241, 'mpaa_rating': None, 'runtime': 134, 'genres': 'Drama, History', 'dom_gross': 122233971}
INSERTING  {'movie_id': 7980, 'imdb_id': 'tt0380510', 'title': 'The Lovely Bones', 'release_date': datetime.datetime(2009, 12, 26, 0, 0), 'vote_avg': 6.8, 'vote_count': 2321, 'mpaa_rating': None, 'runtime': 136, 'genres': 'Fantasy, Drama', 'dom_gross': 93525586}
INSERTING  {'movie_id': 24438, 'imdb_id': 'tt1314228', 'title': 'Did You Hear About the Morgans?', 'release_date': datetime.datetime(2009, 12, 17, 0, 0), 'vote_avg': 5.3, 'vote_count': 547, 'mpaa_rating': None, 'runtime': 103, 'genres': 'Comedy', 'dom_gross': 85280250}
INSERTING  {'movie_id': 10528, 'imdb_id': 'tt0988045', 'title': 'Sherlock Holmes', 'release_date': datetime.datetime(2009, 12, 23, 0, 0), 'vote_avg': 7.2, 'vote_count': 9410, 'mpaa_rating': None, 'runtime': 128, 'genres': 'Action, Adventure, Crime, Mystery', 'dom_gross': 524028679}
INSERTING  {'movie_id': 20504, 'imdb_id': 'tt1037705', 'title': 'The Book of Eli', 'release_date': datetime.datetime(2010, 1, 11, 0, 0), 'vote_avg': 6.7, 'vote_count': 3637, 'mpaa_rating': None, 'runtime': 118, 'genres': 'Action, Thriller, Science Fiction', 'dom_gross': 157107755}
INSERTING  {'movie_id': 37925, 'imdb_id': 'tt1570982', 'title': 'Celine: Through the Eyes of the World', 'release_date': datetime.datetime(2010, 2, 17, 0, 0), 'vote_avg': 6.7, 'vote_count': 5, 'mpaa_rating': None, 'runtime': 120, 'genres': 'Documentary, Music', 'dom_gross': 0}
INSERTING  {'movie_id': 21575, 'imdb_id': 'tt1235166', 'title': 'A Prophet', 'release_date': datetime.datetime(2009, 8, 26, 0, 0), 'vote_avg': 7.6, 'vote_count': 733, 'mpaa_rating': None, 'runtime': 155, 'genres': 'Crime, Drama', 'dom_gross': 0}
INSERTING  {'movie_id': 180302, 'imdb_id': 'tt1736648', 'title': 'Stolen', 'release_date': datetime.datetime(2010, 7, 26, 0, 0), 'vote_avg': 6.0, 'vote_count': 1, 'mpaa_rating': None, 'runtime': 85, 'genres': '', 'dom_gross': 0}
INSERTING  {'movie_id': 27573, 'imdb_id': 'tt1038919', 'title': 'The Bounty Hunter', 'release_date': datetime.datetime(2010, 3, 16, 0, 0), 'vote_avg': 5.8, 'vote_count': 1715, 'mpaa_rating': None, 'runtime': 110, 'genres': 'Action, Comedy, Drama', 'dom_gross': 136000000}
INSERTING  {'movie_id': 10191, 'imdb_id': 'tt0892769', 'title': 'How to Train Your Dragon', 'release_date': datetime.datetime(2010, 3, 10, 0, 0), 'vote_avg': 7.7, 'vote_count': 7995, 'mpaa_rating': None, 'runtime': 100, 'genres': 'Fantasy, Adventure, Animation, Family', 'dom_gross': 494878759}
INSERTING  {'movie_id': 37056, 'imdb_id': 'tt0892318', 'title': 'Letters to Juliet', 'release_date': datetime.datetime(2010, 5, 14, 0, 0), 'vote_avg': 6.9, 'vote_count': 1808, 'mpaa_rating': None, 'runtime': 105, 'genres': 'Comedy, Drama, Romance', 'dom_gross': 82148538}
INSERTING  {'movie_id': 37737, 'imdb_id': 'tt1198101', 'title': 'Kites', 'release_date': datetime.datetime(2010, 5, 21, 0, 0), 'vote_avg': 5.9, 'vote_count': 70, 'mpaa_rating': None, 'runtime': 123, 'genres': 'Drama, Action, Romance', 'dom_gross': 0}
INSERTING  {'movie_id': 20533, 'imdb_id': 'tt1075747', 'title': 'Jonah Hex', 'release_date': datetime.datetime(2010, 6, 18, 0, 0), 'vote_avg': 4.6, 'vote_count': 751, 'mpaa_rating': None, 'runtime': 81, 'genres': 'Action, Western, Drama, Fantasy, Thriller', 'dom_gross': 10539000}

INSERTING  {'movie_id': 10193, 'imdb_id': 'tt0435761', 'title': 'Toy Story 3', 'release_date': datetime.datetime(2010, 6, 16, 0, 0), 'vote_avg': 7.8, 'vote_count': 9013, 'mpaa_rating': None, 'runtime': 103, 'genres': 'Animation, Family, Comedy', 'dom_gross': 1066969703}
INSERTING  {'movie_id': 81583, 'imdb_id': 'tt1337139', 'title': '45365', 'release_date': datetime.datetime(2010, 6, 18, 0, 0), 'vote_avg': 5.0, 'vote_count': 1, 'mpaa_rating': None, 'runtime': 90, 'genres': 'Documentary', 'dom_gross': 0}
INSERTING  {'movie_id': 39312, 'imdb_id': 'tt1559549', 'title': 'Restrepo', 'release_date': datetime.datetime(2010, 6, 25, 0, 0), 'vote_avg': 7.5, 'vote_count': 194, 'mpaa_rating': None, 'runtime': 93, 'genres': 'Documentary, War', 'dom_gross': 1437000}
INSERTING  {'movie_id': 47912, 'imdb_id': 'tt1280015', 'title': 'Smash His Camera', 'release_date': datetime.datetime(2010, 7, 30, 0, 0), 'vote_avg': 7.0, 'vote_count': 11, 'mpaa_rating': None, 'runtime': 87, 'genres': 'Documentary', 'dom_gross': 0}
INSERTING  {'movie_id': 61629, 'imdb_id': 'tt1290082', 'title': 'Lebanon, Pa.', 'release_date': datetime.datetime(2011, 4, 29, 0, 0), 'vote_avg': 5.1, 'vote_count': 5, 'mpaa_rating': None, 'runtime': 100, 'genres': 'Drama, Romance', 'dom_gross': 0}
INSERTING  {'movie_id': 38842, 'imdb_id': 'tt1251757', 'title': 'Middle Men', 'release_date': datetime.datetime(2009, 5, 17, 0, 0), 'vote_avg': 6.6, 'vote_count': 142, 'mpaa_rating': None, 'runtime': 105, 'genres': 'Drama, Comedy, Crime', 'dom_gross': 0}
INSERTING  {'movie_id': 15179, 'imdb_id': 'tt1067733', 'title': 'Patrik, Age 1.5', 'release_date': datetime.datetime(2008, 9, 12, 0, 0), 'vote_avg': 7.0, 'vote_count': 51, 'mpaa_rating': None, 'runtime': 103, 'genres': 'Drama, Comedy', 'dom_gross': 3250537}
INSERTING  {'movie_id': 389885, 'imdb_id': 'tt1284025', 'title': 'Double Negative', 'release_date': datetime.datetime(2010, 8, 13, 0, 0), 'vote_avg': 0.0, 'vote_count': 0, 'mpaa_rating': None, 'runtime': 30, 'genres': '', 'dom_gross': 0}
INSERTING  {'movie_id': 43593, 'imdb_id': 'tt0464154', 'title': 'Piranha 3D', 'release_date': datetime.datetime(2010, 8, 20, 0, 0), 'vote_avg': 5.3, 'vote_count': 1101, 'mpaa_rating': None, 'runtime': 88, 'genres': 'Comedy, Horror', 'dom_gross': 83188165}
INSERTING  {'movie_id': 43923, 'imdb_id': 'tt0804497', 'title': "It's Kind of a Funny Story", 'release_date': datetime.datetime(2010, 7, 6, 0, 0), 'vote_avg': 7.0, 'vote_count': 1409, 'mpaa_rating': None, 'runtime': 101, 'genres': 'Comedy, Drama', 'dom_gross': 6491240}
INSERTING  {'movie_id': 44113, 'imdb_id': 'tt1423995', 'title': 'Stone', 'release_date': datetime.datetime(2010, 10, 7, 0, 0), 'vote_avg': 5.2, 'vote_count': 350, 'mpaa_rating': None, 'runtime': 105, 'genres': 'Drama, Thriller', 'dom_gross': 9479718}
INSERTING  {'movie_id': 54518, 'imdb_id': 'tt1702443', 'title': 'Justin Bieber: Never Say Never', 'release_date': datetime.datetime(2011, 2, 11, 0, 0), 'vote_avg': 5.1, 'vote_count': 247, 'mpaa_rating': None, 'runtime': 105, 'genres': 'Documentary, Music, Family', 'dom_gross': 98441954}
INSERTING  {'movie_id': 46256, 'imdb_id': 'tt1212022', 'title': 'The Lion of Judah', 'release_date': datetime.datetime(2011, 6, 3, 0, 0), 'vote_avg': 4.5, 'vote_count': 3, 'mpaa_rating': None, 'runtime': 87, 'genres': 'Adventure, Animation, Comedy, Family', 'dom_gross': 0}
INSERTING  {'movie_id': 60062, 'imdb_id': 'tt1547230', 'title': 'Judy Moody and the Not Bummer Summer', 'release_date': datetime.datetime(2011, 6, 10, 0, 0), 'vote_avg': 4.8, 'vote_count': 32, 'mpaa_rating': None, 'runtime': 91, 'genres': 'Comedy, Family', 'dom_gross': 14166853}
INSERTING  {'movie_id': 37686, 'imdb_id': 'tt1650062', 'title': 'Super 8', 'release_date': datetime.datetime(2011, 6, 8, 0, 0), 'vote_avg': 6.7, 'vote_count': 4107, 'mpaa_rating': None, 'runtime': 112, 'genres': 'Thriller, Science Fiction, Mystery', 'dom_gross': 260095987}
INSERTING  {'movie_id': 70067, 'imdb_id': 'tt1891757', 'title': 'Bol', 'release_date': datetime.datetime(2011, 6, 24, 0, 0), 'vote_avg': 7.1, 'vote_count': 13, 'mpaa_rating': None, 'runtime': 165, 'genres': 'Drama', 'dom_gross': 1980000}
INSERTING  {'movie_id': 63579, 'imdb_id': 'tt1814836', 'title': 'Project Nim', 'release_date': datetime.datetime(2011, 7, 8, 0, 0), 'vote_avg': 6.9, 'vote_count': 81, 'mpaa_rating': None, 'runtime': 93, 'genres': 'Documentary', 'dom_gross': 0}
INSERTING  {'movie_id': 38317, 'imdb_id': 'tt1222817', 'title': 'Zookeeper', 'release_date': datetime.datetime(2011, 7, 6, 0, 0), 'vote_avg': 5.4, 'vote_count': 939, 'mpaa_rating': None, 'runtime': 102, 'genres': 'Comedy, Romance, Family', 'dom_gross': 169852759}
INSERTING  {'movie_id': 61791, 'imdb_id': 'tt1318514', 'title': 'Rise of the Planet of the Apes', 'release_date': datetime.datetime(2011, 8, 3, 0, 0), 'vote_avg': 7.2, 'vote_count': 7553, 'mpaa_rating': None, 'runtime': 105, 'genres': 'Thriller, Action, Drama, Science Fiction', 'dom_gross': 482860185}
INSERTING  {'movie_id': 67675, 'imdb_id': 'tt1922612', 'title': 'Glee: The Concert Movie', 'release_date': datetime.datetime(2011, 8, 11, 0, 0), 'vote_avg': 7.3, 'vote_count': 151, 'mpaa_rating': None, 'runtime': 84, 'genres': 'Documentary, Music, Family', 'dom_gross': 18663238}
INSERTING  {'movie_id': 59965, 'imdb_id': 'tt1600195', 'title': 'Abduction', 'release_date': datetime.datetime(2011, 9, 22, 0, 0), 'vote_avg': 5.8, 'vote_count': 1879, 'mpaa_rating': None, 'runtime': 106, 'genres': 'Thriller, Action, Mystery', 'dom_gross': 82087155}
INSERTING  {'movie_id': 79172, 'imdb_id': 'tt1462014', 'title': 'Surviving Progress', 'release_date': datetime.datetime(2011, 11, 4, 0, 0), 'vote_avg': 6.8, 'vote_count': 15, 'mpaa_rating': None, 'runtime': 86, 'genres': 'Documentary', 'dom_gross': 0}
INSERTING  {'movie_id': 59440, 'imdb_id': 'tt1291584', 'title': 'Warrior', 'release_date': datetime.datetime(2011, 9, 9, 0, 0), 'vote_avg': 7.8, 'vote_count': 2283, 'mpaa_rating': None, 'runtime': 140, 'genres': 'Drama, Action', 'dom_gross': 23057115}
INSERTING  {'movie_id': 59468, 'imdb_id': 'tt1441912', 'title': 'The Way', 'release_date': datetime.datetime(2010, 9, 10, 0, 0), 'vote_avg': 7.2, 'vote_count': 288, 'mpaa_rating': None, 'runtime': 128, 'genres': 'Adventure, Comedy, Drama', 'dom_gross': 4430765}
INSERTING  {'movie_id': 70868, 'imdb_id': 'tt1742650', 'title': "I Don't Know How She Does It", 'release_date': datetime.datetime(2011, 9, 16, 0, 0), 'vote_avg': 5.3, 'vote_count': 238, 'mpaa_rating': None, 'runtime': 89, 'genres': 'Romance, Comedy', 'dom_gross': 30551495}
INSERTING  {'movie_id': 75964, 'imdb_id': 'tt1113829', 'title': 'George Harrison: Living in the Material World', 'release_date': datetime.datetime(2012, 9, 27, 0, 0), 'vote_avg': 7.9, 'vote_count': 107, 'mpaa_rating': None, 'runtime': 208, 'genres': 'Music, Documentary', 'dom_gross': 0}
INSERTING  {'movie_id': 56292, 'imdb_id': 'tt1229238', 'title': 'Mission: Impossible - Ghost Protocol', 'release_date': datetime.datetime(2011, 12, 7, 0, 0), 'vote_avg': 7.0, 'vote_count': 6320, 'mpaa_rating': None, 'runtime': 133, 'genres': 'Action, Thriller, Adventure', 'dom_gross': 694713380}
INSERTING  {'movie_id': 79777, 'imdb_id': 'tt1714209', 'title': 'In the Land of Blood and Honey', 'release_date': datetime.datetime(2011, 12, 23, 0, 0), 'vote_avg': 6.1, 'vote_count': 84, 'mpaa_rating': None, 'runtime': 127, 'genres': 'Drama, Romance, War', 'dom_gross': 303877}
INSERTING  {'movie_id': 91367, 'imdb_id': 'tt1787797', 'title': 'Sing Your Song', 'release_date': datetime.datetime(2012, 1, 13, 0, 0), 'vote_avg': 6.8, 'vote_count': 5, 'mpaa_rating': None, 'runtime': 103, 'genres': 'Documentary', 'dom_gross': 29110}
INSERTING  {'movie_id': 74505, 'imdb_id': 'tt1707392', 'title': 'Lovely Molly', 'release_date': datetime.datetime(2012, 5, 18, 0, 0), 'vote_avg': 5.1, 'vote_count': 131, 'mpaa_rating': None, 'runtime': 100, 'genres': 'Horror, Thriller', 'dom_gross': 0}
INSERTING  {'movie_id': 68721, 'imdb_id': 'tt1300854', 'title': 'Iron Man 3', 'release_date': datetime.datetime(2013, 4, 18, 0, 0), 'vote_avg': 6.9, 'vote_count': 14756, 'mpaa_rating': None, 'runtime': 131, 'genres': 'Action, Adventure, Science Fiction', 'dom_gross': 1215439994}
INSERTING  {'movie_id': 127374, 'imdb_id': 'tt1930546', 'title': 'Arthur Newman', 'release_date': datetime.datetime(2012, 9, 7, 0, 0), 'vote_avg': 5.7, 'vote_count': 116, 'mpaa_rating': None, 'runtime': 101, 'genres': 'Drama', 'dom_gross': 0}

INSERTING  {'movie_id': 87567, 'imdb_id': 'tt1931435', 'title': 'The Big Wedding', 'release_date': datetime.datetime(2013, 4, 25, 0, 0), 'vote_avg': 5.8, 'vote_count': 711, 'mpaa_rating': None, 'runtime': 90, 'genres': 'Comedy', 'dom_gross': 21819348}
INSERTING  {'movie_id': 158914, 'imdb_id': 'tt1951216', 'title': 'The Look of Love', 'release_date': datetime.datetime(2013, 4, 26, 0, 0), 'vote_avg': 5.5, 'vote_count': 57, 'mpaa_rating': None, 'runtime': 105, 'genres': 'Comedy, Drama', 'dom_gross': 0}
INSERTING  {'movie_id': 158895, 'imdb_id': 'tt1798291', 'title': 'This Is Martin Bonner', 'release_date': datetime.datetime(2013, 6, 28, 0, 0), 'vote_avg': 5.9, 'vote_count': 10, 'mpaa_rating': None, 'runtime': 83, 'genres': 'Drama', 'dom_gross': 0}
INSERTING  {'movie_id': 72190, 'imdb_id': 'tt0816711', 'title': 'World War Z', 'release_date': datetime.datetime(2013, 6, 20, 0, 0), 'vote_avg': 6.7, 'vote_count': 9487, 'mpaa_rating': None, 'runtime': 116, 'genres': 'Action, Drama, Horror, Science Fiction, Thriller', 'dom_gross': 531865000}

### Get Cast Info

In [20]:
import json
import requests
import config

params = {'api_key' : config.movie_db_key}

def get_movie_cast(movie_id):
    response = requests.get(f"https://api.themoviedb.org/3/movie/{movie_id}/credits", params=params)
    if response.ok:
        return json.loads(response.content)
    else:
        return None

In [42]:
def parse_cast_data(data):
    parsed_data = []
    for person in data['cast']:
        person_dict = {'actor_id' : person['id'],
                       'name' : person['name'] if 'name' in person.keys() else None,
                       'is_vegan' : None,
                       'gender' : ("M" if (person['gender'] == 2) else ("F" if (person['gender'] == 1) else None)) if 'gender' in person.keys() else None, 
                       'dob' : None,
                       'height' : None,
                       'order_in_cast' : person['order'],
                       'movie_id' : data['id']
                      }
        parsed_data.append(person_dict)
    return parsed_data

### Insert Actor Data into AWS Database

In [56]:
import mysql.connector
from mysql.connector import errorcode
import config

def insert_actor(actor_data, cursor):

    
    query1 = """INSERT IGNORE INTO actors (actor_id,
                                  name,
                                  is_vegan,
                                  gender,
                                  dob,
                                  height
                                )
                VALUES (%s, %s, %s, %s, %s, %s)"""
    
    values1 = (actor_data['actor_id'],
            actor_data['name'],
            actor_data['is_vegan'],
            actor_data['gender'],
            actor_data['dob'],
            actor_data['height'])
    
    cursor.execute(query1, values1)
    
    query2 = """INSERT INTO casts (actor_id, movie_id, order_in_cast)
                VALUES (%s, %s, %s)
                """
    
    values2 = (actor_data['actor_id'],
            actor_data['movie_id'],
            actor_data['order_in_cast'])
    
    cursor.execute(query2, values2)

### Cast Database Population Loop

In [23]:
def populate_stuff(movie_id_list, failed_id_list):
    for number, movie in enumerate(movie_id_list):
        title = movie[0]
        year = movie[1]
        movie_id = movie[2]
        print(f"Trying movie no.{number} with id {movie[2]}: {movie[0]} ({movie[1]})")
        try:
            data = get_movie_cast(movie_id)
        except:
            print("Unable to get movie cast info.")
            failed_id_list.append(movie)
            continue
        
        try:
            parsed_data = parse_cast_data(data)
        except:
            print("Unable to parse movie cast info.")
            failed_id_list.append(movie)
            continue
            
        db_name = 'movies'
        cnx = mysql.connector.connect(
                host = config.host,
                user = config.user,
                passwd = config.passwd,
                database = db_name)
        cursor = cnx.cursor()
        
        for actor_data in parsed_data:
            try:
                insert_actor(actor_data, cursor)
                sleep(0.05)
            except:
                print(f"Failed to insert actor {actor_data['name']} (id {actor_data['actor_id']})")
                cnx.close()
                break
                      
        try:
            cnx.commit()
            cnx.close()
        except:
            failed_id_list.append(movie)
            print(f"Transaction not committed.")
                      
        sleep(0.5)

In [17]:
failed_id_list = []

In [66]:
cast_data = get_movie_cast(movie_id_list[91][2])

In [67]:
cast_data['cast']

[{'cast_id': 2,
  'character': 'Patience Phillips / Catwoman',
  'credit_id': '52fe4236c3a36847f800ca9b',
  'gender': 1,
  'id': 4587,
  'name': 'Halle Berry',
  'order': 0,
  'profile_path': '/AmCXHowNbUXpNf41dNrxNB0naM2.jpg'},
 {'cast_id': 7,
  'character': 'Tom Lone',
  'credit_id': '52fe4236c3a36847f800cab7',
  'gender': 2,
  'id': 4589,
  'name': 'Benjamin Bratt',
  'order': 1,
  'profile_path': '/5g88fU683ZXhFn0VSsBMjLHsXG1.jpg'},
 {'cast_id': 8,
  'character': 'Laurel Hedare',
  'credit_id': '52fe4236c3a36847f800cabb',
  'gender': 1,
  'id': 4430,
  'name': 'Sharon Stone',
  'order': 2,
  'profile_path': '/yICU0UWEZjWSZ9PnQRaerwn29tz.jpg'},
 {'cast_id': 9,
  'character': 'George Hedare',
  'credit_id': '52fe4236c3a36847f800cabf',
  'gender': 2,
  'id': 2192,
  'name': 'Lambert Wilson',
  'order': 3,
  'profile_path': '/jFkr2kuFfpzS1plfOlNJ6kURV6O.jpg'},
 {'cast_id': 10,
  'character': 'Ophelia',
  'credit_id': '52fe4236c3a36847f800cac3',
  'gender': 1,
  'id': 4432,
  'name': 'Frances Conroy',
  'order': 4,
  'profile_path': '/aJRQAkO24L6bH8qkkE5Iv1nA3gf.jpg'},
 {'cast_id': 11,
  'character': 'Sally',
  'credit_id': '52fe4236c3a36847f800cac7',
  'gender': 1,
  'id': 24357,
  'name': 'Alex Borstein',
  'order': 5,
  'profile_path': '/AjthMjh7k3MqaZBgrenhm13Uxf6.jpg'},
 {'cast_id': 12,
  'character': 'Armando',
  'credit_id': '52fe4236c3a36847f800cacb',
  'gender': 2,
  'id': 9289,
  'name': 'Michael Massee',
  'order': 6,
  'profile_path': '/qbM7GWc86Lw5y6E6eCnokgVaHia.jpg'},
 {'cast_id': 13,
  'character': 'Wesley',
  'credit_id': '52fe4236c3a36847f800cacf',
  'gender': 2,
  'id': 57748,
  'name': 'Byron Mann',
  'order': 7,
  'profile_path': '/aaF0PYLbw8nH54wm9vO5tJ8oyfH.jpg'},
 {'cast_id': 14,
  'character': 'Drina',
  'credit_id': '52fe4236c3a36847f800cad3',
  'gender': 1,
  'id': 141446,
  'name': 'Kim Smith',
  'order': 8,
  'profile_path': '/k6bOP7RuTSezhqFEt5Y4V1TYvw4.jpg'},
 {'cast_id': 15,
  'character': 'Rocker',
  'credit_id': '52fe4236c3a36847f800cad7',
  'gender': 2,
  'id': 32887,
  'name': 'Christopher Heyerdahl',
  'order': 9,
  'profile_path': '/imu1EK0I8J5xesKxLweLqqhKq8q.jpg'},
 {'cast_id': 16,
  'character': 'Dr. Ivan Slavicky',
  'credit_id': '52fe4236c3a36847f800cadb',
  'gender': 2,
  'id': 60462,
  'name': 'Peter Wingfield',
  'order': 10,
  'profile_path': '/kgEPwkh7oyvfUntvtB6vJ77BVQV.jpg'},
 {'cast_id': 17,
  'character': 'Lance',
  'credit_id': '52fe4236c3a36847f800cadf',
  'gender': 2,
  'id': 141447,
  'name': 'Berend McKenzie',
  'order': 11,
  'profile_path': '/9kGWmEZWbfTpdIKXlJNnyVZEZAG.jpg'},
 {'cast_id': 153,
  'character': 'Housekeeper',
  'credit_id': '56f70d74c3a3686a590044b8',
  'gender': 1,
  'id': 158441,
  'name': 'Patricia Mayen-Salazar',
  'order': 12,
  'profile_path': '/7ggSd1jz5sVUsMgWQr3cCcdy6SE.jpg'},
 {'cast_id': 154,
  'character': 'Sandy',
  'credit_id': '56f7f0fc9251417621003560',
  'gender': 1,
  'id': 67978,
  'name': 'Ona Grauer',
  'order': 13,
  'profile_path': '/5BWSjBRrNzazzlIXgVeaSk4cNyq.jpg'},
 {'cast_id': 155,
  'character': 'Randy',
  'credit_id': '56f7f12f9251417a890003f0',
  'gender': 2,
  'id': 64614,
  'name': 'Landy Cannon',
  'order': 14,
  'profile_path': '/dReUFIDCEpcM0VcWPLXk8bPWGWt.jpg'},
 {'cast_id': 156,
  'character': 'Jail Guard',
  'credit_id': '56f7f4729251412fdd002c98',
  'gender': 2,
  'id': 1368537,
  'name': 'Michael P. Northey',
  'order': 15,
  'profile_path': '/x18noO0clRJ9h9wm7mY4B08Ii9G.jpg'},
 {'cast_id': 157,
  'character': 'Detective #1',
  'credit_id': '56f7f8d9c3a3686a6b006f04',
  'gender': 2,
  'id': 77222,
  'name': 'Aaron Douglas',
  'order': 16,
  'profile_path': '/4G2Kju2WjtHJRYiyPObVJQTT1HJ.jpg'},
 {'cast_id': 158,
  'character': 'Detective #2',
  'credit_id': '56f7fdd0c3a36816e800699c',
  'gender': 2,
  'id': 1225394,
  'name': 'Peter Williams',
  'order': 17,
  'profile_path': '/9ly6DiiJfzMt8t5EwzRAzTRHmdo.jpg'},
 {'cast_id': 159,
  'character': 'Party Girl',
  'credit_id': '56f7ffbe92514123a000016e',
  'gender': 1,
  'id': 204462,
  'name': 'Janet Varney',
  'order': 18,
  'profile_path': '/3eX3p6CB4T6FFIKrK77X8DKcXd2.jpg'},
 {'cast_id': 160,
  'character': 'Warehouse Supervisor',
  'credit_id': '56f8004d9251412fdd002e3d',
  'gender': 0,
  'id': 117087,
  'name': 'Larry Sullivan',
  'order': 19,
  'profile_path': '/9OMEE8PBsMsxJ9KM2oosZ7mejCl.jpg'},
 {'cast_id': 161,
  'character': 'Janitor',
  'credit_id': '56f8006792514171050006ab',
  'gender': 2,
  'id': 33308,
  'name': 'James Ashcroft',
  'order': 20,
  'profile_path': '/bqt1PEZjmsw12SjrmCPOk362oK6.jpg'},
 {'cast_id': 162,
  'character': 'Ferris Wheel Operator',
  'credit_id': '56f8007d92514120f800116c',
  'gender': 0,
  'id': 1237734,
  'name': 'Michasha Armstrong',
  'order': 21,
  'profile_path': '/2d7I7EPAiPOauHxoOeBaMlljNOZ.jpg'},
 {'cast_id': 163,
  'character': 'Ferris Wheel Mom',
  'credit_id': '56f8014192514120f8001180',
  'gender': 1,
  'id': 104276,
  'name': 'Brooke Theiss',
  'order': 22,
  'profile_path': '/xO8OdGBNe94x6L9RqrCZKHfTKOq.jpg'},
 {'cast_id': 164,
  'character': 'Bartender',
  'credit_id': '56f802b292514171050006fa',
  'gender': 2,
  'id': 77164,
  'name': 'Ryan Robbins',
  'order': 23,
  'profile_path': '/v7IuAkebFPmUetfKxbFg6pJtvzN.jpg'},
 {'cast_id': 165,
  'character': 'Graphologist',
  'credit_id': '56f802cb92514120f80011a9',
  'gender': 2,
  'id': 12055,
  'name': 'John Cassini',
  'order': 24,
  'profile_path': '/izBERhT4aN3PHwfeW1MNdytO800.jpg'},
 {'cast_id': 166,
  'character': 'Barker',
  'credit_id': '56f804029251412fdd002eb3',
  'gender': 2,
  'id': 198607,
  'name': 'Diego Diablo Del Mar',
  'order': 25,
  'profile_path': '/iID4nBSsTnzTsMy63xOoZqEQmpz.jpg'},
 {'cast_id': 167,
  'character': 'Security Guard',
  'credit_id': '56f8072d92514123a000025e',
  'gender': 2,
  'id': 1546591,
  'name': 'Herbert Duncanson',
  'order': 26,
  'profile_path': '/pCTPgl0GgfGUQQUvYaCf1njvDwD.jpg'},
 {'cast_id': 168,
  'character': 'Jeweler',
  'credit_id': '56f80bd39251410a310005c6',
  'gender': 1,
  'id': 1228455,
  'name': 'Judith Maxie',
  'order': 27,
  'profile_path': '/uLyszxksLbh8nSd34uCLEPQj5Pk.jpg'},
 {'cast_id': 169,
  'character': 'Television Reporter',
  'credit_id': '56f8103092514123a0000386',
  'gender': 1,
  'id': 1218813,
  'name': 'Dagmar Midcap',
  'order': 28,
  'profile_path': '/mRzokqyHf0WsqdtaMa3d11qgl5p.jpg'},
 {'cast_id': 170,
  'character': 'Bouncer',
  'credit_id': '56f829829251417105000baf',
  'gender': 2,
  'id': 12367,
  'name': 'John Mann',
  'order': 29,
  'profile_path': '/1CXM5EwDGqA45BPdXsMqJuiIZwJ.jpg'},
 {'cast_id': 202,
  'character': 'Kid #1',
  'credit_id': '58936fc89251417ee4000609',
  'gender': 0,
  'id': 1749241,
  'name': 'Chase Nelson-Murray',
  'order': 30,
  'profile_path': None},
 {'cast_id': 203,
  'character': 'Kid #2',
  'credit_id': '58936fd49251417eea0005db',
  'gender': 0,
  'id': 1749242,
  'name': 'Manny Petruzzelli',
  'order': 31,
  'profile_path': None},
 {'cast_id': 204,
  'character': 'Kid #3',
  'credit_id': '58936fe0c3a3684a280005e9',
  'gender': 0,
  'id': 1749243,
  'name': 'Harley Reiner',
  'order': 32,
  'profile_path': None},
 {'cast_id': 205,
  'character': 'Forensics Cop',
  'credit_id': '5893705cc3a3684a2f000653',
  'gender': 2,
  'id': 61133,
  'name': 'Michael Daingerfield',
  'order': 33,
  'profile_path': '/7f9VtXicaPco549h1Nbrjk3WCy0.jpg'},
 {'cast_id': 206,
  'character': 'Forensics Technician',
  'credit_id': '589370779251417ed5000676',
  'gender': 1,
  'id': 75532,
  'name': 'Benita Ha',
  'order': 34,
  'profile_path': '/w2UHzwIw7NxdqK6nguMCS1Pz4Ex.jpg'},
 {'cast_id': 207,
  'character': 'Doctor',
  'credit_id': '589370d99251417eea0006da',
  'gender': 2,
  'id': 205597,
  'name': 'James Lloyd Reynolds',
  'order': 35,
  'profile_path': '/rkJeq6WRftxtLz9ddVOTU0QKp7z.jpg'},
 {'cast_id': 208,
  'character': 'Newscaster',
  'credit_id': '589370e79251417ee70006f9',
  'gender': 1,
  'id': 1749245,
  'name': 'Jill Krop',
  'order': 36,
  'profile_path': '/8iVzNKpP8efJkTN8okIGU6RLcCz.jpg'},
 {'cast_id': 209,
  'character': 'Little Boy',
  'credit_id': '5893722cc3a3684a140007b4',
  'gender': 0,
  'id': 1272881,
  'name': 'Connor Dunn',
  'order': 37,
  'profile_path': '/8m0MTFkMcUe0mEjkiCmwTjtpxR4.jpg'},
 {'cast_id': 210,
  'character': 'Performance Dancer',
  'credit_id': '589372a1c3a3684a33000808',
  'gender': 0,
  'id': 84337,
  'name': 'Ashlea Earl',
  'order': 38,
  'profile_path': None},
 {'cast_id': 211,
  'character': 'Performance Dancer',
  'credit_id': '589372af9251417ed50008b5',
  'gender': 1,
  'id': 1749247,
  'name': 'Lori Fung',
  'order': 39,
  'profile_path': '/oS68bPzGHqBe6vR5EWLylet24sr.jpg'},
 {'cast_id': 212,
  'character': 'Performance Dancer',
  'credit_id': '5893739cc3a3684a14000917',
  'gender': 1,
  'id': 1749253,
  'name': 'Ursula Haczkiewicz',
  'order': 40,
  'profile_path': '/fcZDOhOhYAoS0M69m0dd9z3xoQu.jpg'},
 {'cast_id': 213,
  'character': 'Performance Dancer',
  'credit_id': '589374a0c3a3684a1c000966',
  'gender': 1,
  'id': 1749264,
  'name': 'Alisoun Payne',
  'order': 41,
  'profile_path': '/zJhfpOgtZXI9ENpmgUo7uQbKqUI.jpg'},
 {'cast_id': 214,
  'character': 'Performance Dancer',
  'credit_id': '5893766fc3a3684a22000b43',
  'gender': 0,
  'id': 1749266,
  'name': 'Laurence Racine',
  'order': 42,
  'profile_path': None},
 {'cast_id': 215,
  'character': 'Woman at Carnival',
  'credit_id': '5893767d9251417ee7000b9e',
  'gender': 0,
  'id': 1749267,
  'name': 'Leigh Bush',
  'order': 43,
  'profile_path': None},
 {'cast_id': 216,
  'character': 'Thief #2',
  'credit_id': '589376919251417ed5000b60',
  'gender': 0,
  'id': 1749268,
  'name': 'Brett Chan',
  'order': 44,
  'profile_path': '/bad1gt9EJ8lqYT4Sr06kFZqCpxr.jpg'},
 {'cast_id': 217,
  'character': 'Woman at Party',
  'credit_id': '589376a39251417ed7000cdb',
  'gender': 1,
  'id': 1749269,
  'name': 'Holly Eglinton',
  'order': 45,
  'profile_path': '/2PcQ0rd06mpMYlovrXH6so9EDm6.jpg'},
 {'cast_id': 218,
  'character': 'Woman at Carnival',
  'credit_id': '589377b89251417ee0000cce',
  'gender': 1,
  'id': 29214,
  'name': 'Anne Fletcher',
  'order': 46,
  'profile_path': '/piR4AwJX9lqJt454iVsI7sQf6Y0.jpg'},
 {'cast_id': 219,
  'character': 'Singer',
  'credit_id': '589377c4c3a3684a16000bdb',
  'gender': 1,
  'id': 1749273,
  'name': 'Angie Jaree',
  'order': 47,
  'profile_path': '/9kUFkxEz2XlU39tGyqyegm1iKg4.jpg'},
 {'cast_id': 220,
  'character': 'Nurse',
  'credit_id': '5893788ac3a3684a22000cfb',
  'gender': 1,
  'id': 1749279,
  'name': 'Everjoy Kriekenbeek',
  'order': 48,
  'profile_path': '/uTuK2yBq6Bdf7hQYxrLTyPhOp1O.jpg'},
 {'cast_id': 221,
  'character': 'Man on Stairs',
  'credit_id': '589378fcc3a3684a1c000cc2',
  'gender': 0,
  'id': 1749281,
  'name': 'Alfred Liu',
  'order': 49,
  'profile_path': None},
 {'cast_id': 222,
  'character': 'Basketball Player',
  'credit_id': '5893791e9251417ee4000e6b',
  'gender': 2,
  'id': 557793,
  'name': 'Aaron Miko',
  'order': 50,
  'profile_path': None},
 {'cast_id': 224,
  'character': 'Nightclub Dancer',
  'credit_id': '589379779251417eea000dff',
  'gender': 1,
  'id': 1749282,
  'name': 'Stephanie Moseley',
  'order': 52,
  'profile_path': None},
 {'cast_id': 225,
  'character': 'Club Dancer',
  'credit_id': '589379a5c3a3684a22000dde',
  'gender': 0,
  'id': 1749283,
  'name': 'Kennith Overbey',
  'order': 53,
  'profile_path': None},
 {'cast_id': 226,
  'character': 'Beau-line Graphics Model',
  'credit_id': '589379b99251417eda000e3f',
  'gender': 1,
  'id': 34434,
  'name': 'Missy Peregrym',
  'order': 54,
  'profile_path': '/364PJwTQLpWjGfNisQm47Dler08.jpg'},
 {'cast_id': 227,
  'character': 'Thug / Thief',
  'credit_id': '589379d7c3a3684a3c000e62',
  'gender': 0,
  'id': 1749284,
  'name': 'Bobby Silva',
  'order': 55,
  'profile_path': None},
 {'cast_id': 228,
  'character': 'Thief #1',
  'credit_id': '589379e7c3a3684a16000d8f',
  'gender': 2,
  'id': 168480,
  'name': 'Kimani Ray Smith',
  'order': 56,
  'profile_path': None},
 {'cast_id': 229,
  'character': 'Dancer',
  'credit_id': '589379f5c3a3684a14000d8b',
  'gender': 1,
  'id': 27144,
  'name': 'Shaina Tianne Unger',
  'order': 57,
  'profile_path': '/z5xAWH46guj0tPOWPgIT5OVuJIa.jpg'},
 {'cast_id': 245,
  'character': 'Thief #3',
  'credit_id': '5b546129c3a3680b5b028149',
  'gender': 2,
  'id': 113203,
  'name': 'Mike Mitchell',
  'order': 58,
  'profile_path': '/6dUsZqIAqqQp7yAojSji8aQPMRA.jpg'}]

In [68]:
cast = parse_cast_data(cast_data)

In [71]:
cast[0]

{'actor_id': 4587,
 'name': 'Halle Berry',
 'is_vegan': None,
 'gender': 'F',
 'dob': None,
 'height': None,
 'order_in_cast': 0,
 'movie_id': 314}

In [49]:
db_name = 'movies'
cnx = mysql.connector.connect(
                host = config.host,
                user = config.user,
                passwd = config.passwd,
                database = db_name)
cursor = cnx.cursor()

In [57]:
insert_actor(cast[0], cursor)

In [58]:
cnx.commit()
cnx.close()

In [122]:
failed_id_list = []

In [60]:
populate_stuff(movie_id_list[:100], failed_id_list)

Trying movie no.0 with id 14844: Chasing Liberty (2004)
Trying movie no.1 with id 26710: My Baby's Daddy (2004)
Trying movie no.2 with id 5966: Along Came Polly (2004)
Trying movie no.3 with id 24034: Teacher's Pet (2004)
Trying movie no.4 with id 10718: Torque (2004)
Trying movie no.5 with id 1954: The Butterfly Effect (2004)
Failed to insert actor Ashton Kutcher (id 18976)
Trying movie no.6 with id 13476: Win a Date with Tad Hamilton! (2004)
Failed to insert actor Josh Duhamel (id 19536)
Trying movie no.7 with id 12634: The Big Bounce (2004)
Trying movie no.8 with id 13505: The Perfect Score (2004)
Trying movie no.9 with id 14114: You Got Served (2004)
Trying movie no.10 with id 21301: Barbershop 2: Back in Business (2004)
Trying movie no.11 with id 20483: Catch That Kid (2004)
Trying movie no.12 with id 14292: Miracle (2004)
Trying movie no.13 with id 23056: Pinocchio 3000 (2004)
Trying movie no.14 with id 1824: 50 First Dates (2004)
Trying movie no.15 with id 8842: Against the Ropes (2004)
Trying movie no.16 with id 11132: Confessions of a Teenage Drama Queen (2004)
Trying movie no.17 with id 9352: EuroTrip (2004)
Trying movie no.18 with id 16784: Welcome to Mooseport (2004)
Trying movie no.19 with id 615: The Passion of the Christ (2004)
Trying movie no.20 with id 11217: Club Dread (2004)
Trying movie no.21 with id 13572: Twisted (2004)
Trying movie no.22 with id 2023: Hidalgo (2004)
Trying movie no.23 with id 9384: Starsky & Hutch (2004)
Trying movie no.24 with id 17047: Agent Cody Banks 2: Destination London (2004)
Trying movie no.25 with id 1586: Secret Window (2004)
Trying movie no.26 with id 11169: Spartan (2004)
Trying movie no.27 with id 924: Dawn of the Dead (2004)
Trying movie no.28 with id 38: Eternal Sunshine of the Spotless Mind (2004)
Trying movie no.29 with id 11081: Taking Lives (2004)
Trying movie no.30 with id 9541: Jersey Girl (2004)
Failed to insert actor Ben Affleck (id 880)
Trying movie no.31 with id 5516: The Ladykillers (2004)
Failed to insert actor Tom Hanks (id 31)
Trying movie no.32 with id 20304: Never Die Alone (2004)
Trying movie no.33 with id 11024: Scooby-Doo 2: Monsters Unleashed (2004)
Trying movie no.34 with id 1487: Hellboy (2004)
Trying movie no.35 with id 13700: Home on the Range (2004)
Failed to insert actor Roseanne Barr (id 46393)
Trying movie no.36 with id 11137: The Prince and Me (2004)
Failed to insert actor Julia Stiles (id 12041)
Trying movie no.37 with id 11358: Walking Tall (2004)
Failed to insert actor Dwayne Johnson (id 18918)
Trying movie no.38 with id 19084: Johnson Family Vacation (2004)
Failed to insert actor Cedric the Entertainer (id 5726)
Trying movie no.39 with id 2122: The Whole Ten Yards (2004)
Failed to insert actor Bruce Willis (id 62)
Trying movie no.40 with id 10733: The Alamo (2004)
Trying movie no.41 with id 14442: Ella Enchanted (2004)
Trying movie no.42 with id 10591: The Girl Next Door (2004)
Trying movie no.43 with id 747: Shaun of the Dead (2004)
Trying movie no.44 with id 15673: Connie and Carla (2004)
Trying movie no.45 with id 393: Kill Bill: Volume 2 (2004)
Failed to insert actor Uma Thurman (id 139)
Trying movie no.46 with id 7220: The Punisher (2004)
Failed to insert actor Thomas Jane (id 11155)
Trying movie no.47 with id 10096: 13 Going on 30 (2004)
Failed to insert actor Jennifer Garner (id 9278)
Trying movie no.48 with id 19016: Clifford's Really Big Movie (2004)
Failed to insert actor John Ritter (id 27772)
Trying movie no.49 with id 9509: Man on Fire (2004)
Trying movie no.50 with id 24747: Bobby Jones: Stroke of Genius (2004)
Trying movie no.51 with id 10710: Envy (2004)
Trying movie no.52 with id 11058: Godsend (2004)
Trying movie no.53 with id 11141: Laws of Attraction (2004)
Trying movie no.54 with id 10625: Mean Girls (2004)
Trying movie no.55 with id 11025: New York Minute (2004)
Failed to insert actor Ashley Olsen (id 67848)
Trying movie no.56 with id 279709: Off the Lip (2004)
Trying movie no.57 with id 9372: Super Size Me (2004)
Trying movie no.58 with id 7131: Van Helsing (2004)
Trying movie no.59 with id 16428: Breakin' All the Rules (2004)
Trying movie no.60 with id 8440: Carandiru (2004)
Trying movie no.61 with id 883: Coffee and Cigarettes (2004)
Trying movie no.62 with id 652: Troy (2004)
Trying movie no.63 with id 809: Shrek 2 (2004)
Trying movie no.64 with id 43670: Stateside (2004)
Failed to insert actor Rachael Leigh Cook (id 38581)
Trying movie no.65 with id 435: The Day After Tomorrow (2004)
Trying movie no.66 with id 8424: Love Me If You Dare (2004)
Trying movie no.67 with id 4599: Raising Helen (2004)
Trying movie no.68 with id 12657: Soul Plane (2004)
Trying movie no.69 with id 673: Harry Potter and the Prisoner of Azkaban (2004)
Trying movie no.70 with id 2789: The Chronicles of Riddick (2004)
Failed to insert actor Vin Diesel (id 12835)
Trying movie no.71 with id 8920: Garfield: The Movie (2004)
Failed to insert actor Bill Murray (id 1532)
Trying movie no.72 with id 8193: Napoleon Dynamite (2004)
Failed to insert actor Jon Heder (id 53926)
Trying movie no.73 with id 9890: The Stepford Wives (2004)
Failed to insert actor Nicole Kidman (id 2227)
Trying movie no.74 with id 10204: Around the World in 80 Days (2004)
Failed to insert actor Jackie Chan (id 18897)
Trying movie no.75 with id 9472: DodgeBall: A True Underdog Story (2004)
Trying movie no.76 with id 594: The Terminal (2004)
Trying movie no.77 with id 12153: White Chicks (2004)
Trying movie no.78 with id 1777: Fahrenheit 9/11 (2004)
Trying movie no.79 with id 11036: The Notebook (2004)
Trying movie no.80 with id 1997: Two Brothers (2004)
Failed to insert actor Maï Anh Le (id 20526)
Trying movie no.81 with id 558: Spider-Man 2 (2004)
Failed to insert actor Tobey Maguire (id 2219)
Trying movie no.82 with id 80: Before Sunset (2004)
Failed to insert actor Ethan Hawke (id 569)
Trying movie no.83 with id 9477: King Arthur (2004)
Failed to insert actor Clive Owen (id 2296)
Trying movie no.84 with id 8699: Anchorman: The Legend of Ron Burgundy (2004)
Trying movie no.85 with id 9893: Sleepover (2004)
Trying movie no.86 with id 9550: House of Flying Daggers (2004)
Trying movie no.87 with id 11247: A Cinderella Story (2004)
Trying movie no.88 with id 2048: I, Robot (2004)
Trying movie no.89 with id 196852: Asambhav (2004)
Trying movie no.90 with id 2502: The Bourne Supremacy (2004)
Failed to insert actor Matt Damon (id 1892)
Trying movie no.91 with id 314: Catwoman (2004)
Failed to insert actor Halle Berry (id 4587)
Trying movie no.92 with id 18923: A Home at the End of the World (2004)
Trying movie no.93 with id 14623: Thunderbirds (2004)
Trying movie no.94 with id 401: Garden State (2004)
Trying movie no.95 with id 11282: Harold & Kumar Go to White Castle (2004)
Trying movie no.96 with id 20912: She Hate Me (2004)
Trying movie no.97 with id 982: The Manchurian Candidate (2004)
Trying movie no.98 with id 6947: The Village (2004)
Trying movie no.99 with id 1538: Collateral (2004)

In [123]:
populate_stuff(movie_id_list[100:200], failed_id_list)

Trying movie no.0 with id 14846: Little Black Book (2004)
Trying movie no.1 with id 83: Open Water (2004)
Trying movie no.2 with id 11130: The Princess Diaries 2: Royal Engagement (2004)
Trying movie no.3 with id 395: Alien vs. Predator (2004)
Trying movie no.4 with id 11052: Yu-Gi-Oh! The Movie: Pyramid of Light (2004)
Trying movie no.5 with id 11026: Exorcist: The Beginning (2004)
Trying movie no.6 with id 10762: Without a Paddle (2004)
Trying movie no.7 with id 11237: Anacondas: The Hunt for the Blood Orchid (2004)
Trying movie no.8 with id 4836: Layer Cake (2004)
Trying movie no.9 with id 8080: Suspect Zero (2004)
Trying movie no.10 with id 4974: 5x2 (2004)
Trying movie no.11 with id 11632: Vanity Fair (2004)
Trying movie no.12 with id 18475: The Cookout (2004)
Trying movie no.13 with id 15644: Paparazzi (2004)
Trying movie no.14 with id 11208: Wicker Park (2004)
Trying movie no.15 with id 9759: Cellular (2004)
Trying movie no.16 with id 14198: Criminal (2004)
Trying movie no.17 with id 1577: Resident Evil: Apocalypse (2004)
Trying movie no.18 with id 63459: Funky Monkey (2004)
Trying movie no.19 with id 12140: Ghost in the Shell 2: Innocence (2004)
Trying movie no.20 with id 16232: Mr. 3000 (2004)
Trying movie no.21 with id 5137: Sky Captain and the World of Tomorrow (2004)
Trying movie no.22 with id 11823: Wimbledon (2004)
Trying movie no.23 with id 13969: First Daughter (2004)
Trying movie no.24 with id 10145: The Forgotten (2004)
Trying movie no.25 with id 26486: The Last Shot (2004)
Trying movie no.26 with id 1599: I Heart Huckabees (2004)
Trying movie no.27 with id 11128: Ladder 49 (2004)
Trying movie no.28 with id 10555: Shark Tale (2004)
Trying movie no.29 with id 57825: Bride and Prejudice (2004)
Trying movie no.30 with id 11045: Taxi (2004)
Trying movie no.31 with id 15503: Around the Bend (2004)
Trying movie no.32 with id 13416: Friday Night Lights (2004)
Trying movie no.33 with id 14024: Raise Your Voice (2004)
Trying movie no.34 with id 4380: Shall We Dance? (2004)
Trying movie no.35 with id 3989: Team America: World Police (2004)
Trying movie no.36 with id 1970: The Grudge (2004)
Trying movie no.37 with id 9675: Sideways (2004)
Trying movie no.38 with id 15566: Surviving Christmas (2004)
Trying movie no.39 with id 1677: Ray (2004)
Trying movie no.40 with id 176: Saw (2004)
Trying movie no.41 with id 8849: Alfie (2004)
Trying movie no.42 with id 9806: The Incredibles (2004)
Trying movie no.43 with id 5255: The Polar Express (2004)
Trying movie no.44 with id 10589: After the Sunset (2004)
Trying movie no.45 with id 866: Finding Neverland (2004)
Trying movie no.46 with id 11249: Seed of Chucky (2004)
Trying movie no.47 with id 9801: Bridget Jones: The Edge of Reason (2004)
Trying movie no.48 with id 2059: National Treasure (2004)
Trying movie no.49 with id 11836: The SpongeBob SquarePants Movie (2004)
Trying movie no.50 with id 1966: Alexander (2004)
Trying movie no.51 with id 13673: Christmas with the Kranks (2004)
Trying movie no.52 with id 2288: Closer (2004)
Trying movie no.53 with id 36648: Blade: Trinity (2004)
Trying movie no.54 with id 163: Ocean's Twelve (2004)
Trying movie no.55 with id 9470: Kung Fu Hustle (2004)
Trying movie no.56 with id 70: Million Dollar Baby (2004)
Trying movie no.57 with id 11866: Flight of the Phoenix (2004)
Trying movie no.58 with id 11774: Lemony Snicket's A Series of Unfortunate Events (2004)
Trying movie no.59 with id 2539: Spanglish (2004)
Trying movie no.60 with id 205: Hotel Rwanda (2004)
Trying movie no.61 with id 693: Meet the Fockers (2004)
Trying movie no.62 with id 9833: The Phantom of the Opera (2004)
Trying movie no.63 with id 2567: The Aviator (2004)
Trying movie no.64 with id 15045: Fat Albert (2004)
Trying movie no.65 with id 421: The Life Aquatic with Steve Zissou (2004)
Trying movie no.66 with id 1901: In Good Company (2004)
Trying movie no.67 with id 11804: White Noise (2005)
Trying movie no.68 with id 7214: Coach Carter (2005)
Trying movie no.69 with id 9947: Elektra (2005)
Trying movie no.70 with id 6439: Racing Stripes (2005)
Trying movie no.71 with id 8978: Assault on Precinct 13 (2005)
Trying movie no.72 with id 11637: Are We There Yet? (2005)
Trying movie no.73 with id 12142: Alone in the Dark (2005)
Trying movie no.74 with id 11096: Hide and Seek (2005)
Trying movie no.75 with id 8968: Boogeyman (2005)
Trying movie no.76 with id 6961: The Wedding Date (2005)
Trying movie no.77 with id 8488: Hitch (2005)
Trying movie no.78 with id 13682: Pooh's Heffalump Movie (2005)
Trying movie no.79 with id 17880: Because of Winn-Dixie (2005)
Trying movie no.80 with id 561: Constantine (2005)
Trying movie no.81 with id 10214: Son of the Mask (2005)
Trying movie no.82 with id 10012: Cursed (2005)
Trying movie no.83 with id 16186: Diary of a Mad Black Woman (2005)
Trying movie no.84 with id 13498: Man of the House (2005)
Trying movie no.85 with id 4551: Be Cool (2005)
Trying movie no.86 with id 9667: The Jacket (2005)
Trying movie no.87 with id 10022: The Pacifier (2005)
Trying movie no.88 with id 2026: Hostage (2005)
Trying movie no.89 with id 9928: Robots (2005)
Trying movie no.90 with id 13374: Ice Princess (2005)
Trying movie no.91 with id 10320: The Ring Two (2005)
Trying movie no.92 with id 10040: Miss Congeniality 2: Armed and Fabulous (2005)
Trying movie no.93 with id 11638: Guess Who (2005)
Trying movie no.94 with id 14175: Valiant (2005)
Trying movie no.95 with id 14177: Beauty Shop (2005)
Trying movie no.96 with id 187: Sin City (2005)
Trying movie no.97 with id 11354: The Upside of Anger (2005)
Trying movie no.98 with id 11431: Fever Pitch (2005)
Trying movie no.99 with id 7364: Sahara (2005)